section#sp-foundation.section-layout.section.sp-foundation.sp-foundation--adaptation
  div.page-title
    .page-title__logo
    h2 Нестандартные решения
    h1 дизайна<br> длинных волос

  ul.sp-foundation-list
    li.sp-foundation-list__item
      div.sp-foundation-list__item-title Правильные
        .sp-foundation-list__item-dots
      p.sp-foundation-list__item-text объёмы и пропорции<br> длинных стрижек
    li.sp-foundation-list__item
      div.sp-foundation-list__item-title Неординарный<br> подход
        .sp-foundation-list__item-dots
      p.sp-foundation-list__item-text к традиционным<br> формам
    li.sp-foundation-list__item
      div.sp-foundation-list__item-title Комбинированные
        .sp-foundation-list__item-dots
      p.sp-foundation-list__item-text  технологии<br> для длинных волос
    li.sp-foundation-list__item
      div.sp-foundation-list__item-title Точная работа
        .sp-foundation-list__item-dots
      p.sp-foundation-list__item-text с фронтальной зоной

