section.section-layout.main-footer-layout.main-footer-layout--white
  footer.main-footer.main-footer--white
    .main-footer__top
      ul.main-nav.main-nav--cities.main-footer__cities
        li.main-nav__item
          a(href="#").main-nav__link киев
        li.main-nav__item
          a(href="#").main-nav__link харьков
      ul.main-nav.main-nav--cities.main-footer__menu
        li.main-nav__item
          a(href="/academy").main-nav__link академия
        li.main-nav__item
          a(href="/courses").main-nav__link курсы
        li.main-nav__item
          a(href="/calendar").main-nav__link кадендарь
        li.main-nav__item
          a(href="/collections").main-nav__link коллекции
        li.main-nav__item
          a(href="/contacts").main-nav__link контакты
      div.arrow-link.arrow-link--right.arrow-link--top.register-link.main-footer__register
        a.arrow-link__text(href='/courses') запись на обучение
    .main-footer__middle
      a(href="#").main-footer__aside-link.main-footer__aside-link--beginner
        | beginner
        svg#SvgjsSvg1011(width='12', height='6', viewbox='0 0 12 6', transform='rotate(-90)')
          defs#SvgjsDefs1012
          path#SvgjsPath1013(d='M0 3L0 1L6.9825 1L6.97 0L9.469999999999999 1.98L7.019999999999999 4L6.999999999999999 2.4L6.999999999999999 3Z ', fill='#ffffff', fill-opacity='1', transform='matrix(1,0,0,1,0,0)')
      div.main-footer__logo
        .main-footer__logo-circle.main-footer__logo-circle--1
        .main-footer__logo-circle.main-footer__logo-circle--2
        .main-footer__logo-image
        .main-footer__logo-title
      ul.main-nav.main-nav--cities.main-footer__menu.main-footer__menu--mobile
        li.main-nav__item
          a(href="#").main-nav__link академия
        li.main-nav__item
          a(href="#").main-nav__link курсы
        li.main-nav__item
          a(href="#").main-nav__link кадендарь
        li.main-nav__item
          a(href="#").main-nav__link коллекции
        li.main-nav__item
          a(href="#").main-nav__link контакты
      a(href="#").main-footer__aside-link.main-footer__aside-link--pro
        | pro
        svg#SvgjsSvg1011(width='12', height='6', viewbox='0 0 12 6', transform='rotate(-90)')
          defs#SvgjsDefs1012
          path#SvgjsPath1013(d='M0 3L0 1L6.9825 1L6.97 0L9.469999999999999 1.98L7.019999999999999 4L6.999999999999999 2.4L6.999999999999999 3Z ', fill='#ffffff', fill-opacity='1', transform='matrix(1,0,0,1,0,0)')
    .main-footer__bottom
      ul.main-nav.main-nav--cities.main-footer__lang
        li.main-nav__item
          a(href="#").main-nav__link eng
        li.main-nav__item
          a(href="#").main-nav__link rus
      p.main-footer__copy Copyright 2018 ERTEQOOB
      ul.main-nav.main-nav--socials.main-footer__socials
        li.main-nav__item.main-nav__item--fb
          a.main-nav__link(href="https://www.facebook.com/erteqoob/" target="_blank")
        li.main-nav__item.main-nav__item--in
          a.main-nav__link(href="https://www.instagram.com/erteqoob/" target="_blank")

  div.footer-disclaimer.footer-disclaimer--white
    h1.footer-disclaimer__title Приглашаем в мир ERTEQOOB.
    p.footer-disclaimer__text.footer-disclaimer__text--1 Здесь узнаете все подробности об Академии, подберёте нужное Вам обучение мастерству стрижки и причёски, обретёте мотивацию. Мы не обычная школа парикмахеров в Киеве и Харькове, наша цель - развивать парикмахерское искусство целиком.
    p.footer-disclaimer__text.footer-disclaimer__text--2 Поэтому на сайте Вы найдёте важную информацию для профессионального развития стилистов-парикмахеров, много вдохновляющих материалов, коллекций креативных образов. Развивайтесь, создавайте новые уникальные стрижки! Будьте примером для парикмахеров.
    div.footer-disclaimer__close

script.
  $(function(){
    changeRotatedTextWidth('.main-footer__aside-link', '.main-footer__middle');

    $('.footer-disclaimer__close').click(function(){
      TweenMax.to($('.footer-disclaimer'), 0.5, {top: '50px', opacity: '0', ease: Power1.easeInOut});
    });
  })

  function footerMenusHideAnimation() {
    TweenMax.to($('.main-layout > .main-nav--socials'), 0.1, {opacity: 0, ease: Power1.easeOut});
    TweenMax.to($('.main-layout > .main-nav--lang'), 0.1, {opacity: 0, ease: Power1.easeOut});
    if ($(window).width() >= 640) {
      TweenMax.to($('.main-layout > .main-nav--cities'), 1, {opacity: 1, ease: Power1.easeOut, delay: 0.7});
      TweenMax.to($('.main-layout > .register-link'), 1, {opacity: 1, ease: Power1.easeOut, delay: 0.7});
    }
    TweenMax.to($('.main-layout > .main-nav-toggle'), 1, {opacity: 1, ease: Power1.easeOut, delay: 0.7});
  }

include scripts.jade