.arrow-link.arrow-link--right.arrow-link--bottom.arrow-link--gray.link-calendar
  a.arrow-link__text(href='#') <span class="br-lg-md">посмотреть </span>календарь<span class="br-lg-md"> всех курсов erteqoob</span>

