ul.main-nav.main-nav--cities
  li.main-nav__item
    a(href="#").main-nav__link курсы
  li.main-nav__item
    a(href="#").main-nav__link салоны
  li.main-nav__item
    a(href="#").main-nav__link моделям
