ul.main-nav.main-nav--cities
  li.main-nav__item
    a(href="#").main-nav__link все
  li.main-nav__item
    a(href="#").main-nav__link статьи
  li.main-nav__item
    a(href="#").main-nav__link новости
  li.main-nav__item
    a(href="#").main-nav__link фото
  li.main-nav__item
    a(href="#").main-nav__link архив

