script(src='/js/jquery.onepage-scroll.min.js' type='text/javascript')
script(src='/js/slick.min.js' type='text/javascript')
script(src='/js/TweenMax.min.js' type='text/javascript')
script(src='/js/TimelineMax.min.js' type='text/javascript')
script(src='/js/jquery.gsap.min.js' type='text/javascript')

script.
  $(function(){

  });

  function getRotatedTextWidth(element, parent){
    $(element).each(function () {
      $(this).width($(this).closest(parent).height());
    });
  }

  function changeRotatedTextWidth(element, parent){
    setTimeout(function () {
      getRotatedTextWidth(element, parent);
    }, 100);
    $(window).on('resize', function () {
      getRotatedTextWidth(element, parent);
    });
  }
