script(src='/js/jquery.onepage-scroll.min.js' type='text/javascript')
script(src='/js/slick.min.js' type='text/javascript')
script(src='/js/TweenMax.min.js' type='text/javascript')
script(src='/js/TimelineMax.min.js' type='text/javascript')
script(src='/js/jquery.gsap.min.js' type='text/javascript')

script.
  $(function(){

  });

  function getRotatedTextWidth(element, parent){
    $(element).each(function () {
      $(this).width($(this).closest(parent).height());
    });
  }

  function changeRotatedTextWidth(element, parent){
    getRotatedTextWidth(element, parent);
    $(window).on('resize', function () {
      getRotatedTextWidth(element, parent);
    });
  }

  function hideFixedMenus() {
    $('.main-layout > .main-nav.main-nav--cities, .main-layout > .main-nav.main-nav--socials, .main-layout > .register-link, .main-layout > .main-nav-toggle, .main-layout > .link-aside').fadeOut();
  }
  function showFixedMenus() {
    $('.main-layout > .main-nav.main-nav--cities, .main-layout > .main-nav.main-nav--socials, .main-layout > .register-link, .main-layout > .main-nav-toggle, .main-layout > .link-aside').fadeIn(400);
  }
  function hideScrollDown() {
    $('.scroll-down').fadeOut();
  }
  function showScrollDown() {
    $('.scroll-down').fadeIn(400);
  }