script(src='/js/jquery.onepage-scroll.min.js' type='text/javascript')
script(src='/js/slick.min.js' type='text/javascript')
script(src='/js/TweenMax.min.js' type='text/javascript')
script(src='/js/TimelineMax.min.js' type='text/javascript')
script(src='/js/jquery.gsap.min.js' type='text/javascript')

script.
  $(function(){
    // popup close
    $('.popup__close').click(function(){
      TweenMax.to($(this).closest('.popup-layout'), 0.5, {display: 'none', autoAlpha: 0, scaleX: 0.7, scaleY: 0.7, ease: Power4.easeOut});
      TweenMax.to($(this).closest('.popup__close'), 0.5, {display: 'none', autoAlpha: 0, scaleX: 0.7, scaleY: 0.7, ease: Power4.easeOut, delay: 0.5});
    });
  });

  function showPopup(popupId){
    TweenMax.to($(popupId), 0.5, {display: 'block', autoAlpha: 1, scaleX: 1, scaleY: 1, ease: Power4.easeOut});
    TweenMax.to($('.popup__close'), 1, {display: 'block', autoAlpha: 1, scaleX: 1, scaleY: 1, ease: Power4.easeOut, delay: 0.5});
  }

  function getRotatedTextWidth(element, parent){
    $(element).each(function () {
      $(this).width($(this).closest(parent).height());
    });
  }

  function changeRotatedTextWidth(element, parent){
    setTimeout(function () {
      getRotatedTextWidth(element, parent);
    }, 100);
    $(window).on('resize', function () {
      getRotatedTextWidth(element, parent);
    });
  }

  function hideScrollDown() {
    $('.scroll-down').fadeOut();
  }
  function showScrollDown() {
    $('.scroll-down').fadeIn(400);
  }

  function showPagePagination() {
    setTimeout(function () {
      TweenMax.to($('.onepage-pagination'), 1, {opacity: 1, ease: Power1.easeOut, delay: 1.5});
    }, 100);
  }
  function hidePagePagination() {
    setTimeout(function () {
      TweenMax.to($('.onepage-pagination'), 0.1, {opacity: 0, ease: Power1.easeOut});
    }, 100);
  }

  function fixedMenusInitAnimation() {
    if ($(window).width() >= 640) {
      TweenMax.to($('.main-layout > .main-nav--cities'), 1, {opacity: 1, ease: Power1.easeOut, delay: 0.7});
      TweenMax.to($('.main-layout > .register-link'), 1, {opacity: 1, ease: Power1.easeOut, delay: 0.7});
      TweenMax.to($('.main-layout > .main-nav--socials'), 1, {opacity: 1, ease: Power1.easeOut, delay: 0.7});
      TweenMax.to($('.main-layout > .main-nav--lang'), 1, {opacity: 1, ease: Power1.easeOut, delay: 0.7});
    }
    TweenMax.to($('.main-layout > .main-nav-toggle'), 1, {opacity: 1, ease: Power1.easeOut, delay: 0.7});
  }
  function fixedMenusHideAnimation() {
    if ($(window).width() >= 640) {
      TweenMax.to($('.main-layout > .main-nav--cities'), 0.1, {opacity: 0, ease: Power1.easeOut});
      TweenMax.to($('.main-layout > .register-link'), 0.1, {opacity: 0, ease: Power1.easeOut});
      TweenMax.to($('.main-layout > .main-nav--socials'), 0.1, {opacity: 0, ease: Power1.easeOut});
      TweenMax.to($('.main-layout > .main-nav--lang'), 0.1, {opacity: 0, ease: Power1.easeOut});
    }
    TweenMax.to($('.main-layout > .main-nav-toggle'), 0.1, {opacity: 0, ease: Power1.easeOut});
  }
  function fixedMenusReinit() {
    fixedMenusHideAnimation();
    fixedMenusInitAnimation();
  }

  function heightAsWidth($element){
    var cw = $element.width();
    $element.css({'height': cw + 'px'});
    $(window).on('resize', function () {
      var cw = $element.width();
      $element.css({'height': cw + 'px'});
    });
  }