div.splash-hint
  p.splash-hint__text выбери свой уровень<br> или спроси у нас, какая программа будет тебе наиболее полезна
  .arrow-link.arrow-link--left.arrow-link--top.arrow-link--gray.splash-hint__link
    a.arrow-link__text(href='#') получить подсказку
