extends ../../layouts/main-lp.jade

block contents
  div.main-layout#adaptation

    div.scroll-layout
      include ../../pages-partials/adaptation/kiev/sp-about.jade
      include ../../pages-partials/adaptation/sp-foundation.jade
      include ../../pages-partials/adaptation/sp-masters.jade
      include ../../pages-partials/adaptation/sp-skills.jade
      include ../../pages-partials/adaptation/kiev/sp-format
      include ../../pages-partials/adaptation/sp-program.jade
      include ../../pages-partials/sp/sp-study.jade
      include ../../pages-partials/adaptation/sp-philosophy.jade
      include ../../pages-partials/adaptation/sp-teachers.jade
      include ../../pages-partials/adaptation/kiev/sp-action

      include ../../partials/lp/footer.jade
