extends ../../layouts/main-lp-new.jade

block contents

  div.main-layout#man-innovations
    //include ../../partials/lp/page-scroll-cinema.jade
    include ../../partials/link-home.jade
    include ../../partials/main-nav-socials.jade
    include ../../partials/main-nav-lang.jade
    include ../../partials/main-nav-toggle.jade
    include ../../partials/courses-link.jade

    div.scroll-layout
      include ../../pages-partials/cinema/sp-about.jade
      include ../../pages-partials/cinema/sp-foundation.jade
      include ../../pages-partials/cinema/sp-philosophy.jade
      include ../../pages-partials/cinema/cinema-about-1.jade
      include ../../pages-partials/cinema/cinema-about-2.jade
      include ../../pages-partials/cinema/cinema-about-3.jade
      include ../../pages-partials/cinema/cinema-about-4.jade
      include ../../pages-partials/cinema/cinema-about-6.jade
      include ../../pages-partials/cinema/cinema-about-5.jade

      include ../../partials/footer-base.jade
      include ../../partials/lp/scripts-new.jade


  include ../../partials/popups/cinema/popup-cinema-video.jade

  include ../../partials/popups/cinema/popup-register-step-1
  include ../../partials/popups/cinema/popup-register-step-2
  include ../../partials/popups/cinema/popup-register-step-3

  script(src='/js/jquery.onepage-scroll.min.js' type='text/javascript')

  script.
    $(function(){
      // hide fixed menus on mobile
      $(window).on('resize', function () {
        var window = $(this);
        if (window.width() < 1260) {
          TweenMax.to($('.main-layout > .main-nav--cities'), 1, {opacity: 0, ease: Power1.easeOut});
          TweenMax.to($('.main-layout > .register-link'), 1, {opacity: 0, ease: Power1.easeOut});
          TweenMax.to($('.main-layout > .main-nav--socials'), 1, {opacity: 0, ease: Power1.easeOut});
          TweenMax.to($('.main-layout > .main-nav--lang'), 1, {opacity: 0, ease: Power1.easeOut});
          cinemaIntroInit();
          spFoundationInit();
          spPhilosophyInit();
          philosophyAbout1Init('#cinema-about-1');
          philosophyAbout1Init('#cinema-about-3');
          philosophyAbout1Init('#cinema-about-6');
          philosophyAbout2Init('#cinema-about-2');
          philosophyAbout2Init('#cinema-about-4');
          philosophyPros1Init();
        }
      });

      // init animations on mobile
      if ($(window).width() < 1260) {
        fixedMenusInitAnimation();
        cinemaIntroInit();
        spFoundationInit();
        spPhilosophyInit();
        philosophyAbout1Init('#cinema-about-1');
        philosophyAbout1Init('#cinema-about-3');
        philosophyAbout1Init('#cinema-about-6');
        philosophyAbout2Init('#cinema-about-2');
        philosophyAbout2Init('#cinema-about-4');
        philosophyPros1Init();
      }

      // Onepage scroll init
      if ($(window).width() >= 1260) {
        var pageScroll = ".scroll-layout";
        $(pageScroll).onepage_scroll({
          sectionContainer: "section",
          easing: "ease",
          animationTime: 1200,
          pagination: true,
          updateURL: false,
          beforeMove: function (index) {
            if (index == 10) {
              hidePagePagination();
            } else {
              fixedMenusInitAnimation();
              showPagePagination();
            }

            if (index == 1) {
              cinemaIntroInit();
              spFoundationHide();
              spPhilosophyHide();
              philosophyAbout1Hide('#cinema-about-1');
              philosophyAbout1Hide('#cinema-about-3');
              philosophyAbout1Hide('#cinema-about-6');
              philosophyAbout2Hide('#cinema-about-2');
              philosophyAbout2Hide('#cinema-about-4');
              philosophyPros1Hide();
            } else if (index == 2) {
              spFoundationInit();
              cinemaIntroHide();
              spPhilosophyHide();
              philosophyAbout1Hide('#cinema-about-1');
              philosophyAbout1Hide('#cinema-about-3');
              philosophyAbout1Hide('#cinema-about-6');
              philosophyAbout2Hide('#cinema-about-2');
              philosophyAbout2Hide('#cinema-about-4');
              philosophyPros1Hide();
            } else if (index == 3) {
              spPhilosophyInit();
              cinemaIntroHide();
              spFoundationHide();
              philosophyAbout1Hide('#cinema-about-1');
              philosophyAbout1Hide('#cinema-about-3');
              philosophyAbout1Hide('#cinema-about-6');
              philosophyAbout2Hide('#cinema-about-2');
              philosophyAbout2Hide('#cinema-about-4');
              philosophyPros1Hide();
            } else if (index == 4) {
              philosophyAbout1Init('#cinema-about-1');
              cinemaIntroHide();
              spFoundationHide();
              spPhilosophyHide();
              philosophyAbout1Hide('#cinema-about-3');
              philosophyAbout1Hide('#cinema-about-6');
              philosophyAbout2Hide('#cinema-about-2');
              philosophyAbout2Hide('#cinema-about-4');
              philosophyPros1Hide();
            } else if (index == 5) {
              philosophyAbout2Init('#cinema-about-2');
              cinemaIntroHide();
              spFoundationHide();
              spPhilosophyHide();
              philosophyAbout1Hide('#cinema-about-1');
              philosophyAbout1Hide('#cinema-about-3');
              philosophyAbout1Hide('#cinema-about-6');
              philosophyAbout2Hide('#cinema-about-4');
              philosophyPros1Hide();
            } else if (index == 6) {
              philosophyAbout1Init('#cinema-about-3');
              cinemaIntroHide();
              spFoundationHide();
              spPhilosophyHide();
              philosophyAbout1Hide('#cinema-about-1');
              philosophyAbout1Hide('#cinema-about-6');
              philosophyAbout2Hide('#cinema-about-2');
              philosophyAbout2Hide('#cinema-about-4');
              philosophyPros1Hide();
            } else if (index == 7) {
              philosophyAbout2Init('#cinema-about-4');
              cinemaIntroHide();
              spFoundationHide();
              spPhilosophyHide();
              philosophyAbout1Hide('#cinema-about-1');
              philosophyAbout1Hide('#cinema-about-3');
              philosophyAbout1Hide('#cinema-about-6');
              philosophyAbout2Hide('#cinema-about-2');
              philosophyPros1Hide();
            } else if (index == 8) {
              philosophyAbout1Init('#cinema-about-6');
              cinemaIntroHide();
              spFoundationHide();
              spPhilosophyHide();
              philosophyAbout1Hide('#cinema-about-3');
              philosophyAbout1Hide('#cinema-about-1');
              philosophyAbout2Hide('#cinema-about-2');
              philosophyAbout2Hide('#cinema-about-4');
              philosophyPros1Hide();
            } else if (index == 9) {
              philosophyPros1Init();
              cinemaIntroHide();
              spFoundationHide();
              spPhilosophyHide();
              philosophyAbout1Hide('#cinema-about-1');
              philosophyAbout1Hide('#cinema-about-3');
              philosophyAbout1Hide('#cinema-about-6');
              philosophyAbout2Hide('#cinema-about-2');
              philosophyAbout2Hide('#cinema-about-4');
            } else if (index == 10) {
              cinemaIntroHide();
              spFoundationHide();
              spPhilosophyHide();
              philosophyAbout1Hide('#cinema-about-1');
              philosophyAbout1Hide('#cinema-about-3');
              philosophyAbout1Hide('#cinema-about-6');
              philosophyAbout2Hide('#cinema-about-2');
              philosophyAbout2Hide('#cinema-about-4');
              philosophyPros1Hide();
            }
          },
          afterMove: function (index) {

          },
          loop: false,
          keyboard: true,
          responsiveFallback: 1260,
          direction: "vertical"
        });
      }

      // start intro animation on page load
      setTimeout(function () {
        fixedMenusInitAnimation();
      }, 2000);
      setTimeout(function () {
        if ($('.onepage-pagination li .active').data('index') == 1) {
          cinemaIntroInit();
        }
      }, 100);


      registerStep2Cinema();

      // seats counter
      var seats = 1000;
      var randNumbers = [2, 6, 6, 8, 3, 5, 2, 4, 5, 7, 7, 9, 1, 9, 7, 5, 9, 2, 22, 76, 80, 30, 48, 52, 64, 14, 53, 85, 99, 46, 67, 50, 65, 38, 92, 68, 13, 53, 31];
      var week = 6.048e+8;
      var now = new Date().getTime();
      var startDay = new Date("2018-12-17").getTime();
      var i;

      if(now > startDay) {
        i = Math.floor((now - startDay)/week);

        for(j=0; j<=i; j++){
          seats -= randNumbers[j];
        }

        if(seats < 0) {
          seats = 0;
        }

        $('.cinema-seats').text(seats);
      }
    });

    var philosophyPros1Reinit = true;

    function cinemaIntroInit() {
      TweenMax.to($(".sp-about.sp-about--intro"), 1, {
        opacity: '1',
        ease: Power1.easeInOut,
        delay: 0.2
      });
      TweenMax.to($(".sp-about.sp-about--intro .sp-about-block__main-title"), 1, {
        opacity: '1',
        scaleX: '1',
        scaleY: '1',
        ease: Power1.easeInOut,
        delay: 1
      });
      TweenMax.to($(".sp-about.sp-about--intro .gbw-video__link"), 1, {
        opacity: '1',
        top: '0',
        ease: Power1.easeInOut,
        delay: 1.4
      });
      TweenMax.to($(".sp-about.sp-about--intro .sp-about-block__main-subtitle"), 1, {
        opacity: '1',
        top: '0',
        ease: Power1.easeInOut,
        delay: 1.8
      });
      TweenMax.to($(".sp-about.sp-about--intro .sp-about-block__main-link"), 1, {
        opacity: '1',
        ease: Power1.easeInOut,
        delay: 1.8
      });
      TweenMax.to($(".sp-about.sp-about--intro .sp-about-block__duration"), 1, {
        opacity: '1',
        ease: Power1.easeInOut,
        delay: 2.2
      });
      TweenMax.to($(".sp-about.sp-about--intro .sp-about-block__info"), 1, {
        opacity: '1',
        ease: Power1.easeInOut,
        delay: 2.2
      });
    }
    function cinemaIntroHide() {
      TweenMax.to($(".sp-about.sp-about--introa"), 0.7, {
        opacity: '0',
        ease: Power1.easeInOut,
        delay: 0.2
      });
      TweenMax.to($(".sp-about.sp-about--intro .sp-about-block__main-title"), 1, {
        opacity: '0',
        scaleX: '0.9',
        scaleY: '0.9',
        ease: Power1.easeInOut,
        delay: 1
      });
      TweenMax.to($(".sp-about.sp-about--intro .gbw-video__link"), 1, {
        opacity: '0',
        top: '40px',
        ease: Power1.easeInOut,
        delay: 0.6
      });
      TweenMax.to($(".sp-about.sp-about--intro .sp-about-block__main-subtitle"), 1, {
        opacity: '0',
        top: '40px;',
        ease: Power1.easeInOut,
        delay: 1
      });
      TweenMax.to($(".sp-about.sp-about--intro .sp-about-block__main-link"), 1, {
        opacity: '0',
        ease: Power1.easeInOut,
        delay: 1
      });
      TweenMax.to($(".sp-about.sp-about--intro .sp-about-block__duration"), 1, {
        opacity: '0',
        ease: Power1.easeInOut,
        delay: 1
      });
      TweenMax.to($(".sp-about.sp-about--intro .sp-about-block__info"), 1, {
        opacity: '0',
        ease: Power1.easeInOut,
        delay: 1
      });
    }

    function spFoundationInit() {
      TweenMax.to($(".sp-foundation .page-title > h2"), 1, {
        top: '0',
        opacity: '1',
        ease: Power1.easeInOut,
        delay: 0.8
      });
      TweenMax.to($(".sp-foundation .page-title > h1"), 1, {
        top: '0',
        opacity: '1',
        ease: Power1.easeInOut,
        delay: 0.4
      });
      TweenMax.staggerTo( $(".sp-foundation .sp-foundation-list__item"), 1, { top: '0', opacity: '1', ease : Power1.easeInOut, delay: 0.8 }, 0.2 );
    }

    function spFoundationHide() {
      TweenMax.to($(".sp-foundation .page-title > h2"), 1, {
        top: '-60px',
        opacity: '0',
        ease: Power1.easeInOut,
        delay: 0.4
      });
      TweenMax.to($(".sp-foundation .page-title > h1"), 1, {
        top: '-60px',
        opacity: '0',
        ease: Power1.easeInOut,
        delay: 0.4
      });
      TweenMax.staggerTo( $(".sp-foundation .sp-foundation-list__item"), 1, { top: '-60px', opacity: '0', ease : Power1.easeInOut }, 0.2 );
    }

    function spPhilosophyInit() {
      TweenMax.to($(".sp-philosophy .sp-philosophy-main__title"), 1, {
        top: '0',
        opacity: '1',
        ease: Power1.easeInOut,
        delay: 0.4
      });
      TweenMax.to($(".sp-philosophy .sp-philosophy-main__text"), 1, {
        top: '0',
        opacity: '1',
        ease: Power1.easeInOut,
        delay: 0.8
      });
    }

    function spPhilosophyHide() {
      TweenMax.to($(".sp-philosophy .sp-philosophy-main__title"), 1, {
        top: '-100px',
        opacity: '0',
        ease: Power1.easeInOut,
        delay: 0.4
      });
      TweenMax.to($(".sp-philosophy .sp-philosophy-main__text"), 1, {
        top: '100px',
        opacity: '0',
        ease: Power1.easeInOut,
        delay: 0.8
      });
    }

    function philosophyAbout1Init(id) {
      TweenMax.to($(id).find(".philosophy-about__number"), 1, {
        top: '0',
        opacity: '1',
        ease: Power1.easeInOut,
        delay: 0.3
      });
      TweenMax.to($(id).find(".philosophy-about__title"), 1, {
        top: '0',
        opacity: '1',
        ease: Power1.easeInOut,
        delay: 0.3
      });
      TweenMax.to($(id).find(".philosophy-about__text"), 1, {
        top: '0',
        opacity: '1',
        ease: Power1.easeInOut,
        delay: 0.5
      });
      TweenMax.to($(id).find(".philosophy-about__line-layout"), 1, {
        padding: '0',
        ease: Power1.easeInOut,
        delay: 0.7
      });
    }

    function philosophyAbout1Hide(id) {
      TweenMax.to($(id).find(".philosophy-about__number"), 1, {
        top: '100px',
        opacity: '0',
        ease: Power1.easeInOut,
        delay: 0.3
      });
      TweenMax.to($(id).find(".philosophy-about__title"), 1, {
        top: '100px',
        opacity: '0',
        ease: Power1.easeInOut,
        delay: 0.3
      });
      TweenMax.to($(id).find(".philosophy-about__text"), 1, {
        top: '100px',
        opacity: '0',
        ease: Power1.easeInOut,
        delay: 0.5
      });
      TweenMax.to($(id).find(".philosophy-about__line-layout"), 1, {
        paddingLeft: '50%',
        paddingRight: '50%',
        ease: Power1.easeInOut,
        delay: 0.7
      });
    }

    function philosophyAbout2Init(id) {
      TweenMax.to($(id).find(".philosophy-about__number"), 1, {
        top: '0',
        opacity: '1',
        ease: Power1.easeInOut,
        delay: 0.3
      });
      TweenMax.to($(id).find(".philosophy-about__title"), 1, {
        top: '0',
        opacity: '1',
        ease: Power1.easeInOut,
        delay: 0.3
      });
      TweenMax.to($(id).find(".philosophy-about__text"), 1, {
        top: '0',
        opacity: '1',
        ease: Power1.easeInOut,
        delay: 0.5
      });
      TweenMax.to($(id).find(".philosophy-about__line-layout"), 1, {
        padding: '0',
        ease: Power1.easeInOut,
        delay: 0.7
      });
    }

    function philosophyAbout2Hide(id) {
      TweenMax.to($(id).find(".philosophy-about__number"), 1, {
        top: '100px',
        opacity: '0',
        ease: Power1.easeInOut,
        delay: 0.3
      });
      TweenMax.to($(id).find(".philosophy-about__title"), 1, {
        top: '100px',
        opacity: '0',
        ease: Power1.easeInOut,
        delay: 0.3
      });
      TweenMax.to($(id).find(".philosophy-about__text"), 1, {
        top: '100px',
        opacity: '0',
        ease: Power1.easeInOut,
        delay: 0.5
      });
      TweenMax.to($(id).find(".philosophy-about__line-layout"), 1, {
        paddingLeft: '50%',
        paddingRight: '50%',
        ease: Power1.easeInOut,
        delay: 0.7
      });
    }

    function philosophyPros1Init() {
      TweenMax.to($(".philosophy-pros--1 .home-pros__title--1"), 1, {
        top: '0',
        opacity: '1',
        ease: Power1.easeInOut,
        delay: 0.3
      });
      TweenMax.staggerTo($(".philosophy-pros--1 .philosophy-pros-list__item-text"), 1, {
        top: '0',
        opacity: '1',
        ease: Power1.easeInOut,
        delay: 0.5
      }, 0.1);
      TweenMax.staggerTo($(".philosophy-pros--1 .philosophy-pros-list__item-line-left-layout"), 1, {
        padding: '0',
        ease: Power1.easeInOut,
        delay: 0.6
      }, 0.1);
      TweenMax.to($(".philosophy-pros--1 .home-pros__title--2"), 1, {
        top: '0',
        opacity: '1',
        ease: Power1.easeInOut,
        delay: 1
      });
      TweenMax.to($(".philosophy-pros--1 .sp-about-block__main-link"), 1, {
        opacity: '1',
        ease: Power1.easeInOut,
        delay: 1
      });
      TweenMax.to($(".philosophy-pros--1 .sp-about-block__duration"), 1, {
        opacity: '1',
        ease: Power1.easeInOut,
        delay: 1.4
      });
      TweenMax.to($(".philosophy-pros--1 .sp-about-block__info"), 1, {
        opacity: '1',
        ease: Power1.easeInOut,
        delay: 1.4
      });

      philosophyPros1Reinit = false;
    }

    function philosophyPros1Hide() {
      if (!philosophyPros1Reinit) {
        TweenMax.to($(".philosophy-pros--1 .home-pros__title--1"), 1, {
          top: '-100px',
          opacity: '0',
          ease: Power1.easeInOut,
          delay: 0.3
        });
        TweenMax.staggerTo($(".philosophy-pros--1 .philosophy-pros-list__item-text"), 1, {
          top: '-50px',
          opacity: '0',
          ease: Power1.easeInOut,
          delay: 0.5
        }, 0.1);
        TweenMax.staggerTo($(".philosophy-pros--1 .philosophy-pros-list__item-line-left-layout"), 1, {
          paddingLeft: '50%',
          paddingRight: '50%',
          ease: Power1.easeInOut,
          delay: 0.6
        }, 0.1);
        TweenMax.to($(".philosophy-pros--1 .home-pros__title--2"), 1, {
          top: '50px',
          opacity: '0',
          ease: Power1.easeInOut,
          delay: 1
        });
        TweenMax.to($(".philosophy-pros--1 .sp-about-block__main-link"), 1, {
          opacity: '0',
          ease: Power1.easeInOut,
          delay: 1
        });
        TweenMax.to($(".philosophy-pros--1 .sp-about-block__duration"), 1, {
          opacity: '0',
          ease: Power1.easeInOut,
          delay: 1
        });
        TweenMax.to($(".philosophy-pros--1 .sp-about-block__info"), 1, {
          opacity: '0',
          ease: Power1.easeInOut,
          delay: 1
        });

        philosophyPros1Reinit = true;
      }
    }

    function registerStep1Cinema() {
      showPopup('#register-step-1');
    }
    function registerStep2Cinema() {
      $("#register-form-cinema").submit(function (e) {
        $.cookie('name', $('#register-name').val(), 30);
        $.cookie('phone', $('#register-phone').val(), 30);
        $.cookie('email', $('#register-email').val(), 30);

        return true;
      });
    }