extends ../../layouts/main-lp.jade

block contents
  div.main-layout#gbw-grey

    div.scroll-layout
      include ../../pages-partials/gbw/grey/kiev/gbw-intro.jade
      include ../../pages-partials/gbw/grey/gbw-philosophy.jade
      include ../../pages-partials/gbw/grey/gbw-skills.jade
      include ../../pages-partials/gbw/grey/gbw-program.jade
      include ../../pages-partials/gbw/grey/gbw-schedule.jade
      include ../../pages-partials/gbw/gbw-teachers.jade
      include ../../pages-partials/gbw/gbw-teachers-mobile.jade
      include ../../pages-partials/gbw/gbw-action.jade

      include ../../partials/lp/footer-kiev.jade

      include ../../partials/popups/popup-register-step-1.jade
      include ../../partials/popups/popup-register-step-2.jade
      include ../../partials/popups/popup-register-step-3.jade

