extends ../../layouts/main-lp.jade

block contents
  div.main-layout#home
    include ../../partials/lp/page-scroll-home.jade

    div.scroll-layout
      include ../../pages-partials/home/home-intro.jade
      include ../../pages-partials/home/home-program.jade
      include ../../pages-partials/home/home-plan.jade
      include ../../pages-partials/home/home-action.jade
      include ../../pages-partials/home/home-skills.jade
      include ../../pages-partials/home/home-cases.jade
      include ../../pages-partials/home/home-teachers.jade
      include ../../pages-partials/home/home-academy.jade
      include ../../pages-partials/home/home-knowledge.jade
      include ../../pages-partials/home/home-action.jade

      include ../../partials/lp/footer.jade
      include ../../partials/lp/popups/city-switcher.jade

  script.
    $(function () {

    });