extends ../../layouts/main-lp.jade

block contents
  div.main-layout#long
    include ../../partials/lp/page-scroll-pro.jade

    div.scroll-layout
      include ../../pages-partials/long/kharkiv/sp-about.jade
      include ../../pages-partials/long/sp-foundation.jade
      include ../../pages-partials/long/sp-masters.jade
      include ../../pages-partials/long/sp-skills.jade
      include ../../pages-partials/long/kharkiv/sp-format
      include ../../pages-partials/long/sp-program.jade
      include ../../pages-partials/long/sp-philosophy.jade
      include ../../pages-partials/long/sp-teachers.jade
      include ../../pages-partials/long/kharkiv/sp-action

      include ../../partials/lp/footer-kharkiv.jade

      include ../../partials/popups/popup-register-step-1
      include ../../partials/popups/popup-register-step-2
      include ../../partials/popups/popup-register-step-3