extends ../../layouts/main-lp.jade

block contents
  div.main-layout#qualification

    div.scroll-layout
      include ../../pages-partials/qualification/sp-about.jade
      include ../../pages-partials/qualification/sp-foundation.jade
      include ../../pages-partials/qualification/sp-masters.jade
      include ../../pages-partials/qualification/sp-skills.jade
      include ../../pages-partials/qualification/sp-format.jade
      include ../../pages-partials/qualification/sp-program.jade
      include ../../pages-partials/sp/sp-study.jade
      include ../../pages-partials/qualification/sp-philosophy.jade
      include ../../pages-partials/qualification/sp-teachers.jade
      include ../../pages-partials/qualification/sp-action.jade

      include ../../partials/lp/footer.jade

