extends ../../layouts/main-lp.jade

block contents
  div.main-layout
    .section-layout.sp#sp-1-thankyou
      .sp-logo
      .vertical-line.sp-1-thankyou-main__item-line-2
        .sp-1-thankyou-main__item-divider

      div.sp-title.sp-title--1-thankyou
        .sp-title__logo
          .sp-title__logo-image
          .circle.sp-title__circle
        h1 Спасибо,<br> Вадим Гурко!
          .sp-title__dots
          .vertical-line.sp-title__line
        h3 Твоё место в группе забронировано.

      ul.sp-1-thankyou-main.sp-1-thankyou-main--2
        li.sp-1-thankyou-main__item
          div.p.sp-1-thankyou-main__item-text Мы свяжемся с тобой в ближайшее время<br> для завершения записи на Курс Базовый
        li.sp-1-thankyou-main__item
          div.sp-1-thankyou-main__item-text
            h2 Рады приветствовать тебя
            h1 в мире ERTEQOOB!
            .vertical-line.sp-1-thankyou-main__item-line-1
            .sp-1-thankyou-main__item-divider
          ul.socials
            li.social.social--fb
              a(href="https://www.facebook.com/erteqoob/" target="_blank")
            li.social.social--in
              a(href="https://www.instagram.com/erteqoob/" target="_blank")




include ../../partials/lp/scripts.jade