extends ../../layouts/main-lp.jade

block contents
  div.main-layout
    .section-layout.sp#sp-1-thankyou
      .sp-logo
      .vertical-line.sp-1-thankyou-main__item-line-2

      div.sp-title.sp-title--1-thankyou
        .sp-title__logo
          .sp-title__logo-image
          .circle.sp-title__circle
        h1 Мы рады,<br> что Вы с нами!
          .sp-title__dots
          .vertical-line.sp-title__line
        h3 Erteqoob - это образ жизни:

      ul.sp-1-thankyou-main
        li.sp-1-thankyou-main__item
          div.p.sp-1-thankyou-main__item-text мы сами создаём своё время,<br> пространство, свой стиль.
        li.sp-1-thankyou-main__item
          div.p.sp-1-thankyou-main__item-text
            span С нетерпение ждём встречи с Вами<br class="br-sm"> на занятиях.<br>
            br
            | Вся необходимая информация об обучении уже<br class="br-sm"> пришла на Ваш email.<br class="br-lg-md">
            | В ближайшее время мы<br class="br-sm"> позвоним Вам для того, чтобы забронировать<br>
            | Ваше место в группе.
            .vertical-line.sp-1-thankyou-main__item-line-1
            .sp-1-thankyou-main__item-divider
          ul.socials
            li.social.social--fb
              a(href="#")
            li.social.social--in
              a(href="#")




include ../../partials/lp/scripts.jade