doctype html
html
  head
    title Erteqoob
    meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=yes')
    meta(http-equiv='X-UA-Compatible' content='IE=Edge')
    meta(name='title', content='Erteqoob')
    meta(name='description', content='Erteqoob')
    meta(property='og:title', content='Erteqoob')
    meta(property='og:description', content='Erteqoob')
    meta(name='format-detection', content='telephone=no')
    meta(name='apple-mobile-web-app-capable', content='yes')
    link(rel='stylesheet' href='/index-client.css')
    script(src='/js/jquery-2.1.4.min.js' type='text/javascript')

  body
    div#client-page.main
      block contents