section.section-layout.sp-foundation
  div.page-title
    .page-title__logo
    h2 Свежие техники
    h1 и возможности

  ul.sp-foundation-list
    li.sp-foundation-list__item
      div.sp-foundation-list__item-title теория<br> и практиика
        .sp-foundation-list__item-dots
      p.sp-foundation-list__item-text всех актуальных мужских<br> и женских форм
    li.sp-foundation-list__item
      div.sp-foundation-list__item-title замещение
        .sp-foundation-list__item-dots
      p.sp-foundation-list__item-text устаревших навыков и технологий<br> современными
    li.sp-foundation-list__item
      div.sp-foundation-list__item-title раскрытие
        .sp-foundation-list__item-dots
      p.sp-foundation-list__item-text творческих возможностей<br> независимо от стажа работы
    li.sp-foundation-list__item
      div.sp-foundation-list__item-title оптимизация
        .sp-foundation-list__item-dots
      p.sp-foundation-list__item-text  Вашей работы и новые<br> профессиональные возможности


