section.section-layout.sp-masters.sp-masters--qualification
  div.page-title
    .page-title__logo
    h2 Курс Повышение квалификации
    h1 подходит<br> для мастеров:

  ul.sp-masters-list
    li.sp-masters-list__item
      p.sp-masters-list__item-text
        span с опытом практики
        | от полугода
      .sp-masters-list__item-dot
    li.sp-masters-list__item
      p.sp-masters-list__item-text
        span знающих
        | основы и базовые формы
      .sp-masters-list__item-dot
    li.sp-masters-list__item
      p.sp-masters-list__item-text
        span практикующих
        | в салонах
      .sp-masters-list__item-dot

  p.sp-masters-disclaimer Рекомендуется после прохождения Базового курса