section.section-layout.sp-program.sp-program--qualification
  div.page-title
    .page-title__logo
    h1 программа курса<br> «повышение квалификации»

  ul.home-program-list
    li.home-program-list__item
      .home-program-list__circles
        .circle.home-program-list__circle.home-program-list__circle--1
        .circle.home-program-list__circle.home-program-list__circle--2
        .circle.home-program-list__circle.home-program-list__circle--3
      p.home-program-list__info
        | 01 день
        span Комбинированная форма<br> на 3-4 длине (фронтальная<br> градация или прямой срез)
    li.home-program-list__item
      .home-program-list__circles
        .circle.home-program-list__circle.home-program-list__circle--1
        .circle.home-program-list__circle.home-program-list__circle--2
        .circle.home-program-list__circle.home-program-list__circle--3
      p.home-program-list__info
        | 02 день
        span Комбинированная форма<br> на 3-4 длине<br> (слои с перемещением)
    li.home-program-list__item
      .home-program-list__circles
        .circle.home-program-list__circle.home-program-list__circle--1
        .circle.home-program-list__circle.home-program-list__circle--2
        .circle.home-program-list__circle.home-program-list__circle--3
      p.home-program-list__info
        | 03 день
        span Комбинированная форма<br> на 2 длине (масса)
    li.home-program-list__item
      .home-program-list__circles
        .circle.home-program-list__circle.home-program-list__circle--1
        .circle.home-program-list__circle.home-program-list__circle--2
        .circle.home-program-list__circle.home-program-list__circle--3
      p.home-program-list__info
        | 04 день
        span Комбинированная форма<br> на 2 длине (слои)
    li.home-program-list__item
      .home-program-list__circles
        .circle.home-program-list__circle.home-program-list__circle--1
        .circle.home-program-list__circle.home-program-list__circle--2
        .circle.home-program-list__circle.home-program-list__circle--3
      p.home-program-list__info
        | 05 день
        span Комбинированная форма на<br> 1-2 длине (боб)
    li.home-program-list__item
      .home-program-list__circles
        .circle.home-program-list__circle.home-program-list__circle--1
        .circle.home-program-list__circle.home-program-list__circle--2
        .circle.home-program-list__circle.home-program-list__circle--3
      p.home-program-list__info
        | 06 день
        span Комбинированная форма<br> на 1-2 длине (горизонтальная градация,<br> вперед и назад)
    li.home-program-list__item
      .home-program-list__circles
        .circle.home-program-list__circle.home-program-list__circle--1
        .circle.home-program-list__circle.home-program-list__circle--2
        .circle.home-program-list__circle.home-program-list__circle--3
      p.home-program-list__info
        | 07 день
        span Комбинированная форма<br> на 1-2 длине (круглая и короткая<br> градация)
    li.home-program-list__item
      .home-program-list__circles
        .circle.home-program-list__circle.home-program-list__circle--1
        .circle.home-program-list__circle.home-program-list__circle--2
        .circle.home-program-list__circle.home-program-list__circle--3
      p.home-program-list__info
        | 08 день
        span Комбинированная форма на 1-2 длине<br> (короткие слои)
    li.home-program-list__item
      .home-program-list__circles
        .circle.home-program-list__circle.home-program-list__circle--1
        .circle.home-program-list__circle.home-program-list__circle--2
        .circle.home-program-list__circle.home-program-list__circle--3
      p.home-program-list__info
        | 09 день
        span Комбинированная форма<br> на 1-2 длине<br> (дисконекция)
    li.home-program-list__item
      .home-program-list__circles
        .circle.home-program-list__circle.home-program-list__circle--1
        .circle.home-program-list__circle.home-program-list__circle--2
        .circle.home-program-list__circle.home-program-list__circle--3
      p.home-program-list__info
        | 10 день
        span Мужская удлиненная<br> комбинированная форма
    li.home-program-list__item
      .home-program-list__circles
        .circle.home-program-list__circle.home-program-list__circle--1
        .circle.home-program-list__circle.home-program-list__circle--2
        .circle.home-program-list__circle.home-program-list__circle--3
      p.home-program-list__info
        | 11 день
        span Мужская короткая<br> комбинированная форма
    li.home-program-list__item
      .home-program-list__circles
        .circle.home-program-list__circle.home-program-list__circle--1
        .circle.home-program-list__circle.home-program-list__circle--2
        .circle.home-program-list__circle.home-program-list__circle--3
      p.home-program-list__info
        | 12 день
        span Творческий день:<br> создание образа

  ul.sp-program-info-mobile
    li.sp-program-info__item.sp-program-info__item--1.sp-program-info__item--active
      .vertical-line.sp-program-info__item-line
      p.sp-program-info__item-month
        span 01
        | день
      p.sp-program-info__item-text Комбинированная форма на 3-4 длине (фронтальная градация или прямой срез)
    li.sp-program-info__item.sp-program-info__item--2
      .vertical-line.sp-program-info__item-line
      p.sp-program-info__item-month
        span 02
        | день
      p.sp-program-info__item-text Комбинированная форма на 3-4 длине (слои с перемещением)
    li.sp-program-info__item.sp-program-info__item--3
      .vertical-line.sp-program-info__item-line
      p.sp-program-info__item-month
        span 03
        | день
      p.sp-program-info__item-text Комбинированная форма на 2 длине (масса)
    li.sp-program-info__item.sp-program-info__item--4
      .vertical-line.sp-program-info__item-line
      p.sp-program-info__item-month
        span 04
        | день
      p.sp-program-info__item-text Комбинированная форма на 2 длине (слои)
    li.sp-program-info__item.sp-program-info__item--5
      .vertical-line.sp-program-info__item-line
      p.sp-program-info__item-month
        span 05
        | день
      p.sp-program-info__item-text Комбинированная форма на 1-2 длине (боб)
    li.sp-program-info__item.sp-program-info__item--6
      .vertical-line.sp-program-info__item-line
      p.sp-program-info__item-month
        span 06
        | день
      p.sp-program-info__item-text Комбинированная форма на 1-2 длине (горизонтальная градация, вперед и назад)
    li.sp-program-info__item.sp-program-info__item--7
      .vertical-line.sp-program-info__item-line
      p.sp-program-info__item-month
        span 07
        | день
      p.sp-program-info__item-text Комбинированная форма на 1-2 длине (круглая и короткая градация)
    li.sp-program-info__item.sp-program-info__item--8
      .vertical-line.sp-program-info__item-line
      p.sp-program-info__item-month
        span 08
        | день
      p.sp-program-info__item-text Комбинированная форма на 1-2 длине (короткие слои)
    li.sp-program-info__item.sp-program-info__item--9
      .vertical-line.sp-program-info__item-line
      p.sp-program-info__item-month
        span 09
        | день
      p.sp-program-info__item-text Комбинированная форма на 1-2 длине (дисконекция)
    li.sp-program-info__item.sp-program-info__item--9
      .vertical-line.sp-program-info__item-line
      p.sp-program-info__item-month
        span 10
        | день
      p.sp-program-info__item-text Мужская удлиненная комбинированная форма
    li.sp-program-info__item.sp-program-info__item--9
      .vertical-line.sp-program-info__item-line
      p.sp-program-info__item-month
        span 11
        | день
      p.sp-program-info__item-text Мужская короткая комбинированная форма
    li.sp-program-info__item.sp-program-info__item--9
      .vertical-line.sp-program-info__item-line
      p.sp-program-info__item-month
        span 12
        | день
      p.sp-program-info__item-text Творческий день: создание образа


  p.sp-program__disclaimer.sp-program__disclaimer--2 Курс постоянно совершенствуется<br class="br-sm"> и обновляется в зависимости<br class="br-lg-md">от тенденций<br class="br-sm"> в сфере красоты.


  .sp-program__subscribe
    .sp-program__subscribe-title подробную программу<br> ты можешь получить по почте
    form
      div.sp-program__subscribe-formgroups
        div.sp-program__subscribe-formgroup.input-material
          label Имя
          input(type="text")
        div.sp-program__subscribe-formgroup.input-material
          label E-mail
          input(type="email")
      button(type="submit").line-link.sp-program__subscribe-submit подписаться
