section.section-layout.home-nav-layout
  ul.home-nav
    li.home-nav__item
      .home-nav__layout
        a.home-nav__link
          p.home-nav__number 01
          .home-nav__image-inner
          .home-nav__title-wrapper
            p.home-nav__title Академия
    li.home-nav__item
      .home-nav__layout
        a.home-nav__link
          p.home-nav__number 02
          .home-nav__image-inner
          .home-nav__title-wrapper
            p.home-nav__title Курсы
    li.home-nav__item
      .home-nav__layout
        a.home-nav__link
          p.home-nav__number 03
          .home-nav__image-inner
          .home-nav__title-wrapper
            p.home-nav__title Календарь
    li.home-nav__item
      .home-nav__layout
        a.home-nav__link
          p.home-nav__number 04
          .home-nav__image-inner
          .home-nav__title-wrapper
            p.home-nav__title Коллекции
    li.home-nav__item
      .home-nav__layout
        a.home-nav__link
          p.home-nav__number 05
          .home-nav__image-inner
          .home-nav__title-wrapper
            p.home-nav__title Контакты
