section.section-layout.home-action-layout
  div.home-action
    div.home-action__inner
      div.home-action__info
        h1.home-action__title Отличайтесь!
        h2.home-action__subtitle Черпайте вдохновение<br> из новых коллекций и материалов
      form.action__form
        div.action__form-input-layout
          .action__form-input-line
          label.action__form-label Имя
          input.action__form-input(type="text")
        div.action__form-input-layout
          .action__form-input-line
          label.action__form-label E-mail
          input.action__form-input(type="text")
        div.action__form-submit-layout
          .arrow-link
            button(type="submit").btn-black.arrow-link__text.action__form-submit подписаться


script.
  $(function(){
    $('.action__form-input').focus(function () {
      TweenMax.to($(this).closest('.action__form-input-layout').find('.action__form-label'), 0.3, {top: '-16px', scaleX: 0.75, scaleY: 0.75, ease: Power1.easeInOut});
      $(this).closest('.action__form-input-layout').find('.action__form-input-line').addClass('action__form-input-line--active');
    });
    $('.action__form-input').blur(function () {
      if($(this).val() == ''){
        TweenMax.to($(this).closest('.action__form-input-layout').find('.action__form-label'), 0.3, {
          top: '16px',
          scaleX: 1,
          scaleY: 1,
          ease: Power1.easeInOut
        });
        $(this).closest('.action__form-input-layout').find('.action__form-input-line').removeClass('action__form-input-line--active');
      }
    });
  })