section.section-layout.home-events-layout
  div.home-events
    div.page-title-big-layout.home-events__title-layout
      h1.page-title-big.home-events__title ближайшие<br class="br-md-sm"> события
    ul.home-events-list
      li.home-events-list__item
        a(href="#").home-events-list__item-link
          div.home-events-list__item-inner
            header.home-events-list__item-header
              p.home-events-list__item-date 30.02
              div.rotated-text.rotated-text--left.home-events-list__item-type pro
              div.home-events-list__item-duration
                h3 7
                p месяцев<br> обучения
            h1.home-events-list__item-title Базовый курс
      li.home-events-list__item
        a(href="#").home-events-list__item-link
          div.home-events-list__item-inner
            header.home-events-list__item-header
              p.home-events-list__item-date 30.02
              div.rotated-text.rotated-text--left.home-events-list__item-type beginner
              div.home-events-list__item-duration
                h3 7
                p месяцев<br> обучения
            h1.home-events-list__item-title Базовый курс
      li.home-events-list__item
        a(href="#").home-events-list__item-link
          div.home-events-list__item-inner
            header.home-events-list__item-header
              p.home-events-list__item-date 30.02
              div.rotated-text.rotated-text--left.home-events-list__item-type pro
              div.home-events-list__item-duration
                h3 7
                p месяцев<br> обучения
            h1.home-events-list__item-title Базовый курс

    a(href="#").btn-black.home-events__more <span class="br-lg-md">посмотреть календарь</span><span class="br-sm">посмотреть курсы</span>


script.
  $(function(){
    changeRotatedTextWidth('.home-events-list__item-type', '.home-events-list__item-inner');
  })