section.section-layout.home-think-layout
  ul.home-think
    li.home-think__item
      div.home-think__item-bg
      div.home-think__item-title-layout
        h1.home-think__item-title Мы
      div.home-think__item-text-layout
        p.home-think__item-text инновационны<br> и  самобытны
    li.home-think__item
      div.home-think__item-bg
      div.home-think__item-title-layout
        h1.home-think__item-title Учим
      div.home-think__item-text-layout
        p.home-think__item-text безукоризненному<br> чувству<br> стиля
    li.home-think__item
      div.home-think__item-bg
      div.home-think__item-title-layout
        h1.home-think__item-title Думать
      div.home-think__item-text-layout
        p.home-think__item-text как создатель<br> образов жизни
