section.section-layout.home-blog-layout
  div.home-collections__title
    h1.page-title блог
    h2.erteqoob-title
  div.home-blog
    ul.home-blog-row.home-blog-row--top
      li.home-blog-row__item(style="background-image: url(img/client/home/home-blog-item.jpg);")
        div.home-blog-row__item-preview.home-blog-row__item-preview--inst
      li.home-blog-row__item(style="background-image: url(img/client/home/home-blog-item.jpg);")
        div.home-blog-row__item-preview
          h1.home-blog-row__item-preview-text треки
      li.home-blog-row__item(style="background-image: url(img/client/home/home-blog-item.jpg);")
        div.home-blog-row__item-preview
          h1.home-blog-row__item-preview-text треки
        div.home-blog-row__item-main
          p.home-blog-row__item-type новости
          h1.home-blog-row__item-title Фешн-съемка для<br> Harper Bazaar Украина
    ul.home-blog-row.home-blog-row--bottom
      li.home-blog-row__item(style="background-image: url(img/client/home/home-blog-item.jpg);")
        div.home-blog-row__item-preview
          h1.home-blog-row__item-preview-text треки
      li.home-blog-row__item(style="background-image: url(img/client/home/home-blog-item.jpg);")
        div.home-blog-row__item-preview.home-blog-row__item-preview--inst
      li.home-blog-row__item(style="background-image: url(img/client/home/home-blog-item.jpg);")
        div.home-blog-row__item-preview
          h1.home-blog-row__item-preview-text треки
      li.home-blog-row__item(style="background-image: url(img/client/home/home-blog-item.jpg);")
        div.home-blog-row__item-preview.home-blog-row__item-preview--inst
  a(href="#").btn-black.home-blog__link перейти в блог