section.section-layout.home-video-layout
  div.home-video
    .home-video__title-layout
      h1.home-video__title Lorem ipsum dolor sit amet, ne sea elaboraret liberavisse
    .home-video__btn-layout
      div.home-video__btn
        i.home-video__btn-icon
        p.home-video__btn-text смотреть видео
    .home-video__text-layout
      p.home-video__text Lorem ipsum dolor sit amet, ne sea elaboraret liberavisse, oporteat pertinax sit in, eu possim accumsan molestiae vis. Mei no quis tamquam vivendo, cu sonet iriure discere vix. Velit ridens expetenda per in, modus contentiones te sit.  Vix clita veniam appareat ea
