section.section-layout.home-action-layout
  div.home-action
    div.home-action__info
      h1.home-action__title Отличайся!
      h2.home-action__subtitle Черпай вдохновение<br> из новых коллекций и материалов
    form.home-action__form
      input.home-action__form-input(type="text", placeholder="Имя")
      input.home-action__form-input(type="text", placeholder="E-mail")
      button(type="submit").btn-black.home-action__form-submit подписаться