section.section-layout.home-collections-layout
  div.home-collections__title
    h1.page-title коллекции
    h2.erteqoob-title
  div.home-collections__slider-layout
    ul.home-collections-list
      li.home-collections-list__item(style="background-image: url(img/client/home/home-collection-item.jpg);")
        p.rotated-text.rotated-text--left.home-collections-list__item-date апрельь ‘16
        h1.home-collections-list__item-title Сила притяжения
      li.home-collections-list__item(style="background-image: url(img/client/home/home-collection-item.jpg);")
        p.rotated-text.rotated-text--left.home-collections-list__item-date апрельь ‘16
        h1.home-collections-list__item-title Сила притяжения
      li.home-collections-list__item(style="background-image: url(img/client/home/home-collection-item.jpg);")
        p.rotated-text.rotated-text--left.home-collections-list__item-date апрельь ‘16
        h1.home-collections-list__item-title Сила притяжения
      li.home-collections-list__item(style="background-image: url(img/client/home/home-collection-item.jpg);")
        p.rotated-text.rotated-text--left.home-collections-list__item-date апрельь ‘16
        h1.home-collections-list__item-title Сила притяжения
      li.home-collections-list__item(style="background-image: url(img/client/home/home-collection-item.jpg);")
        p.rotated-text.rotated-text--left.home-collections-list__item-date апрельь ‘16
        h1.home-collections-list__item-title Сила притяжения
  a(href="#").btn-black.home-collections__link Смотреть коллекции


script.
  $(function(){
    changeRotatedTextWidth('.home-collections-list__item-date', '.home-collections-list__item');
  })