section.section-layout.home-system-layout
  div.home-system
    div.page-title-big-layout.home-system__title-layout
      h1.page-title-big.home-system__title Система обучения<br> с собственным<br class="br-lg br-sm"> характером
    div.home-system__lists-layout
      .home-system__logo
      .home-system__line.home-system__line--1
      .home-system__line.home-system__line--2
      .home-system__line.home-system__line--3
      div.home-system__lists
        ul.home-system-list
          li.home-system-list__item
            p.home-system-list__item-text Обучение с нуля,<br> возможность применять<br> новые навыки в салоне,<br> продолжая учиться
          li.home-system-list__item
            p.home-system-list__item-text Умение видеть и создавать<br> наилучший вариант<br> стрижки для клиента<br> по его параметрам
        ul.home-system-list
          li.home-system-list__item
            p.home-system-list__item-text оттачивание<br> безукоризненного вкуса,<br> чувства стиля,<br> творческого потенциала
          li.home-system-list__item
            p.home-system-list__item-text пополнение арсенала<br> авторскими технологиями,<br> приобретение<br> индивидуального почерка
    div.home-system__link-layout
      a(href="#").btn-black.home-system__link посмотреть курсы
