section
  ul.home-nav
    li.home-nav__item
      .home-nav__layout(style="background-image: url(/img/client/home/home-nav-bg-2.png)")
        a.home-nav__link
          p.home-nav__number 01
          .home-nav__image-inner(style="background-image: url(/img/client/home/home-nav-inner-2.png)")
          .home-nav__title-wrapper
            p.home-nav__title Академия
    li.home-nav__item
      .home-nav__layout(style="background-image: url(/img/client/home/home-nav-bg-2.png)")
        a.home-nav__link
          p.home-nav__number 02
          .home-nav__image-inner(style="background-image: url(/img/client/home/home-nav-inner-2.png)")
          .home-nav__title-wrapper
            p.home-nav__title Курсы
    li.home-nav__item
      .home-nav__layout(style="background-image: url(/img/client/home/home-nav-bg-2.png)")
        a.home-nav__link
          p.home-nav__number 03
          .home-nav__image-inner(style="background-image: url(/img/client/home/home-nav-inner-2.png)")
          .home-nav__title-wrapper
            p.home-nav__title Календарь
    li.home-nav__item
      .home-nav__layout(style="background-image: url(/img/client/home/home-nav-bg-2.png)")
        a.home-nav__link
          p.home-nav__number 04
          .home-nav__image-inner(style="background-image: url(/img/client/home/home-nav-inner-2.png)")
          .home-nav__title-wrapper
            p.home-nav__title Коллекции
    li.home-nav__item
      .home-nav__layout(style="background-image: url(/img/client/home/home-nav-bg-2.png)")
        a.home-nav__link
          p.home-nav__number 05
          .home-nav__image-inner(style="background-image: url(/img/client/home/home-nav-inner-2.png)")
          .home-nav__title-wrapper
            p.home-nav__title Контакты
