section.section-layout.home-founders-layout
  h1.page-title.home-founders-title основатели академии
  div.erteqoob-title.home-founders-subtitle
  ul.home-founders
    li.home-founder
      div.home-founder__image
      div.home-founder__preview
        div.home-founder__preview-position-layout
          h2.home-founder__preview-position Form<br> Director
        h1.home-founder__preview-name Елена<br> Кузьмичева
        div.home-founder__preview-star
    li.home-founder
      div.home-founder__image
      div.home-founder__preview
        div.home-founder__preview-position-layout
          h2.home-founder__preview-position Form<br> Director
        h1.home-founder__preview-name Андрей<br> Крупчинский
        div.home-founder__preview-star
    li.home-founder
      div.home-founder__image
      div.home-founder__preview
        div.home-founder__preview-position-layout
          h2.home-founder__preview-position Frame<br>Director
        h1.home-founder__preview-name Дмитрий<br> Кузьмичев
        div.home-founder__preview-star
