section.section-layout.home-about-layout
  div.home-about__logo
  div.home-about
    div.page-title-big-layout.home-about__title-layout
      h1.page-title-big.home-about__title Это не просто школа,<br> где учат стричь волосы
    div.home-about-list-layout
      ul.home-about-list
        li.home-about-list__item
          div.home-about-list__item-layout
            p.home-about-list__item-number 01
            p.home-about-list__item-text Обучение Мастеров —<br> наш путь развития
        li.home-about-list__item
          div.home-about-list__item-layout
            p.home-about-list__item-number 02
            p.home-about-list__item-text творческая смелость —<br> наша философия
        li.home-about-list__item
          div.home-about-list__item-layout
            p.home-about-list__item-number 03
            p.home-about-list__item-text Art в работе и на отдыхе —<br> наш образ жизни
        li.home-about-list__item
          div.home-about-list__item-layout
            p.home-about-list__item-number 04
            p.home-about-list__item-text новое отношение<br class="br-sm"> к профессии —<br> наша цель
    div.home-about-counter-layout
      ul.home-about-counter
        li.home-about-counter__item
          p.home-about-counter__item-number 25
          p.home-about-counter__item-text лет практического<br> опыта работы<br> у преподавателей
        li.home-about-counter__item
          p.home-about-counter__item-number 20
          p.home-about-counter__item-text разнообразных<br> курсов и направлений<br> обучения
        li.home-about-counter__item
          p.home-about-counter__item-number 157
          p.home-about-counter__item-text профессиональных<br> навыков<br> приобретаются<br> на курсах
        li.home-about-counter__item
          p.home-about-counter__item-number 200
          p.home-about-counter__item-text студентов в год<br> становятся<br> практикующими<br> мастерами
        li.home-about-counter__item
          p.home-about-counter__item-number 150
          p.home-about-counter__item-text мастеров в год<br> повышают стоимость<br> своих услуг на наших<br> треках


