section.section-layout.home-collections-layout
  div.home-collections
    div.home-collections__title-layout
      div.home-collections__title
        h1.page-title коллекции
        h2.erteqoob-title
    div.home-collections__slider-layout.slider-arrows-long.slider-arrows-long--edge
      ul.home-collections-list
        li.home-collections-list__item(style="background-image: url(img/client/home/home-collection-item-1.jpg);")
          p.rotated-text.rotated-text--left.home-collections-list__item-date апрель ‘16
          h1.home-collections-list__item-title Сила притяжения
        li.home-collections-list__item(style="background-image: url(img/client/home/home-collection-item-2.jpg);")
          p.rotated-text.rotated-text--left.home-collections-list__item-date апрель ‘16
          h1.home-collections-list__item-title Сила притяжения
        li.home-collections-list__item(style="background-image: url(img/client/home/home-collection-item-3.jpg);")
          p.rotated-text.rotated-text--left.home-collections-list__item-date апрель ‘16
          h1.home-collections-list__item-title Сила притяжения
        li.home-collections-list__item(style="background-image: url(img/client/home/home-collection-item-4.jpg);")
          p.rotated-text.rotated-text--left.home-collections-list__item-date апрель ‘16
          h1.home-collections-list__item-title Сила притяжения
        li.home-collections-list__item(style="background-image: url(img/client/home/home-collection-item-5.jpg);")
          p.rotated-text.rotated-text--left.home-collections-list__item-date апрель ‘16
          h1.home-collections-list__item-title Сила притяжения
        li.home-collections-list__item(style="background-image: url(img/client/home/home-collection-item-5.jpg);")
          p.rotated-text.rotated-text--left.home-collections-list__item-date апрель ‘16
          h1.home-collections-list__item-title Сила притяжения
    div.home-collections__link-layout
      a(href="/collections").btn-black.home-collections__link Смотреть коллекции


script.
  $(function(){
    changeRotatedTextWidth('.home-collections-list__item-date', '.home-collections-list__item');

    $('.home-collections-list').on('afterChange', function (event, slick, currentSlide, nextSlide) {
      changeRotatedTextWidth('.home-collections-list__item-date', '.home-collections-list__item');
      setTimeout(function () {
        $('.home-collections-list').slick("setPosition");
      }, 300)
      TweenMax.to($('.home-collections-list__item-date'), 1, {opacity: 1, ease: Power4.easeOut, delay: 0.3});
      TweenMax.to($('.home-collections-list__item-title'), 1, {opacity: 1, ease: Power4.easeOut, delay: 0.3});
    });
    $('.home-collections-list').on('beforeChange', function (event, slick, currentSlide, nextSlide) {
      TweenMax.to($('.home-collections-list__item-date'), 0.1, {opacity: 0, ease: Power4.easeOut});
      TweenMax.to($('.home-collections-list__item-title'), 0.1, {opacity: 0, ease: Power4.easeOut});
    });

    // home events slider
    $('.home-collections-list').slick({
      slidesToShow: 5,
      arrows: true,
      dots: false,
      draggable: true,
      accessibility: false,
      centerMode: true,
      variableWidth: true,
      infinite: true,
      swipeToSlide: true,
      responsive: [
        {
          breakpoint: 1260,
          settings: {
            slidesToShow: 3
          }
        },
        {
          breakpoint: 640,
          settings: {
            slidesToShow: 1
          }
        }
      ]
    });
  })