section.section-layout.home-action-layout
  div.home-action
    div.home-action__inner
      div.home-action__info
        h1.home-action__title Отличайтесь!
        h2.home-action__subtitle Черпайте вдохновение<br> из новых коллекций и материалов
      form(action="https://app.getresponse.com/add_subscriber.html" accept-charset="utf-8" method="post" onsubmit="homeActionForm();")#action-form.action__form
        div.action__form-input-layout
          .action__form-input-line
          label.action__form-label Имя
          input.action__form-input(type="text" name="first_name" required)
        div.action__form-input-layout
          .action__form-input-line
          label.action__form-label E-mail
          input.action__form-input(type="email" name="email" required)
        input(type='hidden', name='campaign_token', value='43sy9')
        input(type='hidden', name='forward_data', value='post')
        input(type='hidden', name='thankyou_url', value='https://erteqoob.com/')
        div.action__form-submit-layout
          .arrow-link
            button(type="submit").btn-black.arrow-link__text.action__form-submit подписаться
      .home-action__thankyou-layout
        .home-action__thankyou
          h1 Спасибо!
          p
            | Вы подписаны на новости ERTEQOOB.<br>
            | Мы будем держать тебя в курсе всех<br>
            | наших событий.


script.
  $(function(){
    $('.action__form-input').focus(function () {
      TweenMax.to($(this).closest('.action__form-input-layout').find('.action__form-label'), 0.3, {top: '-16px', scaleX: 0.75, scaleY: 0.75, ease: Power1.easeInOut});
      $(this).closest('.action__form-input-layout').addClass('action__form-input-layout--active');
      $(this).closest('.action__form-input-layout').find('.action__form-input-line').addClass('action__form-input-line--active');
    });
    $('.action__form-input').blur(function () {
      if($(this).val() == ''){
        TweenMax.to($(this).closest('.action__form-input-layout').find('.action__form-label'), 0.3, {
          top: '16px',
          scaleX: 1,
          scaleY: 1,
          ease: Power1.easeInOut
        });
        $(this).closest('.action__form-input-layout').find('.action__form-input-line').removeClass('action__form-input-line--active');
        $(this).closest('.action__form-input-layout').removeClass('action__form-input-layout--active');
      }
    });

    // action form submit
    //$("#action-form").submit(function (e) {
    //  e.preventDefault();
    //  $.ajax({
    //    type: "POST",
    //    url: 'https://app.getresponse.com/add_subscriber.html',
    //    dataType: 'jsonp',
    //    data: $("#action-form").serialize(),
    //    success: function (data) {
    //      console.log('ku');
    //      $.cookie('subscribed', 'true', 356);
    //      $('.home-action__info').fadeOut(400);
    //      $('.action__form').fadeOut(400);
    //      setTimeout(function(){
    //        $('.home-action__thankyou-layout').fadeIn(400);
    //      }, 400)
    //    }
    //  });
    //});

    // check if subscribed
    if ($.cookie("subscribed") == 'true') {
      $('.home-action__info').fadeOut();
      $('.action__form').fadeOut();
      setTimeout(function () {
        $('.home-action__thankyou-layout').fadeIn(200);
      }, 50)
    }
  })

  function homeActionForm() {
    $.cookie('subscribed', 'true', 356);
    $('.home-action__info').fadeOut(400);
    $('.action__form').fadeOut(400);
    setTimeout(function () {
      $('.home-action__thankyou-layout').fadeIn(400);
    }, 400)
  }