section.home-intro
  div.intro-logo
    div.intro-logo__circle.intro-logo__circle--1
    div.intro-logo__circle.intro-logo__circle--2
    div.intro-logo__circle.intro-logo__circle--3
    div.intro-logo__img
    div.intro-logo__title
    p.intro-logo__text  Создавайте новые<br> образы жизни