section#section-2.section-layout.home-nav-layout
  ul.home-nav
    li.home-nav__item
      .home-nav__layout
        a(href="/academy").home-nav__link
          p.home-nav__number 01
          .home-nav__image-inner
          .home-nav__title-wrapper
            p.home-nav__title Академия
    li.home-nav__item
      .home-nav__layout
        a(href="/courses").home-nav__link
          p.home-nav__number 02
          .home-nav__image-inner
          .home-nav__title-wrapper
            p.home-nav__title Курсы
    li.home-nav__item
      .home-nav__layout
        a(href="/philosophy").home-nav__link
          p.home-nav__number 03
          .home-nav__image-inner
          .home-nav__title-wrapper
            p.home-nav__title Философия
    li.home-nav__item
      .home-nav__layout
        a(href="/salons").home-nav__link
          p.home-nav__number 04
          .home-nav__image-inner
          .home-nav__title-wrapper
            p.home-nav__title Салоны
    li.home-nav__item
      .home-nav__layout
        a(href="/contacts").home-nav__link
          p.home-nav__number 05
          .home-nav__image-inner
          .home-nav__title-wrapper
            p.home-nav__title Контакты
