section.section-layout.home-collections-layout
  div.home-collections
    div.home-collections__title-layout
      div.home-collections__title
        h1.page-title коллекции
        h2.erteqoob-title
    div.home-collections__slider-layout
      ul.home-collections-list
        li.home-collections-list__item(style="background-image: url(img/client/home/home-collection-item-1.jpg);")
          p.rotated-text.rotated-text--left.home-collections-list__item-date апрель ‘16
          h1.home-collections-list__item-title Сила притяжения
        li.home-collections-list__item(style="background-image: url(img/client/home/home-collection-item-2.jpg);")
          p.rotated-text.rotated-text--left.home-collections-list__item-date апрель ‘16
          h1.home-collections-list__item-title Сила притяжения
        li.home-collections-list__item(style="background-image: url(img/client/home/home-collection-item-3.jpg);")
          p.rotated-text.rotated-text--left.home-collections-list__item-date апрель ‘16
          h1.home-collections-list__item-title Сила притяжения
        li.home-collections-list__item(style="background-image: url(img/client/home/home-collection-item-4.jpg);")
          p.rotated-text.rotated-text--left.home-collections-list__item-date апрель ‘16
          h1.home-collections-list__item-title Сила притяжения
        li.home-collections-list__item(style="background-image: url(img/client/home/home-collection-item-5.jpg);")
          p.rotated-text.rotated-text--left.home-collections-list__item-date апрель ‘16
          h1.home-collections-list__item-title Сила притяжения
    div.home-collections__link-layout
      a(href="#").btn-black.home-collections__link Смотреть коллекции


script.
  $(function(){
    changeRotatedTextWidth('.home-collections-list__item-date', '.home-collections-list__item');
  })