section.section-layout.home-founders-layout
  h1.page-title.home-founders-title основатели академии
  div.erteqoob-title.home-founders-subtitle
  ul.home-founders
    li.home-founder
      div.home-founder__image
      div.home-founder__preview
        div.home-founder__preview-position-layout
          h2.home-founder__preview-position директор<br> академии
        h1.home-founder__preview-name Елена<br> Кузьмичева
        div.home-founder__preview-star-layout
          div.home-founder__preview-star
      div.home-founder__inner
        div.home-founder__inner-text-layout
          div.home-founder__inner-text-block
            p.home-founder__inner-text «Качественный результат
            p.home-founder__inner-text состоит из множества деталей.
            p.home-founder__inner-text Стремись стать мастером
            p.home-founder__inner-text в каждой детали»
        div.home-founder__inner-title-layout
          h1.home-founder__inner-title Андрей Крупчинский
    li.home-founder
      div.home-founder__image
      div.home-founder__preview
        div.home-founder__preview-position-layout
          h2.home-founder__preview-position креативный<br> директор<br> академии
        h1.home-founder__preview-name Андрей<br> Крупчинский
        div.home-founder__preview-star-layout
          div.home-founder__preview-star
      div.home-founder__inner
        div.home-founder__inner-text-layout
          div.home-founder__inner-text-block
            p.home-founder__inner-text «Качественный результат
            p.home-founder__inner-text состоит из множества деталей.
            p.home-founder__inner-text Стремись стать мастером
            p.home-founder__inner-text в каждой детали»
        div.home-founder__inner-title-layout
          h1.home-founder__inner-title Андрей Крупчинский
    li.home-founder
      div.home-founder__image
      div.home-founder__preview
        div.home-founder__preview-position-layout
          h2.home-founder__preview-position арт-директор<br> академии
        h1.home-founder__preview-name Дмитрий<br> Кузьмичев
        div.home-founder__preview-star-layout
          div.home-founder__preview-star
      div.home-founder__inner
        div.home-founder__inner-text-layout
          div.home-founder__inner-text-block
            p.home-founder__inner-text «Качественный результат
            p.home-founder__inner-text состоит из множества деталей.
            p.home-founder__inner-text Стремись стать мастером
            p.home-founder__inner-text в каждой детали»
        div.home-founder__inner-title-layout
          h1.home-founder__inner-title Андрей Крупчинский
