extends ../../../layouts/main-admin

block contents
  // mixins
  include ./../../../partials/admin/courses/block-select-list
  include ./../../../partials/admin/courses/blocks/intro
  include ./../../../partials/admin/courses/blocks/foundation
  include ./../../../partials/admin/courses/blocks/masters
  include ./../../../partials/admin/courses/blocks/masters_2
  include ./../../../partials/admin/courses/blocks/skills
  include ./../../../partials/admin/courses/blocks/format
  include ./../../../partials/admin/courses/blocks/program
  include ./../../../partials/admin/courses/blocks/program_2
  include ./../../../partials/admin/courses/blocks/study
  include ./../../../partials/admin/courses/blocks/philosophy
  include ./../../../partials/admin/courses/blocks/teachers
  include ./../../../partials/admin/courses/blocks/action

  link(href="/plugins/bower_components/nestable/nestable.css" rel="stylesheet" type="text/css")

  // Preloader
  .preloader
    .cssload-speeding-wheel

  #wrapper
    include ./../../../partials/admin/header.jade
    include ./../../../partials/admin/aside-menu.jade

    // Page Content
    #page-wrapper
      .container-fluid
        .row.bg-title
          .col-lg-3.col-md-4.col-sm-4.col-xs-12
            h4.page-title Редактирование курса
          .col-lg-9.col-sm-8.col-md-8.col-xs-12
            ol.breadcrumb
              li
                a(href='/admin') Главная
              li
                a(href='/admin/courses') Курсы
              li.active Редактирование курса
        if (message)
          .row
            p(style='color:red;') #{message}

        .row
          form(method='post', action='/admin/courses/#{courses.courses_id}/edit' enctype='multipart/form-data')
            .white-box
              .row
                .col-xs-12.col-sm-6
                  .form-group
                    label Название курса:
                    input.form-control(name='name', required='' value=(courses.name || ''))
                .col-xs-12.col-sm-6
                  .form-group
                    label Ссылка:
                    input.form-control(name='path', required='' value=(courses.path || ''))
              .row
                .col-xs-12.col-sm-4
                  .form-group
                    label Тип(курс/трек):
                    input.form-control(name='course_type', value=(courses.course_type || ''))
                .col-xs-12.col-sm-4
                  .form-group
                    label Дата старта:
                    input.form-control(name='date', value=(courses.date || ''))
                .col-xs-12.col-sm-4
                  .form-group
                    label Продолжительность:
                    input.form-control(name='duration', value=(courses.duration || ''))
              .row
                .col-xs-12.col-sm-6
                  .form-group
                    label Сложность курса:
                    select.form-control(name='difficulty', required='')
                      option(value="beginner" selected= courses.difficulty == "beginner") Beginner
                      option(value="pro" selected= courses.difficulty == "pro") Pro
                .col-xs-12.col-sm-6
                  .form-group
                    label В разработке?:
                    select.form-control(name='development', required='')
                      option(value="false" selected= courses.development == "false") Нет
                      option(value="true" selected= courses.development == "true") Да
              .row
                .col-sm-6.col-sx-12
                  .form-group
                    label.control-label Превью курса (1440 x 300):
                    input(type="hidden" name="preview_path" value=(courses.preview || ''))
                    input#preview.dropify(type='file' name="preview" data-default-file=(courses.preview || '')  accept="image/jpg,image/jpeg,image/png,image/bmp" data-max-file-size="2M")
                    input(type="hidden" name="preview_deleted" value="false")


            br
            br


            ul.nav.customtab2.nav-tabs.courses-tabs(role="tablist")
              li.active(role="presentation")
                a(href="#kievTab" role="tab" data-toggle="tab" aria-expanded="true")
                  span Киев
              li(role="presentation")
                a(href="#kharkivTab" role="tab" data-toggle="tab" aria-expanded="false")
                  span Харьков
            .tab-content
              #kievTab.tab-pane.fade.active.in(role="tabpanel")
                .white-box
                  +block_select('kiev')
                  .row.m-t-20
                    .col-sm-6.col-sx-12
                      - var kievCounter = courses.pages[0].blocks.length
                      button.addBlock.btn.waves-effect.waves-light(type='button' data-city="kiev" data-counter="#{kievCounter}")
                        span.btn-label
                          i.fa.icon-plus
                        | Добавить блок

                #kievCoursesBlocks.dd.myadmin-dd.courses-blocks
                  each item, index in courses.pages[0].blocks
                    case item.block_type
                      when 'block_intro'
                        +block_intro(index, 'kiev', item)
                      when 'block_foundation'
                        +block_foundation(index, 'kiev', item)
                      when 'block_masters'
                        +block_masters(index, 'kiev', item)
                      when 'block_masters_2'
                        +block_masters_2(index, 'kiev', item)
                      when 'block_skills'
                        +block_skills(index, 'kiev', item)
                      when 'block_format'
                        +block_format(index, 'kiev', item)
                      when 'block_program'
                        +block_program(index, 'kiev', item)
                      when 'block_program_2'
                        +block_program_2(index, 'kiev', item)
                      when 'block_study'
                        +block_study(index, 'kiev', item)
                      when 'block_philosophy'
                        +block_philosophy(index, 'kiev', item)
                      when 'block_teachers'
                        +block_teachers(index, 'kiev', item)
                      when 'block_action'
                        +block_action(index, 'kiev', item)


              #kharkivTab.tab-pane.fade(role="tabpanel")
                .white-box
                  +block_select('kharkiv')
                  .row.m-t-20
                    .col-sm-6.col-sx-12
                      - var kharkivCounter = courses.pages[1].blocks.length
                      button.addBlock.btn.waves-effect.waves-light(type='button' data-city="kharkiv" data-counter="#{kharkivCounter}")
                        span.btn-label
                          i.fa.icon-plus
                        | Добавить блок

                #kharkivCoursesBlocks.dd.myadmin-dd.courses-blocks
                  ol.dd-list.sortable
                    each item, index in courses.pages[1].blocks
                      case item.block_type
                        when 'block_intro'
                          +block_intro(index, 'kharkiv', item)
                        when 'block_foundation'
                          +block_foundation(index, 'kharkiv', item)
                        when 'block_masters'
                          +block_masters(index, 'kharkiv', item)
                        when 'block_masters_2'
                          +block_masters_2(index, 'kharkiv', item)
                        when 'block_skills'
                          +block_skills(index, 'kharkiv', item)
                        when 'block_format'
                          +block_format(index, 'kharkiv', item)
                        when 'block_program'
                          +block_program(index, 'kharkiv', item)
                        when 'block_program_2'
                          +block_program_2(index, 'kharkiv', item)
                        when 'block_study'
                          +block_study(index, 'kharkiv', item)
                        when 'block_philosophy'
                          +block_philosophy(index, 'kharkiv', item)
                        when 'block_teachers'
                          +block_teachers(index, 'kharkiv', item)
                        when 'block_action'
                          +block_action(index, 'kharkiv', item)



            .clear
            br
            br

            button.btn(type='submit') Сохранить

    include ./../../../partials/admin/footer.jade

    script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
    script(src="/js/pages/admin/admin-courses-edit.js")
    script(type="text/javascript", src='/plugins/bower_components/tinymce_new/tinymce.min.js')
    script(type='text/javascript').
      var $ = jQuery.noConflict();

      var initTinyMCE = function () {
        if ($(".mymce").length > 0) {
          tinymce.init({
            selector: ".mymce",
            //theme: "modern",
            height: 300,
            //file_browser_callback: function (field_name, url, type, win) {
            //  if (type == 'image') $('#img_editor_upload input').click();
            //},
            file_browser_callback_types: 'image',
            images_upload_url: '/uploadMCE',
            automatic_uploads: true,
            plugins: [
              "advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker"
              , "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking"
              , "save table contextmenu directionality emoticons template paste textcolor"
            ],
            toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | l      ink image | print preview media fullpage | forecolor backcolor emoticons",
          });
        }
      };

      $(document).ready(function () {
        initTinyMCE();
      });
