section.section-layout.home-teachers#home-teachers
  div.page-title
    .page-title__logo
    h1 Кто мы такие,<br> чтобы Вас учить

  ul.home-teachers-list
    li.home-teachers-list__item
      div.home-teachers-list__image
      div.home-teachers-list__name-layout
        h1.home-teachers-list__name Андрей<br> Крупчинский
          .home-teachers-list__star
    li.home-teachers-list__item
      div.home-teachers-list__image
      div.home-teachers-list__name-layout
        h1.home-teachers-list__name Дмитрий<br> Кузьмичев
          .home-teachers-list__star

  div.home-teachers-about
    .home-teachers-about__line
    p.home-teachers-about__text.home-teachers-about__text--sm
      | _<br>
      br
      | Сооснователи Академии<br>
      | парикмахерских услуг и сети салонов<br>
      | ERTEQOOB, одержимые дизайном<br>
      | волос профессионалы
    p.home-teachers-about__text
      | Сооснователи<br>
      | Академии парикмахерских услуг<br>
      | и сети салонов ERTEQOOB
    div.home-teachers-about__video-block
      div.home-teachers-about__video-icon
      p.home-teachers-about__video-text посмотрите<br> нашими глазами
    p.home-teachers-about__text
      | Одержимые дизайном волос<br>
      | профессионалы

