section.section-layout.section.home-plan#home-plan
  div.page-title
    .page-title__logo
    h1 превратите работу<br> в удовольствие
  p.home-plan__disclaimer “Займись любимым делом, и ты не будешь<br class="br-sm"> работать ни одного дня в своей жизни”,<br> как говорил Конфуций.

  div.home-plan-info-layout
    div.home-plan-info
      div.home-plan-info__left
        div.home-plan-info__block
          h1.home-plan-info__block-title Что Вы<br class="br-lg"> получите
            .dots.home-plan-dots-1
          h2.home-plan-info__block-subtitle План достижения
          div.home-plan-info__block-text
            h2 ТОП-уровень
            div.home-plan-info__block-text-number
              h3 за
              h1 3
              h4 ГОДА
        ul.home-plan-info__list
          li.home-plan-info__list-item
            p.home-plan-info__list-number 01.
            p.home-plan-info__list-text Инструкцию как<br> нравиться клиентам
          li.home-plan-info__list-item
            p.home-plan-info__list-number 02.
            p.home-plan-info__list-text Реальные примеры<br> из практики авторов
          li.home-plan-info__list-item
            p.home-plan-info__list-number 03.
            p.home-plan-info__list-text Более широкий простор<br> для творчества
          li.home-plan-info__list-item
            p.home-plan-info__list-number 04.
            p.home-plan-info__list-text Мотивацию на работу<br> и вдохновение
      div.home-plan-info__right
        div.home-plan-info__block
          h1.home-plan-info__block-title Что Вы<br> отдадите взамен
            .dots.home-plan-dots-2
          h2.home-plan-info__block-subtitle Это бесплатно!
          div.home-plan-info__block-text
            div.home-plan-info__block-text-number
              span
                h3 Только  
                span
                  h1 40
                  h4 мин.
                h3 Вашего времени
              p и практика<br> в своём салоне

  a(href="#home-action").link-smooth.btn.home-plan__btn Принять участие