section.section-layout.section.home-program#home-program
  div.page-title
    .page-title__logo
    h1 Программа<br> мастер-класса

  ul.home-program-list
    li.home-program-list__item
      .home-program-list__circles
        .circle.home-program-list__circle.home-program-list__circle--1
        .circle.home-program-list__circle.home-program-list__circle--2
        .circle.home-program-list__circle.home-program-list__circle--3
      p.home-program-list__info
        | какие возможности
        span даёт профессия мастера-парикмахера
    li.home-program-list__item
      .home-program-list__circles
        .circle.home-program-list__circle.home-program-list__circle--1
        .circle.home-program-list__circle.home-program-list__circle--2
        .circle.home-program-list__circle.home-program-list__circle--3
      p.home-program-list__info
        | как правильно и безболезненно
        span для клиента поднимать цену
    li.home-program-list__item
      .home-program-list__circles
        .circle.home-program-list__circle.home-program-list__circle--1
        .circle.home-program-list__circle.home-program-list__circle--2
        .circle.home-program-list__circle.home-program-list__circle--3
      p.home-program-list__info
        | как и когда можно достичь
        span уважения и популярности
    li.home-program-list__item
      .home-program-list__circles
        .circle.home-program-list__circle.home-program-list__circle--1
        .circle.home-program-list__circle.home-program-list__circle--2
        .circle.home-program-list__circle.home-program-list__circle--3
      p.home-program-list__info
        | куда можно расти в индустрии
        span и какие бывают направления
    li.home-program-list__item
      .home-program-list__circles
        .circle.home-program-list__circle.home-program-list__circle--1
        .circle.home-program-list__circle.home-program-list__circle--2
        .circle.home-program-list__circle.home-program-list__circle--3
      p.home-program-list__info
        | как создать и не потерять
        span свой стиль и почерк мастера
    li.home-program-list__item
      .home-program-list__circles
        .circle.home-program-list__circle.home-program-list__circle--1
        .circle.home-program-list__circle.home-program-list__circle--2
        .circle.home-program-list__circle.home-program-list__circle--3
      p.home-program-list__info
        | как планировать образование
        span и как часто можно учиться
    li.home-program-list__item
      .home-program-list__circles
        .circle.home-program-list__circle.home-program-list__circle--1
        .circle.home-program-list__circle.home-program-list__circle--2
        .circle.home-program-list__circle.home-program-list__circle--3
      p.home-program-list__info
        | как влюбиться в своё дело
        span на всю жизнь и что это принесёт
