section.section-layout.home-knowledge#home-knowledge
  .home-knowledge-block
    .home-knowledge-block__circles
      .circle.home-knowledge-block__circle.home-knowledge-block__circle--1
      .circle.home-knowledge-block__circle.home-knowledge-block__circle--2
      .circle.home-knowledge-block__circle.home-knowledge-block__circle--3
      .home-knowledge-block__line
    div.home-knowledge-block__info
      h1.home-knowledge-block__title Почему мы отдаём<br> уникальные знания<br class="br-sm"> бесплатно
      h2.home-knowledge-block__subtitle Влюблять мастеров<br class="br-sm"> в профессию -<br class="br-lg-md"> важная<br class="br-sm"> составляющая нашей<br class="br-sm"> жизни.

      div.home-knowledge-block__points
        div.home-knowledge-block__point
          p Мы меняем отношение общественности к нашей профессии,
          p мы создаём особую субкультуру профессионалов, вместе
          p делаем новые открытия, вдохновляемся и творим.
        div.home-knowledge-block__point
          p Так, общими усилиями, мы развиваем
          p культуру парикмахерского искусства
          p в целом.

      div.home-knowledge-block__points.home-knowledge-block__points--sm
        div.home-knowledge-block__point
          p Мы меняем отношение общественности
          p к нашей профессии, мы создаём
          p особую субкультуру профессионалов,
          p вместе делаем новые открытия,
          p вдохновляемся и творим.
        div.home-knowledge-block__point
          p Так, общими усилиями,
          p мы развиваем культуру парикмахерского
          p искусства в целом.
