section.section-layout.home-action#home-action
  div.home-action-title-layout
    h2.home-action-subtitle учись.
      //.dots.home-active-dots-1
      .vertical-line.home-activate-line-1
    h1.home-action-title вдохновляйся.
      //.dots.home-active-dots-2
      .vertical-line.home-activate-line-2
    h2.home-action-subtitle Твори.
      //.dots.home-active-dots-3
      .vertical-line.home-activate-line-3

  div.home-action-form-layout
    .home-action-wristband
    div.home-action-form
      h1.home-action-form__title Регистрация<br class="br-sm"> на мастер-класс
      ul.home-action-form__formgroups
        li.home-action-form__formgroup
          label Имя
          input(type="text" placeholder="Вячеслав Бойко")
        li.home-action-form__formgroup
          label E-mail
          input(type="text" placeholder="youraddress@gmail.com")
        li.home-action-form__formgroup
          label телефон
          input(type="text" placeholder="+38 (0…")
      .home-action-scissors
      button(type="submit").btn.btn--black.home-action-form__submit зарегистрироваться
      p.home-action-form__disclaimer Вы получите письмо на указанный email<br> со всеми деталями и ссылкой на мастер-класс
