section.section-layout.home-skills#home-skills
  div.page-title
    .page-title__logo
    h2 Мастер-класс
    h1 Для начинающих<br> и практикующих мастеров

  ul.home-skills-list
    li.home-skills-list__item.home-skills-list__item--1
      div.home-skills-list__item-letter
        svg(width='168px', height='336px', viewbox='0 0 168 336', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
          // Generator: Sketch 46.2 (44496) - http://www.bohemiancoding.com/sketch
          desc Created with Sketch.
          defs
            rect#path-1(x='0', y='0', width='185', height='336')
          g#Page-1(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
            g#bg(transform='translate(-77.000000, -303.000000)')
              g#column-1(transform='translate(22.000000, 246.000000)')
                g#graphics
                  g#Group-2(transform='translate(130.500000, 225.000000) scale(-1, 1) translate(-130.500000, -225.000000) translate(38.000000, 57.000000)')
                    mask#mask-2(fill='white')
                      use(xlink:href='#path-1')
                    g#Rectangle-7
                    g#Group(opacity='0.170000002', mask='url(#mask-2)')
                      g(transform='translate(-168.000000, 0.000000)')
                        circle#Oval-2(stroke='#979797', stroke-width='50', fill='none', cx='168', cy='168', r='143')
                        rect#Rectangle-6(stroke='none', fill='#979797', fill-rule='evenodd', x='92', y='142', width='224', height='50')
      div.home-skills-list__item-inner
        p.home-skills-list__item-number 01.
        h2.home-skills-list__item-title Уровень Вашего мастерства<br> сейчас не имеет значения
        p.home-skills-list__item-text После обучения Вы повысите их<br> уровень и в смысле более креативных<br> образов, и в смысле оплаты
      .circle.home-skills-list__item-circle
      .home-skills-list__item-line
      .home-skills-list__item-line-horizontal
    li.home-skills-list__item.home-skills-list__item--2
      div.home-skills-list__item-letter
        svg(width='337px', height='193px', viewbox='0 0 337 193', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
          // Generator: Sketch 46.2 (44496) - http://www.bohemiancoding.com/sketch
          desc Created with Sketch.
          defs
            rect#path-1(x='0', y='0', width='209', height='336')
          g#Page-1(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd', opacity='0.600000024')
            g#bg(transform='translate(-555.000000, -296.000000)')
              g#column-2(transform='translate(362.000000, 104.000000)')
                g#graphics
                  g#letter(transform='translate(361.500000, 280.000000) scale(1, -1) rotate(90.000000) translate(-361.500000, -280.000000) translate(257.000000, 112.000000)')
                    mask#mask-2(fill='white')
                      use(xlink:href='#path-1')
                    g#Rectangle-7
                    g#Group(opacity='0.170000002', mask='url(#mask-2)')
                      g(transform='translate(-144.000000, 0.000000)')
                        circle#Oval-2(stroke='#979797', stroke-width='50', fill='none', cx='168', cy='168', r='143')
                        rect#Rectangle-6(stroke='none', fill='#979797', fill-rule='evenodd', transform='translate(169.500000, 175.000000) rotate(90.000000) translate(-169.500000, -175.000000) ', x='30', y='150', width='279', height='50')
      div.home-skills-list__item-inner
        p.home-skills-list__item-number 02.
        h2.home-skills-list__item-title Какие у Вас клиенты<br class="br-lg-md"> сейчас -<br> тоже не важно
        p.home-skills-list__item-text После обучения Вы повысите их<br> уровень и в смысле более креативных<br> образов, и в смысле оплаты
      .circle.home-skills-list__item-circle.home-skills-list__item-circle--1
      .circle.home-skills-list__item-circle.home-skills-list__item-circle--2
      .circle.home-skills-list__item-circle.home-skills-list__item-circle--3
      .home-skills-list__item-line
    li.home-skills-list__item.home-skills-list__item--3
      div.home-skills-list__item-letter
        svg(width='184px', height='336px', viewbox='0 0 184 336', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
          // Generator: Sketch 46.2 (44496) - http://www.bohemiancoding.com/sketch
          desc Created with Sketch.
          defs
            rect#path-1(x='0', y='0', width='185', height='336')
          g#Page-1(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
            g#bg(transform='translate(-1200.000000, -303.000000)')
              g#column-3(transform='translate(972.000000, 199.000000)')
                g#graphics
                  g#letter(transform='translate(228.000000, 104.000000)')
                    mask#mask-2(fill='white')
                      use(xlink:href='#path-1')
                    g#Rectangle-7
                    g#Group(opacity='0.170000002', mask='url(#mask-2)')
                      g(transform='translate(-168.000000, 0.000000)')
                        circle#Oval-2(stroke='#979797', stroke-width='50', fill='none', cx='168', cy='168', r='143')
                        rect#Rectangle-6(stroke='none', fill='#979797', fill-rule='evenodd', x='92', y='142', width='224', height='50')
                        rect#Rectangle-6-Copy(stroke='none', fill='#979797', fill-rule='evenodd', transform='translate(304.000000, 287.000000) rotate(45.000000) translate(-304.000000, -287.000000) ', x='262', y='262', width='84', height='50')
      div.home-skills-list__item-inner
        p.home-skills-list__item-number 03.
        h2.home-skills-list__item-title Сколько времени Вы<br>в профессии – не играет роли
        p.home-skills-list__item-text После обучения Вы повысите их<br> уровень и в смысле более креативных<br> образов, и в смысле оплаты
      .circle.home-skills-list__item-circle
      .home-skills-list__item-line
      .home-skills-list__item-line-horizontal
