section.section-layout.home-cases#home-cases
  div.page-title
    .page-title__logo
    h1 Реальные кейсы<br> и результаты

  p.home-cases__intro-text
    | За 15 лет работы в сфере парикмахерских услуг<br>
    | мы из начинающих превратились<br>
    | в востребованных профессионалов:

  div.home-cases__timeline-layout
    div.home-cases__timeline
      .home-cases__timeline-distance
        .home-cases__timeline-distance-start
        .home-cases__timeline-distance-line
          .home-cases__timeline-distance-line-arrow
          .home-cases__timeline-distance-line-arrow
          .home-cases__timeline-distance-line-arrow
        .home-cases__timeline-distance-finish
      ul.home-cases__timeline-list
        li.home-cases__timeline-item
          p.home-cases__timeline-item-number 01.
          div.home-cases__timeline-item-text совершили и исправили<br> много ошибок
            .home-cases__timeline-item-line
              .home-cases__timeline-item-dot
        li.home-cases__timeline-item
          p.home-cases__timeline-item-number 02.
          div.home-cases__timeline-item-text сделали интересные<br> открытия
            .home-cases__timeline-item-line
              .home-cases__timeline-item-dot
        li.home-cases__timeline-item
          p.home-cases__timeline-item-number 03.
          div.home-cases__timeline-item-text нашли неиссякаемые ресурсы<br> вдохновения
            .home-cases__timeline-item-line
              .home-cases__timeline-item-dot
        li.home-cases__timeline-item
          p.home-cases__timeline-item-number 04.
          div.home-cases__timeline-item-text и  научились творческой<br> смелости
            .home-cases__timeline-item-line
              .home-cases__timeline-item-dot

  div.home-cases__outro-text
    p Теперь,
    p достигнув определённого уровня успеха,
    p мы хотим поделиться своим опытом,
    p чтобы вы прошли этот путь намного быстрее
    div.home-cases__outro-circles
      .circle.home-cases__outro-circle.home-cases__outro-circle--1
      .circle.home-cases__outro-circle.home-cases__outro-circle--2
      .circle.home-cases__outro-circle.home-cases__outro-circle--3

  div.home-cases__outro-text.home-cases__outro-text--sm
    p Теперь, достигнув определённого
    p уровня успеха, мы хотим поделиться
    p своим опытом, чтобы вы прошли
    p этот путь намного быстрее
    div.home-cases__outro-circles
      .circle.home-cases__outro-circle.home-cases__outro-circle--1
      .circle.home-cases__outro-circle.home-cases__outro-circle--2
      .circle.home-cases__outro-circle.home-cases__outro-circle--3

