ul.blog-categories
  li.blog-categories__item
    a.blog-categories__link(href='#', style="background-image: url(/img/client/Blog/category-1.png)")
      p.blog-categories__title События
  li.blog-categories__item
    a.blog-categories__link(href='#', style="background-image: url(/img/client/Blog/category-2.png)")
      p.blog-categories__title обучение
  li.blog-categories__item
    a.blog-categories__link(href='#', style="background-image: url(/img/client/Blog/category-3.png)")
      p.blog-categories__title make-up
  li.blog-categories__item
    a.blog-categories__link(href='#', style="background-image: url(/img/client/Blog/category-4.png)")
      p.blog-categories__title стиль
  li.blog-categories__item
    a.blog-categories__link(href='#', style="background-image: url(/img/client/Blog/category-5.png)")
      p.blog-categories__title визаж
  li.blog-categories__item
    a.blog-categories__link(href='#', style="background-image: url(/img/client/Blog/category-6.png)")
      p.blog-categories__title тренды
