section.section-layout.sp-foundation.sp-foundation--adaptation
  div.page-title
    .page-title__logo
    h2 Адаптация - процесс создания
    h1 нужной клиенту<br> формы

  ul.sp-foundation-list
    li.sp-foundation-list__item
      div.sp-foundation-list__item-title эксклюзивный<br> мастер-класс
        .sp-foundation-list__item-dots
      p.sp-foundation-list__item-text для профессионального<br> роста
    li.sp-foundation-list__item
      div.sp-foundation-list__item-title сервис
        .sp-foundation-list__item-dots
      p.sp-foundation-list__item-text и коммуникация с клиентом -<br> основные темы трека
    li.sp-foundation-list__item
      div.sp-foundation-list__item-title понимание
        .sp-foundation-list__item-dots
      p.sp-foundation-list__item-text пропорций клиента<br> увеличит Вашу экспертность
    li.sp-foundation-list__item
      div.sp-foundation-list__item-title безошибочное<br> создание
        .sp-foundation-list__item-dots
      p.sp-foundation-list__item-text нужной клиенту формы<br> станет результатом
