section.section-layout.sp-masters.sp-masters--adaptation
  div.page-title
    .page-title__logo
    h2 Трек Адаптация
    h1 подходит<br> для мастеров:

  ul.sp-masters-list
    li.sp-masters-list__item
      p.sp-masters-list__item-text
        span 01.  профессионалу
        | необходимо<br>
        | находиться в непрерывном<br>
        | процессе саморазвития
      .sp-masters-list__item-dot
    li.sp-masters-list__item
      p.sp-masters-list__item-text
        span 02.  начинающему
        | трек рекомендуется после<br>
        | прохождения Базового курса
      .sp-masters-list__item-dot
    li.sp-masters-list__item
      p.sp-masters-list__item-text
        span 03.  менеджменту
        | салонов, для предвосхищения<br>
        | ожиданий клиентов
      .sp-masters-list__item-dot