.popup {
 width: 100%;
 height: 100%;
 min-height: 0;
 display: none;
 background: $color-black;
 position: fixed;
 top: 0;
 left: 0;
 z-index: 999;
}

.city-switcher {
 height: 100%;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 text-align: center;
 @include mobile {
  justify-content: flex-start;
  padding-top: 118px;
 }

 .city-switcher__title {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 6px;
  line-height: 60px;
  text-transform: uppercase;
  position: relative;
  @include tablet {
   font-size: 48px;
  }
  @include mobile {
   font-size: 22px;
   letter-spacing: 3.3px;
   line-height: 33px;
  }
  &:before {
   content: '';
   width: 125px;
   height: 70px;
   background: url(../../img/popups/city-switcher/city-switcher-dots.png) no-repeat center / contain;
   position: absolute;
   top: -50px;
   left: 0;
   @include mobile {
    width: 90px;
    height: 51px;
   }
  }
 }
 .city-switcher__subtitle {
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 7px;
  line-height: 23px;
  text-transform: uppercase;
  margin-top: 41px;
  @include tablet {
   font-size: 14px;
   line-height: 30px;
   letter-spacing: 6px;
   margin-top: 97px;
  }
  @include mobile {
   color: $color-nobel;
   font-size: 9px;
   letter-spacing: 3.86px;
   line-height: 15.3px;
   margin-top: 32px;
  }
 }

 .city-switcher__btns {
  display: flex;
  justify-content: center;
  margin-top: 54px;
  @include tablet {
   margin-top: 67px;
  }
  @include mobile {
   margin-top: 44px;
  }

  .city-switcher__btn {
   width: 144px;
   margin: 0 13px;
   padding: 13px 0;
   text-align: center;
   @include tablet {
    width: 150px;
    margin: 0 20px;
   }
   @include mobile {
    width: 115px;
    margin: 0 5px;
   }
  }
 }

 .city-switcher__link {
  margin-top: 56px;
  @include tablet {
   margin-top: 73px;
  }
  @include mobile {
   margin-top: 41px;
  }
 }

 .city-switcher__title, .city-switcher__subtitle, .city-switcher__btns, .city-switcher__link {
  position: relative;
  z-index: 3;
 }

 .city-switcher__bracelet-1, .city-switcher__bracelet-2, .city-switcher__holder-1, .city-switcher__holder-2, .city-switcher__brush-1, .city-switcher__shears-1 {
  position: absolute;
  z-index: 1;
 }
 .city-switcher__bracelet-1 {
  width: 188px;
  height: 174px;
  background: url(../../img/popups/city-switcher/bracelet-1.png) no-repeat center bottom / contain;
  bottom: 0;
  right: 31%;
  @include tablet-mobile {
   display: none;
  }
 }
 .city-switcher__bracelet-2 {
  width: 282px;
  height: 120px;
  background: url(../../img/popups/city-switcher/bracelet-2.png) no-repeat center / contain;
  top: 45px;
  right: 15.2%;
  @include tablet-mobile {
   background-image: url(../../img/popups/city-switcher/bracelet-2-mobile.png);
  }
  @include tablet {
   width: 188px;
   height: 236px;
   top: 11.79%;
   right: 4.625%;
  }
  @include mobile {
   width: 81px;
   height: 102px;
   top: 24px;
   right: -20px;
  }
 }
 .city-switcher__holder-1 {
  width: 99px;
  height: 216px;
  background: url(../../img/popups/city-switcher/holder-1.png) no-repeat center / contain;
  top: 45px;
  left: 23%;
  @include tablet {
   top: 11.79%;
   left: 9%;
  }
  @include mobile {
   width: 44px;
   height: 95px;
   top: 25px;
   left: 50px;
  }
 }
 .city-switcher__holder-2 {
  width: 173px;
  height: 110px;
  background: url(../../img/popups/city-switcher/holder-2.png) no-repeat center / contain;
  top: 44%;
  left: 38px;
  @include tablet {
   top: 47.26%;
   left: 0;
  }
  @include mobile {
   display: none;
  }
 }
 .city-switcher__brush-1 {
  width: 413px;
  height: 322px;
  background: url(../../img/popups/city-switcher/brush-1.png) no-repeat center / contain;
  bottom: 0;
  left: 13.2%;
  @include tablet-mobile {
   left: 2%;
  }
  @include mobile {
   width: 150px;
   height: 115px;
   bottom: -20px;
   left: 15px;
  }
 }
 .city-switcher__shears-1 {
  width: 427px;
  height: 387px;
  background: url(../../img/popups/city-switcher/shears-1.png) no-repeat center / contain;
  top: 27.8%;
  right: 0;
  @include tablet {
   top: auto;
   bottom: 17.42%;
  }
  @include mobile {
   width: 143px;
   height: 206px;
   bottom: 12.5%;
   right: -20px;
  }
 }
}

.city-switcher__logo {
 width: 398px;
 height: 398px;
 position: absolute;
 top: calc(50% - 199px);
 left: calc(50% - 199px);
 @include mobile {
  width: 222px;
  height: 222px;
  top: 129px;
  left: calc(50% - 111px);
 }

 .city-switcher__logo-image {
  width: 100%;
  height: 100%;
  background: url(../../img/logo-gray.svg) no-repeat center / contain;
  opacity: 0.06;
  position: absolute;
  top: 0;
  left: 0;
 }

 .city-switcher__logo-circle-1 {
  width: 350px;
  height: 350px;
  top: calc(50% - 175px);
  left: calc(50% - 175px);
  @include mobile {
   width: 196px;
   height: 196px;
   top: calc(50% - 98px);
   left: calc(50% - 98px);
  }
 }
 .city-switcher__logo-circle-2 {
  width: 200px;
  height: 200px;
  top: calc(50% - 100px);
  left: calc(50% - 100px);
  @include mobile {
   width: 112px;
   height: 112px;
   top: calc(50% - 56px);
   left: calc(50% - 56px);
  }
 }
 .city-switcher__logo-circle-3 {
  width: 88px;
  height: 88px;
  top: calc(50% - 44px);
  left: calc(50% - 44px);
  @include mobile {
   width: 48px;
   height: 48px;
   top: calc(50% - 24px);
   left: calc(50% - 24px);
  }
 }
}

.register-step-1 {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;

 .register-step-1__title {


  span {
   @include mobile{
    font-size: 12px;
    line-height: 17px;
    letter-spacing: normal;
   }
  }
 }

 .register-step-1__select {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 49px;
  @include laptop {
   margin-top: 30px;
  }
  @include tablet {
   margin-top: 38px;
  }
  @include mobile {
   display: none;
  }

  p {
   color: $color-black;
   font-size: 14px;
   font-weight: 700;
   line-height: 20px;
   text-transform: uppercase;
   letter-spacing: 2px;
  }
  select {
   height: 20px;
   width: 120px;
   background: transparent;
   border: none;
   color: $color-silver-chalice-2;
   font-size: 14px;
   font-weight: 700;
   line-height: 16px;
   text-transform: uppercase;
   letter-spacing: 2px;
   padding: 0 22px 4px 0;
  }
 }

 .register-step-1__groups {
  margin-top: 121px;
  @include laptop {
   margin-top: 92px;
  }
  @include tablet {
   margin-top: 150px;
  }
  @include mobile {
   width: 270px;
   margin-top: 56px;
  }
 }

 .register-step-1__subtitle {
  display: none;
  color: $color-black;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  margin-bottom: 50px;
  @include tablet-mobile {
   display: block;
  }
  @include mobile {
   font-size: 10px;
   line-height: 15px;
   letter-spacing: 1px;
  }
 }

 .register-step-1__input {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 45px;
  @include mobile {
   justify-content: flex-end;
  }
  &:last-child {
   margin-bottom: 0;
  }

  label, p {
   color: $color-black;
   font-size: 14px;
   font-weight: 700;
   line-height: 20px;
   text-transform: uppercase;
   letter-spacing: 2px;
   padding-bottom: 3px;
   @include mobile {
    font-size: 10px;
    line-height: 15px;
    letter-spacing: 1px;
    padding: 1px 0 4px;
   }

   span {
    @include tablet-mobile {
     display: none;
    }
   }
  }
  input {
   height: auto;
   border: none;
   border-bottom: 2px solid $color-black;
   color: $color-black;
   font-size: 15px;
   line-height: 15px;
   text-align: center;
   margin: 0 11px 0 22px;
   padding: 3px 0 2px;
   @include mobile {
    font-size: 12px;
    line-height: 12px;
    padding: 4px 0 4px;
    margin: 0 9px 0 11px;
   }
  }
  &.register-step-1__input--name {

   input {
    width: 375px;
    @include mobile {
     width: 170px;
    }
   }
  }
  &.register-step-1__input--phone {

   label {
    @include mobile {
     width: 100%;
     margin-bottom: 13px;
    }
   }

   input {
    width: 255px;
    @include tablet {
     width: 190px;
    }
    @include mobile {
     width: 170px;
    }
   }
  }
  &.register-step-1__input--email {

   label {
    @include tablet-mobile {
     width: 100%;
    }
    @include tablet {
     text-align: center;
     margin-bottom: 40px;
    }
    @include mobile {
     margin-bottom: 13px;
    }
   }

   input {
    width: 210px;
    @include tablet {
     width: 270px;
    }
    @include mobile {
     width: 170px;
    }
   }
  }
 }

 .register-step-1__submit {
  margin: 120px auto 0;
  @include laptop {
   margin-top: 91px;
  }
  @include tablet {
   margin-top: 150px;
  }
  @include mobile {
   background: $color-black;
   color: $color-white;
   margin-top: 45px;

   svg path {
    fill: $color-white;
   }
  }
 }
}

.register-step-2 {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 background: url(../../img/popups/register-step-2.png) no-repeat center , $color-white;
 @include tablet-mobile {
  background: url(../../img/popups/register-step-2-tablet.png) no-repeat right bottom , $color-white;
 }

 .register-step-2__title {

 }

 .register-step-2__info {
  width: 525px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 80px;
  @include tablet-mobile {
   flex-direction: column;
   justify-content: flex-start;
  }
  @include tablet {
   width: 375px;
   margin-top: 100px;
  }
  @include mobile {
   width: 200px;
   margin-top: 46px;
  }

  .register-step-2__info-title {
   color: $color-nobel;
   font-size: 13px;
   line-height: 22px;
   @include tablet {
    font-size: 17px;
    line-height: 22px;
   }
   @include mobile {
    font-size: 12px;
    line-height: 17px;
   }
  }
  .register-step-2__info-list {
   @include tablet {
    margin-top: 22px;
   }
   @include mobile {
    margin-top: 18px;
   }

   li {
    color: $color-mine-shaft;
    font-size: 13px;
    font-weight: 700;
    line-height: 22px;
    @include tablet {
     font-size: 17px;
     line-height: 25.5px;
    }
    @include mobile {
     font-size: 12px;
     line-height: 17px;
    }
   }
  }
 }

 .register-step-2__subtitle {
  margin-top: 90px;
  @include tablet {
   margin-top: 100px;
  }
  @include mobile {
   margin-top: 55px;
  }
 }

 .register-step-2__btn {
  margin-top: 30px;
  @include tablet {
   margin-top: 50px;
  }
  @include mobile {
   margin-top: 22px;
  }
 }

 .register-step-2__disclaimer {
  color: $color-nobel;
  font-size: 13px;
  line-height: 22px;
  text-align: center;
  margin-top: 30px;
  @include tablet {
   font-size: 15px;
   margin-top: 50px;
  }
  @include mobile {
   margin-top: 22px;
  }
 }
}

.register-step-3 {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 background: url(../../img/popups/register-step-3-curve.svg) no-repeat center top 55%, $color-white;
 @include tablet-mobile {
  background: url(../../img/popups/register-step-3-curve-tablet.svg) no-repeat center top 55%, $color-white;
 }

 .register-step-3__circles {
  width: 720px;
  height: 720px;
  position: absolute;
  top: calc(50% - 360px);
  left: calc(50% - 360px);
  @include tablet {
   width: 1144px;
   height: 1144px;
   top: calc(50% - 572px);
   left: calc(50% - 572px);
  }
  @include mobile {
   width: 432px;
   height: 432px;
   top: calc(50% - 216px);
   left: calc(50% - 216px);
  }

  .register-step-3__circle {
   border: 1px solid $color-mine-shaft-5-007;

   &.register-step-3__circle--1 {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
   }
   &.register-step-3__circle--2 {
    width: 580px;
    height: 580px;
    top: calc(50% - 290px);
    left: calc(50% - 290px);
    @include tablet {
     width: 922px;
     height: 922px;
     top: calc(50% - 461px);
     left: calc(50% - 461px);
    }
    @include mobile {
     width: 348px;
     height: 348px;
     top: calc(50% - 174px);
     left: calc(50% - 174px);
    }
   }
   &.register-step-3__circle--3 {
    width: 450px;
    height: 450px;
    top: calc(50% - 225px);
    left: calc(50% - 225px);
    @include tablet {
     width: 714px;
     height: 714px;
     top: calc(50% - 357px);
     left: calc(50% - 357px);
    }
    @include mobile {
     width: 270px;
     height: 270px;
     top: calc(50% - 135px);
     left: calc(50% - 135px);
    }
   }
  }
 }

 .register-step-3__title {

 }
 .register-step-3__subtitle {
  margin-top: 89px;
  @include tablet {
   margin-top: 71px;
  }
  @include mobile {
   font-size: 13px;
   line-height: 20.8px;
   letter-spacing: 1px;
   margin-top: 56px;
  }
 }
 .register-step-3__text {
  font-weight: 400;
  text-transform: none;
  @include tablet-mobile {
   color: $color-silver-chalice-2;
  }
  @include tablet {
   margin-top: 10px;
  }
  @include mobile {
   font-size: 12px;
   line-height: 17px;
   margin-top: 27px;
   letter-spacing: normal;
  }

  b {
   font-weight: 700;
   @include tablet-mobile {
    color: $color-black;
   }
   @include mobile {
    font-size: 15px;
    line-height: 22.5px;
    margin-top: 5px;
   }
  }
 }
}