section#format.section-layout.section.sp-format.sp-format--gbw
  div.page-title
    .page-title__logo
    h1 расписание
    h2 трека «Black»

  .sp-format-block-layout
    div.sp-format-block
      div.sp-format-block__left
        div.sp-format-block__title-block
          .sp-format-block__title-number 5
          h1.sp-format-block__title дней<br> интенсивной работы
        ul.sp-format-block-list
          li.sp-format-block-list__item
            .sp-format-block-list__item-number 01.
            | Введение в курс
          li.sp-format-block-list__item
            .sp-format-block-list__item-number 02.
            | Адаптация формы, считывание информации с клиента<br> (на примере модели)
          li.sp-format-block-list__item
            .sp-format-block-list__item-number 03.
            | Подготовка модели к выполнению заданной темы
          li.sp-format-block-list__item
            .sp-format-block-list__item-number 04.
            | Пошаговое выполнение работы с детальными разъяс -<br> нениями технологии (техника и теория)

      div.sp-format-block__right
        div.sp-format-block__title-block
          h1.sp-format-block__title занятия проходят<br> с 11:00 до 18:00
        ul.sp-format-block-list
          li.sp-format-block-list__item
            .sp-format-block-list__item-number 05.
            | Демонстрация правильной сушки,<br> не требующей укладки
          li.sp-format-block-list__item
            .sp-format-block-list__item-number 06.
            | Демонстрация выполненной работы
          li.sp-format-block-list__item
            .sp-format-block-list__item-number 07.
            | Обед
          li.sp-format-block-list__item
            .sp-format-block-list__item-number 08.
            | Практическая отработка<br> на клиентах - моделях

  .sp-format-text-1-block
    p Для обучения мы предоставим:<br> 5 моделей для практики  на каждый  день<br> средства и по уходу за волосами и для стайлинга
    p Группа<br> до 10 человек
    p Постоянная обратная связь<br> и помощь преподавателя

  .sp-format-register
    .sp-format-register__price
      | стоимость трека:<br>
      | 12 000 грн
    button(onclick="registerStep1('gbwWhiteKiev','White', 'трек «White»', 'kiev', '16-20.07.2019', '43Ejy')").btn.sp-format-register__link записаться на курс