section#action.section-layout.section.sp-action.sp-action--qualification
  h1.sp-action__title
    | Погружаясь<br>
    | в творческую атмосферу ERTEQOOB,

  .sp-action-info
    p.sp-action-info__text Вы заряжаетесь новой энергией,<br> и Вас уже не остановить.

    //.sp-action-info__video-link
    //  .sp-action-info__video-link-icon
    //  p.sp-action-info__video-link-text смотри, как проходит<br> обучение

  .sp-action-box
    .sp-action-box__inner
      .sp-action-box__text учитесь.
        .dots
      .sp-action-box__text растите.
        .dots
      .sp-action-box__text создавайте.
        .dots
    .vertical-line.sp-action-box__line.sp-action-box__line--1
    .vertical-line.sp-action-box__line.sp-action-box__line--2

  button(onclick="registerStep1('qualificationKiev','Повышение Квалификации', 'Повышение Квалификации', 'kiev', '15.02.2019', '43siF')").btn.sp-action__link записаться на курс