section.section-layout.sp-action.sp-action--gbw-inner

  .sp-action-box
    .sp-action-box__inner
      .sp-action-box__text учитесь.
        .dots
      .sp-action-box__text растите.
        .dots
      .sp-action-box__text создавайте.
        .dots
    .vertical-line.sp-action-box__line.sp-action-box__line--1
    .vertical-line.sp-action-box__line.sp-action-box__line--2

  button(onclick="registerStep1('gbwGreyKiev','Grey', 'трек «Grey»', 'kiev', '14.03.2017')").btn.sp-action__link записаться на курс