div#collections-popup-1.popup-layout
  div.popup.popup-collections
    .popup__close
    include ../main-nav-toggle-white.jade
    div.popup-collections__title-layout
      div.popup-collections__title-logo
      h1 Reportage Backstage
      h2 коллекция #3
    div.popup-collections__description
      div.popup-collections__description-dots
      p.popup-collections__date 31 Mar<br> 2017
      p.popup-collections__text Вдохновлённые творчеством Black Sabbath и Oasis, мы создали живой симбиоз музыки, неискажённых текстур и фотографии в духе Rock Star.
      ul.popup-collections__info
        li.popup-collections__info-item
          h1.popup-collections__info-title Idea:
          p.popup-collections__info-text Андрей Крупчинский, Дмитрий Кузьмичев;
        li.popup-collections__info-item
          h1.popup-collections__info-title Haircut:
          p.popup-collections__info-text Андрей Крупчинский, Елена Кузьмичева, Ирина Кривуненко;
        li.popup-collections__info-item
          h1.popup-collections__info-title Style:
          p.popup-collections__info-text Александра Ряполова
    .popup-collections__description-underline

    ul.popup-collections__filter
      li(data-slider='#collections-grid-slider-1').popup-collections__filter-item.popup-collections__filter-item--active
        svg(xmlns='http://www.w3.org/2000/svg')
          path(d='M0 0h6v6H0zm0 8h6v6H0zm8-8h6v6H8zm0 8h6v6H8z')
      li(data-slider='#collections-list-slider-1').popup-collections__filter-item
        svg(xmlns='http://www.w3.org/2000/svg')
          path(d='M5 0h12v2H5zm0 6h12v2H5zm0 6h12v2H5zM0 0h2v2H0zm0 6h2v2H0zm0 6h2v2H0z')

    div.popup-collections__sliders
      ul#collections-grid-slider-1.popup-collections-slider.popup-collections-slider--active.popup-collections-grid-slider.slider-arrows-long.slick-dots-horizontal
        li.popup-collections-slide.popup-collections-grid-slide
          div(style="background-image: url(img/client/collections/collections-grid-slide-1.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--1
          div(style="background-image: url(img/client/collections/collections-grid-slide-2.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--2
          div(style="background-image: url(img/client/collections/collections-grid-slide-3.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--3
          div(style="background-image: url(img/client/collections/collections-grid-slide-4.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--4
          div(style="background-image: url(img/client/collections/collections-grid-slide-5.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--5
          div(style="background-image: url(img/client/collections/collections-grid-slide-6.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--6
        li.popup-collections-slide.popup-collections-grid-slide
          div(style="background-image: url(img/client/collections/collections-grid-slide-1.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--1
          div(style="background-image: url(img/client/collections/collections-grid-slide-2.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--2
          div(style="background-image: url(img/client/collections/collections-grid-slide-3.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--3
          div(style="background-image: url(img/client/collections/collections-grid-slide-4.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--4
          div(style="background-image: url(img/client/collections/collections-grid-slide-5.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--5
          div(style="background-image: url(img/client/collections/collections-grid-slide-6.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--6

      ul#collections-list-slider-1.popup-collections-slider.popup-collections-list-slider.slider-arrows-long.slick-dots-horizontal
        li.popup-collections-slide.popup-collections-list-slide
          img(src="img/client/collections/collections-bg.jpg").popup-collections-list-slide__item
        li.popup-collections-slide.popup-collections-list-slide
          img(src="img/client/collections/collections-bg.jpg").popup-collections-list-slide__item

    include ../popup-partials/popup-action.jade
    include ../footer-white.jade


div#collections-popup-2.popup-layout
  div.popup.popup-collections
    .popup__close
    include ../main-nav-toggle-white.jade
    div.popup-collections__title-layout
      div.popup-collections__title-logo
      h1 Reportage Backstage
      h2 коллекция #3
    div.popup-collections__description
      div.popup-collections__description-dots
      p.popup-collections__date 31 Mar<br> 2017
      p.popup-collections__text Вдохновлённые творчеством Black Sabbath и Oasis, мы создали живой симбиоз музыки, неискажённых текстур и фотографии в духе Rock Star.
      ul.popup-collections__info
        li.popup-collections__info-item
          h1.popup-collections__info-title Idea:
          p.popup-collections__info-text Андрей Крупчинский, Дмитрий Кузьмичев;
        li.popup-collections__info-item
          h1.popup-collections__info-title Haircut:
          p.popup-collections__info-text Андрей Крупчинский, Елена Кузьмичева, Ирина Кривуненко;
        li.popup-collections__info-item
          h1.popup-collections__info-title Style:
          p.popup-collections__info-text Александра Ряполова
    .popup-collections__description-underline

    ul.popup-collections__filter
      li(data-slider='#collections-grid-slider-2').popup-collections__filter-item.popup-collections__filter-item--active
        svg(xmlns='http://www.w3.org/2000/svg')
          path(d='M0 0h6v6H0zm0 8h6v6H0zm8-8h6v6H8zm0 8h6v6H8z')
      li(data-slider='#collections-list-slider-2').popup-collections__filter-item
        svg(xmlns='http://www.w3.org/2000/svg')
          path(d='M5 0h12v2H5zm0 6h12v2H5zm0 6h12v2H5zM0 0h2v2H0zm0 6h2v2H0zm0 6h2v2H0z')

    div.popup-collections__sliders
      ul#collections-grid-slider-2.popup-collections-slider.popup-collections-slider--active.popup-collections-grid-slider.slider-arrows-long.slick-dots-horizontal
        li.popup-collections-slide.popup-collections-grid-slide
          div(style="background-image: url(img/client/collections/collections-grid-slide-1.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--1
          div(style="background-image: url(img/client/collections/collections-grid-slide-2.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--2
          div(style="background-image: url(img/client/collections/collections-grid-slide-3.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--3
          div(style="background-image: url(img/client/collections/collections-grid-slide-4.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--4
          div(style="background-image: url(img/client/collections/collections-grid-slide-5.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--5
          div(style="background-image: url(img/client/collections/collections-grid-slide-6.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--6
        li.popup-collections-slide.popup-collections-grid-slide
          div(style="background-image: url(img/client/collections/collections-grid-slide-1.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--1
          div(style="background-image: url(img/client/collections/collections-grid-slide-2.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--2
          div(style="background-image: url(img/client/collections/collections-grid-slide-3.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--3
          div(style="background-image: url(img/client/collections/collections-grid-slide-4.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--4
          div(style="background-image: url(img/client/collections/collections-grid-slide-5.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--5
          div(style="background-image: url(img/client/collections/collections-grid-slide-6.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--6

      ul#collections-list-slider-2.popup-collections-slider.popup-collections-list-slider.slider-arrows-long.slick-dots-horizontal
        li.popup-collections-slide.popup-collections-list-slide
          img(src="img/client/collections/collections-bg.jpg").popup-collections-list-slide__item
        li.popup-collections-slide.popup-collections-list-slide
          img(src="img/client/collections/collections-bg.jpg").popup-collections-list-slide__item

    include ../popup-partials/popup-action.jade
    include ../footer-white.jade


div#collections-popup-3.popup-layout
  div.popup.popup-collections
    .popup__close
    include ../main-nav-toggle-white.jade
    div.popup-collections__title-layout
      div.popup-collections__title-logo
      h1 Reportage Backstage
      h2 коллекция #3
    div.popup-collections__description
      div.popup-collections__description-dots
      p.popup-collections__date 31 Mar<br> 2017
      p.popup-collections__text Вдохновлённые творчеством Black Sabbath и Oasis, мы создали живой симбиоз музыки, неискажённых текстур и фотографии в духе Rock Star.
      ul.popup-collections__info
        li.popup-collections__info-item
          h1.popup-collections__info-title Idea:
          p.popup-collections__info-text Андрей Крупчинский, Дмитрий Кузьмичев;
        li.popup-collections__info-item
          h1.popup-collections__info-title Haircut:
          p.popup-collections__info-text Андрей Крупчинский, Елена Кузьмичева, Ирина Кривуненко;
        li.popup-collections__info-item
          h1.popup-collections__info-title Style:
          p.popup-collections__info-text Александра Ряполова
    .popup-collections__description-underline

    ul.popup-collections__filter
      li(data-slider='#collections-grid-slider-3').popup-collections__filter-item.popup-collections__filter-item--active
        svg(xmlns='http://www.w3.org/2000/svg')
          path(d='M0 0h6v6H0zm0 8h6v6H0zm8-8h6v6H8zm0 8h6v6H8z')
      li(data-slider='#collections-list-slider-3').popup-collections__filter-item
        svg(xmlns='http://www.w3.org/2000/svg')
          path(d='M5 0h12v2H5zm0 6h12v2H5zm0 6h12v2H5zM0 0h2v2H0zm0 6h2v2H0zm0 6h2v2H0z')

    div.popup-collections__sliders
      ul#collections-grid-slider-3.popup-collections-slider.popup-collections-slider--active.popup-collections-grid-slider.slider-arrows-long.slick-dots-horizontal
        li.popup-collections-slide.popup-collections-grid-slide
          div(style="background-image: url(img/client/collections/collections-grid-slide-1.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--1
          div(style="background-image: url(img/client/collections/collections-grid-slide-2.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--2
          div(style="background-image: url(img/client/collections/collections-grid-slide-3.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--3
          div(style="background-image: url(img/client/collections/collections-grid-slide-4.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--4
          div(style="background-image: url(img/client/collections/collections-grid-slide-5.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--5
          div(style="background-image: url(img/client/collections/collections-grid-slide-6.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--6
        li.popup-collections-slide.popup-collections-grid-slide
          div(style="background-image: url(img/client/collections/collections-grid-slide-1.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--1
          div(style="background-image: url(img/client/collections/collections-grid-slide-2.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--2
          div(style="background-image: url(img/client/collections/collections-grid-slide-3.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--3
          div(style="background-image: url(img/client/collections/collections-grid-slide-4.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--4
          div(style="background-image: url(img/client/collections/collections-grid-slide-5.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--5
          div(style="background-image: url(img/client/collections/collections-grid-slide-6.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--6

      ul#collections-list-slider-3.popup-collections-slider.popup-collections-list-slider.slider-arrows-long.slick-dots-horizontal
        li.popup-collections-slide.popup-collections-list-slide
          img(src="img/client/collections/collections-bg.jpg").popup-collections-list-slide__item
        li.popup-collections-slide.popup-collections-list-slide
          img(src="img/client/collections/collections-bg.jpg").popup-collections-list-slide__item

    include ../popup-partials/popup-action.jade
    include ../footer-white.jade


div#collections-popup-4.popup-layout
  div.popup.popup-collections
    .popup__close
    include ../main-nav-toggle-white.jade
    div.popup-collections__title-layout
      div.popup-collections__title-logo
      h1 Reportage Backstage
      h2 коллекция #3
    div.popup-collections__description
      div.popup-collections__description-dots
      p.popup-collections__date 31 Mar<br> 2017
      p.popup-collections__text Вдохновлённые творчеством Black Sabbath и Oasis, мы создали живой симбиоз музыки, неискажённых текстур и фотографии в духе Rock Star.
      ul.popup-collections__info
        li.popup-collections__info-item
          h1.popup-collections__info-title Idea:
          p.popup-collections__info-text Андрей Крупчинский, Дмитрий Кузьмичев;
        li.popup-collections__info-item
          h1.popup-collections__info-title Haircut:
          p.popup-collections__info-text Андрей Крупчинский, Елена Кузьмичева, Ирина Кривуненко;
        li.popup-collections__info-item
          h1.popup-collections__info-title Style:
          p.popup-collections__info-text Александра Ряполова
    .popup-collections__description-underline

    ul.popup-collections__filter
      li(data-slider='#collections-grid-slide-4').popup-collections__filter-item.popup-collections__filter-item--active
        svg(xmlns='http://www.w3.org/2000/svg')
          path(d='M0 0h6v6H0zm0 8h6v6H0zm8-8h6v6H8zm0 8h6v6H8z')
      li(data-slider='#collections-list-slide-4').popup-collections__filter-item
        svg(xmlns='http://www.w3.org/2000/svg')
          path(d='M5 0h12v2H5zm0 6h12v2H5zm0 6h12v2H5zM0 0h2v2H0zm0 6h2v2H0zm0 6h2v2H0z')

    div.popup-collections__sliders
      ul#collections-grid-slide-4.popup-collections-slider.popup-collections-slider--active.popup-collections-grid-slider.slider-arrows-long.slick-dots-horizontal
        li.popup-collections-slide.popup-collections-grid-slide
          div(style="background-image: url(img/client/collections/collections-grid-slide-1.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--1
          div(style="background-image: url(img/client/collections/collections-grid-slide-2.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--2
          div(style="background-image: url(img/client/collections/collections-grid-slide-3.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--3
          div(style="background-image: url(img/client/collections/collections-grid-slide-4.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--4
          div(style="background-image: url(img/client/collections/collections-grid-slide-5.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--5
          div(style="background-image: url(img/client/collections/collections-grid-slide-6.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--6
        li.popup-collections-slide.popup-collections-grid-slide
          div(style="background-image: url(img/client/collections/collections-grid-slide-1.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--1
          div(style="background-image: url(img/client/collections/collections-grid-slide-2.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--2
          div(style="background-image: url(img/client/collections/collections-grid-slide-3.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--3
          div(style="background-image: url(img/client/collections/collections-grid-slide-4.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--4
          div(style="background-image: url(img/client/collections/collections-grid-slide-5.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--5
          div(style="background-image: url(img/client/collections/collections-grid-slide-6.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--6

      ul#collections-list-slide-4.popup-collections-slider.popup-collections-list-slider.slider-arrows-long.slick-dots-horizontal
        li.popup-collections-slide.popup-collections-list-slide
          img(src="img/client/collections/collections-bg.jpg").popup-collections-list-slide__item
        li.popup-collections-slide.popup-collections-list-slide
          img(src="img/client/collections/collections-bg.jpg").popup-collections-list-slide__item

    include ../popup-partials/popup-action.jade
    include ../footer-white.jade


div#collections-popup-5.popup-layout
  div.popup.popup-collections
    .popup__close
    include ../main-nav-toggle-white.jade
    div.popup-collections__title-layout
      div.popup-collections__title-logo
      h1 Reportage Backstage
      h2 коллекция #3
    div.popup-collections__description
      div.popup-collections__description-dots
      p.popup-collections__date 31 Mar<br> 2017
      p.popup-collections__text Вдохновлённые творчеством Black Sabbath и Oasis, мы создали живой симбиоз музыки, неискажённых текстур и фотографии в духе Rock Star.
      ul.popup-collections__info
        li.popup-collections__info-item
          h1.popup-collections__info-title Idea:
          p.popup-collections__info-text Андрей Крупчинский, Дмитрий Кузьмичев;
        li.popup-collections__info-item
          h1.popup-collections__info-title Haircut:
          p.popup-collections__info-text Андрей Крупчинский, Елена Кузьмичева, Ирина Кривуненко;
        li.popup-collections__info-item
          h1.popup-collections__info-title Style:
          p.popup-collections__info-text Александра Ряполова
    .popup-collections__description-underline

    ul.popup-collections__filter
      li(data-slider='#collections-grid-slider-5').popup-collections__filter-item.popup-collections__filter-item--active
        svg(xmlns='http://www.w3.org/2000/svg')
          path(d='M0 0h6v6H0zm0 8h6v6H0zm8-8h6v6H8zm0 8h6v6H8z')
      li(data-slider='#collections-list-slider-5').popup-collections__filter-item
        svg(xmlns='http://www.w3.org/2000/svg')
          path(d='M5 0h12v2H5zm0 6h12v2H5zm0 6h12v2H5zM0 0h2v2H0zm0 6h2v2H0zm0 6h2v2H0z')

    div.popup-collections__sliders
      ul#collections-grid-slider-5.popup-collections-slider.popup-collections-slider--active.popup-collections-grid-slider.slider-arrows-long.slick-dots-horizontal
        li.popup-collections-slide.popup-collections-grid-slide
          div(style="background-image: url(img/client/collections/collections-grid-slide-1.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--1
          div(style="background-image: url(img/client/collections/collections-grid-slide-2.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--2
          div(style="background-image: url(img/client/collections/collections-grid-slide-3.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--3
          div(style="background-image: url(img/client/collections/collections-grid-slide-4.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--4
          div(style="background-image: url(img/client/collections/collections-grid-slide-5.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--5
          div(style="background-image: url(img/client/collections/collections-grid-slide-6.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--6
        li.popup-collections-slide.popup-collections-grid-slide
          div(style="background-image: url(img/client/collections/collections-grid-slide-1.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--1
          div(style="background-image: url(img/client/collections/collections-grid-slide-2.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--2
          div(style="background-image: url(img/client/collections/collections-grid-slide-3.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--3
          div(style="background-image: url(img/client/collections/collections-grid-slide-4.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--4
          div(style="background-image: url(img/client/collections/collections-grid-slide-5.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--5
          div(style="background-image: url(img/client/collections/collections-grid-slide-6.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--6

      ul#collections-list-slider-5.popup-collections-slider.popup-collections-list-slider.slider-arrows-long.slick-dots-horizontal
        li.popup-collections-slide.popup-collections-list-slide
          img(src="img/client/collections/collections-bg.jpg").popup-collections-list-slide__item
        li.popup-collections-slide.popup-collections-list-slide
          img(src="img/client/collections/collections-bg.jpg").popup-collections-list-slide__item

    include ../popup-partials/popup-action.jade
    include ../footer-white.jade


div#collections-popup-6.popup-layout
  div.popup.popup-collections
    .popup__close
    include ../main-nav-toggle-white.jade
    div.popup-collections__title-layout
      div.popup-collections__title-logo
      h1 Reportage Backstage
      h2 коллекция #3
    div.popup-collections__description
      div.popup-collections__description-dots
      p.popup-collections__date 31 Mar<br> 2017
      p.popup-collections__text Вдохновлённые творчеством Black Sabbath и Oasis, мы создали живой симбиоз музыки, неискажённых текстур и фотографии в духе Rock Star.
      ul.popup-collections__info
        li.popup-collections__info-item
          h1.popup-collections__info-title Idea:
          p.popup-collections__info-text Андрей Крупчинский, Дмитрий Кузьмичев;
        li.popup-collections__info-item
          h1.popup-collections__info-title Haircut:
          p.popup-collections__info-text Андрей Крупчинский, Елена Кузьмичева, Ирина Кривуненко;
        li.popup-collections__info-item
          h1.popup-collections__info-title Style:
          p.popup-collections__info-text Александра Ряполова
    .popup-collections__description-underline

    ul.popup-collections__filter
      li(data-slider='#collections-grid-slider-6').popup-collections__filter-item.popup-collections__filter-item--active
        svg(xmlns='http://www.w3.org/2000/svg')
          path(d='M0 0h6v6H0zm0 8h6v6H0zm8-8h6v6H8zm0 8h6v6H8z')
      li(data-slider='#collections-list-slider-6').popup-collections__filter-item
        svg(xmlns='http://www.w3.org/2000/svg')
          path(d='M5 0h12v2H5zm0 6h12v2H5zm0 6h12v2H5zM0 0h2v2H0zm0 6h2v2H0zm0 6h2v2H0z')

    div.popup-collections__sliders
      ul#collections-grid-slider-6.popup-collections-slider.popup-collections-slider--active.popup-collections-grid-slider.slider-arrows-long.slick-dots-horizontal
        li.popup-collections-slide.popup-collections-grid-slide
          div(style="background-image: url(img/client/collections/collections-grid-slide-1.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--1
          div(style="background-image: url(img/client/collections/collections-grid-slide-2.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--2
          div(style="background-image: url(img/client/collections/collections-grid-slide-3.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--3
          div(style="background-image: url(img/client/collections/collections-grid-slide-4.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--4
          div(style="background-image: url(img/client/collections/collections-grid-slide-5.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--5
          div(style="background-image: url(img/client/collections/collections-grid-slide-6.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--6
        li.popup-collections-slide.popup-collections-grid-slide
          div(style="background-image: url(img/client/collections/collections-grid-slide-1.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--1
          div(style="background-image: url(img/client/collections/collections-grid-slide-2.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--2
          div(style="background-image: url(img/client/collections/collections-grid-slide-3.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--3
          div(style="background-image: url(img/client/collections/collections-grid-slide-4.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--4
          div(style="background-image: url(img/client/collections/collections-grid-slide-5.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--5
          div(style="background-image: url(img/client/collections/collections-grid-slide-6.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--6

      ul#collections-list-slider-6.popup-collections-slider.popup-collections-list-slider.slider-arrows-long.slick-dots-horizontal
        li.popup-collections-slide.popup-collections-list-slide
          img(src="img/client/collections/collections-bg.jpg").popup-collections-list-slide__item
        li.popup-collections-slide.popup-collections-list-slide
          img(src="img/client/collections/collections-bg.jpg").popup-collections-list-slide__item

    include ../popup-partials/popup-action.jade
    include ../footer-white.jade


div#collections-popup-7.popup-layout
  div.popup.popup-collections
    .popup__close
    include ../main-nav-toggle-white.jade
    div.popup-collections__title-layout
      div.popup-collections__title-logo
      h1 Reportage Backstage
      h2 коллекция #3
    div.popup-collections__description
      div.popup-collections__description-dots
      p.popup-collections__date 31 Mar<br> 2017
      p.popup-collections__text Вдохновлённые творчеством Black Sabbath и Oasis, мы создали живой симбиоз музыки, неискажённых текстур и фотографии в духе Rock Star.
      ul.popup-collections__info
        li.popup-collections__info-item
          h1.popup-collections__info-title Idea:
          p.popup-collections__info-text Андрей Крупчинский, Дмитрий Кузьмичев;
        li.popup-collections__info-item
          h1.popup-collections__info-title Haircut:
          p.popup-collections__info-text Андрей Крупчинский, Елена Кузьмичева, Ирина Кривуненко;
        li.popup-collections__info-item
          h1.popup-collections__info-title Style:
          p.popup-collections__info-text Александра Ряполова
    .popup-collections__description-underline

    ul.popup-collections__filter
      li(data-slider='#collections-grid-slider-7').popup-collections__filter-item.popup-collections__filter-item--active
        svg(xmlns='http://www.w3.org/2000/svg')
          path(d='M0 0h6v6H0zm0 8h6v6H0zm8-8h6v6H8zm0 8h6v6H8z')
      li(data-slider='#collections-list-slider-7').popup-collections__filter-item
        svg(xmlns='http://www.w3.org/2000/svg')
          path(d='M5 0h12v2H5zm0 6h12v2H5zm0 6h12v2H5zM0 0h2v2H0zm0 6h2v2H0zm0 6h2v2H0z')

    div.popup-collections__sliders
      ul#collections-grid-slider-7.popup-collections-slider.popup-collections-slider--active.popup-collections-grid-slider.slider-arrows-long.slick-dots-horizontal
        li.popup-collections-slide.popup-collections-grid-slide
          div(style="background-image: url(img/client/collections/collections-grid-slide-1.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--1
          div(style="background-image: url(img/client/collections/collections-grid-slide-2.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--2
          div(style="background-image: url(img/client/collections/collections-grid-slide-3.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--3
          div(style="background-image: url(img/client/collections/collections-grid-slide-4.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--4
          div(style="background-image: url(img/client/collections/collections-grid-slide-5.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--5
          div(style="background-image: url(img/client/collections/collections-grid-slide-6.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--6
        li.popup-collections-slide.popup-collections-grid-slide
          div(style="background-image: url(img/client/collections/collections-grid-slide-1.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--1
          div(style="background-image: url(img/client/collections/collections-grid-slide-2.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--2
          div(style="background-image: url(img/client/collections/collections-grid-slide-3.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--3
          div(style="background-image: url(img/client/collections/collections-grid-slide-4.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--4
          div(style="background-image: url(img/client/collections/collections-grid-slide-5.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--5
          div(style="background-image: url(img/client/collections/collections-grid-slide-6.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--6

      ul#collections-list-slider-7.popup-collections-slider.popup-collections-list-slider.slider-arrows-long.slick-dots-horizontal
        li.popup-collections-slide.popup-collections-list-slide
          img(src="img/client/collections/collections-bg.jpg").popup-collections-list-slide__item
        li.popup-collections-slide.popup-collections-list-slide
          img(src="img/client/collections/collections-bg.jpg").popup-collections-list-slide__item

    include ../popup-partials/popup-action.jade
    include ../footer-white.jade


div#collections-popup-8.popup-layout
  div.popup.popup-collections
    .popup__close
    include ../main-nav-toggle-white.jade
    div.popup-collections__title-layout
      div.popup-collections__title-logo
      h1 Reportage Backstage
      h2 коллекция #3
    div.popup-collections__description
      div.popup-collections__description-dots
      p.popup-collections__date 31 Mar<br> 2017
      p.popup-collections__text Вдохновлённые творчеством Black Sabbath и Oasis, мы создали живой симбиоз музыки, неискажённых текстур и фотографии в духе Rock Star.
      ul.popup-collections__info
        li.popup-collections__info-item
          h1.popup-collections__info-title Idea:
          p.popup-collections__info-text Андрей Крупчинский, Дмитрий Кузьмичев;
        li.popup-collections__info-item
          h1.popup-collections__info-title Haircut:
          p.popup-collections__info-text Андрей Крупчинский, Елена Кузьмичева, Ирина Кривуненко;
        li.popup-collections__info-item
          h1.popup-collections__info-title Style:
          p.popup-collections__info-text Александра Ряполова
    .popup-collections__description-underline

    ul.popup-collections__filter
      li(data-slider='#collections-grid-slider-8').popup-collections__filter-item.popup-collections__filter-item--active
        svg(xmlns='http://www.w3.org/2000/svg')
          path(d='M0 0h6v6H0zm0 8h6v6H0zm8-8h6v6H8zm0 8h6v6H8z')
      li(data-slider='#collections-list-slider-8').popup-collections__filter-item
        svg(xmlns='http://www.w3.org/2000/svg')
          path(d='M5 0h12v2H5zm0 6h12v2H5zm0 6h12v2H5zM0 0h2v2H0zm0 6h2v2H0zm0 6h2v2H0z')

    div.popup-collections__sliders
      ul#collections-grid-slider-8.popup-collections-slider.popup-collections-slider--active.popup-collections-grid-slider.slider-arrows-long.slick-dots-horizontal
        li.popup-collections-slide.popup-collections-grid-slide
          div(style="background-image: url(img/client/collections/collections-grid-slide-1.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--1
          div(style="background-image: url(img/client/collections/collections-grid-slide-2.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--2
          div(style="background-image: url(img/client/collections/collections-grid-slide-3.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--3
          div(style="background-image: url(img/client/collections/collections-grid-slide-4.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--4
          div(style="background-image: url(img/client/collections/collections-grid-slide-5.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--5
          div(style="background-image: url(img/client/collections/collections-grid-slide-6.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--6
        li.popup-collections-slide.popup-collections-grid-slide
          div(style="background-image: url(img/client/collections/collections-grid-slide-1.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--1
          div(style="background-image: url(img/client/collections/collections-grid-slide-2.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--2
          div(style="background-image: url(img/client/collections/collections-grid-slide-3.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--3
          div(style="background-image: url(img/client/collections/collections-grid-slide-4.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--4
          div(style="background-image: url(img/client/collections/collections-grid-slide-5.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--5
          div(style="background-image: url(img/client/collections/collections-grid-slide-6.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--6

      ul#collections-list-slider-8.popup-collections-slider.popup-collections-list-slider.slider-arrows-long.slick-dots-horizontal
        li.popup-collections-slide.popup-collections-list-slide
          img(src="img/client/collections/collections-bg.jpg").popup-collections-list-slide__item
        li.popup-collections-slide.popup-collections-list-slide
          img(src="img/client/collections/collections-bg.jpg").popup-collections-list-slide__item

    include ../popup-partials/popup-action.jade
    include ../footer-white.jade


div#collections-popup-9.popup-layout
  div.popup.popup-collections
    .popup__close
    include ../main-nav-toggle-white.jade
    div.popup-collections__title-layout
      div.popup-collections__title-logo
      h1 Reportage Backstage
      h2 коллекция #3
    div.popup-collections__description
      div.popup-collections__description-dots
      p.popup-collections__date 31 Mar<br> 2017
      p.popup-collections__text Вдохновлённые творчеством Black Sabbath и Oasis, мы создали живой симбиоз музыки, неискажённых текстур и фотографии в духе Rock Star.
      ul.popup-collections__info
        li.popup-collections__info-item
          h1.popup-collections__info-title Idea:
          p.popup-collections__info-text Андрей Крупчинский, Дмитрий Кузьмичев;
        li.popup-collections__info-item
          h1.popup-collections__info-title Haircut:
          p.popup-collections__info-text Андрей Крупчинский, Елена Кузьмичева, Ирина Кривуненко;
        li.popup-collections__info-item
          h1.popup-collections__info-title Style:
          p.popup-collections__info-text Александра Ряполова
    .popup-collections__description-underline

    ul.popup-collections__filter
      li(data-slider='#collections-grid-slider-9').popup-collections__filter-item.popup-collections__filter-item--active
        svg(xmlns='http://www.w3.org/2000/svg')
          path(d='M0 0h6v6H0zm0 8h6v6H0zm8-8h6v6H8zm0 8h6v6H8z')
      li(data-slider='#collections-list-slider-9').popup-collections__filter-item
        svg(xmlns='http://www.w3.org/2000/svg')
          path(d='M5 0h12v2H5zm0 6h12v2H5zm0 6h12v2H5zM0 0h2v2H0zm0 6h2v2H0zm0 6h2v2H0z')

    div.popup-collections__sliders
      ul#collections-grid-slider-9.popup-collections-slider.popup-collections-slider--active.popup-collections-grid-slider.slider-arrows-long.slick-dots-horizontal
        li.popup-collections-slide.popup-collections-grid-slide
          div(style="background-image: url(img/client/collections/collections-grid-slide-1.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--1
          div(style="background-image: url(img/client/collections/collections-grid-slide-2.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--2
          div(style="background-image: url(img/client/collections/collections-grid-slide-3.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--3
          div(style="background-image: url(img/client/collections/collections-grid-slide-4.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--4
          div(style="background-image: url(img/client/collections/collections-grid-slide-5.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--5
          div(style="background-image: url(img/client/collections/collections-grid-slide-6.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--6
        li.popup-collections-slide.popup-collections-grid-slide
          div(style="background-image: url(img/client/collections/collections-grid-slide-1.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--1
          div(style="background-image: url(img/client/collections/collections-grid-slide-2.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--2
          div(style="background-image: url(img/client/collections/collections-grid-slide-3.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--3
          div(style="background-image: url(img/client/collections/collections-grid-slide-4.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--4
          div(style="background-image: url(img/client/collections/collections-grid-slide-5.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--5
          div(style="background-image: url(img/client/collections/collections-grid-slide-6.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--6

      ul#collections-list-slider-9.popup-collections-slider.popup-collections-list-slider.slider-arrows-long.slick-dots-horizontal
        li.popup-collections-slide.popup-collections-list-slide
          img(src="img/client/collections/collections-bg.jpg").popup-collections-list-slide__item
        li.popup-collections-slide.popup-collections-list-slide
          img(src="img/client/collections/collections-bg.jpg").popup-collections-list-slide__item

    include ../popup-partials/popup-action.jade
    include ../footer-white.jade


div#collections-popup-10.popup-layout
  div.popup.popup-collections
    .popup__close
    include ../main-nav-toggle-white.jade
    div.popup-collections__title-layout
      div.popup-collections__title-logo
      h1 Reportage Backstage
      h2 коллекция #3
    div.popup-collections__description
      div.popup-collections__description-dots
      p.popup-collections__date 31 Mar<br> 2017
      p.popup-collections__text Вдохновлённые творчеством Black Sabbath и Oasis, мы создали живой симбиоз музыки, неискажённых текстур и фотографии в духе Rock Star.
      ul.popup-collections__info
        li.popup-collections__info-item
          h1.popup-collections__info-title Idea:
          p.popup-collections__info-text Андрей Крупчинский, Дмитрий Кузьмичев;
        li.popup-collections__info-item
          h1.popup-collections__info-title Haircut:
          p.popup-collections__info-text Андрей Крупчинский, Елена Кузьмичева, Ирина Кривуненко;
        li.popup-collections__info-item
          h1.popup-collections__info-title Style:
          p.popup-collections__info-text Александра Ряполова
    .popup-collections__description-underline

    ul.popup-collections__filter
      li(data-slider='#collections-grid-slider-10').popup-collections__filter-item.popup-collections__filter-item--active
        svg(xmlns='http://www.w3.org/2000/svg')
          path(d='M0 0h6v6H0zm0 8h6v6H0zm8-8h6v6H8zm0 8h6v6H8z')
      li(data-slider='#collections-list-slider-10').popup-collections__filter-item
        svg(xmlns='http://www.w3.org/2000/svg')
          path(d='M5 0h12v2H5zm0 6h12v2H5zm0 6h12v2H5zM0 0h2v2H0zm0 6h2v2H0zm0 6h2v2H0z')

    div.popup-collections__sliders
      ul#collections-grid-slider-10.popup-collections-slider.popup-collections-slider--active.popup-collections-grid-slider.slider-arrows-long.slick-dots-horizontal
        li.popup-collections-slide.popup-collections-grid-slide
          div(style="background-image: url(img/client/collections/collections-grid-slide-1.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--1
          div(style="background-image: url(img/client/collections/collections-grid-slide-2.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--2
          div(style="background-image: url(img/client/collections/collections-grid-slide-3.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--3
          div(style="background-image: url(img/client/collections/collections-grid-slide-4.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--4
          div(style="background-image: url(img/client/collections/collections-grid-slide-5.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--5
          div(style="background-image: url(img/client/collections/collections-grid-slide-6.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--6
        li.popup-collections-slide.popup-collections-grid-slide
          div(style="background-image: url(img/client/collections/collections-grid-slide-1.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--1
          div(style="background-image: url(img/client/collections/collections-grid-slide-2.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--2
          div(style="background-image: url(img/client/collections/collections-grid-slide-3.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--3
          div(style="background-image: url(img/client/collections/collections-grid-slide-4.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--4
          div(style="background-image: url(img/client/collections/collections-grid-slide-5.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--5
          div(style="background-image: url(img/client/collections/collections-grid-slide-6.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--6

      ul#collections-list-slider-10.popup-collections-slider.popup-collections-list-slider.slider-arrows-long.slick-dots-horizontal
        li.popup-collections-slide.popup-collections-list-slide
          img(src="img/client/collections/collections-bg.jpg").popup-collections-list-slide__item
        li.popup-collections-slide.popup-collections-list-slide
          img(src="img/client/collections/collections-bg.jpg").popup-collections-list-slide__item

    include ../popup-partials/popup-action.jade
    include ../footer-white.jade


div#collections-popup-11.popup-layout
  div.popup.popup-collections
    .popup__close
    include ../main-nav-toggle-white.jade
    div.popup-collections__title-layout
      div.popup-collections__title-logo
      h1 Reportage Backstage
      h2 коллекция #3
    div.popup-collections__description
      div.popup-collections__description-dots
      p.popup-collections__date 31 Mar<br> 2017
      p.popup-collections__text Вдохновлённые творчеством Black Sabbath и Oasis, мы создали живой симбиоз музыки, неискажённых текстур и фотографии в духе Rock Star.
      ul.popup-collections__info
        li.popup-collections__info-item
          h1.popup-collections__info-title Idea:
          p.popup-collections__info-text Андрей Крупчинский, Дмитрий Кузьмичев;
        li.popup-collections__info-item
          h1.popup-collections__info-title Haircut:
          p.popup-collections__info-text Андрей Крупчинский, Елена Кузьмичева, Ирина Кривуненко;
        li.popup-collections__info-item
          h1.popup-collections__info-title Style:
          p.popup-collections__info-text Александра Ряполова
    .popup-collections__description-underline

    ul.popup-collections__filter
      li(data-slider='#collections-grid-slider-11').popup-collections__filter-item.popup-collections__filter-item--active
        svg(xmlns='http://www.w3.org/2000/svg')
          path(d='M0 0h6v6H0zm0 8h6v6H0zm8-8h6v6H8zm0 8h6v6H8z')
      li(data-slider='#collections-list-slider-11').popup-collections__filter-item
        svg(xmlns='http://www.w3.org/2000/svg')
          path(d='M5 0h12v2H5zm0 6h12v2H5zm0 6h12v2H5zM0 0h2v2H0zm0 6h2v2H0zm0 6h2v2H0z')

    div.popup-collections__sliders
      ul#collections-grid-slider-11.popup-collections-slider.popup-collections-slider--active.popup-collections-grid-slider.slider-arrows-long.slick-dots-horizontal
        li.popup-collections-slide.popup-collections-grid-slide
          div(style="background-image: url(img/client/collections/collections-grid-slide-1.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--1
          div(style="background-image: url(img/client/collections/collections-grid-slide-2.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--2
          div(style="background-image: url(img/client/collections/collections-grid-slide-3.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--3
          div(style="background-image: url(img/client/collections/collections-grid-slide-4.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--4
          div(style="background-image: url(img/client/collections/collections-grid-slide-5.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--5
          div(style="background-image: url(img/client/collections/collections-grid-slide-6.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--6
        li.popup-collections-slide.popup-collections-grid-slide
          div(style="background-image: url(img/client/collections/collections-grid-slide-1.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--1
          div(style="background-image: url(img/client/collections/collections-grid-slide-2.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--2
          div(style="background-image: url(img/client/collections/collections-grid-slide-3.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--3
          div(style="background-image: url(img/client/collections/collections-grid-slide-4.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--4
          div(style="background-image: url(img/client/collections/collections-grid-slide-5.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--5
          div(style="background-image: url(img/client/collections/collections-grid-slide-6.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--6

      ul#collections-list-slider-11.popup-collections-slider.popup-collections-list-slider.slider-arrows-long.slick-dots-horizontal
        li.popup-collections-slide.popup-collections-list-slide
          img(src="img/client/collections/collections-bg.jpg").popup-collections-list-slide__item
        li.popup-collections-slide.popup-collections-list-slide
          img(src="img/client/collections/collections-bg.jpg").popup-collections-list-slide__item

    include ../popup-partials/popup-action.jade
    include ../footer-white.jade


div#collections-popup-12.popup-layout
  div.popup.popup-collections
    .popup__close
    include ../main-nav-toggle-white.jade
    div.popup-collections__title-layout
      div.popup-collections__title-logo
      h1 Reportage Backstage
      h2 коллекция #3
    div.popup-collections__description
      div.popup-collections__description-dots
      p.popup-collections__date 31 Mar<br> 2017
      p.popup-collections__text Вдохновлённые творчеством Black Sabbath и Oasis, мы создали живой симбиоз музыки, неискажённых текстур и фотографии в духе Rock Star.
      ul.popup-collections__info
        li.popup-collections__info-item
          h1.popup-collections__info-title Idea:
          p.popup-collections__info-text Андрей Крупчинский, Дмитрий Кузьмичев;
        li.popup-collections__info-item
          h1.popup-collections__info-title Haircut:
          p.popup-collections__info-text Андрей Крупчинский, Елена Кузьмичева, Ирина Кривуненко;
        li.popup-collections__info-item
          h1.popup-collections__info-title Style:
          p.popup-collections__info-text Александра Ряполова
    .popup-collections__description-underline

    ul.popup-collections__filter
      li(data-slider='#collections-grid-slider-12').popup-collections__filter-item.popup-collections__filter-item--active
        svg(xmlns='http://www.w3.org/2000/svg')
          path(d='M0 0h6v6H0zm0 8h6v6H0zm8-8h6v6H8zm0 8h6v6H8z')
      li(data-slider='#collections-list-slider-12').popup-collections__filter-item
        svg(xmlns='http://www.w3.org/2000/svg')
          path(d='M5 0h12v2H5zm0 6h12v2H5zm0 6h12v2H5zM0 0h2v2H0zm0 6h2v2H0zm0 6h2v2H0z')

    div.popup-collections__sliders
      ul#collections-grid-slider-12.popup-collections-slider.popup-collections-slider--active.popup-collections-grid-slider.slider-arrows-long.slick-dots-horizontal
        li.popup-collections-slide.popup-collections-grid-slide
          div(style="background-image: url(img/client/collections/collections-grid-slide-1.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--1
          div(style="background-image: url(img/client/collections/collections-grid-slide-2.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--2
          div(style="background-image: url(img/client/collections/collections-grid-slide-3.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--3
          div(style="background-image: url(img/client/collections/collections-grid-slide-4.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--4
          div(style="background-image: url(img/client/collections/collections-grid-slide-5.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--5
          div(style="background-image: url(img/client/collections/collections-grid-slide-6.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--6
        li.popup-collections-slide.popup-collections-grid-slide
          div(style="background-image: url(img/client/collections/collections-grid-slide-1.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--1
          div(style="background-image: url(img/client/collections/collections-grid-slide-2.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--2
          div(style="background-image: url(img/client/collections/collections-grid-slide-3.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--3
          div(style="background-image: url(img/client/collections/collections-grid-slide-4.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--4
          div(style="background-image: url(img/client/collections/collections-grid-slide-5.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--5
          div(style="background-image: url(img/client/collections/collections-grid-slide-6.jpg)").popup-collections-grid-slide__item.popup-collections-grid-slide__item--6

      ul#collections-list-slider-12.popup-collections-slider.popup-collections-list-slider.slider-arrows-long.slick-dots-horizontal
        li.popup-collections-slide.popup-collections-list-slide
          img(src="img/client/collections/collections-bg.jpg").popup-collections-list-slide__item
        li.popup-collections-slide.popup-collections-list-slide
          img(src="img/client/collections/collections-bg.jpg").popup-collections-list-slide__item

    include ../popup-partials/popup-action.jade
    include ../footer-white.jade


script.
  $(function(){
    // collections grid slider
    $('.popup-collections-grid-slider').slick({
      slidesToShow: 1,
      arrows: true,
      dots: true,
      draggable: false,
      accessibility: false,
      centerMode: true,
      variableWidth: true,
      infinite: true,
      swipeToSlide: true,
      customPaging: function (slider, i) {
        var thumb = $(slider.$slides[i]).data();
        return '<a>'+ (i+1) +'</a>';
      }
    });

    // collections list slider
    $('.popup-collections-list-slider').on('afterChange', function (event, slick, currentSlide, nextSlide) {
      setTimeout(function () {
        $('.popup-collections-list-slider').slick("setPosition");
      },400)
    });
    $('.popup-collections-list-slider').slick({
      slidesToShow: 1,
      arrows: true,
      dots: true,
      draggable: false,
      accessibility: false,
      centerMode: true,
      variableWidth: true,
      infinite: true,
      swipeToSlide: true,
      customPaging: function (slider, i) {
        var thumb = $(slider.$slides[i]).data();
        return '<a>' + (i + 1) + '</a>';
      }
    });

    // collections sliders filter
    $('.popup-collections__filter-item').click(function(){
      if(!$(this).hasClass('popup-collections__filter-item--active')) {
        $('.popup-collections__filter-item--active').removeClass('popup-collections__filter-item--active');
        $(this).addClass('popup-collections__filter-item--active');
        $('.popup-collections-slider--active').fadeOut(500).removeClass('popup-collections-slider--active');
        $($(this).data('slider')).fadeIn(500).addClass('popup-collections-slider--active').slick("setPosition");
      }
    });
  })