#salon-pricelist.popup-layout
  .popup-black.popup-pricelist
    .popup__close
    .pricelist-layout
      ul.pricelist
        li.pricelist-item
          .pricelist-item__thumb
            img(src="/img/client/salons/teachers/kost/teacher-001.jpg")
          .pricelist-item__content
            h1.pricelist-item__name Андрей Крупчинский
            .pricelist-item__price
              h2 Стрижка женская
              p 4000
            .pricelist-item__price
              h2 Стрижка мужская
              p 3000
        li.pricelist-item
          .pricelist-item__thumb
            img(src="/img/client/salons/teachers/kost/teacher-002.jpg")
          .pricelist-item__content
            h1.pricelist-item__name Павел Марущинец
            .pricelist-item__price
              h2 Стрижка женская
              p 2500
            .pricelist-item__price
              h2 Стрижка мужская
              p 2000
            .pricelist-item__price
              h2 Стрижка дошкольного возраста
              p 50% от прайса
            .pricelist-item__price
              h2 Коррекция формы
              p 50% от прайса
            //.pricelist-item__price
            //  h2 Укладка после окрашивания
            //  p 400
            .pricelist-item__price
              h2 Укладка при помощи браша, керамического утюжка, диффузора
              p 600-800
            //.pricelist-item__price
            //  h2 Вечерняя укладка
            //  p 1000
            .pricelist-item__price
              h2 Окрашивание
              p 2900
            .pricelist-item__price
              h2 Окрашивание корней
              p 2300
            .pricelist-item__price
              h2 Изменение цвета
              p 5000 - 7000
            .pricelist-item__price
              h2 Блондирование
              p 3000
            .pricelist-item__price
              h2 Блондирование корней
              p 2400
            .pricelist-item__price
              h2 Осветление блока
              p 1000
            .pricelist-item__price
              h2 Тонирование
              p 2100
            .pricelist-item__price
              h2 Мелирование
              p 3100
            .pricelist-item__price
              h2 Камуфлирование
              p 800
            .pricelist-item__price
              h2 Уход за волосами SMARTBOND Loreal
              p 1000
            .pricelist-item__price
              h2 Уход за волосами OLAPLEX
              p 1200
            .pricelist-item__price
              h2 Ритуал ухода за волосами SISLEY
              p 1500
            //.pricelist-item__price
            //  h2 Уход за волосами Loreal / Davines
            //  p 300
            .pricelist-item__price
              h2 Ритуалы ухода за волосами Kerastase
            .pricelist-item__price
              h2
                span Ритуал Релакс (шампунь, маска или бальзам)
              p 500
            .pricelist-item__price
              h2
                span Ритуал Интенс (шампунь, доза, бустер)
              p 1200
            .pricelist-item__price
              h2
                span Ритуал Кератермия
              p 2000
            //.pricelist-item__price
            //  h2 Японская реконструкция волос Hahoniko
            //  p 2000
            //.pricelist-item__price
            //  h2 Биозавивка
            //  p 3500
        li.pricelist-item
          .pricelist-item__thumb
            img(src="/img/client/academy/teachers-slider/academy-teacher-10.jpg")
          .pricelist-item__content
            h1.pricelist-item__name Ирина Кривуненко
            .pricelist-item__price
              h2 Стрижка
              p 2000
            .pricelist-item__price
              h2 Стрижка дошкольного возраста
              p 50% от прайса
            .pricelist-item__price
              h2 Коррекция формы
              p 50% от прайса
            .pricelist-item__price
              h2 Стрижка бороды
              p 300
            //.pricelist-item__price
            //  h2 Укладка после окрашивания
            //  p 400
            .pricelist-item__price
              h2 Укладка при помощи браша, керамического утюжка, диффузора
              p 600-800
            .pricelist-item__price
              h2 Вечерняя укладка
              p 1000
            .pricelist-item__price
              h2 Окрашивание
              p 2900
            .pricelist-item__price
              h2 Окрашивание корней
              p 2300
            .pricelist-item__price
              h2 Изменение цвета
              p 5000 - 7000
            .pricelist-item__price
              h2 Блондирование
              p 3000
            .pricelist-item__price
              h2 Блондирование корней
              p 2400
            .pricelist-item__price
              h2 Осветление блока
              p 1000
            .pricelist-item__price
              h2 Тонирование
              p 2100
            .pricelist-item__price
              h2 Мелирование
              p 3100
            .pricelist-item__price
              h2 Камуфлирование
              p 800
            .pricelist-item__price
              h2 Уход за волосами SMARTBOND Loreal
              p 1000
            .pricelist-item__price
              h2 Уход за волосами OLAPLEX
              p 1200
            .pricelist-item__price
              h2 Ритуал ухода за волосами SISLEY
              p 1500
            //.pricelist-item__price
            //  h2 Уход за волосами Loreal / Davines
            //  p 300
            .pricelist-item__price
              h2 Ритуалы ухода за волосами Kerastase
            .pricelist-item__price
              h2
                span Ритуал Релакс (шампунь, маска или бальзам)
              p 500
            .pricelist-item__price
              h2
                span Ритуал Интенс (шампунь, доза, бустер)
              p 1200
            .pricelist-item__price
              h2
                span Ритуал Кератермия
              p 2000
            .pricelist-item__price
              h2 Японская реконструкция волос Hahoniko
              p 2000
        li.pricelist-item
          .pricelist-item__thumb
            img(src="/img/client/academy/teachers-slider/academy-teacher-9.jpg")
          .pricelist-item__content
            h1.pricelist-item__name Оксана Кот
            .pricelist-item__price
              h2 Стрижка
              p 2000
            .pricelist-item__price
              h2 Стрижка дошкольного возраста
              p 50% от прайса
            .pricelist-item__price
              h2 Коррекция формы
              p 50% от прайса
            //.pricelist-item__price
            //  h2 Укладка после окрашивания
            //  p 400
            .pricelist-item__price
              h2 Укладка при помощи браша, керамического утюжка, диффузора
              p 600-800
            .pricelist-item__price
              h2 Вечерняя укладка
              p 1000
            .pricelist-item__price
              h2 Вечерняя причёска
              p 1500
            .pricelist-item__price
              h2 Свадебная прическа
              p 1500
            .pricelist-item__price
              h2 Свадебная прическа на выезд
              p 3000
            .pricelist-item__price
              h2 Окрашивание
              p 2900
            .pricelist-item__price
              h2 Окрашивание корней
              p 2300
            .pricelist-item__price
              h2 Изменение цвета
              p 5000 - 7000
            .pricelist-item__price
              h2 Блондирование
              p 3000
            .pricelist-item__price
              h2 Блондирование корней
              p 2400
            .pricelist-item__price
              h2 Осветление блока
              p 1000
            .pricelist-item__price
              h2 Тонирование
              p 2100
            .pricelist-item__price
              h2 Мелирование
              p 3100
            .pricelist-item__price
              h2 Камуфлирование
              p 800
            .pricelist-item__price
              h2 Уход за волосами SMARTBOND Loreal
              p 1000
            .pricelist-item__price
              h2 Уход за волосами OLAPLEX
              p 1200
            .pricelist-item__price
              h2 Диагностика и консультация кожи головы и волос ORising
              p 500
            .pricelist-item__price
              h2 Диагностика и лечение кожи головы и волос ORising
              p 2000 - 2500
            .pricelist-item__price
              h2 Мульти - элементный анализ волос
              p 2000
            .pricelist-item__price
              h2 Уход Orising (шампунь, маска)
              p 600
            .pricelist-item__price
              h2 Ритуал ухода за волосами SISLEY
              p 1500
            //.pricelist-item__price
            //  h2 Уход за волосами Loreal / Davines
            //  p 300
            .pricelist-item__price
              h2 Ритуалы ухода за волосами Kerastase
            .pricelist-item__price
              h2
                span Ритуал Релакс (шампунь, маска или бальзам)
              p 500
            .pricelist-item__price
              h2
                span Ритуал Интенс (шампунь, доза, бустер)
              p 1200
            .pricelist-item__price
              h2
                span Ритуал Кератермия
              p 2000
            .pricelist-item__price
              h2 Японская реконструкция волос Hahoniko
              p 2000
            .pricelist-item__price
              h2 Японское выпрямление волос
              p 5000
            .pricelist-item__price
              h2 Японское выпрямление блока
              p 1500
            .pricelist-item__price
              h2 Ламинирование волос
              p 1500
            //.pricelist-item__price
            //  h2 Биозавивка
            //  p 3500
        li.pricelist-item
          .pricelist-item__thumb
            img(src="/img/client/salons/teachers/kost/teacher-005.jpg")
          .pricelist-item__content
            h1.pricelist-item__name Татьяна Шмелева
            .pricelist-item__price
              h2 Стрижка
              p 1500
            .pricelist-item__price
              h2 Стрижка дошкольного возраста
              p 50% от прайса
            .pricelist-item__price
              h2 Коррекция формы
              p 50% от прайса
            //.pricelist-item__price
            //  h2 Укладка после окрашивания
            //  p 400
            .pricelist-item__price
              h2 Укладка при помощи браша, керамического утюжка, диффузора
              p 600-800
            .pricelist-item__price
              h2 Вечерняя укладка
              p 1000
            .pricelist-item__price
              h2 Окрашивание
              p 3200
            .pricelist-item__price
              h2 Окрашивание корней
              p 2500
            .pricelist-item__price
              h2 Изменение цвета
              p 6000 - 8000
            .pricelist-item__price
              h2 Блондирование
              p 3500
            .pricelist-item__price
              h2 Блондирование корней
              p 2800
            .pricelist-item__price
              h2 Осветление блока
              p 1000
            .pricelist-item__price
              h2 Тонирование
              p 2100
            .pricelist-item__price
              h2 Мелирование
              p 3600
            .pricelist-item__price
              h2 Градация цвета
              p 3400
            .pricelist-item__price
              h2 Камуфлирование
              p 800
            .pricelist-item__price
              h2 Уход за волосами SMARTBOND Loreal
              p 1000
            .pricelist-item__price
              h2 Уход за волосами OLAPLEX
              p 1200
            .pricelist-item__price
              h2 Ритуал ухода за волосами SISLEY
              p 1500
            //.pricelist-item__price
            //  h2 Уход за волосами Loreal / Davines
            //  p 300
            .pricelist-item__price
              h2 Ритуалы ухода за волосами Kerastase
            .pricelist-item__price
              h2
                span Ритуал Релакс (шампунь, маска или бальзам)
              p 500
            .pricelist-item__price
              h2
                span Ритуал Интенс (шампунь, доза, бустер)
              p 1200
            .pricelist-item__price
              h2
                span Ритуал Кератермия
              p 2000
            .pricelist-item__price
              h2 Японская реконструкция волос Hahoniko
              p 2000
        li.pricelist-item
          .pricelist-item__thumb
            img(src="/img/client/academy/teachers-slider/academy-teacher-15.jpg")
          .pricelist-item__content
            h1.pricelist-item__name Виталий Терещенко
            .pricelist-item__price
              h2 Стрижка
              p 1500
            .pricelist-item__price
              h2 Стрижка дошкольного возраста
              p 50% от прайса
            .pricelist-item__price
              h2 Коррекция формы
              p 50% от прайса
            .pricelist-item__price
              h2 Стрижка бороды
              p 300
            //.pricelist-item__price
            //  h2 Укладка после окрашивания
            //  p 400
            .pricelist-item__price
              h2 Укладка при помощи браша, керамического утюжка, диффузора
              p 600-800
            .pricelist-item__price
              h2 Вечерняя укладка
              p 1000
            .pricelist-item__price
              h2 Окрашивание
              p 2900
            .pricelist-item__price
              h2 Окрашивание корней
              p 2300
            .pricelist-item__price
              h2 Изменение цвета
              p 5000 - 7000
            .pricelist-item__price
              h2 Блондирование
              p 3000
            .pricelist-item__price
              h2 Блондирование корней
              p 2400
            .pricelist-item__price
              h2 Осветление блока
              p 1000
            .pricelist-item__price
              h2 Тонирование
              p 2100
            .pricelist-item__price
              h2 Мелирование
              p 3100
            .pricelist-item__price
              h2 Камуфлирование
              p 800
            .pricelist-item__price
              h2 Уход за волосами SMARTBOND Loreal
              p 1000
            .pricelist-item__price
              h2 Уход за волосами OLAPLEX
              p 1200
            .pricelist-item__price
              h2 Ритуал ухода за волосами SISLEY
              p 1500
            //.pricelist-item__price
            //  h2 Диагностика и лечение кожи головы и волос ORising
            //  p 1800 - 2000
            //.pricelist-item__price
            //  h2 Уход Orising (шампунь, маска)
            //  p 500
            //.pricelist-item__price
            //  h2 Уход за волосами Loreal / Davines
            //  p 300
            .pricelist-item__price
              h2 Ритуалы ухода за волосами Kerastase
            .pricelist-item__price
              h2
                span Ритуал Релакс (шампунь, маска или бальзам)
              p 500
            .pricelist-item__price
              h2
                span Ритуал Интенс (шампунь, доза, бустер)
              p 1200
            .pricelist-item__price
              h2
                span Ритуал Кератермия
              p 2000
            //.pricelist-item__price
            //  h2 Японская реконструкция волос Hahoniko
            //  p 2000
        li.pricelist-item
          .pricelist-item__thumb
            img(src="/img/client/academy/teachers-slider/academy-teacher-11.jpg")
          .pricelist-item__content
            h1.pricelist-item__name Сергей Куринный
            .pricelist-item__price
              h2 Стрижка
              p 1200
            .pricelist-item__price
              h2 Стрижка дошкольного возраста
              p 50% от прайса
            .pricelist-item__price
              h2 Коррекция формы
              p 50% от прайса
            .pricelist-item__price
              h2 Стрижка бороды
              p 300
            //.pricelist-item__price
            //  h2 Укладка после окрашивания
            //  p 400
            .pricelist-item__price
              h2 Укладка при помощи браша, керамического утюжка, диффузора
              p 600-800
            .pricelist-item__price
              h2 Вечерняя укладка
              p 1000
            .pricelist-item__price
              h2 Окрашивание
              p 3200
            .pricelist-item__price
              h2 Окрашивание корней
              p 2500
            .pricelist-item__price
              h2 Изменение цвета
              p 6000 - 8000
            .pricelist-item__price
              h2 Блондирование
              p 3500
            .pricelist-item__price
              h2 Блондирование корней
              p 2800
            .pricelist-item__price
              h2 Осветление блока
              p 1000
            .pricelist-item__price
              h2 Тонирование
              p 2100
            .pricelist-item__price
              h2 Мелирование
              p 3600
            .pricelist-item__price
              h2 Градация цвета
              p 3400
            .pricelist-item__price
              h2 Камуфлирование
              p 800
            .pricelist-item__price
              h2 Уход за волосами SMARTBOND Loreal
              p 1000
            .pricelist-item__price
              h2 Уход за волосами OLAPLEX
              p 1200
            .pricelist-item__price
              h2 Ритуал ухода за волосами SISLEY
              p 1500
            //.pricelist-item__price
            //  h2 Уход за волосами Loreal / Davines
            //  p 300
            .pricelist-item__price
              h2 Ритуалы ухода за волосами Kerastase
            .pricelist-item__price
              h2
                span Ритуал Релакс (шампунь, маска или бальзам)
              p 500
            .pricelist-item__price
              h2
                span Ритуал Интенс (шампунь, доза, бустер)
              p 1200
            .pricelist-item__price
              h2
                span Ритуал Кератермия
              p 2000
            .pricelist-item__price
              h2 Биозавивка
              p 4000
        li.pricelist-item
          .pricelist-item__thumb
            img(src="/img/client/academy/teachers-slider/academy-teacher-13.jpg")
          .pricelist-item__content
            h1.pricelist-item__name Алена Новикова
            .pricelist-item__price
              h2 Стрижка
              p 1200
            .pricelist-item__price
              h2 Стрижка дошкольного возраста
              p 50% от прайса
            .pricelist-item__price
              h2 Коррекция формы
              p 50% от прайса
            //.pricelist-item__price
            //  h2 Укладка после окрашивания
            //  p 400
            .pricelist-item__price
              h2 Укладка при помощи браша, керамического утюжка, диффузора
              p 600-800
            .pricelist-item__price
              h2 Вечерняя укладка
              p 1000
            .pricelist-item__price
              h2 Вечерняя причёска
              p 1400
            .pricelist-item__price
              h2 Свадебная прическа
              p 1500
            .pricelist-item__price
              h2 Свадебная прическа на выезд
              p 3000
            .pricelist-item__price
              h2 Окрашивание
              p 3200
            .pricelist-item__price
              h2 Окрашивание корней
              p 2500
            .pricelist-item__price
              h2 Изменение цвета
              p 6000 - 8000
            .pricelist-item__price
              h2 Блондирование
              p 3500
            .pricelist-item__price
              h2 Блондирование корней
              p 2800
            .pricelist-item__price
              h2 Осветление блока
              p 1000
            .pricelist-item__price
              h2 Тонирование
              p 2100
            .pricelist-item__price
              h2 Мелирование
              p 3600
            .pricelist-item__price
              h2 Градация цвета
              p 3400
            .pricelist-item__price
              h2 Камуфлирование
              p 800
            .pricelist-item__price
              h2 Уход за волосами SMARTBOND Loreal
              p 1000
            .pricelist-item__price
              h2 Уход за волосами OLAPLEX
              p 1200
            .pricelist-item__price
              h2 Ритуал ухода за волосами SISLEY
              p 1500
            //.pricelist-item__price
            //  h2 Диагностика и лечение кожи головы и волос ORising
            //  p 1800 - 2000
            //.pricelist-item__price
            //  h2 Уход Orising (шампунь, маска)
            //  p 600
            //.pricelist-item__price
            //  h2 Уход за волосами Loreal / Davines
            //  p 300
            .pricelist-item__price
              h2 Ритуалы ухода за волосами Kerastase
            .pricelist-item__price
              h2
                span Ритуал Релакс (шампунь, маска или бальзам)
              p 500
            .pricelist-item__price
              h2
                span Ритуал Интенс (шампунь, доза, бустер)
              p 1200
            .pricelist-item__price
              h2
                span Ритуал Кератермия
              p 2000
            .pricelist-item__price
              h2 Японская реконструкция волос Hahoniko
              p 2000
            .pricelist-item__price
              h2 Японское выпрямление волос
              p 5000
            //.pricelist-item__price
            //  h2 Биозавивка
            //  p 3500
        //li.pricelist-item
        //  .pricelist-item__thumb
        //    img(src="/img/client/salons/teachers/kost/teacher-009.jpg")
        //  .pricelist-item__content
        //    h1.pricelist-item__name Роман Дембицкий
        //    .pricelist-item__price
        //      h2 Стрижка
        //      p 1000
        //    .pricelist-item__price
        //      h2 Стрижка дошкольного возраста
        //      p 50% от прайса
        //    .pricelist-item__price
        //      h2 Коррекция формы
        //      p 50% от прайса
        //    .pricelist-item__price
        //      h2 Стрижка бороды
        //      p 200
        //    .pricelist-item__price
        //      h2 Укладка после окрашивания
        //      p 400
        //    .pricelist-item__price
        //      h2 Укладка при помощи браша, керамического утюжка, диффузора
        //      p 600-800
        //    .pricelist-item__price
        //      h2 Вечерняя укладка
        //      p 1000
        //    .pricelist-item__price
        //      h2 Окрашивание
        //      p 2300
        //    .pricelist-item__price
        //      h2 Окрашивание корней
        //      p 1700
        //    .pricelist-item__price
        //      h2 Изменение цвета
        //      p 4000 - 5000
        //    .pricelist-item__price
        //      h2 Блондирование
        //      p 2000
        //    .pricelist-item__price
        //      h2 Осветление блока
        //      p 1000
        //    .pricelist-item__price
        //      h2 Тонирование
        //      p 1500
        //    .pricelist-item__price
        //      h2 Мелирование
        //      p 2700
        //    .pricelist-item__price
        //      h2 Камуфлирование
        //      p 700
        //    .pricelist-item__price
        //      h2 Уход за волосами SMARTBOND Loreal
        //      p 900
        //    .pricelist-item__price
        //      h2 Уход за волосами OLAPLEX
        //      p 1200
        //    .pricelist-item__price
        //      h2 Уход за волосами Loreal / Davines
        //      p 300
        //    .pricelist-item__price
        //      h2 Ритуалы ухода за волосами Kerastase
        //    .pricelist-item__price
        //      h2
        //        span Ритуал Релакс (шампунь, маска или бальзам)
        //      p 500
        //    .pricelist-item__price
        //      h2
        //        span Ритуал Интенс (шампунь, доза, бустер)
        //      p 1000
        //    .pricelist-item__price
        //      h2
        //        span Ритуал Люкс (шампунь, 2 дозы, 2 бустера, маска)
        //      p 1200
        //    .pricelist-item__price
        //      h2
        //        span Ритуал Кератермия
        //      p 1700
        //li.pricelist-item
        //  .pricelist-item__thumb
        //    img(src="/img/client/academy/teachers-slider/academy-teacher-4.jpg")
        //  .pricelist-item__content
        //    h1.pricelist-item__name Даша Быкова
        //    .pricelist-item__price
        //      h2 Стрижка
        //      p 1000
        //    .pricelist-item__price
        //      h2 Стрижка дошкольного возраста
        //      p 50% от прайса
        //    .pricelist-item__price
        //      h2 Коррекция формы
        //      p 50% от прайса
        //    .pricelist-item__price
        //      h2 Укладка после окрашивания
        //      p 400
        //    .pricelist-item__price
        //      h2 Укладка при помощи браша, керамического утюжка, диффузора
        //      p 600-800
        //    .pricelist-item__price
        //      h2 Вечерняя укладка
        //      p 1000
        //    .pricelist-item__price
        //      h2 Вечерняя причёска
        //      p 1200
        //    .pricelist-item__price
        //      h2 Окрашивание
        //      p 2300
        //    .pricelist-item__price
        //      h2 Окрашивание корней
        //      p 1700
        //    .pricelist-item__price
        //      h2 Изменение цвета
        //      p 4000 - 5000
        //    .pricelist-item__price
        //      h2 Блондирование
        //      p 2000
        //    .pricelist-item__price
        //      h2 Осветление блока
        //      p 1000
        //    .pricelist-item__price
        //      h2 Тонирование
        //      p 1500
        //    .pricelist-item__price
        //      h2 Мелирование
        //      p 2700
        //    .pricelist-item__price
        //      h2 Камуфлирование
        //      p 700
        //    .pricelist-item__price
        //      h2 Уход за волосами SMARTBOND Loreal
        //      p 900
        //    .pricelist-item__price
        //      h2 Уход за волосами OLAPLEX
        //      p 1200
        //    .pricelist-item__price
        //      h2 Диагностика и лечение кожи головы и волос ORising
        //      p 1600 - 1800 - 2000
        //    .pricelist-item__price
        //      h2 Уход Orising (шампунь, маска)
        //      p 500
        //    .pricelist-item__price
        //      h2 Уход за волосами Loreal / Davines
        //      p 300
        //    .pricelist-item__price
        //      h2 Ритуалы ухода за волосами Kerastase
        //    .pricelist-item__price
        //      h2
        //        span Ритуал Релакс (шампунь, маска или бальзам)
        //      p 500
        //    .pricelist-item__price
        //      h2
        //        span Ритуал Интенс (шампунь, доза, бустер)
        //      p 1000
        //    .pricelist-item__price
        //      h2
        //        span Ритуал Люкс (шампунь, 2 дозы, 2 бустера, маска)
        //      p 1200
        //    .pricelist-item__price
        //      h2
        //        span Ритуал Кератермия
        //      p 1700
        //    .pricelist-item__price
        //      h2 Японская реконструкция волос Hahoniko
        //      p 2000
        li.pricelist-item
          .pricelist-item__thumb
            img(src="/img/client/academy/teachers-slider/academy-teacher-16.jpg")
          .pricelist-item__content
            h1.pricelist-item__name Алена Скворцова
            .pricelist-item__price
              h2 Стрижка
              p 1200
            .pricelist-item__price
              h2 Стрижка дошкольного возраста
              p 50% от прайса
            .pricelist-item__price
              h2 Коррекция формы
              p 50% от прайса
            .pricelist-item__price
              h2 Стрижка бороды
              p 300
            //.pricelist-item__price
            //  h2 Укладка после окрашивания
            //  p 400
            .pricelist-item__price
              h2 Укладка при помощи браша, керамического утюжка, диффузора
              p 600-800
            .pricelist-item__price
              h2 Вечерняя укладка
              p 1000
            .pricelist-item__price
              h2 Окрашивание
              p 3200
            .pricelist-item__price
              h2 Окрашивание корней
              p 2500
            .pricelist-item__price
              h2 Изменение цвета
              p 6000 - 8000
            .pricelist-item__price
              h2 Блондирование
              p 3500
            .pricelist-item__price
              h2 Блондирование корней
              p 2800
            .pricelist-item__price
              h2 Осветление блока
              p 1000
            .pricelist-item__price
              h2 Тонирование
              p 2100
            .pricelist-item__price
              h2 Мелирование
              p 3600
            .pricelist-item__price
              h2 Градация цвета
              p 3400
            .pricelist-item__price
              h2 Камуфлирование
              p 800
            .pricelist-item__price
              h2 Уход за волосами SMARTBOND Loreal
              p 1000
            .pricelist-item__price
              h2 Уход за волосами OLAPLEX
              p 1200
            .pricelist-item__price
              h2 Ритуал ухода за волосами SISLEY
              p 1500
            //.pricelist-item__price
            //  h2 Уход за волосами Loreal / Davines
            //  p 300
            .pricelist-item__price
              h2 Ритуалы ухода за волосами Kerastase
            .pricelist-item__price
              h2
                span Ритуал Релакс (шампунь, маска или бальзам)
              p 500
            .pricelist-item__price
              h2
                span Ритуал Интенс (шампунь, доза, бустер)
              p 1200
            .pricelist-item__price
              h2
                span Ритуал Кератермия
              p 2000
        li.pricelist-item
          .pricelist-item__thumb
            img(src="/img/client/salons/teachers/kost/teacher-011.jpg")
          .pricelist-item__content
            h1.pricelist-item__name Ольга Бабенко
            .pricelist-item__price
              h2 Стрижка
              p 1200
            .pricelist-item__price
              h2 Стрижка дошкольного возраста
              p 50% от прайса
            .pricelist-item__price
              h2 Коррекция формы
              p 50% от прайса
            .pricelist-item__price
              h2 Стрижка бороды
              p 300
            //.pricelist-item__price
            //  h2 Укладка после окрашивания
            //  p 400
            .pricelist-item__price
              h2 Укладка при помощи браша, керамического утюжка, диффузора
              p 600-800
            .pricelist-item__price
              h2 Вечерняя укладка
              p 1000
            .pricelist-item__price
              h2 Вечерняя причёска
              p 1400
            .pricelist-item__price
              h2 Окрашивание
              p 2900
            .pricelist-item__price
              h2 Окрашивание корней
              p 2300
            .pricelist-item__price
              h2 Изменение цвета
              p 5000 - 7000
            .pricelist-item__price
              h2 Блондирование
              p 3000
            .pricelist-item__price
              h2 Блондирование корней
              p 2400
            .pricelist-item__price
              h2 Осветление блока
              p 1000
            .pricelist-item__price
              h2 Тонирование
              p 1900
            .pricelist-item__price
              h2 Мелирование
              p 3100
            .pricelist-item__price
              h2 Камуфлирование
              p 800
            .pricelist-item__price
              h2 Уход за волосами SMARTBOND Loreal
              p 1000
            .pricelist-item__price
              h2 Уход за волосами OLAPLEX
              p 1200
            .pricelist-item__price
              h2 Ритуал ухода за волосами SISLEY
              p 1500
            //.pricelist-item__price
            //  h2 Диагностика и лечение кожи головы и волос ORising
            //  p 1800 - 2000
            //.pricelist-item__price
            //  h2 Уход Orising (шампунь, маска)
            //  p 600
            //.pricelist-item__price
            //  h2 Уход за волосами Loreal / Davines
            //  p 300
            .pricelist-item__price
              h2 Ритуалы ухода за волосами Kerastase
            .pricelist-item__price
              h2
                span Ритуал Релакс (шампунь, маска или бальзам)
              p 500
            .pricelist-item__price
              h2
                span Ритуал Интенс (шампунь, доза, бустер)
              p 1200
            .pricelist-item__price
              h2
                span Ритуал Кератермия
              p 2000
            .pricelist-item__price
              h2 Японская реконструкция волос Hahoniko
              p 2000
            .pricelist-item__price
              h2 Японское выпрямление волос
              p 5000
        //li.pricelist-item
        //  .pricelist-item__thumb
        //    img(src="/img/client/academy/teachers-slider/academy-teacher-5.jpg")
        //  .pricelist-item__content
        //    h1.pricelist-item__name Виктория Чистякова
        //    .pricelist-item__price
        //      h2 Стрижка
        //      p 1000
        //    .pricelist-item__price
        //      h2 Стрижка дошкольного возраста
        //      p 50% от прайса
        //    .pricelist-item__price
        //      h2 Коррекция формы
        //      p 50% от прайса
        //    .pricelist-item__price
        //      h2 Стрижка бороды
        //      p 300
        //    .pricelist-item__price
        //      h2 Укладка после окрашивания
        //      p 400
        //    .pricelist-item__price
        //      h2 Укладка при помощи браша, керамического утюжка, диффузора
        //      p 600-800
        //    .pricelist-item__price
        //      h2 Вечерняя укладка
        //      p 1200
        //    .pricelist-item__price
        //      h2 Вечерняя причёска
        //      p 1400
        //    .pricelist-item__price
        //      h2 Свадебная прическа
        //      p 1500
        //    .pricelist-item__price
        //      h2 Свадебная прическа на выезд
        //      p 3000
        //    .pricelist-item__price
        //      h2 Окрашивание
        //      p 2300
        //    .pricelist-item__price
        //      h2 Окрашивание корней
        //      p 1700
        //    .pricelist-item__price
        //      h2 Изменение цвета
        //      p 4000 - 5000
        //    .pricelist-item__price
        //      h2 Блондирование
        //      p 2000
        //    .pricelist-item__price
        //      h2 Осветление блока
        //      p 1000
        //    .pricelist-item__price
        //      h2 Тонирование
        //      p 1500
        //    .pricelist-item__price
        //      h2 Мелирование
        //      p 2700
        //    .pricelist-item__price
        //      h2 Камуфлирование
        //      p 700
        //    .pricelist-item__price
        //      h2 Уход за волосами SMARTBOND Loreal
        //      p 900
        //    .pricelist-item__price
        //      h2 Уход за волосами OLAPLEX
        //      p 1200
        //    .pricelist-item__price
        //      h2 Диагностика и лечение кожи головы и волос ORising
        //      p 1600
        //    .pricelist-item__price
        //      h2 Уход Orising (шампунь, маска)
        //      p 500
        //    //.pricelist-item__price
        //    //  h2 Уход за волосами Loreal / Davines
        //    //  p 300
        //    .pricelist-item__price
        //      h2 Ритуалы ухода за волосами Kerastase
        //    .pricelist-item__price
        //      h2
        //        span Ритуал Релакс (шампунь, маска или бальзам)
        //      p 500
        //    .pricelist-item__price
        //      h2
        //        span Ритуал Интенс (шампунь, доза, бустер)
        //      p 1000
        //    .pricelist-item__price
        //      h2
        //        span Ритуал Люкс (шампунь, 2 дозы, 2 бустера, маска)
        //      p 1200
        //    .pricelist-item__price
        //      h2
        //        span Ритуал Кератермия
        //      p 1700
        //    .pricelist-item__price
        //      h2 Японская реконструкция волос Hahoniko
        //      p 2000
        //    .pricelist-item__price
        //      h2 Японское выпрямление волос
        //      p 5000
        //    .pricelist-item__price
        //      h2 Японское выпрямление блока
        //      p 1500
        //    .pricelist-item__price
        //      h2 Кератиновое выравнивание
        //      p 3500
        //    .pricelist-item__price
        //      h2 Ламинирование волос
        //      p 1500
        li.pricelist-item
          .pricelist-item__thumb
            //img(src="/img/client/salons/teachers/vlad/teacher-003.jpg")
          .pricelist-item__content
            h1.pricelist-item__name Маргарита Крыгина
            .pricelist-item__price
              h2 Стрижка
              p 1000
            .pricelist-item__price
              h2 Стрижка дошкольного возраста
              p 50% от прайса
            .pricelist-item__price
              h2 Коррекция формы
              p 50% от прайса
            .pricelist-item__price
              h2 Стрижка бороды
              p 300
            //.pricelist-item__price
            //  h2 Укладка после окрашивания
            //  p 400
            .pricelist-item__price
              h2 Укладка при помощи браша, керамического утюжка, диффузора
              p 600-800
            .pricelist-item__price
              h2 Вечерняя укладка
              p 1000
            .pricelist-item__price
              h2 Вечерняя причёска
              p 1400
            .pricelist-item__price
              h2 Окрашивание
              p 2900
            .pricelist-item__price
              h2 Окрашивание корней
              p 2300
            .pricelist-item__price
              h2 Изменение цвета
              p 5000 - 7000
            .pricelist-item__price
              h2 Блондирование
              p 3000
            .pricelist-item__price
              h2 Блондирование корней
              p 2400
            .pricelist-item__price
              h2 Осветление блока
              p 1000
            .pricelist-item__price
              h2 Тонирование
              p 1900
            .pricelist-item__price
              h2 Мелирование
              p 3100
            .pricelist-item__price
              h2 Камуфлирование
              p 800
            .pricelist-item__price
              h2 Уход за волосами SMARTBOND Loreal
              p 1000
            .pricelist-item__price
              h2 Уход за волосами OLAPLEX
              p 1200
            .pricelist-item__price
              h2 Ритуал ухода за волосами SISLEY
              p 1500
            //.pricelist-item__price
            //  h2 Диагностика и лечение кожи головы и волос ORising
            //  p 1800 - 2000
            //.pricelist-item__price
            //  h2 Уход Orising (шампунь, маска)
            //  p 600
            //.pricelist-item__price
            //  h2 Уход за волосами Loreal / Davines
            //  p 300
            .pricelist-item__price
              h2 Ритуалы ухода за волосами Kerastase
            .pricelist-item__price
              h2
                span Ритуал Релакс (шампунь, маска или бальзам)
              p 500
            .pricelist-item__price
              h2
                span Ритуал Интенс (шампунь, доза, бустер)
              p 1200
            .pricelist-item__price
              h2
                span Ритуал Кератермия
              p 2000
        li.pricelist-item
          .pricelist-item__thumb
            //img(src="/img/client/salons/teachers/vlad/teacher-003.jpg")
          .pricelist-item__content
            h1.pricelist-item__name Виктория Кузьмяк
            .pricelist-item__price
              h2 Стрижка
              p 1000
            .pricelist-item__price
              h2 Стрижка дошкольного возраста
              p 50% от прайса
            .pricelist-item__price
              h2 Коррекция формы
              p 50% от прайса
            .pricelist-item__price
              h2 Стрижка бороды
              p 300
            //.pricelist-item__price
            //  h2 Укладка после окрашивания
            //  p 400
            .pricelist-item__price
              h2 Укладка при помощи браша, керамического утюжка, диффузора
              p 600-800
            .pricelist-item__price
              h2 Вечерняя укладка
              p 1000
            .pricelist-item__price
              h2 Вечерняя причёска
              p 1400
            .pricelist-item__price
              h2 Окрашивание
              p 2900
            .pricelist-item__price
              h2 Окрашивание корней
              p 2300
            .pricelist-item__price
              h2 Изменение цвета
              p 5000 - 7000
            .pricelist-item__price
              h2 Блондирование
              p 3000
            .pricelist-item__price
              h2 Блондирование корней
              p 2400
            .pricelist-item__price
              h2 Осветление блока
              p 1000
            .pricelist-item__price
              h2 Тонирование
              p 1900
            .pricelist-item__price
              h2 Мелирование
              p 3100
            .pricelist-item__price
              h2 Камуфлирование
              p 800
            .pricelist-item__price
              h2 Уход за волосами SMARTBOND Loreal
              p 1000
            .pricelist-item__price
              h2 Уход за волосами OLAPLEX
              p 1200
            .pricelist-item__price
              h2 Диагностика и лечение кожи головы и волос ORising
              p 2000 - 2500
            .pricelist-item__price
              h2 Уход Orising (шампунь, маска)
              p 600
            .pricelist-item__price
              h2 Ритуал ухода за волосами SISLEY
              p 1500
            //.pricelist-item__price
            //  h2 Уход за волосами Loreal / Davines
            //  p 300
            .pricelist-item__price
              h2 Ритуалы ухода за волосами Kerastase
            .pricelist-item__price
              h2
                span Ритуал Релакс (шампунь, маска или бальзам)
              p 500
            .pricelist-item__price
              h2
                span Ритуал Интенс (шампунь, доза, бустер)
              p 1200
            .pricelist-item__price
              h2
                span Ритуал Кератермия
              p 2000
            .pricelist-item__price
              h2 Японская реконструкция волос Hahoniko
              p 2000
            .pricelist-item__price
              h2 Японское выпрямление волос
              p 5000
        //li.pricelist-item
        //  .pricelist-item__thumb
        //    //img(src="/img/client/salons/teachers/vlad/teacher-003.jpg")
        //  .pricelist-item__content
        //    h1.pricelist-item__name Татьяна Кириченко
        //    .pricelist-item__price
        //      h2 Стрижка
        //      p 1000
        //    .pricelist-item__price
        //      h2 Стрижка дошкольного возраста
        //      p 50% от прайса
        //    .pricelist-item__price
        //      h2 Коррекция формы
        //      p 50% от прайса
        //    .pricelist-item__price
        //      h2 Стрижка бороды
        //      p 300
        //    .pricelist-item__price
        //      h2 Укладка после окрашивания
        //      p 400
        //    .pricelist-item__price
        //      h2 Укладка при помощи браша, керамического утюжка, диффузора
        //      p 600-800
        //    .pricelist-item__price
        //      h2 Вечерняя укладка
        //      p 1000
        //    .pricelist-item__price
        //      h2 Вечерняя причёска
        //      p 1400
        //    .pricelist-item__price
        //      h2 Окрашивание
        //      p 2900
        //    .pricelist-item__price
        //      h2 Окрашивание корней
        //      p 2300
        //    .pricelist-item__price
        //      h2 Изменение цвета
        //      p 5000 - 7000
        //    .pricelist-item__price
        //      h2 Блондирование
        //      p 3000
        //    .pricelist-item__price
        //      h2 Блондирование корней
        //      p 2400
        //    .pricelist-item__price
        //      h2 Осветление блока
        //      p 1000
        //    .pricelist-item__price
        //      h2 Тонирование
        //      p 2100
        //    .pricelist-item__price
        //      h2 Мелирование
        //      p 3100
        //    .pricelist-item__price
        //      h2 Камуфлирование
        //      p 800
        //    .pricelist-item__price
        //      h2 Уход за волосами SMARTBOND Loreal
        //      p 1000
        //    .pricelist-item__price
        //      h2 Уход за волосами OLAPLEX
        //      p 1200
        //    .pricelist-item__price
        //      h2 Ритуал ухода за волосами SISLEY
        //      p 1500
        //    //.pricelist-item__price
        //    //  h2 Уход Orising (шампунь, маска)
        //    //  p 600
        //    //.pricelist-item__price
        //    //  h2 Уход за волосами Loreal / Davines
        //    //  p 300
        //    .pricelist-item__price
        //      h2 Ритуалы ухода за волосами Kerastase
        //    .pricelist-item__price
        //      h2
        //        span Ритуал Релакс (шампунь, маска или бальзам)
        //      p 500
        //    .pricelist-item__price
        //      h2
        //        span Ритуал Интенс (шампунь, доза, бустер)
        //      p 1200
        //    .pricelist-item__price
        //      h2
        //        span Ритуал Кератермия
        //      p 2000
        li.pricelist-item
          .pricelist-item__thumb
            //img(src="/img/client/academy/teachers-slider/academy-teacher-2.jpg")
          .pricelist-item__content
            h1.pricelist-item__name Алина Кривоспицкая
            .pricelist-item__price
              h2 Стрижка
              p 1000
            .pricelist-item__price
              h2 Стрижка дошкольного возраста
              p 50% от прайса
            .pricelist-item__price
              h2 Коррекция формы
              p 50% от прайса
            //.pricelist-item__price
            //  h2 Укладка после окрашивания
            //  p 400
            .pricelist-item__price
              h2 Укладка при помощи браша, керамического утюжка, диффузора
              p 600-800
            .pricelist-item__price
              h2 Вечерняя укладка
              p 1000
            .pricelist-item__price
              h2 Вечерняя причёска
              p 1400
            .pricelist-item__price
              h2 Окрашивание
              p 2900
            .pricelist-item__price
              h2 Окрашивание корней
              p 2300
            .pricelist-item__price
              h2 Изменение цвета
              p 5000 - 7000
            .pricelist-item__price
              h2 Блондирование
              p 3000
            .pricelist-item__price
              h2 Блондирование корней
              p 2400
            .pricelist-item__price
              h2 Осветление блока
              p 1000
            .pricelist-item__price
              h2 Тонирование
              p 1900
            .pricelist-item__price
              h2 Мелирование
              p 3100
            .pricelist-item__price
              h2 Камуфлирование
              p 800
            .pricelist-item__price
              h2 Уход за волосами SMARTBOND Loreal
              p 1000
            .pricelist-item__price
              h2 Уход за волосами OLAPLEX
              p 1200
            .pricelist-item__price
              h2 Ритуал ухода за волосами SISLEY
              p 1500
            //.pricelist-item__price
            //  h2 Уход за волосами Loreal
            //  p 300
            .pricelist-item__price
              h2 Ритуалы ухода за волосами Kerastase
            .pricelist-item__price
              h2
                span Ритуал Релакс (шампунь, маска или бальзам)
              p 500
            .pricelist-item__price
              h2
                span Ритуал Интенс (шампунь, доза, бустер)
              p 1200
            .pricelist-item__price
              h2
                span Ритуал Кератермия
              p 2000
            //.pricelist-item__price
            //  h2 Японская реконструкция волос Hahoniko
            //  p 2000
            //.pricelist-item__price
            //  h2 Японское выпрямление волос
            //  p 5000
            //.pricelist-item__price
            //  h2 Биозавивка
            //  p 3500
        li.pricelist-item
          .pricelist-item__thumb
            img(src="/img/client/salons/teachers/kost/teacher-020.jpg")
          .pricelist-item__content
            h1.pricelist-item__name Лида Зозуля
            .pricelist-item__price
              h2 Маникюр
              p 600
            .pricelist-item__price
              h2 Покрытие
              p 250
            .pricelist-item__price
              h2 Покрытие лаком клиента
              p 250
            .pricelist-item__price
              h2 Коррекция границы ногтя
              p 200
            .pricelist-item__price
              h2 Снятие лака
              p 150
            .pricelist-item__price
              h2 Уход за кожей рук
              p 400
            .pricelist-item__price
              h2 Масаж рук
              p 200
            .pricelist-item__price
              h2 Парафиновая терапия
              p 500
            .pricelist-item__price
              h2 IBX лечение
              p 400
            .pricelist-item__price
              h2 Гель-лак
            .pricelist-item__price
              h2
                span покрытие френч
              p 600
            .pricelist-item__price
              h2
                span покрытие и снятие
              p 600
            .pricelist-item__price
              h2
                span снятие
              p 250
            .pricelist-item__price
              h2 Гелевое моделирование
            .pricelist-item__price
              h2
                span Наращивание
              p 1500
            .pricelist-item__price
              h2
                span Укрепление ногтей гелем
              p 1200
            .pricelist-item__price
              h2
                span Коррекция
              p 800
            .pricelist-item__price
              h2
                span Снятие геля
              p 500
            .pricelist-item__price
              h2
                span Ремонт одного ногтя
              p 200
            .pricelist-item__price
              h2 Педикюр
            .pricelist-item__price
              h2
                span Педикюр
              p 900
            .pricelist-item__price
              h2
                span Педикюр (только стопа или пальцы)
              p 600
            .pricelist-item__price
              h2
                span Коррекция вросшего ногтя
              p 600
            .pricelist-item__price
              h2
                span Покрытие
              p 250
            .pricelist-item__price
              h2 Уход за кожей ног
              p 300
            .pricelist-item__price
              h2 Парафиновая терапия
              p 500
            .pricelist-item__price
              h2 Гель-лак
            .pricelist-item__price
              h2
                span Покрытие френч
              p 600
            .pricelist-item__price
              h2
                span Покрытие
              p 500
            .pricelist-item__price
              h2
                span Снятие
              p 250
            .pricelist-item__price
              h2
                span Снятие и покрытие
              p 600
            .pricelist-item__price
              h2 Гелевое моделирование
            .pricelist-item__price
              h2
                span Наращивание
              p 1500
            .pricelist-item__price
              h2
                span Укрепление ногтей гелем
              p 1200
            .pricelist-item__price
              h2
                span Коррекция
              p 800
            .pricelist-item__price
              h2
                span Снятие геля
              p 500
            .pricelist-item__price
              h2
                span Ремонт одного ногтя
              p 200
        li.pricelist-item
          .pricelist-item__thumb
            img(src="/img/client/salons/teachers/kost/teacher-019.jpg")
          .pricelist-item__content
            h1.pricelist-item__name Тая Ковтун
            .pricelist-item__price
              h2 Маникюр
              p 600
            .pricelist-item__price
              h2 Покрытие
              p 250
            .pricelist-item__price
              h2 Покрытие лаком клиента
              p 250
            .pricelist-item__price
              h2 Коррекция границы ногтя
              p 200
            .pricelist-item__price
              h2 Снятие лака
              p 150
            .pricelist-item__price
              h2 Дизайн аэрография
              p 400
            .pricelist-item__price
              h2 Уход за кожей рук
              p 400
            .pricelist-item__price
              h2 Масаж рук
              p 200
            .pricelist-item__price
              h2 Парафиновая терапия
              p 500
            .pricelist-item__price
              h2 IBX лечение
              p 400
            .pricelist-item__price
              h2 Гель-лак
            .pricelist-item__price
              h2
                span покрытие френч
              p 600
            .pricelist-item__price
              h2
                span покрытие и снятие
              p 600
            .pricelist-item__price
              h2
                span снятие
              p 250
            .pricelist-item__price
              h2 Гелевое моделирование
            .pricelist-item__price
              h2
                span Наращивание
              p 1500
            .pricelist-item__price
              h2
                span Укрепление ногтей гелем
              p 1200
            .pricelist-item__price
              h2
                span Коррекция
              p 800
            .pricelist-item__price
              h2
                span Снятие геля
              p 500
            .pricelist-item__price
              h2
                span Ремонт одного ногтя
              p 200
            .pricelist-item__price
              h2 Педикюр
            .pricelist-item__price
              h2
                span Педикюр
              p 900
            .pricelist-item__price
              h2
                span Педикюр (только стопа или пальцы)
              p 600
            .pricelist-item__price
              h2
                span Коррекция вросшего ногтя
              p 600
            .pricelist-item__price
              h2
                span Покрытие
              p 250
            .pricelist-item__price
              h2 Уход за кожей ног
              p 300
            .pricelist-item__price
              h2 Парафиновая терапия
              p 500
            .pricelist-item__price
              h2 Гель-лак
            .pricelist-item__price
              h2
                span покрытие френч
              p 600
            .pricelist-item__price
              h2
                span Покрытие
              p 500
            .pricelist-item__price
              h2
                span Снятие
              p 250
            .pricelist-item__price
              h2
                span Снятие и покрытие
              p 600
            .pricelist-item__price
              h2 Гелевое моделирование
            .pricelist-item__price
              h2
                span Наращивание
              p 1500
            .pricelist-item__price
              h2
                span Укрепление ногтей гелем
              p 1200
            .pricelist-item__price
              h2
                span Коррекция
              p 800
            .pricelist-item__price
              h2
                span Снятие геля
              p 500
            .pricelist-item__price
              h2
                span Ремонт одного ногтя
              p 200
        li.pricelist-item
          .pricelist-item__thumb
            img(src="/img/client/salons/teachers/kost/teacher-017.jpg")
          .pricelist-item__content
            h1.pricelist-item__name Яна Савтира
            .pricelist-item__price
              h2 Дневной макияж
              p 1200
            .pricelist-item__price
              h2 Вечерний макияж
              p 1400
            .pricelist-item__price
              h2 Свадебный макияж
              p 1500
            .pricelist-item__price
              h2 Обучающий макияж с консультацией
              p 2000
            .pricelist-item__price
              h2 Форма бровей
              p 400
            .pricelist-item__price
              h2 Мужское моделирование бровей
              p 500
            .pricelist-item__price
              h2 Окрашивание бровей
              p 350
            .pricelist-item__price
              h2 Окрашивание ресниц
              p 350
            .pricelist-item__price
              h2 Консультация по подбору косметики
              p 700
            .pricelist-item__price
              h2 Beauty shop консультация
              p 1000
        li.pricelist-item
          .pricelist-item__thumb
            //img(src="/img/client/salons/teachers/kost/teacher-017.jpg")
          .pricelist-item__content
            h1.pricelist-item__name Гац Зоряна
            .pricelist-item__price
              h2 Макияж
              p 1000
            .pricelist-item__price
              h2 Свадебный макияж
              p 1500
            .pricelist-item__price
              h2 Форма бровей
              p 350
            .pricelist-item__price
              h2 Мужское моделирование бровей
              p 500
            .pricelist-item__price
              h2 Окрашивание бровей
              p 350
            .pricelist-item__price
              h2 Окрашивание бровей хной
              p 400
            .pricelist-item__price
              h2 Окрашивание ресниц
              p 350
            .pricelist-item__price
              h2 Ламинирование ресниц
              p 2000
        //li.pricelist-item
        //  .pricelist-item__thumb
        //    //img(src="/img/client/salons/teachers/kost/teacher-017.jpg")
        //  .pricelist-item__content
        //    h1.pricelist-item__name Валерия Козачек
        //    .pricelist-item__price
        //      h2 Макияж
        //      p 1000
        //    .pricelist-item__price
        //      h2 Свадебный макияж
        //      p 1500
        //    .pricelist-item__price
        //      h2 Обучающий макияж с консультацией
        //      p 1500
        //    .pricelist-item__price
        //      h2 Форма бровей
        //      p 350
        //    .pricelist-item__price
        //      h2 Мужское моделирование бровей
        //      p 500
        //    .pricelist-item__price
        //      h2 Окрашивание бровей
        //      p 350
        //    .pricelist-item__price
        //      h2 Окрашивание ресниц
        //      p 350
        //    .pricelist-item__price
        //      h2 Окрашивание бровей хной
        //      p 400
        //li.pricelist-item
        //  .pricelist-item__thumb
        //    img(src="/img/client/salons/teachers/kost/teacher-016.jpg")
        //  .pricelist-item__content
        //    h1.pricelist-item__name Иванна Кимач
        //    .pricelist-item__price
        //      h2 Дневной макияж
        //      p 1000
        //    .pricelist-item__price
        //      h2 Вечерний макияж
        //      p 1000
        //    .pricelist-item__price
        //      h2 Свадебный макияж
        //      p 1500
        //    .pricelist-item__price
        //      h2 Обучающий макияж с консультацией
        //      p 1500
        //    .pricelist-item__price
        //      h2 Форма бровей
        //      p 300
        //    .pricelist-item__price
        //      h2 Мужское моделирование бровей
        //      p 500
        //    .pricelist-item__price
        //      h2 Наращивание пучковых ресниц
        //      p 250
        //    .pricelist-item__price
        //      h2 Окрашивание бровей
        //      p 300
        //    .pricelist-item__price
        //      h2 Окрашивание ресниц
        //      p 300
        //    .pricelist-item__price
        //      h2 Консультация по подбору косметики
        //      p 500
