- var i = 0;
while i < salons.teachers.length
  if !(i%4)
    | <div class="sp-teachers-list-inner-layout"><div class="sp-teachers-list sp-teachers-list--2">

  div.academy-teacher
    div.academy-teachers__socials-layout
      ul.academy-teachers__socials
        if salons.teachers[i]['fb']
          li.academy-teachers__social
            a(target="_blank" href="#{salons.teachers[i]['fb']}")
              svg(xmlns='http://www.w3.org/2000/svg', width='8', height='17', viewbox='0 0 8 17')
                path(d='M0 7.07V4.78h1.49v-.86c0-1.33.32-2.32.96-2.97C3.07.32 3.95 0 5.1 0c.75 0 1.48.1 2.17.31v2.31a5.06 5.06 0 0 0-1.57-.28c-1.04 0-1.56.6-1.56 1.8v.66h3.11v2.27H4.18v9.61H1.49V7.07z')
        if salons.teachers[i]['in']
          li.academy-teachers__social
            a(target="_blank" href="#{salons.teachers[i]['in']}")
              svg(xmlns='http://www.w3.org/2000/svg', width='14', height='15', viewbox='0 0 14 15')
                path(d='M1.79 0h10.34c.98 0 1.78.82 1.78 1.82v10.53c0 1-.8 1.82-1.78 1.82H1.79A1.8 1.8 0 0 1 0 12.35V1.82C0 .82.8 0 1.79 0zm8.35 1.57a.64.64 0 0 0-.63.64v1.53c0 .35.28.64.63.64h1.57c.34 0 .62-.29.62-.64V2.21a.63.63 0 0 0-.62-.64zm2.2 4.42h-1.22a4.29 4.29 0 0 1-4.15 5.48 4.3 4.3 0 0 1-4.15-5.48H1.55v5.98c0 .31.25.57.55.57h9.69c.3 0 .55-.26.55-.57zM6.97 4.3a2.77 2.77 0 0 0-2.79 2.75 2.78 2.78 0 0 0 2.79 2.76 2.78 2.78 0 0 0 2.79-2.76A2.77 2.77 0 0 0 6.97 4.3z')
    div.academy-teacher__photo
      div.academy-teacher__photo-bg
      img(src="#{salons.teachers[i]['photo']}")
    div.academy-teacher__info
      h1.academy-teacher__name #{salons.teachers[i]['name']}

  if i%4 === 3 || i === salons.teachers.length-1
    | </div></div>
  - i++