#salon-pricelist.popup-layout
  .popup-black.popup-pricelist
    .popup__close
    .pricelist-layout
      ul.pricelist
        each price in salons.prices
          li.pricelist-item
            .pricelist-item__thumb
              if price.photo
                img(src="#{price.photo}")
            .pricelist-item__content
              h1.pricelist-item__name!= price.name
              each position in price.positions
                .pricelist-item__price
                  h2!= position.name
                  p!= position.price
