section.section.section-layout.section.gbw-base-intro
  include ../../../partials/link-back-pro.jade
  include ../../../partials/main-nav-socials.jade
  include ../../../partials/main-nav-lang.jade
  include ../../../partials/main-nav-toggle.jade
  include ../../../partials/courses-link.jade

  .logo

  .gbw-base-intro__circles
    .gbw-base-intro__circles-logo
    .circle.gbw-base-intro__circle.gbw-base-intro__circle--1
    .circle.gbw-base-intro__circle.gbw-base-intro__circle--2
    .circle.gbw-base-intro__circle.gbw-base-intro__circle--3

  .gbw-base-intro-main
    h2.gbw-base-intro-main__subtitle Обучающая<br class="br-lg-md"> система
    h1.gbw-base-intro-main__title GBW
    p.gbw-base-intro-main__text Уникальная авторская программа<br class="br-sm"> по адаптивному<br class="br-lp-md"> дизайну волос<br class="br-sm"><br class="br-lg--lp"> и комбинированию<br class="br-lp-md"> основных форм:
    p.gbw-base-intro-main__text.gbw-base-intro-main__text--white линии, слои, градация

  a(href="/courses/pro/gbw/grey/kiev").gbw-base-intro-dice.gbw-base-intro-dice--1
    .gbw-base-intro-dice__image
    .gbw-base-intro-dice__content
      h1.gbw-base-intro-dice__title grey
      ul.gbw-base-intro-dice__list
        li.gbw-base-intro-dice__list-item
          p.gbw-base-intro-dice__list-item-text <span class="lg">70%</span> линии
        li.gbw-base-intro-dice__list-item
          p.gbw-base-intro-dice__list-item-text <span>20%</span> градация
          p.gbw-base-intro-dice__list-item-text <span>10%</span> слои
      .gbw-base-intro-dice__link
        | перейти
        svg(width='12px', height='5px', viewbox='0 0 12 5', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
          g#Page-1(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd', opacity='0.5')
            g#GBW-general-1920x1080(transform='translate(-1073.000000, -4850.000000)', fill='#FFFFFF')
              g#block-5(transform='translate(0.000000, 4325.000000)')
                g#scheme(transform='translate(573.000000, 460.000000)')
                  g#grey(transform='translate(296.000000, 0.000000)')
                    g#button(transform='translate(133.000000, 58.000000)')
                      g(id='Arrow/Long/right-active', transform='translate(71.000000, 7.000000)')
                        g(id='Arrow/Short/right-active')
                          path(d='M8.40301533,3.46261873 L0,3.46261873 L0,1.46261873 L8.38138622,1.46261873 L8.36556864,0 L11.3655686,2.46981835 L8.41964143,5 L8.40301533,3.46261873 Z', id='Arrow/Long/right-active-Copy')

  a(href="/courses/pro/gbw/black/kiev").gbw-base-intro-dice.gbw-base-intro-dice--2
    .gbw-base-intro-dice__image
    .gbw-base-intro-dice__content
      h1.gbw-base-intro-dice__title black
      ul.gbw-base-intro-dice__list
        li.gbw-base-intro-dice__list-item
          p.gbw-base-intro-dice__list-item-text <span class="lg">70%</span> линии
        li.gbw-base-intro-dice__list-item
          p.gbw-base-intro-dice__list-item-text <span>20%</span> градация
          p.gbw-base-intro-dice__list-item-text <span>10%</span> слои
      .gbw-base-intro-dice__link
        | перейти
        svg(width='12px', height='5px', viewbox='0 0 12 5', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
          g#Page-1(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd', opacity='0.5')
            g#GBW-general-1920x1080(transform='translate(-1073.000000, -4850.000000)', fill='#FFFFFF')
              g#block-5(transform='translate(0.000000, 4325.000000)')
                g#scheme(transform='translate(573.000000, 460.000000)')
                  g#grey(transform='translate(296.000000, 0.000000)')
                    g#button(transform='translate(133.000000, 58.000000)')
                      g(id='Arrow/Long/right-active', transform='translate(71.000000, 7.000000)')
                        g(id='Arrow/Short/right-active')
                          path(d='M8.40301533,3.46261873 L0,3.46261873 L0,1.46261873 L8.38138622,1.46261873 L8.36556864,0 L11.3655686,2.46981835 L8.41964143,5 L8.40301533,3.46261873 Z', id='Arrow/Long/right-active-Copy')

  a(href="/courses/pro/gbw/white/kiev").gbw-base-intro-dice.gbw-base-intro-dice--3
    .gbw-base-intro-dice__image
    .gbw-base-intro-dice__content
      h1.gbw-base-intro-dice__title White
      ul.gbw-base-intro-dice__list
        li.gbw-base-intro-dice__list-item
          p.gbw-base-intro-dice__list-item-text <span class="lg">70%</span> линии
        li.gbw-base-intro-dice__list-item
          p.gbw-base-intro-dice__list-item-text <span>20%</span> градация
          p.gbw-base-intro-dice__list-item-text <span>10%</span> слои
      .gbw-base-intro-dice__link
        | перейти
        svg(width='12px', height='5px', viewbox='0 0 12 5', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
          g#Page-1(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd', opacity='0.5')
            g#GBW-general-1920x1080(transform='translate(-1073.000000, -4850.000000)', fill='#FFFFFF')
              g#block-5(transform='translate(0.000000, 4325.000000)')
                g#scheme(transform='translate(573.000000, 460.000000)')
                  g#grey(transform='translate(296.000000, 0.000000)')
                    g#button(transform='translate(133.000000, 58.000000)')
                      g(id='Arrow/Long/right-active', transform='translate(71.000000, 7.000000)')
                        g(id='Arrow/Short/right-active')
                          path(d='M8.40301533,3.46261873 L0,3.46261873 L0,1.46261873 L8.38138622,1.46261873 L8.36556864,0 L11.3655686,2.46981835 L8.41964143,5 L8.40301533,3.46261873 Z', id='Arrow/Long/right-active-Copy')



  include ../../../partials/lp/scroll-down.jade

script.
  $(function(){
    gbwDicesFloating();
  });