section.section#action.section-layout.section.sp-action.sp-action--gbw
  h1.sp-action__title
    | Не знаете,<br>
    span с какого трека
    span начать?

  .sp-action-box
    .sp-action-box__inner
      .sp-action-box__text-sm Хотите узнать больше<br class="br-sm"> о системе, о педагогах или Академии?<br> Напишите нам, мы любим общаться!
        .dots
    .vertical-line.sp-action-box__line.sp-action-box__line--1
    .vertical-line.sp-action-box__line.sp-action-box__line--2

  button(onclick="registerStep1('gbwBase','GBW', 'трек «GBW»', 'kiev', '14.03.2017')").btn.sp-action__link записаться на курс