section.section-layout.sp-philosophy.sp-philosophy--gbw-base
  .circles-big
    .circles-big__circle.circles-big__circle--1
    .circles-big__circle.circles-big__circle--2
    .circles-big__circle.circles-big__circle--3
    .circles-big__line-horizontal

  .sp-philosophy-main
    .sp-philosophy-main__title
      span За вами сложно
      span  повторить,<br>
      span вашу стрижку
      span  сложно<br>
      span воссоздать
