section#sp-foundation.section-layout.gbw-masters
  .page-title
    .page-title__logo
    h2 Обучающая система для
    h1 мастеров<br class="br-sm"/><span class="br-lg-md">-</span>парикмахеров

  .gbw-masters-list-layout
    ul.gbw-masters-list
      li.gbw-masters-list__item
        .gbw-masters-list__item-line-mobile
        h1.gbw-masters-list__item-title уставших
        p.gbw-masters-list__item-text от повседневности<br> в работе
      li.gbw-masters-list__item
        .gbw-masters-list__item-line-mobile
        h1.gbw-masters-list__item-title ищущих
        p.gbw-masters-list__item-text технологии<br> для новых образов
      li.gbw-masters-list__item
        .gbw-masters-list__item-line-mobile
        h1.gbw-masters-list__item-title желающих
        p.gbw-masters-list__item-text воплощать<br> творческие идеи

  p.gbw-masters__text
    span с опытом<br class="br-sm"> практической работы
    | не менее 3-х лет

  p.gbw-masters__disclaimer Рекомендуется после прохождения<br class="br-sm"> предварительного обучения<br> в ERTEQOOB
