section#format.section.section-layout.section.gbw-format
  div.page-title
    .page-title__logo
    h1 формат обучения
    p
      | Система разделена на три независимые части -<br class="br-sm"> треки Grey, Black и White.
      span
        | Каждая часть - это пятидневный интенсив,<br class="br-sm"> полностью раскрывающий один<br class="br-lg-md">
        | из принципов<br class="br-sm"> стрижки волос - градация, линии, слои, а также<br class="br-sm"> дополняющий<br class="br-lg-md">
        | и укрепляющий остальные.

  .gbw-format-center
    .gbw-format-center__circles
      .circle.gbw-format-center__circle.gbw-format-center__circle--1
      .circle.gbw-format-center__circle.gbw-format-center__circle--2
      .circle.gbw-format-center__circle.gbw-format-center__circle--3
    div(data-item="1").gbw-format-center__dot.gbw-format-center__dot--1.gbw-format-center__dot--active
      .gbw-format-center__dot-inner
        svg.gbw-format-center__dot-inner-icon(width='15px', height='9px', viewbox='0 0 15 9', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
          g#Page-1(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
            g#GBW-general-1920x1080(transform='translate(-936.000000, -4868.000000)', fill='#9E9E9E')
              g#block-5(transform='translate(0.000000, 4325.000000)')
                g#scheme(transform='translate(573.000000, 460.000000)')
                  g#grey(transform='translate(296.000000, 0.000000)')
                    g#dot-active-grey(transform='translate(0.000000, 17.000000)')
                      polygon#Triangle(points='74.2 66 81.4 78 67 78')
      .circle.gbw-format-center__dot-circle.gbw-format-center__dot-circle--1
      .circle.gbw-format-center__dot-circle.gbw-format-center__dot-circle--2
      .circle.gbw-format-center__dot-circle.gbw-format-center__dot-circle--3
      h1.gbw-format-center__dot-name grey
      a(href="/courses/pro/gbw/grey/kiev").gbw-format-center__dot-link
        | перейти
        svg(width='12px', height='5px', viewbox='0 0 12 5', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
          g#Page-1(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd', opacity='0.5')
            g#GBW-general-1920x1080(transform='translate(-1073.000000, -4850.000000)', fill='#FFFFFF')
              g#block-5(transform='translate(0.000000, 4325.000000)')
                g#scheme(transform='translate(573.000000, 460.000000)')
                  g#grey(transform='translate(296.000000, 0.000000)')
                    g#button(transform='translate(133.000000, 58.000000)')
                      g(id='Arrow/Long/right-active', transform='translate(71.000000, 7.000000)')
                        g(id='Arrow/Short/right-active')
                          path(d='M8.40301533,3.46261873 L0,3.46261873 L0,1.46261873 L8.38138622,1.46261873 L8.36556864,0 L11.3655686,2.46981835 L8.41964143,5 L8.40301533,3.46261873 Z', id='Arrow/Long/right-active-Copy')
    div(data-item="2").gbw-format-center__dot.gbw-format-center__dot--2
      .gbw-format-center__dot-inner
        svg.gbw-format-center__dot-inner-icon(width='10px', height='10px', viewbox='0 0 10 10', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
          g#Page-1(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
            g#GBW-general-320x480(transform='translate(-257.000000, -3316.000000)', fill='#9E9E9E')
              g#block-5(transform='translate(-1.000000, 2779.000000)')
                g#black(transform='translate(11.000000, 520.000000)')
                  g#dot-active(transform='translate(234.000000, 4.000000)')
                    rect#Rectangle(x='13', y='13', width='10', height='10')
      .circle.gbw-format-center__dot-circle.gbw-format-center__dot-circle--1
      .circle.gbw-format-center__dot-circle.gbw-format-center__dot-circle--2
      .circle.gbw-format-center__dot-circle.gbw-format-center__dot-circle--3
      h1.gbw-format-center__dot-name black
      a(href="/courses/pro/gbw/black/kiev").gbw-format-center__dot-link
        | перейти
        svg(width='12px', height='5px', viewbox='0 0 12 5', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
          g#Page-1(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd', opacity='0.5')
            g#GBW-general-1920x1080(transform='translate(-1073.000000, -4850.000000)', fill='#FFFFFF')
              g#block-5(transform='translate(0.000000, 4325.000000)')
                g#scheme(transform='translate(573.000000, 460.000000)')
                  g#grey(transform='translate(296.000000, 0.000000)')
                    g#button(transform='translate(133.000000, 58.000000)')
                      g(id='Arrow/Long/right-active', transform='translate(71.000000, 7.000000)')
                        g(id='Arrow/Short/right-active')
                          path(d='M8.40301533,3.46261873 L0,3.46261873 L0,1.46261873 L8.38138622,1.46261873 L8.36556864,0 L11.3655686,2.46981835 L8.41964143,5 L8.40301533,3.46261873 Z', id='Arrow/Long/right-active-Copy')
    div(data-item="3").gbw-format-center__dot.gbw-format-center__dot--3
      .gbw-format-center__dot-inner
        svg.gbw-format-center__dot-inner-icon(width='12px', height='12px', viewbox='0 0 12 12', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
          g#Page-1(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
            g#GBW-general-320x480(transform='translate(-48.000000, -3612.000000)', fill='#9E9E9E')
              g#block-5(transform='translate(-1.000000, 2779.000000)')
                g#white(transform='translate(37.000000, 821.000000)')
                  g#dot-active
                    circle#Oval(cx='18', cy='18', r='6')
      .circle.gbw-format-center__dot-circle.gbw-format-center__dot-circle--1
      .circle.gbw-format-center__dot-circle.gbw-format-center__dot-circle--2
      .circle.gbw-format-center__dot-circle.gbw-format-center__dot-circle--3
      h1.gbw-format-center__dot-name white
      a(href="/courses/pro/gbw/white/kiev").gbw-format-center__dot-link
        | перейти
        svg(width='12px', height='5px', viewbox='0 0 12 5', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
          g#Page-1(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd', opacity='0.5')
            g#GBW-general-1920x1080(transform='translate(-1073.000000, -4850.000000)', fill='#FFFFFF')
              g#block-5(transform='translate(0.000000, 4325.000000)')
                g#scheme(transform='translate(573.000000, 460.000000)')
                  g#grey(transform='translate(296.000000, 0.000000)')
                    g#button(transform='translate(133.000000, 58.000000)')
                      g(id='Arrow/Long/right-active', transform='translate(71.000000, 7.000000)')
                        g(id='Arrow/Short/right-active')
                          path(d='M8.40301533,3.46261873 L0,3.46261873 L0,1.46261873 L8.38138622,1.46261873 L8.36556864,0 L11.3655686,2.46981835 L8.41964143,5 L8.40301533,3.46261873 Z', id='Arrow/Long/right-active-Copy')
    .gbw-format-center__info.gbw-format-center__info--1.gbw-format-center__info--active
      p.gbw-format-center__info-text.gbw-format-center__info-text--1 <span class="lg">70%</span> градация
      p.gbw-format-center__info-text.gbw-format-center__info-text--2 <span>20%</span> слои
      p.gbw-format-center__info-text.gbw-format-center__info-text--3 <span>10%</span> линии
      svg.gbw-format-center__info-head(width='362px', height='439px', viewbox='0 0 362 439', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
        g#Page-1(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
          g#GBW-Grey(transform='translate(-213.000000, -503.000000)')
            g#block-1
              g#Group-13(transform='translate(215.000000, 298.000000)')
                g#head-gradation(transform='translate(0.000000, 207.000000)')
                  path#Path-3-Copy-2(d='M14.811727,380.652685 C71.8672141,330.068993 87.9315264,286.501451 63.0046637,249.950058 C44.631752,223.009021 -6.83278664,105.066449 73.6253325,39.8205565 C154.083452,-25.4253358 331.571492,13.4685398 331.22775,166.759388 C331.188607,184.214997 322.873366,193.4575 324.537883,203.895 C330.501732,241.291814 386.913796,250.655047 338.965292,267.302563 C330.371866,271.502813 341.962365,281.719915 342.233637,287.284632 C342.531381,293.39238 333.119523,298.773116 331.22775,299.204779 C329.335977,299.636442 336.728182,301.065895 336.762201,306.894189 C336.79622,312.722483 323.507808,319.122732 323.081039,324.18477 C322.65427,329.246808 330.354799,347.279087 319.435333,356.122857 C308.515867,364.966628 259.005757,357.516774 185.970113,317.810201', stroke='#666666', stroke-width='3', stroke-linecap='round', stroke-linejoin='round')
                  path#Path-3(d='M226.014973,338.359384 C204.314059,352.435237 186.326253,384.707478 172.051554,435.176107', stroke='#666666', stroke-width='3', stroke-linecap='round', stroke-linejoin='round')
                  path#Path-3-Copy(d='M212.748421,406.643768 L38.1751539,301.620155 C14.3430242,253.850979 2.26988338,228.360402 1.95573144,225.148423 C-7.20253869,131.511657 25.707458,66.8130131 67.6253325,32.8205565 C113.057357,-4.0216293 194.331821,-11.8795012 254.456505,21.843871 C284.18392,38.5176998 312.195111,61.869523 327.535026,99.3815492 C244.269004,156.375712 201.342117,276.055898 212.748421,406.643768 Z', stroke='#FFFFFF', stroke-width='4', stroke-linecap='round', stroke-linejoin='round')
                  path#Path-5(d='M75.2621013,293.425048 C99.2586935,282.780358 112.604151,255.69257 115.298473,212.161684', stroke='#666666', stroke-width='2', stroke-linecap='round', stroke-linejoin='round', stroke-dasharray='10,15')
                  path#Path-4(d='M151.781721,187.993969 C153.706634,197.851564 157.757524,202.231551 163.93439,201.133933 C173.19969,199.487505 175.301924,188.719426 176.097513,164.075496 C176.893102,139.431567 198.572909,134.191175 211.523334,129.508801 C224.473759,124.826427 232.051194,104.41459 232.214179,87.359146 C232.377165,70.3037016 270.380364,60.4969592 302.764713,73.9280526', stroke='#666666', stroke-width='2', stroke-linecap='round', stroke-linejoin='round', stroke-dasharray='10,15')
                  path#Path-6(d='M146.665751,180.564122 C139.129029,174.12146 131.313913,172.567998 123.220404,175.903735 C111.080141,180.907341 105.122378,200.675364 119.34548,215.824709 C133.568583,230.974055 137.328096,236.911901 140.798765,246.697992 C144.269435,256.484083 157.483879,258.230954 161.255732,247.710895', stroke='#666666', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
                  path#Path-7(d='M2.03246232,225.805973 L211.356574,352.140355', stroke='#FFFFFF', stroke-width='4')
                  polygon#Path-7-Copy(fill='#FFFFFF', opacity='0.300000012', points='211.356574 406.151556 38.6631465 301.180149 2.03246232 225.805973 211.356574 352.140355')
    .gbw-format-center__info.gbw-format-center__info--2
      p.gbw-format-center__info-text.gbw-format-center__info-text--1 <span class="lg">70%</span> линии
      p.gbw-format-center__info-text.gbw-format-center__info-text--2 <span>10%</span> слои
      p.gbw-format-center__info-text.gbw-format-center__info-text--3 <span>20%</span> градация
      svg.gbw-format-center__info-head(width='447px', height='461px', viewbox='0 0 447 461', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
        g#Page-1(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd', stroke-linecap='round', stroke-linejoin='round')
          g#GBW-Grey(transform='translate(-128.000000, -481.000000)')
            g#block-1
              g#Group-13(transform='translate(130.000000, 298.000000)')
                g#head-lines(transform='translate(0.000000, 185.000000)')
                  path#Path-3-Copy-2(d='M99.811727,402.652685 C156.867214,352.068993 172.931526,308.501451 148.004664,271.950058 C129.631752,245.009021 78.1672134,127.066449 158.625332,61.8205565 C239.083452,-3.42533577 416.571492,35.4685398 416.22775,188.759388 C416.188607,206.214997 407.873366,215.4575 409.537883,225.895 C415.501732,263.291814 471.913796,272.655047 423.965292,289.302563 C415.371866,293.502813 426.962365,303.719915 427.233637,309.284632 C427.531381,315.39238 418.119523,320.773116 416.22775,321.204779 C414.335977,321.636442 421.728182,323.065895 421.762201,328.894189 C421.79622,334.722483 408.507808,341.122732 408.081039,346.18477 C407.65427,351.246808 415.354799,369.279087 404.435333,378.122857 C393.515867,386.966628 344.005757,379.516774 270.970113,339.810201', stroke='#666666', stroke-width='3')
                  path#Path-3(d='M311.014973,360.359384 C289.314059,374.435237 271.326253,406.707478 257.051554,457.176107', stroke='#666666', stroke-width='3')
                  path#Path-5(d='M160.262101,315.425048 C184.258694,304.780358 197.604151,277.69257 200.298473,234.161684', stroke='#666666', stroke-width='2', stroke-dasharray='10,15')
                  path#Path-4(d='M236.37934,208.536576 C239.043736,215.242896 243.464367,218.047246 249.641234,216.949628 C258.906534,215.3032 260.301924,210.719426 261.097513,186.075496 C261.893102,161.431567 283.572909,156.191175 296.523334,151.508801 C309.473759,146.826427 317.051194,126.41459 317.214179,109.359146 C317.377165,92.3037016 355.380364,82.4969592 387.764713,95.9280526', stroke='#666666', stroke-width='2', stroke-dasharray='10,15')
                  path#Path-6(d='M231.665751,202.564122 C224.129029,196.12146 216.313913,194.567998 208.220404,197.903735 C196.080141,202.907341 190.122378,222.675364 204.34548,237.824709 C218.568583,252.974055 222.328096,258.911901 225.798765,268.697992 C229.269435,278.484083 242.483879,280.230954 246.255732,269.710895', stroke='#666666', stroke-width='2')
                  path#Path-3-Copy(d='M230.234889,284.336263 L213.001742,357.902973 L209.086873,329.516553 L191.938202,357.902973 L191.938202,323.697349 L173.457975,352.226653 L176.302863,318.556368 L154.771084,347.430337 L157.42605,313.470901 L140.477709,335.806411 C144.252589,314.05982 143.213934,293.05823 137.361744,272.80164 C120.782867,215.416024 91.7978721,165.817197 50.4067602,124.005156 L70.3383186,115.090599 L39.8206843,98.6044538 L76.2782029,89.2758667 L26.9923684,65.6442503 L76.2782029,61.719727 L18.2209665,35.500725 L76.2782029,35.500725 C19.9661411,16.6322513 -4.88365159,6.85865606 1.72882477,6.17993931 C154.26664,-9.47682277 279.117255,10.7179832 339.241939,44.4413554 C385.595428,70.4405936 401.977508,100.071538 404.824587,120.972443 C397.186746,115.817156 389.739682,110.78652 382.483394,105.880535 L382.483394,124.005156 L367.4287,108.23276 L367.4287,126.923385 L350.74531,110.996197 L347.536526,129.120939 L333.289223,115.090599 L333.289223,129.120939 L242.269649,252.899541 L248.232987,225.672461 L235.604667,239.258721 L242.269649,215.290865 L228.651643,230.806282 L231.319107,212.567503', stroke='#FFFFFF', stroke-width='4')
    .gbw-format-center__info.gbw-format-center__info--3
      p.gbw-format-center__info-text.gbw-format-center__info-text--1 <span class="lg">70%</span> слои
      p.gbw-format-center__info-text.gbw-format-center__info-text--2 <span>20%</span> линии
      p.gbw-format-center__info-text.gbw-format-center__info-text--3 <span>10%</span> градация
      svg.gbw-format-center__info-head(width='351px', height='439px', viewbox='0 0 351 439', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
        g#Page-1(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd', stroke-linecap='round', stroke-linejoin='round')
          g#GBW-Grey(transform='translate(-224.000000, -503.000000)')
            g#block-1
              g#Group-13(transform='translate(226.000000, 298.000000)')
                g#head-layers(transform='translate(0.000000, 207.000000)')
                  path#Path-3-Copy-2(d='M3.81172697,380.652685 C60.8672141,330.068993 76.9315264,286.501451 52.0046637,249.950058 C33.631752,223.009021 -17.8327866,105.066449 62.6253325,39.8205565 C143.083452,-25.4253358 320.571492,13.4685398 320.22775,166.759388 C320.188607,184.214997 311.873366,193.4575 313.537883,203.895 C319.501732,241.291814 375.913796,250.655047 327.965292,267.302563 C319.371866,271.502813 330.962365,281.719915 331.233637,287.284632 C331.531381,293.39238 322.119523,298.773116 320.22775,299.204779 C318.335977,299.636442 325.728182,301.065895 325.762201,306.894189 C325.79622,312.722483 312.507808,319.122732 312.081039,324.18477 C311.65427,329.246808 319.354799,347.279087 308.435333,356.122857 C297.515867,364.966628 248.005757,357.516774 174.970113,317.810201', stroke='#666666', stroke-width='3')
                  path#Path-3(d='M215.014973,338.359384 C193.314059,352.435237 175.326253,384.707478 161.051554,435.176107', stroke='#666666', stroke-width='3')
                  path#Path-3-Copy(d='M217.559747,111.745376 C207.590633,167.011088 205.653525,235.310552 211.748421,316.643768 C211.748421,316.643768 144.654185,314.847041 10.4657141,311.253587 C-12.3999531,169.128828 2.9865864,76.3178181 56.6253325,32.8205565 C102.057357,-4.0216293 183.331821,-11.8795012 243.456505,21.843871 C289.809994,47.8431092 331.990714,90.0790045 328.465946,176.918051 C328.465946,176.918051 284.771274,176.050061 211.14605,180.080219', stroke='#FFFFFF', stroke-width='4')
                  path#Path-5(d='M64.2621013,293.425048 C88.2586935,282.780358 101.604151,255.69257 104.298473,212.161684', stroke='#666666', stroke-width='2', stroke-dasharray='10,15')
                  path#Path-4(d='M140.781721,187.993969 C142.706634,197.851564 146.757524,202.231551 152.93439,201.133933 C162.19969,199.487505 164.301924,188.719426 165.097513,164.075496 C165.893102,139.431567 187.572909,134.191175 200.523334,129.508801 C213.473759,124.826427 221.051194,104.41459 221.214179,87.359146 C221.377165,70.3037016 259.380364,60.4969592 291.764713,73.9280526', stroke='#666666', stroke-width='2', stroke-dasharray='10,15')
                  path#Path-6(d='M135.665751,180.564122 C128.129029,174.12146 120.313913,172.567998 112.220404,175.903735 C100.080141,180.907341 94.1223778,200.675364 108.34548,215.824709 C122.568583,230.974055 126.328096,236.911901 129.798765,246.697992 C133.269435,256.484083 146.483879,258.230954 150.255732,247.710895', stroke='#666666', stroke-width='2')

  ul.gbw-format-list
    li.gbw-format-list__item
      p.gbw-format-list__item-text
        | Между треками<br class="br-lg"> можно делать перерыв
        span чтобы успевать внедрять<br class="br-sm"> новые знания,<br class="br-lg-md"> но не «изнашивать» их.
    li.gbw-format-list__item
      p.gbw-format-list__item-text
        | Начать можно с любого<br class="br-lg"> трека -
        span последовательность не важна.<br class="br-sm"> Треки независимы,<br class="br-lg-md"> но связаны<br class="br-sm"> и дополняют друг друга.
    li.gbw-format-list__item
      p.gbw-format-list__item-text
        | Только пройдя<br class="br-lg"> всю систему
        span можно брать по одному дню треков<br> для повторения
    li.gbw-format-list__item
      p.gbw-format-list__item-text
        | Важно пройти путь<br class="br-lg"> трёх треков
        span для максимального уровня<br class="br-sm"> укоренения знаний<br class="br-lg-md"> и видения<br class="br-sm"> картинки в целом.

script.
  $(function(){
    if ($(window).width() >= 640) {
      $('.gbw-format-center__dot').click(function () {
        if (!$(this).hasClass('gbw-format-center__dot--active')) {
          $('.gbw-format-center__dot--active').removeClass('gbw-format-center__dot--active');
          $(this).addClass('gbw-format-center__dot--active');
          $('.gbw-format-center__info--active').removeClass('gbw-format-center__info--active');
          $('.gbw-format-center__info--' + $(this).data('item')).addClass('gbw-format-center__info--active');
        }
      });
    }
  });
