section#sp-foundation.section-layout.section.sp-foundation.sp-foundation--adaptation
  div.page-title
    .page-title__logo
    h2 Изучение всех нюансов
    h1 создания мужских<br> форм


  ul.sp-foundation-list
    li.sp-foundation-list__item
      div.sp-foundation-list__item-title актуальные
        .sp-foundation-list__item-dots
      p.sp-foundation-list__item-text техники и формы<br> мужских стрижек
    li.sp-foundation-list__item
      div.sp-foundation-list__item-title умение<br> подбирать
        .sp-foundation-list__item-dots
      p.sp-foundation-list__item-text стрижку согласно<br> особенностям клиента
    li.sp-foundation-list__item
      div.sp-foundation-list__item-title возможность<br> повысить
        .sp-foundation-list__item-dots
      p.sp-foundation-list__item-text уровень мастерства, клиентов<br> и доходов
    li.sp-foundation-list__item
      div.sp-foundation-list__item-title создание образа,
        .sp-foundation-list__item-dots
      p.sp-foundation-list__item-text подчеркивающего харизму<br> мужчины

