section.section-layout.sp-masters.sp-masters--bg-2.sp-masters--man-innovations
  div.page-title
    .page-title__logo
    h2 Трек Man innovations
    h1 подходит<br> для мастеров:

  ul.sp-masters-list.sp-masters-list--big-items
    li.sp-masters-list__item
      p.sp-masters-list__item-text
        span Практикующих<br class="br-lg-md"> в салоне
        | с навыками и опытом<br>
        | в мужских стрижках
      .sp-masters-list__item-dot
    li.sp-masters-list__item
      p.sp-masters-list__item-text
        span
          br.br-lg
          | начинающим
        | рекомендуется после<br class="br-sm"> прохождения<br>
        | курса Базовый
      .sp-masters-list__item-dot