ul.photo-popup-slider.academy-inspiration-popup__slider.academy-inspiration-popup__slider--kiev.academy-inspiration-popup__slider--active.slider-arrows-long.slider-arrows-long--edge.academy-inspiration-slider.academy-inspiration-slider--kiev
  li.photo-popup-slide
    .photo-popup-slide-layout
      img(src="/img/client/academy/slider/kiev_new/big/Erteqoob_001.jpg")
  li.photo-popup-slide
    .photo-popup-slide-layout
      img(src="/img/client/academy/slider/kiev_new/big/Erteqoob_002.jpg")
  li.photo-popup-slide
    .photo-popup-slide-layout
      img(src="/img/client/academy/slider/kiev_new/big/Erteqoob_003.jpg")
  li.photo-popup-slide
    .photo-popup-slide-layout
      img(src="/img/client/academy/slider/kiev_new/big/Erteqoob_004.jpg")
  li.photo-popup-slide
    .photo-popup-slide-layout
      img(src="/img/client/academy/slider/kiev_new/big/Erteqoob_005.jpg")
  li.photo-popup-slide
    .photo-popup-slide-layout
      img(src="/img/client/academy/slider/kiev_new/big/Erteqoob_006.jpg")
  li.photo-popup-slide
    .photo-popup-slide-layout
      img(src="/img/client/academy/slider/kiev_new/big/Erteqoob_007.jpg")
  li.photo-popup-slide
    .photo-popup-slide-layout
      img(src="/img/client/academy/slider/kiev_new/big/Erteqoob_008.jpg")
  li.photo-popup-slide
    .photo-popup-slide-layout
      img(src="/img/client/academy/slider/kiev_new/big/Erteqoob_009.jpg")
  li.photo-popup-slide
    .photo-popup-slide-layout
      img(src="/img/client/academy/slider/kiev_new/big/Erteqoob_010.jpg")
  li.photo-popup-slide
    .photo-popup-slide-layout
      img(src="/img/client/academy/slider/kiev_new/big/Erteqoob_011.jpg")
  li.photo-popup-slide
    .photo-popup-slide-layout
      img(src="/img/client/academy/slider/kiev_new/big/Erteqoob_012.jpg")
  li.photo-popup-slide
    .photo-popup-slide-layout
      img(src="/img/client/academy/slider/kiev_new/big/Erteqoob_013.jpg")
  li.photo-popup-slide
    .photo-popup-slide-layout
      img(src="/img/client/academy/slider/kiev_new/big/Erteqoob_014.jpg")
  li.photo-popup-slide
    .photo-popup-slide-layout
      img(src="/img/client/academy/slider/kiev_new/big/Erteqoob_015.jpg")
  li.photo-popup-slide
    .photo-popup-slide-layout
      img(src="/img/client/academy/slider/kiev_new/big/Erteqoob_016.jpg")
  li.photo-popup-slide
    .photo-popup-slide-layout
      img(src="/img/client/academy/slider/kiev_new/big/Erteqoob_017.jpg")
  li.photo-popup-slide
    .photo-popup-slide-layout
      img(src="/img/client/academy/slider/kiev_new/big/Erteqoob_018.jpg")
  li.photo-popup-slide
    .photo-popup-slide-layout
      img(src="/img/client/academy/slider/kiev_new/big/Erteqoob_019.jpg")
  li.photo-popup-slide
    .photo-popup-slide-layout
      img(src="/img/client/academy/slider/kiev_new/big/Erteqoob_020.jpg")
  li.photo-popup-slide
    .photo-popup-slide-layout
      img(src="/img/client/academy/slider/kiev_new/big/Erteqoob_021.jpg")
  li.photo-popup-slide
    .photo-popup-slide-layout
      img(src="/img/client/academy/slider/kiev_new/big/Erteqoob_022.jpg")
  li.photo-popup-slide
    .photo-popup-slide-layout
      img(src="/img/client/academy/slider/kiev_new/big/Erteqoob_023.jpg")
  li.photo-popup-slide
    .photo-popup-slide-layout
      img(src="/img/client/academy/slider/kiev_new/big/Erteqoob_024.jpg")


script.
  $(function(){
    $('.academy-inspiration-popup__slider--kiev').slick({
      slidesToShow: 1,
      arrows: true,
      dots: false,
      draggable: true,
      accessibility: false,
      centerMode: true,
      variableWidth: true,
      infinite: true,
      asNavFor: '.academy-inspiration__slider--kiev',
      swipeToSlide: true
    });
  });