// All scss variables should be in this file
// sizes
$lg: 1850px;
$md: 1260px;
//$md: 1356px;
$sm: 640px;
// colors
$color-black: #000000;
$color-black-08: rgba(0,0,0,0.8);
$color-black-04: rgba(0,0,0,0.4);
$color-black-03: rgba(0,0,0,0.3);
$color-black-025: rgba(0,0,0,0.25);
$color-black-02: rgba(0,0,0,0.2);
$color-black-018: rgba(0,0,0,0.18);
$color-cape-cod: #515252;
$color-white: #ffffff;
$color-white-09: rgba(255,255,255, 0.9);
$color-white-075: rgba(255,255,255, 0.75);
$color-white-07: rgba(255,255,255, 0.7);
$color-white-065: rgba(255,255,255, 0.65);
$color-white-06: rgba(255,255,255, 0.6);
$color-white-05: rgba(255,255,255, 0.5);
$color-white-04: rgba(255,255,255, 0.4);
$color-white-03: rgba(255,255,255, 0.3);
$color-white-022: rgba(255,255,255, 0.22);
$color-white-02: rgba(255,255,255, 0.2);
$color-white-019: rgba(255,255,255, 0.19);
$color-white-015: rgba(255,255,255, 0.15);
$color-concrete: #f2f2f2;
$color-chablis: #FFF4F4;
$color-wild-sand: #f6f6f6;
$color-wild-sand-09: rgba(246, 246, 246, 0.9);
$color-wild-sand-2: #F4F4F4;
$color-alabaster: #F7F7F7;
$color-cod-gray: #111111;
$color-tundora: #474747;
$color-tundora-07: rgba(71, 71, 71, 0.7);
$color-tundora-04: rgba(71, 71, 71, 0.4);
$color-gray: #838383;
$color-gray-2: #909090;
$color-gray-2-078: rgba(144, 144, 144, 0.78);
$color-gray-2-024: rgba(144, 144, 144, 0.24);
$color-gray-3: #919191;
$color-gray-3-03: rgba(145, 145, 145, 0.3);
$color-gray-3-025: rgba(145, 145, 145, 0.25);
$color-gray-4: #787878;
$color-gray-4-03: rgba(120, 120, 120, 0.3);
$color-dust-gray: #979797;
$color-dust-gray-04: rgba(151, 151, 151, 0.4);
$color-dust-gray-03: rgba(151, 151, 151, 0.3);
$color-dust-gray-02: rgba(151, 151, 151, 0.2);
$color-dust-gray-015: rgba(151, 151, 151, 0.15);
$color-boulder: #767676;
$color-boulder-2: #777777;
$color-dust-gray-035: rgba(151, 151, 151, 0.35);
$color-dust-gray-02: rgba(151, 151, 151, 0.2);
$color-emperor: #555555;
$color-emperor-04: rgba(85, 85, 85, 0.4);
$color-tundora: #424242;
$color-tundora-07: rgba(66, 66, 66, 0.7);
$color-scorpion: #575757;
$color-scorpion-2: #606060;
$color-scorpion-3-06: rgba(89, 89, 89, 0.6);
$color-scorpion-3-02: rgba(89, 89, 89, 0.2);
$color-dove-gray: #666666;
$color-dove-gray-2: #646464;
$color-dove-gray-3: #636363;
$color-mine-shaft: #303030;
$color-mine-shaft-07: #303030;
$color-mine-shaft-2: #333333;
$color-mine-shaft-3: #202020;
$color-mine-shaft-4: #3C3C3C;
$color-mine-shaft-4-04: rgba(60, 60, 60, 0.4);
$color-mine-shaft-5: #292929;
$color-alto: #d8d8d8;
$color-alto-2: #D4D4D4;
$color-nobel: #B4B4B4;
$color-nobel-095: rgba(180, 180, 180, 0.95);
$color-nobel-09: rgba(180, 180, 180, 0.9);
$color-nobel-07: rgba(180, 180, 180, 0.7);
$color-nobel-067: rgba(180, 180, 180, 0.67);
$color-nobel-05: rgba(180, 180, 180, 0.5);
$color-silver-chalice: #b1b1b1;
$color-silver-chalice-2: #A5A5A5;
$color-silver-chalice-3: #A1A1A1;
$color-silver-chalice-4: #9D9D9D;
$color-silver-chalice-5: #A7A7A7;
$color-silver-chalice-6: #A8A8A8;
$color-gallery: #eaeaea;
$color-gallery-08: rgba(234, 234, 234, 0.8);
$color-gallery-2: #EBEBEB;
$color-gallery-3: #EFEFEF;
$color-mercury: #E3E3E3;
$color-mercury-2: #E5E5E5;
