section.section-layout.philosophy-intro
  include ../scroll-down.jade
  .circle-layout
    .circle.circle--1
    .circle.circle--2
    .circle.circle--3
    .circle-line
  if philosophies.imageBg1 == ''
    div.section-bg.philosophy-intro__bg
  else
    div.section-bg.philosophy-intro__bg(style="background-image: url(#{philosophies.imageBg1})")
  div.philosophy-intro__main
    div.philosophy-intro__logo
    div.philosophy-intro__title
      h1 #{philosophies.title1}
      //h1 философия
      h2 #{philosophies.subtitle1}
      //h2 Создаем своё время<br class="md-sm"> и пространство
    div.philosophy-intro__video-layout
      div.philosophy-intro__video
        div.philosophy-intro__video-btn
        p.philosophy-intro__video-text смотреть<br> видео
    a(href="/courses").btn-black.philosophy-intro__link записаться на обучение

