section.section-layout.philosophy-about.philosophy-about--2
  div.section-bg.philosophy-about__bg
  div.philosophy-about__main
    div.philosophy-about__line
    p.philosophy-about__number 02
    h1.philosophy-about__title Пропагандируем<br> творческую<br> смелость
    div.philosophy-about__text
      p Импровизация и профессиональные находки всей команды делают наш общий продукт шедевром.Мы верим в то, что фантазии и идеи нуждаются в реализации, без замедлений и без страха.
      p И для этого мы собрали команду единомышленников, смелых и трудолюбивых профессионалов.

