section.section-layout.philosophy-action
  div.section-bg.philosophy-action__bg
  div.philosophy-action__main
    div.philosophy-action__text-layout
      p.philosophy-action__text Профессия парикмахер —<br> может раскрыть в тебе<br> уникальные творческие<br> возможности!<br> Приходи. Учись.<br> Создавай
    div.philosophy-action__link-layout
      a(href="#").btn-black.philosophy-action__link смотреть курсы