section.section-layout.home-video-layout.philosophy-video-layout
  div.home-video.philosophy-video
    .home-video__title-layout
      h1.home-video__title.philosophy-title На курсах и треках мы создаём творческую атмосферу
      div.home-video__btn
        i.home-video__btn-icon
        p.home-video__btn-text смотреть<br class="br-sm"> видео
    .home-video__text-layout
      p.home-video__text Музыка, свет, интерьер, видеоряд, и даже наш внешний вид - всё влияет на творческий процесс. Что-то хочется перенимать, а что-то провоцирует на создание собственного индивидуального стиля.
