section.section-layout.philosophy-about.philosophy-about--3
  div.section-bg.philosophy-about__bg
  div.philosophy-about__main
    div.philosophy-about__line
    p.philosophy-about__number 03
    h1.philosophy-about__title превратили<br> свою работу<br> в искусство
    div.philosophy-about__text
      p Делая стрижку, нужно всё детально изучить, затем спроектировать, и после этого воплотить творческую идею. Мы становимся скульпторами, работая с материей волос. В момент создания мы проваливаемся в параллельный мир и так творим.
