section#section-2.section-layout.philosophy-about.philosophy-about--1
  if philosophies.imageBg2 == ''
    div.section-bg.philosophy-about__bg
  else
    div.section-bg.philosophy-about__bg(style="background-image: url(#{philosophies.imageBg2})")
  div.philosophy-about__main
    .philosophy-about__line-layout
      .philosophy-about__line
    .philosophy-about__title-line
    p.philosophy-about__number 01
    div.philosophy-about__title-layout
      h1.philosophy-about__title #{philosophies.title2}
      //h1.philosophy-about__title Так живём<br> и любим дело<br> своей жизни
    div.philosophy-about__text-layout
      div.philosophy-about__text
        p #{philosophies.text2}
        //p Наша работа и обучение, профессиональные<br class="br-lg-md"> мероприятия и вечеринки, коллаборации,<br class="br-lg-md"> путешествия и командировки - всё слилось<br class="br-md"> в один<br class="br-lg"> особый образ жизни.
        //p Мы просто сильно любим дизайн волос.
