section.section-layout.philosophy-about.philosophy-about--1
  div.section-bg.philosophy-about__bg
  div.philosophy-about__main
    div.philosophy-about__line
    p.philosophy-about__number 01
    h1.philosophy-about__title Так живём<br> и любим дело<br> своей жизни
    div.philosophy-about__text
      p Наша работа и обучение, профессиональные мероприятия и вечеринки, коллаборации, путешествия и командировки - всё слилось в один особый образ жизни.
      p Мы просто сильно любим дизайн волос.
