section.section-layout.philosophy-about.philosophy-about--2
  div.section-bg.philosophy-about__bg
  div.philosophy-about__main
    .philosophy-about__line
    .philosophy-about__title-line
    p.philosophy-about__number 02
    h1.philosophy-about__title Пропагандируем<br> творческую<br> смелость
    div.philosophy-about__text
      p Импровизация и профессиональные находки<br class="br-md"> всей команды<br class="br-lg"> делают наш общий продукт<br class="br-md"> шедевром. Мы верим в то, что<br class="br-lg"> фантазии и<br class="br-md"> идеи нуждаются в реализации,<br class="br-lg"> без<br class="br-md"> замедлений и без страха.
      p И для этого мы собрали команду<br class="br-md"> единомышленников, смелых и<br class="br-md"> трудолюбивых профессионалов.

