section.section-layout.philosophy-inspiration-layout
  div.section-bg.philosophy-inspiration__bg
  div.philosophy-inspiration
    div.page-title-big-layout.home-inspiration__title-layout
      h1.page-title-big.home-inspiration__title.philosophy-title Где брать<br class="br-sm"> вдохновение?
    div.philosophy-inspiration__subtitle-layout
      h2.inspiration-text.philosophy-inspiration__subtitle Мы черпаем творческую энергию<br> в окружающем нас мире<br> и реализуем её в дизайне волос.
      div.hr-dots
        div.hr-dots__dot
        div.hr-dots__dot
        div.hr-dots__dot
    div.philosophy-inspiration__list
      div.philosophy-inspiration__list-line
      ul.inspiration-list
        li.inspiration-list__item
          div.inspiration-list__item-icon
            svg(xmlns='http://www.w3.org/2000/svg', width='14', height='38', viewbox='0 0 14 38')
              path(fill='#767676', d='M.02 20.7a7.9 7.9 0 0 0 1.61 5.32c1.26 1.76 2.85 2.71 4.73 2.83.63.04 1.23.03 1.78-.05l.33 1.89c.13.85.18 1.58.14 2.18a3.28 3.28 0 0 1-.78 2.02c-.5.55-1.12.8-1.9.74a2.02 2.02 0 0 1-.91-.26 2.08 2.08 0 0 0 1.63-2 2.42 2.42 0 0 0-.5-1.73c-.4-.52-.95-.81-1.63-.86a2.21 2.21 0 0 0-1.83.82 2.98 2.98 0 0 0 .4 4.38c.73.6 1.61.95 2.6 1.01a4.4 4.4 0 0 0 1.63-.19c.42-.14.82-.35 1.2-.62a3.27 3.27 0 0 0 1.47-2.54c.06-.79.02-1.73-.12-2.79l-.37-2.4a4.99 4.99 0 0 0 2.38-1.7 5.84 5.84 0 0 0 .11-6.77 4.27 4.27 0 0 0-3.89-1.96l-.39-2.95a10.4 10.4 0 0 0 2.65-3.49 12.17 12.17 0 0 0 1.13-4.43c.06-.92-.07-2.06-.37-3.39-.43-1.8-1.03-2.7-1.86-2.76-.29-.02-.61.13-1 .47a7.36 7.36 0 0 0-2.05 3.07c-.32.91-.54 2.11-.63 3.59-.05.74.07 1.99.36 3.83a32.4 32.4 0 0 0-3.74 3.71A9.02 9.02 0 0 0 .02 20.7zm9.23 6.05l-.69-5.2a2.25 2.25 0 0 1 1.84 2.21c0 .97-.48 2.59-1.15 2.99zM7.69 6.67c.52-1.34 1.01-1.75 1.33-1.85a.75.75 0 0 1 .26-.04c.42.03.83.21.76 1.3a6.09 6.09 0 0 1-1.1 2.93 8.33 8.33 0 0 1-1.86 2.04c-.1-.38-.13-.83-.1-1.35.06-.94.3-1.96.71-3.03zM6.73 18.3a5 5 0 0 0-1.97 1.46 4.46 4.46 0 0 0-1.04 2.53 4.14 4.14 0 0 0 1.61 3.6c.64.48 1.38.44 1.5.19.12-.26-.32-.67-.67-1.21a2.26 2.26 0 0 1 1.06-3.17l.74 5.77a5.08 5.08 0 0 1-4.6-1.44 3.94 3.94 0 0 1-1.35-3.22c.15-2.29 1.65-4.56 4.45-6.75z')
          h1.inspiration-list__item-title Музыка
          h2.inspiration-list__item-subtitle провокатор и детонатор.<br> Нет музыки —<br> нет творчества.
          div.inspiration-list__item-hover
            p.inspiration-list__item-hover-text Музыка всегда создаёт особенную атмосферу, погружает в разные настроения, пробуждает сильные эмоции. В таком состоянии легко творить. Какой образ хочешь создать, такую и выбирай музыку. А можешь послушать нашу:
            p.inspiration-list__item-hover-link слушать
        li.inspiration-list__item
          div.inspiration-list__item-icon
            svg(xmlns='http://www.w3.org/2000/svg', width='28', height='28', viewbox='0 0 28 28')
              path(fill='#767676', d='M4.11 21.33V9.89a.31.31 0 0 0-.09-.22L.5 6.09C.32 5.9 0 6.03 0 6.3v18.62c0 .27.32.4.5.21l3.52-3.59a.27.27 0 0 0 .09-.21M5.61 8.46c.05.06.13.09.21.09h16.05c.07 0 .15-.03.2-.09l3.52-3.58c.19-.19.06-.51-.2-.51h-5.75l-4.46-3.14A1.36 1.36 0 0 0 13.84 0c-.7 0-1.27.54-1.34 1.23L8.04 4.37H2.29c-.26 0-.39.32-.2.51zM13.5 2.7c.22.06.45.07.68 0l2.37 1.67h-5.41zM22.07 23.09a.27.27 0 0 0-.2-.09H5.82a.27.27 0 0 0-.21.09l-3.52 3.58c-.19.19-.06.51.2.51h23.1c.26 0 .39-.32.2-.51zM26.61 6.09l-3.52 3.58a.31.31 0 0 0-.09.22v11.44c0 .08.03.16.09.21l3.52 3.59c.18.19.5.06.5-.21V6.3c0-.27-.32-.4-.5-.21')
          h1.inspiration-list__item-title арт
          h2.inspiration-list__item-subtitle бескрайнее поле<br> творческих<br> ресурсов
        li.inspiration-list__item
          div.inspiration-list__item-icon
            svg(xmlns='http://www.w3.org/2000/svg', width='27', height='31', viewbox='0 0 27 31')
              path(fill='#767676', d='M3.53 3.04h19.08a1.52 1.52 0 1 0 0-3.04H3.53a1.52 1.52 0 1 0 0 3.04M3.84 8a.85.85 0 0 0-.84.84.85.85 0 0 0 1.69 0A.85.85 0 0 0 3.84 8')
              path(fill='#767676', d='M3.96 5a3.94 3.94 0 1 0 2.53 6.94v16.81c0 .91.74 1.65 1.65 1.65h10.71c.92 0 1.65-.74 1.65-1.65V11.94a3.95 3.95 0 0 0 6.5-3A3.95 3.95 0 0 0 23.04 5zm6.49 22.22c0 .42-.34.76-.77.76a.76.76 0 0 1-.76-.76V12.63c0-.42.34-.76.76-.76.43 0 .77.34.77.76zm3.81 0a.76.76 0 1 1-1.52 0V12.63a.76.76 0 1 1 1.52 0zm3.05.76a.76.76 0 0 1-.76-.76V12.63a.76.76 0 1 1 1.52 0v14.59c0 .42-.34.76-.76.76zm3.36-19.04c0-.3.06-.58.16-.84H6.16a2.36 2.36 0 0 1-2.2 3.19 2.36 2.36 0 1 1 0-4.71h19.08c1.3 0 2.37 1.06 2.37 2.36 0 1.3-1.07 2.35-2.37 2.35a2.36 2.36 0 0 1-2.37-2.35z')
              path(fill='#767676', d='M22.84 8a.85.85 0 0 0-.84.84.85.85 0 0 0 1.69 0 .85.85 0 0 0-.85-.84')
          h1.inspiration-list__item-title <span class="br-lg">архи-<br> тектура</span><span class="br-md-sm">архитектура</span>
          h2.inspiration-list__item-subtitle вечное стремление<br> к идеальной<br> форме
        li.inspiration-list__item
          div.inspiration-list__item-icon
            svg(xmlns='http://www.w3.org/2000/svg', width='20', height='35', viewbox='0 0 20 35')
              path(fill='#767676', d='M11.13 19.54v-2.23h1.73a1.15 1.15 0 0 0 2.3-.02v-2.24a1.15 1.15 0 0 0-2.3-.02h-1.73v-2.46h5.59c1.48 0 2.68-1.2 2.68-2.67V2.66C19.4 1.19 18.2 0 16.72 0H3.25A2.67 2.67 0 0 0 .57 2.66V9.9c0 1.47 1.2 2.67 2.68 2.67h5.59v6.97L.18 33.25c-.34.53-.18 1.24.36 1.57.53.34 1.24.18 1.58-.35l3.78-5.98 2.94 2.05v3.32c0 .63.51 1.14 1.14 1.14.64 0 1.15-.51 1.15-1.14v-3.32l2.94-2.05 3.78 5.98c.34.53 1.05.69 1.58.35.54-.33.7-1.04.36-1.57zm-2.29 8.21l-1.72-1.2 1.72-2.72zM6.75 6.28a3.22 3.22 0 0 1 3.23-3.21 3.23 3.23 0 0 1 3.24 3.21 3.23 3.23 0 0 1-6.47 0zm4.38 21.47v-3.92l1.72 2.72z')
          h1.inspiration-list__item-title <span class="br-lg">фото-<br> графия</span><span class="br-md-sm">фотография</span>
          h2.inspiration-list__item-subtitle простота<br> и наполненность<br> чёрно-белой<br> классики
    div.philosophy-inspiration__text-layout
      div.hr-dots
        div.hr-dots__dot
        div.hr-dots__dot
        div.hr-dots__dot
      p.inspiration-text.philosophy-inspiration__text
        | Вдохновение не должно уйти сквозь вас в<br class="br-sm"> землю.<br class="br-lg-md">
        | Нужно его реализовать.<br>
        | Проанализировать, что именно восхитило,<br class="br-sm"> и придумать,<br class="br-lg-md">
        | как отобразить чувство в<br class="br-sm"> материальном объекте.

script.
  $(function(){
    $('.inspiration-list__item').on('mouseover', function(){
      var inspirationItemBottom = $(window).height() - $(this).offset().top - $(this).outerHeight();
      var inspirationItemHoverHeight = $(this).find('.inspiration-list__item-hover').outerHeight();
      console.log(inspirationItemBottom - inspirationItemHoverHeight);
      if(inspirationItemBottom - inspirationItemHoverHeight < 0) {
        $('.inspiration-list__item-hover').attr('style', 'top:' +(inspirationItemBottom-60) + 'px!important');
      }
    });
    $('.inspiration-list__item').on('mouseleave', function(){
      $('.inspiration-list__item-hover').css('top', '0px');
    });
  })
