section.section-layout.philosophy-pros.philosophy-pros--1
  div.section-bg.philosophy-pros__bg
  div.philosophy-pros__main
    div.page-title-big-layout.home-inspiration__title-layout
      h1.page-title-big.home-inspiration__title.philosophy-title «Срезателей» волос<br> в скором будущем<br class="br-md-sm"> заменят роботы
    div.philosophy-pros-list-layout
      ul.philosophy-pros-list
        li.philosophy-pros-list__item
          div.philosophy-pros-list__item-inner
            div.philosophy-pros-list__item-line-left
            div.philosophy-pros-list__item-line-top
            p.philosophy-pros-list__item-text Поэтому мастер должен не только работать руками, но и ориентироваться на свою интуицию, видение пропорций, понимание материи, текстур, умение общаться с клиентом, разгадывать его.
        li.philosophy-pros-list__item
          div.philosophy-pros-list__item-inner
            div.philosophy-pros-list__item-line-left
            div.philosophy-pros-list__item-line-top
            p.philosophy-pros-list__item-text Важно обладать безукоризненным чувством стиля и фильтром качества.
          div.philosophy-pros-list__item-inner
            div.philosophy-pros-list__item-line-left
            div.philosophy-pros-list__item-line-top
            p.philosophy-pros-list__item-text А для того, чтобы использовать эмоциональный интеллект, нужно обладать крепким фундаментом и постоянно тренироваться.
    div.page-title-big-layout.home-inspiration__title-layout
      h1.page-title-big.home-inspiration__title.philosophy-title Творчество<br> на фундаменте<br class="br-md-sm"> отточенных техник<br> делает мастера<br class="br-md-sm"> востребованным
