div#popup-exit.popup-layout
  div.popup-white.popup-exit
    .popup__close

    .popup-exit__title
      h1 чек-лист
      h3 Проверьте, нужны ли Вам новые знания

    .popup-exit__info
      .popup-exit__info-line
      h1.popup-exit__info-title “Мастер-парикмахер<br> срезатель волос”
      p.popup-exit__info-text
        | 3 пункта, без которых не обойтись ни одному парикмахеру<br>
        | в будущем. Список вопросов-подсказок, которые помогут<br>
        | усовершенствовать Вашу мастер-парикмахер.
      h2.popup-exit__info-subtitle Получите чек-лист бесплатно на email:
      form.popup-exit__info-form
        input(placeholder="Введите свой e-mail").input-underline.popup-exit__info-input
        button(type="submit").btn-white.popup-exit__info-submit получить pdf

    footer.popup-exit__footer
      .popup-exit__footer-text-1
        p.popup-exit__footer-text 8 (800) 500 50 50
        a(href="mailto:info@erteqoob.com").br-md-sm.popup-exit__footer-text info@erteqoob.com
      .popup-exit__footer-text-2
        p.popup-exit__footer-text киев,<br class="br-sm"> ул. Владимирская, 49А
        //p.br-lg-md.popup-exit__footer-text-sm 2 этаж, возле ТЦ “Пирамида”,<br class="br-lg"> метро Позняки
      .popup-exit__footer-text-3
        a(href="mailto:info@erteqoob.com").br-lg.popup-exit__footer-text info@erteqoob.com
      ul.popup-exit__footer-socials
        li.popup-exit__footer-social.popup-exit__footer-social--fb
          a(href="https://www.facebook.com/erteqoob/" target="_blank")
        li.popup-exit__footer-social.popup-exit__footer-social--in
          a(href="https://www.instagram.com/erteqoob/" target="_blank")

