div#register-step-2.popup-layout
  div.popup-white.register-step-2
    .popup__close
    h1.popup-title.register-step-2__title Ты почти<br class="br-sm"> студент Академии<br> ERTEQOOB!
    .register-step-2__info
      h2.register-step-2__info-title Проверь, правильно ли мы записали<br> твои данные
      ul.register-step-2__info-list
        li Курс Базовый
        li Киев - 17.05.2017
        li Вадим Гурко +380731021680
        li gurko.vadim@gmail.com
    h2.popup-text.register-step-2__subtitle Внеси предоплату в размере<br class="br-sm"> 1000 грн, чтобы забронировать<br> место в группе.
    button(type="submit").btn-white.register-step-2__btn внесни предоплату
    p.register-step-2__disclaimer Ты будешь перенаправлен<br class="br-sm"> на страницу оплаты.