div
  div.academy-teacher
    div.academy-teachers__socials-layout
      ul.academy-teachers__socials
        li.academy-teachers__social
          a(target="_blank" href="https://www.facebook.com/profile.php?id=100006560228838")
            svg(xmlns='http://www.w3.org/2000/svg', width='8', height='17', viewbox='0 0 8 17')
              path(d='M0 7.07V4.78h1.49v-.86c0-1.33.32-2.32.96-2.97C3.07.32 3.95 0 5.1 0c.75 0 1.48.1 2.17.31v2.31a5.06 5.06 0 0 0-1.57-.28c-1.04 0-1.56.6-1.56 1.8v.66h3.11v2.27H4.18v9.61H1.49V7.07z')
        li.academy-teachers__social
          a(target="_blank" href="https://www.instagram.com/dmitry_kuzmichev/")
            svg(xmlns='http://www.w3.org/2000/svg', width='14', height='15', viewbox='0 0 14 15')
              path(d='M1.79 0h10.34c.98 0 1.78.82 1.78 1.82v10.53c0 1-.8 1.82-1.78 1.82H1.79A1.8 1.8 0 0 1 0 12.35V1.82C0 .82.8 0 1.79 0zm8.35 1.57a.64.64 0 0 0-.63.64v1.53c0 .35.28.64.63.64h1.57c.34 0 .62-.29.62-.64V2.21a.63.63 0 0 0-.62-.64zm2.2 4.42h-1.22a4.29 4.29 0 0 1-4.15 5.48 4.3 4.3 0 0 1-4.15-5.48H1.55v5.98c0 .31.25.57.55.57h9.69c.3 0 .55-.26.55-.57zM6.97 4.3a2.77 2.77 0 0 0-2.79 2.75 2.78 2.78 0 0 0 2.79 2.76 2.78 2.78 0 0 0 2.79-2.76A2.77 2.77 0 0 0 6.97 4.3z')
    div.academy-teacher__photo
      div.academy-teacher__photo-bg
      img(src="/img/client/salons/teachers/vlad/teacher-001.jpg")
    div.academy-teacher__info
      h1.academy-teacher__name Дмитрий Кузьмичев
div
  div.academy-teacher
    div.academy-teachers__socials-layout
      ul.academy-teachers__socials
        li.academy-teachers__social
          a(target="_blank" href="https://www.facebook.com/profile.php?id=100011056186755")
            svg(xmlns='http://www.w3.org/2000/svg', width='8', height='17', viewbox='0 0 8 17')
              path(d='M0 7.07V4.78h1.49v-.86c0-1.33.32-2.32.96-2.97C3.07.32 3.95 0 5.1 0c.75 0 1.48.1 2.17.31v2.31a5.06 5.06 0 0 0-1.57-.28c-1.04 0-1.56.6-1.56 1.8v.66h3.11v2.27H4.18v9.61H1.49V7.07z')
        li.academy-teachers__social
          a(target="_blank" href="http://instagram.com/elene_kuzmicheva")
            svg(xmlns='http://www.w3.org/2000/svg', width='14', height='15', viewbox='0 0 14 15')
              path(d='M1.79 0h10.34c.98 0 1.78.82 1.78 1.82v10.53c0 1-.8 1.82-1.78 1.82H1.79A1.8 1.8 0 0 1 0 12.35V1.82C0 .82.8 0 1.79 0zm8.35 1.57a.64.64 0 0 0-.63.64v1.53c0 .35.28.64.63.64h1.57c.34 0 .62-.29.62-.64V2.21a.63.63 0 0 0-.62-.64zm2.2 4.42h-1.22a4.29 4.29 0 0 1-4.15 5.48 4.3 4.3 0 0 1-4.15-5.48H1.55v5.98c0 .31.25.57.55.57h9.69c.3 0 .55-.26.55-.57zM6.97 4.3a2.77 2.77 0 0 0-2.79 2.75 2.78 2.78 0 0 0 2.79 2.76 2.78 2.78 0 0 0 2.79-2.76A2.77 2.77 0 0 0 6.97 4.3z')
    div.academy-teacher__photo
      div.academy-teacher__photo-bg
      img(src="/img/client/salons/teachers/vlad/teacher-002.jpg")
    div.academy-teacher__info
      h1.academy-teacher__name Елена Кузьмичева
div
  div.academy-teacher
    div.academy-teachers__socials-layout
      ul.academy-teachers__socials
        li.academy-teachers__social
          a(href="https://www.facebook.com/alexandra.ryapolova?fref=ts" target="_blank")
            svg(xmlns='http://www.w3.org/2000/svg', width='8', height='17', viewbox='0 0 8 17')
              path(d='M0 7.07V4.78h1.49v-.86c0-1.33.32-2.32.96-2.97C3.07.32 3.95 0 5.1 0c.75 0 1.48.1 2.17.31v2.31a5.06 5.06 0 0 0-1.57-.28c-1.04 0-1.56.6-1.56 1.8v.66h3.11v2.27H4.18v9.61H1.49V7.07z')
        li.academy-teachers__social
          a(href="https://www.instagram.com/beversus/" target="_blank")
            svg(xmlns='http://www.w3.org/2000/svg', width='14', height='15', viewbox='0 0 14 15')
              path(d='M1.79 0h10.34c.98 0 1.78.82 1.78 1.82v10.53c0 1-.8 1.82-1.78 1.82H1.79A1.8 1.8 0 0 1 0 12.35V1.82C0 .82.8 0 1.79 0zm8.35 1.57a.64.64 0 0 0-.63.64v1.53c0 .35.28.64.63.64h1.57c.34 0 .62-.29.62-.64V2.21a.63.63 0 0 0-.62-.64zm2.2 4.42h-1.22a4.29 4.29 0 0 1-4.15 5.48 4.3 4.3 0 0 1-4.15-5.48H1.55v5.98c0 .31.25.57.55.57h9.69c.3 0 .55-.26.55-.57zM6.97 4.3a2.77 2.77 0 0 0-2.79 2.75 2.78 2.78 0 0 0 2.79 2.76 2.78 2.78 0 0 0 2.79-2.76A2.77 2.77 0 0 0 6.97 4.3z')
    div.academy-teacher__photo
      div.academy-teacher__photo-bg
      img(src="/img/client/salons/teachers/vlad/teacher-003.jpg")
    div.academy-teacher__info
      h1.academy-teacher__name Александра Ряполова
div
  div.academy-teacher
    div.academy-teachers__socials-layout
      ul.academy-teachers__socials
        li.academy-teachers__social
          a(href="https://www.facebook.com/angelika.baykova?fref=ts" target="_blank")
            svg(xmlns='http://www.w3.org/2000/svg', width='8', height='17', viewbox='0 0 8 17')
              path(d='M0 7.07V4.78h1.49v-.86c0-1.33.32-2.32.96-2.97C3.07.32 3.95 0 5.1 0c.75 0 1.48.1 2.17.31v2.31a5.06 5.06 0 0 0-1.57-.28c-1.04 0-1.56.6-1.56 1.8v.66h3.11v2.27H4.18v9.61H1.49V7.07z')
        //li.academy-teachers__social
        //  a(href="https://www.instagram.com/sanakotok/" target="_blank")
        //    svg(xmlns='http://www.w3.org/2000/svg', width='14', height='15', viewbox='0 0 14 15')
        //      path(d='M1.79 0h10.34c.98 0 1.78.82 1.78 1.82v10.53c0 1-.8 1.82-1.78 1.82H1.79A1.8 1.8 0 0 1 0 12.35V1.82C0 .82.8 0 1.79 0zm8.35 1.57a.64.64 0 0 0-.63.64v1.53c0 .35.28.64.63.64h1.57c.34 0 .62-.29.62-.64V2.21a.63.63 0 0 0-.62-.64zm2.2 4.42h-1.22a4.29 4.29 0 0 1-4.15 5.48 4.3 4.3 0 0 1-4.15-5.48H1.55v5.98c0 .31.25.57.55.57h9.69c.3 0 .55-.26.55-.57zM6.97 4.3a2.77 2.77 0 0 0-2.79 2.75 2.78 2.78 0 0 0 2.79 2.76 2.78 2.78 0 0 0 2.79-2.76A2.77 2.77 0 0 0 6.97 4.3z')
    div.academy-teacher__photo
      div.academy-teacher__photo-bg
      img(src="/img/client/salons/teachers/vlad/teacher-004.jpg")
    div.academy-teacher__info
      h1.academy-teacher__name Анжелика Байкова 
div
  div.academy-teacher
    div.academy-teachers__socials-layout
      ul.academy-teachers__socials
        li.academy-teachers__social
          a(href="https://www.facebook.com/profile.php?id=100009620534371&fref=ts" target="_blank")
            svg(xmlns='http://www.w3.org/2000/svg', width='8', height='17', viewbox='0 0 8 17')
              path(d='M0 7.07V4.78h1.49v-.86c0-1.33.32-2.32.96-2.97C3.07.32 3.95 0 5.1 0c.75 0 1.48.1 2.17.31v2.31a5.06 5.06 0 0 0-1.57-.28c-1.04 0-1.56.6-1.56 1.8v.66h3.11v2.27H4.18v9.61H1.49V7.07z')
        li.academy-teachers__social
          a(href="https://www.instagram.com/komar117/" target="_blank")
            svg(xmlns='http://www.w3.org/2000/svg', width='14', height='15', viewbox='0 0 14 15')
              path(d='M1.79 0h10.34c.98 0 1.78.82 1.78 1.82v10.53c0 1-.8 1.82-1.78 1.82H1.79A1.8 1.8 0 0 1 0 12.35V1.82C0 .82.8 0 1.79 0zm8.35 1.57a.64.64 0 0 0-.63.64v1.53c0 .35.28.64.63.64h1.57c.34 0 .62-.29.62-.64V2.21a.63.63 0 0 0-.62-.64zm2.2 4.42h-1.22a4.29 4.29 0 0 1-4.15 5.48 4.3 4.3 0 0 1-4.15-5.48H1.55v5.98c0 .31.25.57.55.57h9.69c.3 0 .55-.26.55-.57zM6.97 4.3a2.77 2.77 0 0 0-2.79 2.75 2.78 2.78 0 0 0 2.79 2.76 2.78 2.78 0 0 0 2.79-2.76A2.77 2.77 0 0 0 6.97 4.3z')
    div.academy-teacher__photo
      div.academy-teacher__photo-bg
      img(src="/img/client/academy/teachers-slider/academy-teacher-8.jpg")
    div.academy-teacher__info
      h1.academy-teacher__name Валерий Комар
div
  div.academy-teacher
    div.academy-teachers__socials-layout
      ul.academy-teachers__socials
        li.academy-teachers__social
          a(href="https://www.facebook.com/marina.azima?fref=ts" target="_blank")
            svg(xmlns='http://www.w3.org/2000/svg', width='8', height='17', viewbox='0 0 8 17')
              path(d='M0 7.07V4.78h1.49v-.86c0-1.33.32-2.32.96-2.97C3.07.32 3.95 0 5.1 0c.75 0 1.48.1 2.17.31v2.31a5.06 5.06 0 0 0-1.57-.28c-1.04 0-1.56.6-1.56 1.8v.66h3.11v2.27H4.18v9.61H1.49V7.07z')
        li.academy-teachers__social
          a(href="https://www.instagram.com/azima_marina/" target="_blank")
            svg(xmlns='http://www.w3.org/2000/svg', width='14', height='15', viewbox='0 0 14 15')
              path(d='M1.79 0h10.34c.98 0 1.78.82 1.78 1.82v10.53c0 1-.8 1.82-1.78 1.82H1.79A1.8 1.8 0 0 1 0 12.35V1.82C0 .82.8 0 1.79 0zm8.35 1.57a.64.64 0 0 0-.63.64v1.53c0 .35.28.64.63.64h1.57c.34 0 .62-.29.62-.64V2.21a.63.63 0 0 0-.62-.64zm2.2 4.42h-1.22a4.29 4.29 0 0 1-4.15 5.48 4.3 4.3 0 0 1-4.15-5.48H1.55v5.98c0 .31.25.57.55.57h9.69c.3 0 .55-.26.55-.57zM6.97 4.3a2.77 2.77 0 0 0-2.79 2.75 2.78 2.78 0 0 0 2.79 2.76 2.78 2.78 0 0 0 2.79-2.76A2.77 2.77 0 0 0 6.97 4.3z')
    div.academy-teacher__photo
      div.academy-teacher__photo-bg
      img(src="/img/client/academy/teachers-slider/academy-teacher-1.jpg")
    div.academy-teacher__info
      h1.academy-teacher__name Марина Азима
div
  div.academy-teacher
    div.academy-teachers__socials-layout
      ul.academy-teachers__socials
        li.academy-teachers__social
          a(href="https://www.facebook.com/anna.sudnik.31?ref=ts&fref=ts" target="_blank")
            svg(xmlns='http://www.w3.org/2000/svg', width='8', height='17', viewbox='0 0 8 17')
              path(d='M0 7.07V4.78h1.49v-.86c0-1.33.32-2.32.96-2.97C3.07.32 3.95 0 5.1 0c.75 0 1.48.1 2.17.31v2.31a5.06 5.06 0 0 0-1.57-.28c-1.04 0-1.56.6-1.56 1.8v.66h3.11v2.27H4.18v9.61H1.49V7.07z')
        li.academy-teachers__social
          a(href="https://www.instagram.com/a.sudnik/" target="_blank")
            svg(xmlns='http://www.w3.org/2000/svg', width='14', height='15', viewbox='0 0 14 15')
              path(d='M1.79 0h10.34c.98 0 1.78.82 1.78 1.82v10.53c0 1-.8 1.82-1.78 1.82H1.79A1.8 1.8 0 0 1 0 12.35V1.82C0 .82.8 0 1.79 0zm8.35 1.57a.64.64 0 0 0-.63.64v1.53c0 .35.28.64.63.64h1.57c.34 0 .62-.29.62-.64V2.21a.63.63 0 0 0-.62-.64zm2.2 4.42h-1.22a4.29 4.29 0 0 1-4.15 5.48 4.3 4.3 0 0 1-4.15-5.48H1.55v5.98c0 .31.25.57.55.57h9.69c.3 0 .55-.26.55-.57zM6.97 4.3a2.77 2.77 0 0 0-2.79 2.75 2.78 2.78 0 0 0 2.79 2.76 2.78 2.78 0 0 0 2.79-2.76A2.77 2.77 0 0 0 6.97 4.3z')
    div.academy-teacher__photo
      div.academy-teacher__photo-bg
      img(src="/img/client/academy/teachers-slider/academy-teacher-14.jpg")
    div.academy-teacher__info
      h1.academy-teacher__name Анна Судник
div
  div.academy-teacher
    div.academy-teachers__socials-layout
      ul.academy-teachers__socials
        li.academy-teachers__social
          a(href="https://www.facebook.com/alex.baginskiy.3?fref=ts" target="_blank")
            svg(xmlns='http://www.w3.org/2000/svg', width='8', height='17', viewbox='0 0 8 17')
              path(d='M0 7.07V4.78h1.49v-.86c0-1.33.32-2.32.96-2.97C3.07.32 3.95 0 5.1 0c.75 0 1.48.1 2.17.31v2.31a5.06 5.06 0 0 0-1.57-.28c-1.04 0-1.56.6-1.56 1.8v.66h3.11v2.27H4.18v9.61H1.49V7.07z')
        li.academy-teachers__social
          a(href="https://www.instagram.com/alexbaginskiy/" target="_blank")
            svg(xmlns='http://www.w3.org/2000/svg', width='14', height='15', viewbox='0 0 14 15')
              path(d='M1.79 0h10.34c.98 0 1.78.82 1.78 1.82v10.53c0 1-.8 1.82-1.78 1.82H1.79A1.8 1.8 0 0 1 0 12.35V1.82C0 .82.8 0 1.79 0zm8.35 1.57a.64.64 0 0 0-.63.64v1.53c0 .35.28.64.63.64h1.57c.34 0 .62-.29.62-.64V2.21a.63.63 0 0 0-.62-.64zm2.2 4.42h-1.22a4.29 4.29 0 0 1-4.15 5.48 4.3 4.3 0 0 1-4.15-5.48H1.55v5.98c0 .31.25.57.55.57h9.69c.3 0 .55-.26.55-.57zM6.97 4.3a2.77 2.77 0 0 0-2.79 2.75 2.78 2.78 0 0 0 2.79 2.76 2.78 2.78 0 0 0 2.79-2.76A2.77 2.77 0 0 0 6.97 4.3z')
    div.academy-teacher__photo
      div.academy-teacher__photo-bg
      img(src="/img/client/academy/teachers-slider/academy-teacher-2.jpg")
    div.academy-teacher__info
      h1.academy-teacher__name Алексей Багинский
div
  //div.academy-teacher
  //  div.academy-teachers__socials-layout
  //    ul.academy-teachers__socials
  //      li.academy-teachers__social
  //        a(href="https://www.facebook.com/andry.london?fref=ts" target="_blank")
  //          svg(xmlns='http://www.w3.org/2000/svg', width='8', height='17', viewbox='0 0 8 17')
  //            path(d='M0 7.07V4.78h1.49v-.86c0-1.33.32-2.32.96-2.97C3.07.32 3.95 0 5.1 0c.75 0 1.48.1 2.17.31v2.31a5.06 5.06 0 0 0-1.57-.28c-1.04 0-1.56.6-1.56 1.8v.66h3.11v2.27H4.18v9.61H1.49V7.07z')
  //      li.academy-teachers__social
  //        a(href="https://www.instagram.com/andrelev/" target="_blank")
  //          svg(xmlns='http://www.w3.org/2000/svg', width='14', height='15', viewbox='0 0 14 15')
  //            path(d='M1.79 0h10.34c.98 0 1.78.82 1.78 1.82v10.53c0 1-.8 1.82-1.78 1.82H1.79A1.8 1.8 0 0 1 0 12.35V1.82C0 .82.8 0 1.79 0zm8.35 1.57a.64.64 0 0 0-.63.64v1.53c0 .35.28.64.63.64h1.57c.34 0 .62-.29.62-.64V2.21a.63.63 0 0 0-.62-.64zm2.2 4.42h-1.22a4.29 4.29 0 0 1-4.15 5.48 4.3 4.3 0 0 1-4.15-5.48H1.55v5.98c0 .31.25.57.55.57h9.69c.3 0 .55-.26.55-.57zM6.97 4.3a2.77 2.77 0 0 0-2.79 2.75 2.78 2.78 0 0 0 2.79 2.76 2.78 2.78 0 0 0 2.79-2.76A2.77 2.77 0 0 0 6.97 4.3z')
  //  div.academy-teacher__photo
  //    div.academy-teacher__photo-bg
  //    img(src="/img/client/academy/teachers-slider/academy-teacher-12.jpg")
  //  div.academy-teacher__info
  //    h1.academy-teacher__name Андрей Левенко
div
  div.academy-teacher
    div.academy-teachers__socials-layout
      ul.academy-teachers__socials
        li.academy-teachers__social
          a(href="https://www.facebook.com/juli.bezya?fref=ts" target="_blank")
            svg(xmlns='http://www.w3.org/2000/svg', width='8', height='17', viewbox='0 0 8 17')
              path(d='M0 7.07V4.78h1.49v-.86c0-1.33.32-2.32.96-2.97C3.07.32 3.95 0 5.1 0c.75 0 1.48.1 2.17.31v2.31a5.06 5.06 0 0 0-1.57-.28c-1.04 0-1.56.6-1.56 1.8v.66h3.11v2.27H4.18v9.61H1.49V7.07z')
        li.academy-teachers__social
          a(href="https://www.instagram.com/juliabezverkhaya/" target="_blank")
            svg(xmlns='http://www.w3.org/2000/svg', width='14', height='15', viewbox='0 0 14 15')
              path(d='M1.79 0h10.34c.98 0 1.78.82 1.78 1.82v10.53c0 1-.8 1.82-1.78 1.82H1.79A1.8 1.8 0 0 1 0 12.35V1.82C0 .82.8 0 1.79 0zm8.35 1.57a.64.64 0 0 0-.63.64v1.53c0 .35.28.64.63.64h1.57c.34 0 .62-.29.62-.64V2.21a.63.63 0 0 0-.62-.64zm2.2 4.42h-1.22a4.29 4.29 0 0 1-4.15 5.48 4.3 4.3 0 0 1-4.15-5.48H1.55v5.98c0 .31.25.57.55.57h9.69c.3 0 .55-.26.55-.57zM6.97 4.3a2.77 2.77 0 0 0-2.79 2.75 2.78 2.78 0 0 0 2.79 2.76 2.78 2.78 0 0 0 2.79-2.76A2.77 2.77 0 0 0 6.97 4.3z')
    div.academy-teacher__photo
      div.academy-teacher__photo-bg
      img(src="/img/client/academy/teachers-slider/academy-teacher-3.jpg")
    div.academy-teacher__info
      h1.academy-teacher__name Юлия Безверхая
div
  div.academy-teacher
    div.academy-teachers__socials-layout
      ul.academy-teachers__socials
        li.academy-teachers__social
          a(href="https://www.facebook.com/max.danilof" target="_blank")
            svg(xmlns='http://www.w3.org/2000/svg', width='8', height='17', viewbox='0 0 8 17')
              path(d='M0 7.07V4.78h1.49v-.86c0-1.33.32-2.32.96-2.97C3.07.32 3.95 0 5.1 0c.75 0 1.48.1 2.17.31v2.31a5.06 5.06 0 0 0-1.57-.28c-1.04 0-1.56.6-1.56 1.8v.66h3.11v2.27H4.18v9.61H1.49V7.07z')
        li.academy-teachers__social
          a(href="https://www.instagram.com/maksym_kaliuzhnyi/" target="_blank")
            svg(xmlns='http://www.w3.org/2000/svg', width='14', height='15', viewbox='0 0 14 15')
              path(d='M1.79 0h10.34c.98 0 1.78.82 1.78 1.82v10.53c0 1-.8 1.82-1.78 1.82H1.79A1.8 1.8 0 0 1 0 12.35V1.82C0 .82.8 0 1.79 0zm8.35 1.57a.64.64 0 0 0-.63.64v1.53c0 .35.28.64.63.64h1.57c.34 0 .62-.29.62-.64V2.21a.63.63 0 0 0-.62-.64zm2.2 4.42h-1.22a4.29 4.29 0 0 1-4.15 5.48 4.3 4.3 0 0 1-4.15-5.48H1.55v5.98c0 .31.25.57.55.57h9.69c.3 0 .55-.26.55-.57zM6.97 4.3a2.77 2.77 0 0 0-2.79 2.75 2.78 2.78 0 0 0 2.79 2.76 2.78 2.78 0 0 0 2.79-2.76A2.77 2.77 0 0 0 6.97 4.3z')
    div.academy-teacher__photo
      div.academy-teacher__photo-bg
      img(src="/img/client/academy/teachers-slider/academy-teacher-7.jpg")
    div.academy-teacher__info
      h1.academy-teacher__name Максим Калюжный
div
  div.academy-teacher
    div.academy-teachers__socials-layout
      ul.academy-teachers__socials
        li.academy-teachers__social
          a(href="https://www.facebook.com/alyona.romanova.33" target="_blank")
            svg(xmlns='http://www.w3.org/2000/svg', width='8', height='17', viewbox='0 0 8 17')
              path(d='M0 7.07V4.78h1.49v-.86c0-1.33.32-2.32.96-2.97C3.07.32 3.95 0 5.1 0c.75 0 1.48.1 2.17.31v2.31a5.06 5.06 0 0 0-1.57-.28c-1.04 0-1.56.6-1.56 1.8v.66h3.11v2.27H4.18v9.61H1.49V7.07z')
        li.academy-teachers__social
          a(href="https://www.instagram.com/alenka2727/" target="_blank")
            svg(xmlns='http://www.w3.org/2000/svg', width='14', height='15', viewbox='0 0 14 15')
              path(d='M1.79 0h10.34c.98 0 1.78.82 1.78 1.82v10.53c0 1-.8 1.82-1.78 1.82H1.79A1.8 1.8 0 0 1 0 12.35V1.82C0 .82.8 0 1.79 0zm8.35 1.57a.64.64 0 0 0-.63.64v1.53c0 .35.28.64.63.64h1.57c.34 0 .62-.29.62-.64V2.21a.63.63 0 0 0-.62-.64zm2.2 4.42h-1.22a4.29 4.29 0 0 1-4.15 5.48 4.3 4.3 0 0 1-4.15-5.48H1.55v5.98c0 .31.25.57.55.57h9.69c.3 0 .55-.26.55-.57zM6.97 4.3a2.77 2.77 0 0 0-2.79 2.75 2.78 2.78 0 0 0 2.79 2.76 2.78 2.78 0 0 0 2.79-2.76A2.77 2.77 0 0 0 6.97 4.3z')
    div.academy-teacher__photo
      div.academy-teacher__photo-bg
      img(src="/img/client/salons/teachers/vlad/teacher-012.jpg")
    div.academy-teacher__info
      h1.academy-teacher__name Алена Романова
//div
  //div.academy-teacher
    //div.academy-teachers__socials-layout
    //  ul.academy-teachers__socials
    //    li.academy-teachers__social
    //      a(target="_blank" href="https://www.facebook.com/anna.sudnik.31?ref=ts&fref=ts")
    //        svg(xmlns='http://www.w3.org/2000/svg', width='8', height='17', viewbox='0 0 8 17')
    //          path(d='M0 7.07V4.78h1.49v-.86c0-1.33.32-2.32.96-2.97C3.07.32 3.95 0 5.1 0c.75 0 1.48.1 2.17.31v2.31a5.06 5.06 0 0 0-1.57-.28c-1.04 0-1.56.6-1.56 1.8v.66h3.11v2.27H4.18v9.61H1.49V7.07z')
    //    li.academy-teachers__social
    //      a(target="_blank" href="https://www.instagram.com/a.sudnik/")
    //        svg(xmlns='http://www.w3.org/2000/svg', width='14', height='15', viewbox='0 0 14 15')
    //          path(d='M1.79 0h10.34c.98 0 1.78.82 1.78 1.82v10.53c0 1-.8 1.82-1.78 1.82H1.79A1.8 1.8 0 0 1 0 12.35V1.82C0 .82.8 0 1.79 0zm8.35 1.57a.64.64 0 0 0-.63.64v1.53c0 .35.28.64.63.64h1.57c.34 0 .62-.29.62-.64V2.21a.63.63 0 0 0-.62-.64zm2.2 4.42h-1.22a4.29 4.29 0 0 1-4.15 5.48 4.3 4.3 0 0 1-4.15-5.48H1.55v5.98c0 .31.25.57.55.57h9.69c.3 0 .55-.26.55-.57zM6.97 4.3a2.77 2.77 0 0 0-2.79 2.75 2.78 2.78 0 0 0 2.79 2.76 2.78 2.78 0 0 0 2.79-2.76A2.77 2.77 0 0 0 6.97 4.3z')
    //div.academy-teacher__photo
    //  div.academy-teacher__photo-bg
    //  img(src="/img/client/salons/teachers/vlad/teacher-013.jpg")
    //div.academy-teacher__info
    //  h1.academy-teacher__name Светлана Воронько 
div
  div.academy-teacher
    div.academy-teachers__socials-layout
      ul.academy-teachers__socials
        li.academy-teachers__social
          a(href="https://www.facebook.com/irina.noskova.948" target="_blank")
            svg(xmlns='http://www.w3.org/2000/svg', width='8', height='17', viewbox='0 0 8 17')
              path(d='M0 7.07V4.78h1.49v-.86c0-1.33.32-2.32.96-2.97C3.07.32 3.95 0 5.1 0c.75 0 1.48.1 2.17.31v2.31a5.06 5.06 0 0 0-1.57-.28c-1.04 0-1.56.6-1.56 1.8v.66h3.11v2.27H4.18v9.61H1.49V7.07z')
        li.academy-teachers__social
          a(href="https://www.instagram.com/irches_/" target="_blank")
            svg(xmlns='http://www.w3.org/2000/svg', width='14', height='15', viewbox='0 0 14 15')
              path(d='M1.79 0h10.34c.98 0 1.78.82 1.78 1.82v10.53c0 1-.8 1.82-1.78 1.82H1.79A1.8 1.8 0 0 1 0 12.35V1.82C0 .82.8 0 1.79 0zm8.35 1.57a.64.64 0 0 0-.63.64v1.53c0 .35.28.64.63.64h1.57c.34 0 .62-.29.62-.64V2.21a.63.63 0 0 0-.62-.64zm2.2 4.42h-1.22a4.29 4.29 0 0 1-4.15 5.48 4.3 4.3 0 0 1-4.15-5.48H1.55v5.98c0 .31.25.57.55.57h9.69c.3 0 .55-.26.55-.57zM6.97 4.3a2.77 2.77 0 0 0-2.79 2.75 2.78 2.78 0 0 0 2.79 2.76 2.78 2.78 0 0 0 2.79-2.76A2.77 2.77 0 0 0 6.97 4.3z')
    div.academy-teacher__photo
      div.academy-teacher__photo-bg
      img(src="/img/client/salons/teachers/vlad/teacher-014.jpg")
    div.academy-teacher__info
      h1.academy-teacher__name Ирина Носкова 
div
  div.academy-teacher
    div.academy-teachers__socials-layout
      ul.academy-teachers__socials
        li.academy-teachers__social
          a(target="_blank" href="https://www.facebook.com/profile.php?id=100003581075574&fref=ts")
            svg(xmlns='http://www.w3.org/2000/svg', width='8', height='17', viewbox='0 0 8 17')
              path(d='M0 7.07V4.78h1.49v-.86c0-1.33.32-2.32.96-2.97C3.07.32 3.95 0 5.1 0c.75 0 1.48.1 2.17.31v2.31a5.06 5.06 0 0 0-1.57-.28c-1.04 0-1.56.6-1.56 1.8v.66h3.11v2.27H4.18v9.61H1.49V7.07z')
        li.academy-teachers__social
          a(target="_blank" href="https://www.instagram.com/verevkina_irinka/")
            svg(xmlns='http://www.w3.org/2000/svg', width='14', height='15', viewbox='0 0 14 15')
              path(d='M1.79 0h10.34c.98 0 1.78.82 1.78 1.82v10.53c0 1-.8 1.82-1.78 1.82H1.79A1.8 1.8 0 0 1 0 12.35V1.82C0 .82.8 0 1.79 0zm8.35 1.57a.64.64 0 0 0-.63.64v1.53c0 .35.28.64.63.64h1.57c.34 0 .62-.29.62-.64V2.21a.63.63 0 0 0-.62-.64zm2.2 4.42h-1.22a4.29 4.29 0 0 1-4.15 5.48 4.3 4.3 0 0 1-4.15-5.48H1.55v5.98c0 .31.25.57.55.57h9.69c.3 0 .55-.26.55-.57zM6.97 4.3a2.77 2.77 0 0 0-2.79 2.75 2.78 2.78 0 0 0 2.79 2.76 2.78 2.78 0 0 0 2.79-2.76A2.77 2.77 0 0 0 6.97 4.3z')
    div.academy-teacher__photo
      div.academy-teacher__photo-bg
      img(src="/img/client/salons/teachers/vlad/teacher-016.jpg")
    div.academy-teacher__info
      h1.academy-teacher__name Ирина Веревкина
//div
  //div.academy-teacher
    //div.academy-teachers__socials-layout
    //  ul.academy-teachers__socials
    //    li.academy-teachers__social
    //      a(target="_blank" href="https://www.facebook.com/milenium.kasho?fref=ts")
    //        svg(xmlns='http://www.w3.org/2000/svg', width='8', height='17', viewbox='0 0 8 17')
    //          path(d='M0 7.07V4.78h1.49v-.86c0-1.33.32-2.32.96-2.97C3.07.32 3.95 0 5.1 0c.75 0 1.48.1 2.17.31v2.31a5.06 5.06 0 0 0-1.57-.28c-1.04 0-1.56.6-1.56 1.8v.66h3.11v2.27H4.18v9.61H1.49V7.07z')
    //    li.academy-teachers__social
    //      a(target="_blank" href="https://www.instagram.com/vitaliy_tereshchenko/")
    //        svg(xmlns='http://www.w3.org/2000/svg', width='14', height='15', viewbox='0 0 14 15')
    //          path(d='M1.79 0h10.34c.98 0 1.78.82 1.78 1.82v10.53c0 1-.8 1.82-1.78 1.82H1.79A1.8 1.8 0 0 1 0 12.35V1.82C0 .82.8 0 1.79 0zm8.35 1.57a.64.64 0 0 0-.63.64v1.53c0 .35.28.64.63.64h1.57c.34 0 .62-.29.62-.64V2.21a.63.63 0 0 0-.62-.64zm2.2 4.42h-1.22a4.29 4.29 0 0 1-4.15 5.48 4.3 4.3 0 0 1-4.15-5.48H1.55v5.98c0 .31.25.57.55.57h9.69c.3 0 .55-.26.55-.57zM6.97 4.3a2.77 2.77 0 0 0-2.79 2.75 2.78 2.78 0 0 0 2.79 2.76 2.78 2.78 0 0 0 2.79-2.76A2.77 2.77 0 0 0 6.97 4.3z')
    //div.academy-teacher__photo
    //  div.academy-teacher__photo-bg
    //  img(src="/img/client/salons/teachers/vlad/teacher-015.jpg")
    //div.academy-teacher__info
    //  h1.academy-teacher__name Ирина Веревкина