section.section-layout.salon-gallery
  h1.page-title галерея
  .salon-gallery-circles
    .circle.salon-gallery-circle.salon-gallery-circle--1
    .circle.salon-gallery-circle.salon-gallery-circle--2
    .circle.salon-gallery-circle.salon-gallery-circle--3
  ul.slider-arrows-long.contacts-slider.contacts-slider--active.salon-gallery-slider
    li(onclick="showPopup('#salon-gallery-popup')").contacts-slide.popup-link
      .contacts-slide-inner
        .contacts-slide-inner__img
          p.contacts-slide-inner__number 1
          img(src="/img/client/salons/gallery/vlad/Erteqoob_065.jpg")
    li(onclick="showPopup('#salon-gallery-popup')").contacts-slide.popup-link
      .contacts-slide-inner
        .contacts-slide-inner__img
          p.contacts-slide-inner__number 1
          img(src="/img/client/salons/gallery/vlad/Erteqoob_067.jpg")
    li(onclick="showPopup('#salon-gallery-popup')").contacts-slide.popup-link
      .contacts-slide-inner
        .contacts-slide-inner__img
          p.contacts-slide-inner__number 1
          img(src="/img/client/salons/gallery/vlad/Erteqoob_069.jpg")
    li(onclick="showPopup('#salon-gallery-popup')").contacts-slide.popup-link
      .contacts-slide-inner
        .contacts-slide-inner__img
          p.contacts-slide-inner__number 1
          img(src="/img/client/salons/gallery/vlad/Erteqoob_070.jpg")
    li(onclick="showPopup('#salon-gallery-popup')").contacts-slide.popup-link
      .contacts-slide-inner
        .contacts-slide-inner__img
          p.contacts-slide-inner__number 1
          img(src="/img/client/salons/gallery/vlad/Erteqoob_072.jpg")
    li(onclick="showPopup('#salon-gallery-popup')").contacts-slide.popup-link
      .contacts-slide-inner
        .contacts-slide-inner__img
          p.contacts-slide-inner__number 1
          img(src="/img/client/salons/gallery/vlad/Erteqoob_073.jpg")
    li(onclick="showPopup('#salon-gallery-popup')").contacts-slide.popup-link
      .contacts-slide-inner
        .contacts-slide-inner__img
          p.contacts-slide-inner__number 1
          img(src="/img/client/salons/gallery/vlad/Erteqoob_074.jpg")
    li(onclick="showPopup('#salon-gallery-popup')").contacts-slide.popup-link
      .contacts-slide-inner
        .contacts-slide-inner__img
          p.contacts-slide-inner__number 1
          img(src="/img/client/salons/gallery/vlad/Erteqoob_075.jpg")
    li(onclick="showPopup('#salon-gallery-popup')").contacts-slide.popup-link
      .contacts-slide-inner
        .contacts-slide-inner__img
          p.contacts-slide-inner__number 1
          img(src="/img/client/salons/gallery/vlad/Erteqoob_076.jpg")
    li(onclick="showPopup('#salon-gallery-popup')").contacts-slide.popup-link
      .contacts-slide-inner
        .contacts-slide-inner__img
          p.contacts-slide-inner__number 1
          img(src="/img/client/salons/gallery/vlad/Erteqoob_077.jpg")
    li(onclick="showPopup('#salon-gallery-popup')").contacts-slide.popup-link
      .contacts-slide-inner
        .contacts-slide-inner__img
          p.contacts-slide-inner__number 1
          img(src="/img/client/salons/gallery/vlad/Erteqoob_079.jpg")
    li(onclick="showPopup('#salon-gallery-popup')").contacts-slide.popup-link
      .contacts-slide-inner
        .contacts-slide-inner__img
          p.contacts-slide-inner__number 1
          img(src="/img/client/salons/gallery/vlad/Erteqoob_081.jpg")
    li(onclick="showPopup('#salon-gallery-popup')").contacts-slide.popup-link
      .contacts-slide-inner
        .contacts-slide-inner__img
          p.contacts-slide-inner__number 1
          img(src="/img/client/salons/gallery/vlad/Erteqoob_082.jpg")
    li(onclick="showPopup('#salon-gallery-popup')").contacts-slide.popup-link
      .contacts-slide-inner
        .contacts-slide-inner__img
          p.contacts-slide-inner__number 1
          img(src="/img/client/salons/gallery/vlad/Erteqoob_083.jpg")
    li(onclick="showPopup('#salon-gallery-popup')").contacts-slide.popup-link
      .contacts-slide-inner
        .contacts-slide-inner__img
          p.contacts-slide-inner__number 1
          img(src="/img/client/salons/gallery/vlad/Erteqoob_085.jpg")
    li(onclick="showPopup('#salon-gallery-popup')").contacts-slide.popup-link
      .contacts-slide-inner
        .contacts-slide-inner__img
          p.contacts-slide-inner__number 1
          img(src="/img/client/salons/gallery/vlad/Erteqoob_086.jpg")
    li(onclick="showPopup('#salon-gallery-popup')").contacts-slide.popup-link
      .contacts-slide-inner
        .contacts-slide-inner__img
          p.contacts-slide-inner__number 1
          img(src="/img/client/salons/gallery/vlad/Erteqoob_087.jpg")
    li(onclick="showPopup('#salon-gallery-popup')").contacts-slide.popup-link
      .contacts-slide-inner
        .contacts-slide-inner__img
          p.contacts-slide-inner__number 1
          img(src="/img/client/salons/gallery/vlad/Erteqoob_088.jpg")