section.section-layout.academy-intro
  include ../scroll-down.jade
  .circle-layout
    .circle.circle--1
    .circle.circle--2
    .circle.circle--3
  div.section-bg.academy-intro__bg
  div.academy-intro__main
    div.academy-intro__logo
    div.academy-intro__title
      h1 академия
  a(href="#").btn-black.home-intro__link запись на обучение
