.popup-layout.popup-lead-teacher
  .popup
    .popup__close
    .popup-lead-teacher__arrow.popup-lead-teacher__arrow--left(onclick="changeLeadTeacherPopup('prev')")
    .popup-lead-teacher__arrow.popup-lead-teacher__arrow--right(onclick="changeLeadTeacherPopup('next')")
    .popup-lead-teacher__content
      .popup-lead-teacher__circles
        .circle.popup-lead-teacher__circle.popup-lead-teacher__circle--1
        .circle.popup-lead-teacher__circle.popup-lead-teacher__circle--2
        .circle.popup-lead-teacher__circle.popup-lead-teacher__circle--3

      h2.popup-lead-teacher__subtitle.popup-lead-teacher__subtitle--1 Сооснователь Академии и салонов ETREQOOB. Эксперт в индустрии парикмахерского искусства. Креативный директор по созданию архитектурных форм стрижки волос.
      h1.popup-lead-teacher__title.popup-lead-teacher__title--1 Андрей Крупчинский
      p.popup-lead-teacher__text.popup-lead-teacher__text--1 Создание и контроль стиля ERTEQOOB, внедрение новинок сервиса и имиджа салона. Создание коллекции продуктов DOM. Представление бренда за рубежом. Адаптивный подход к работе с клиентом, работа со сложными структурами волос. Нестандартные решения при создании формы и ее структуры.
      ul.academy-teachers__socials.academy-teachers__socials--1
        li.academy-teachers__social
          a(target="_blank" href="https://www.facebook.com/andrey.krupchinskiy")
            svg(xmlns='http://www.w3.org/2000/svg', width='8', height='17', viewbox='0 0 8 17')
              path(fill='#fff', d='M0 7.07V4.78h1.49v-.86c0-1.33.32-2.32.96-2.97C3.07.32 3.95 0 5.1 0c.75 0 1.48.1 2.17.31v2.31a5.06 5.06 0 0 0-1.57-.28c-1.04 0-1.56.6-1.56 1.8v.66h3.11v2.27H4.18v9.61H1.49V7.07z')
        li.academy-teachers__social
          a(target="_blank" href="https://www.instagram.com/krupchinskiy1/")
            svg(xmlns='http://www.w3.org/2000/svg', width='14', height='15', viewbox='0 0 14 15')
              path(fill='#fff', d='M1.79 0h10.34c.98 0 1.78.82 1.78 1.82v10.53c0 1-.8 1.82-1.78 1.82H1.79A1.8 1.8 0 0 1 0 12.35V1.82C0 .82.8 0 1.79 0zm8.35 1.57a.64.64 0 0 0-.63.64v1.53c0 .35.28.64.63.64h1.57c.34 0 .62-.29.62-.64V2.21a.63.63 0 0 0-.62-.64zm2.2 4.42h-1.22a4.29 4.29 0 0 1-4.15 5.48 4.3 4.3 0 0 1-4.15-5.48H1.55v5.98c0 .31.25.57.55.57h9.69c.3 0 .55-.26.55-.57zM6.97 4.3a2.77 2.77 0 0 0-2.79 2.75 2.78 2.78 0 0 0 2.79 2.76 2.78 2.78 0 0 0 2.79-2.76A2.77 2.77 0 0 0 6.97 4.3z')

      h2.popup-lead-teacher__subtitle.popup-lead-teacher__subtitle--2 Сооснователь Академии и салонов ETREQOOB, Креативный директор. Ведущий педагог Академии, тренер педагогического состава, автор образовательных программ.
      h1.popup-lead-teacher__title.popup-lead-teacher__title--2 Елена Кузьмичёва
      p.popup-lead-teacher__text.popup-lead-teacher__text--2 Разработка и введение новых техник в создании женских стрижек. Работа с мужчинами, подбор профессиональной косметики, стайлинга и ухода. Творческая работа с командой, контроль стиля ERTEQOOB и качества услуг в салоне. Творческое и организационное формирование брендовых коллекций.
      ul.academy-teachers__socials.academy-teachers__socials--2
        li.academy-teachers__social
          a(target="_blank" href="https://www.facebook.com/profile.php?id=100011056186755")
            svg(xmlns='http://www.w3.org/2000/svg', width='8', height='17', viewbox='0 0 8 17')
              path(fill='#fff', d='M0 7.07V4.78h1.49v-.86c0-1.33.32-2.32.96-2.97C3.07.32 3.95 0 5.1 0c.75 0 1.48.1 2.17.31v2.31a5.06 5.06 0 0 0-1.57-.28c-1.04 0-1.56.6-1.56 1.8v.66h3.11v2.27H4.18v9.61H1.49V7.07z')
        li.academy-teachers__social
          a(target="_blank" href="http://instagram.com/elene_kuzmicheva")
            svg(xmlns='http://www.w3.org/2000/svg', width='14', height='15', viewbox='0 0 14 15')
              path(fill='#fff', d='M1.79 0h10.34c.98 0 1.78.82 1.78 1.82v10.53c0 1-.8 1.82-1.78 1.82H1.79A1.8 1.8 0 0 1 0 12.35V1.82C0 .82.8 0 1.79 0zm8.35 1.57a.64.64 0 0 0-.63.64v1.53c0 .35.28.64.63.64h1.57c.34 0 .62-.29.62-.64V2.21a.63.63 0 0 0-.62-.64zm2.2 4.42h-1.22a4.29 4.29 0 0 1-4.15 5.48 4.3 4.3 0 0 1-4.15-5.48H1.55v5.98c0 .31.25.57.55.57h9.69c.3 0 .55-.26.55-.57zM6.97 4.3a2.77 2.77 0 0 0-2.79 2.75 2.78 2.78 0 0 0 2.79 2.76 2.78 2.78 0 0 0 2.79-2.76A2.77 2.77 0 0 0 6.97 4.3z')

      h2.popup-lead-teacher__subtitle.popup-lead-teacher__subtitle--3 Сооснователь Академии и салонов ETREQOOB, Креативный директор. Автор обучающих программ. Ведущий педагог Академии, тренер педагогического состава.
      h1.popup-lead-teacher__title.popup-lead-teacher__title--3 Дмитрий Кузьмичёв
      p.popup-lead-teacher__text.popup-lead-teacher__text--3 Адаптивный подход к созданию форм, работа со сложными структурами волос. Творческая работа с командой, контроль качества предоставляемых услуг в салоне и имиджа специалистов. Внедрение творческих проектов Академии. Разработка и формирование имиджевых коллекций. Создание коллекций продуктов DOM.
      ul.academy-teachers__socials.academy-teachers__socials--3
        li.academy-teachers__social
          a(target="_blank" href="https://www.facebook.com/profile.php?id=100006560228838")
            svg(xmlns='http://www.w3.org/2000/svg', width='8', height='17', viewbox='0 0 8 17')
              path(fill='#fff', d='M0 7.07V4.78h1.49v-.86c0-1.33.32-2.32.96-2.97C3.07.32 3.95 0 5.1 0c.75 0 1.48.1 2.17.31v2.31a5.06 5.06 0 0 0-1.57-.28c-1.04 0-1.56.6-1.56 1.8v.66h3.11v2.27H4.18v9.61H1.49V7.07z')
        li.academy-teachers__social
          a(target="_blank" href="https://www.instagram.com/dmitry_kuzmichev/")
            svg(xmlns='http://www.w3.org/2000/svg', width='14', height='15', viewbox='0 0 14 15')
              path(fill='#fff', d='M1.79 0h10.34c.98 0 1.78.82 1.78 1.82v10.53c0 1-.8 1.82-1.78 1.82H1.79A1.8 1.8 0 0 1 0 12.35V1.82C0 .82.8 0 1.79 0zm8.35 1.57a.64.64 0 0 0-.63.64v1.53c0 .35.28.64.63.64h1.57c.34 0 .62-.29.62-.64V2.21a.63.63 0 0 0-.62-.64zm2.2 4.42h-1.22a4.29 4.29 0 0 1-4.15 5.48 4.3 4.3 0 0 1-4.15-5.48H1.55v5.98c0 .31.25.57.55.57h9.69c.3 0 .55-.26.55-.57zM6.97 4.3a2.77 2.77 0 0 0-2.79 2.75 2.78 2.78 0 0 0 2.79 2.76 2.78 2.78 0 0 0 2.79-2.76A2.77 2.77 0 0 0 6.97 4.3z')

      h2.popup-lead-teacher__subtitle.popup-lead-teacher__subtitle--4 Ведущий педагог Академии. Разработчик и куратор курсов. Арт-директор проектов ERTEQOOB. Тренер команды молодых мастеров и преподавателей Академии.
      h1.popup-lead-teacher__title.popup-lead-teacher__title--4 Павел Марущинец
      p.popup-lead-teacher__text.popup-lead-teacher__text--4 Стрижки, окрашивания и камуфлирование волос. Работа с точными формами стрижки волос, классика и продвинутые формы. Участие в создании имиджевых коллекций, съемки, обработка, монтаж «EQ Production», создание и контроль полиграфии бренда.
      ul.academy-teachers__socials.academy-teachers__socials--4
        li.academy-teachers__social
          a(target="_blank" href="https://www.facebook.com/pasha.maruschynets?fref=ts")
            svg(xmlns='http://www.w3.org/2000/svg', width='8', height='17', viewbox='0 0 8 17')
              path(fill='#fff', d='M0 7.07V4.78h1.49v-.86c0-1.33.32-2.32.96-2.97C3.07.32 3.95 0 5.1 0c.75 0 1.48.1 2.17.31v2.31a5.06 5.06 0 0 0-1.57-.28c-1.04 0-1.56.6-1.56 1.8v.66h3.11v2.27H4.18v9.61H1.49V7.07z')
        li.academy-teachers__social
          a(target="_blank" href="https://www.instagram.com/maruschynets/")
            svg(xmlns='http://www.w3.org/2000/svg', width='14', height='15', viewbox='0 0 14 15')
              path(fill='#fff', d='M1.79 0h10.34c.98 0 1.78.82 1.78 1.82v10.53c0 1-.8 1.82-1.78 1.82H1.79A1.8 1.8 0 0 1 0 12.35V1.82C0 .82.8 0 1.79 0zm8.35 1.57a.64.64 0 0 0-.63.64v1.53c0 .35.28.64.63.64h1.57c.34 0 .62-.29.62-.64V2.21a.63.63 0 0 0-.62-.64zm2.2 4.42h-1.22a4.29 4.29 0 0 1-4.15 5.48 4.3 4.3 0 0 1-4.15-5.48H1.55v5.98c0 .31.25.57.55.57h9.69c.3 0 .55-.26.55-.57zM6.97 4.3a2.77 2.77 0 0 0-2.79 2.75 2.78 2.78 0 0 0 2.79 2.76 2.78 2.78 0 0 0 2.79-2.76A2.77 2.77 0 0 0 6.97 4.3z')


script.
  $(document).ready(function () {
    // close popup
    $('.popup-lead-teacher .popup__close').click(function(){
      var $popup = $('.popup-lead-teacher');
      $popup.removeClass('popup-lead-teacher--1 popup-lead-teacher--2 popup-lead-teacher--3 popup-lead-teacher--4')
      hideLeadTeacherPopupInfo();
    });

    window.leadTeacherNext = '';
    window.leadTeacherPrev = '';

    window.stopClick = false;
  });

  function showLeadTeachersPopup(teacherNumber) {
    var $popup = $('.popup-lead-teacher');
    var $subtitle = $popup.find('.popup-lead-teacher__subtitle--' + teacherNumber);
    var $title = $popup.find('.popup-lead-teacher__title--' + teacherNumber);
    var $text = $popup.find('.popup-lead-teacher__text--' + teacherNumber);
    var $socials = $popup.find('.academy-teachers__socials--' + teacherNumber);
    $popup.addClass('popup-lead-teacher--active popup-lead-teacher--' + teacherNumber);
    TweenMax.to($('.popup__close'), 1, {display: 'block', autoAlpha: 1, scaleX: 1, scaleY: 1, ease: Power4.easeOut, delay: 0.5});
    TweenMax.to($popup, 0.5, {display: 'block', autoAlpha: 1, scaleX: 1, scaleY: 1, ease: Power4.easeOut});
    showLeadTeacherPopupInfo($subtitle, $title, $text, $socials);

    leadTeacherNext = teacherNumber + 1;
    leadTeacherPrev = teacherNumber - 1;
    if (leadTeacherNext > 4) leadTeacherNext = 1;
    if (leadTeacherPrev <= 0) leadTeacherPrev = 4;
  }

  function changeLeadTeacherPopup(direction){
    if(stopClick) return;
    stopClick = true;
    setTimeout(function () {
      stopClick = false;
    }, 900);

    var $popup = $('.popup-lead-teacher');
    var $subtitle, $title, $text, $socials;
    var number;
    $popup.removeClass('popup-lead-teacher--1 popup-lead-teacher--2 popup-lead-teacher--3 popup-lead-teacher--4')
    if(direction == 'prev'){
      number = leadTeacherPrev;
      $popup.addClass('popup-lead-teacher--' + number);
      $subtitle = $popup.find('.popup-lead-teacher__subtitle--' + leadTeacherPrev);
      $title = $popup.find('.popup-lead-teacher__title--' + leadTeacherPrev);
      $text = $popup.find('.popup-lead-teacher__text--' + leadTeacherPrev);
      $socials = $popup.find('.academy-teachers__socials--' + leadTeacherPrev);
      leadTeacherNext = number + 1;
      leadTeacherPrev = number - 1;
    } else if(direction == 'next'){
      number = leadTeacherNext;
      $popup.addClass('popup-lead-teacher--' + number);
      $subtitle = $popup.find('.popup-lead-teacher__subtitle--' + leadTeacherNext);
      $title = $popup.find('.popup-lead-teacher__title--' + leadTeacherNext);
      $text = $popup.find('.popup-lead-teacher__text--' + leadTeacherNext);
      $socials = $popup.find('.academy-teachers__socials--' + leadTeacherNext);
      leadTeacherNext = number + 1;
      leadTeacherPrev = number - 1;
    }

    hideLeadTeacherPopupInfo();
    showLeadTeacherPopupInfo($subtitle, $title, $text, $socials);

    //TweenMax.to($popup, 0, {display: 'none', autoAlpha: 0, scaleX: 0.7, scaleY: 0.7, ease: Power4.easeOut, delay: 0.5});
    //TweenMax.to($(popup), 0.5, {display: 'block', autoAlpha: 1, scaleX: 1, scaleY: 1, ease: Power4.easeOut});
    //$(popup).addClass('popup-lead-teacher--active');

    if (leadTeacherNext > 4) leadTeacherNext = 1;
    if (leadTeacherPrev <= 0) leadTeacherPrev = 4;
  }

  function showLeadTeacherPopupInfo($subtitle, $title, $text, $socials){
    TweenMax.to($subtitle, 0.7, {display: 'block', autoAlpha: 1, top: 0, ease: Power4.easeOut, delay: 0.3});
    TweenMax.to($title, 0.7, {display: 'block', autoAlpha: 1, top: 0, ease: Power4.easeOut, delay: 0.5});
    TweenMax.to($text, 0.7, {display: 'block', autoAlpha: 1, top: 0, ease: Power4.easeOut, delay: 0.7});
    TweenMax.to($socials, 0.7, {display: 'block', autoAlpha: 1, top: 0, ease: Power4.easeOut, delay: 0.9});
  }

  function hideLeadTeacherPopupInfo(){
    TweenMax.to($('.popup-lead-teacher__subtitle'), 0.2, {display: 'none', autoAlpha: 0, top: '50px', ease: Power4.easeOut});
    TweenMax.to($('.popup-lead-teacher__title'), 0.2, {display: 'none', autoAlpha: 0, top: '50px', ease: Power4.easeOut});
    TweenMax.to($('.popup-lead-teacher__text'), 0.2, {display: 'none', autoAlpha: 0, top: '50px', ease: Power4.easeOut});
    TweenMax.to($('.academy-teachers__socials'), 0.2, {display: 'none', autoAlpha: 0, top: '50px', ease: Power4.easeOut});
  }