#academy-inspiration-popup.popup-layout.popup-layout--black
  .photo-popup.photo-popup--academy
    .popup__close
    ul.academy-inspiration__city-btns.academy-inspiration__city-btns--popup
      li(data-slider='kiev').academy-inspiration__city-btn.academy-inspiration__city-btn--kiev.academy-inspiration__city-btn--active академия в киеве
      li(data-slider='kharkiv').academy-inspiration__city-btn.academy-inspiration__city-btn--kharkiv академия в харькове

    include ../../partials/popup-partials/academy-kiev-slider.jade
    include ../../partials/popup-partials/academy-kharkiv-slider.jade