section.section-layout.academy-philosophy
  div.section-bg.academy-philosophy__bg
  div.academy-philosophy__main
    div.academy-philosophy__title-layout
      .academy-philosophy__title-logo
      h1.academy-philosophy__title Обучение пронизано<br> чувственностью<br class="br-md"> и страстью<br> всей команды<br class="br-md"> ERTEQOOB
      .academy-philosophy__title-line-layout
        .academy-philosophy__title-line
    div.academy-philosophy__link-layout
      a(href="#").btn-black.academy-philosophy__link философия erteqoob