section.section-layout.academy-about
  div.section-bg.academy-about__bg
  .academy-about__line
  ul.academy-about__list.slider-arrows-long.slider-arrows-long--standard.slick-dots-horizontal
    li.academy-about__item
      div.academy-about__item-inner
        h1.academy-about__item-title ERTEQOOB ACADEMY<br> создана в 2011 году<br> трёмя одержимыми парикмахерским<br> искусством профессионалами
        p.academy-about__item-subtitle факты
    li.academy-about__item
      div.academy-about__item-inner
        h1.academy-about__item-title Преподаватели имеют от 7 до 25 лет опыта в парикмахерском искусстве и от 5 до 17 лет - в обучении
        p.academy-about__item-subtitle факты
    li.academy-about__item
      div.academy-about__item-inner
        h1.academy-about__item-title Ученики ERTEQOOB ACADEMY получают Сертификат международного образца, успешные выпускники Академии трудоустроены в салоны ERTEQOOB
        p.academy-about__item-subtitle факты
    li.academy-about__item
      div.academy-about__item-inner
        h1.academy-about__item-title Выпускники ERTEQOOB ACADEMY работают в США, Франции, Польше, Чехии, Германии, Греции, Китае, Белоруссии, России, Израиле, Турции, Азербайджане, Грузии, Литве, Армении, Молдавии.
        p.academy-about__item-subtitle факты
    li.academy-about__item
      div.academy-about__item-inner
        h1.academy-about__item-title Команда ERTEQOOB работает над имиджем таких артистов как: ONUKA, THE MANEKEN, CEPASA, DORN, ОКЕАН ЭЛЬЗИ, АЛЕКСАНДР ПЕДАН, KADNAY, ЕЛЕНА КОЛЯДЕНКО И FREEDOM.
        p.academy-about__item-subtitle факты

script.
  $(function(){

    // academy about slider
    $('.academy-about__list').slick({
      slidesToShow: 1,
      speed: 1000,
      mobileFirst: true,
      arrows: true,
      dots: true,
      draggable: true,
      accessibility: false,
      centerMode: true,
      variableWidth: false,
      adaptiveHeight: true,
      infinite: true,
      swipeToSlide: true
    });
  });