section.section-layout.academy-teachers.academy-teachers--teachers
  div.section-bg.academy-teachers__bg
  div.academy-teachers__main
    div.academy-teachers__title-layout
      h1.page-title-2.academy-teachers__title преподаватели
    ul.academy-teachers-slider.academy-teachers-slider--desktop.slider-arrows-long.slider-arrows-long--standard.slick-dots-horizontal
      li.academy-teachers-slide
        div.academy-teacher
          div.academy-teachers__socials-layout
            ul.academy-teachers__socials
              li.academy-teachers__social
                a(href="#")
                  svg(xmlns='http://www.w3.org/2000/svg', width='8', height='17', viewbox='0 0 8 17')
                    path(fill='#fff', d='M0 7.07V4.78h1.49v-.86c0-1.33.32-2.32.96-2.97C3.07.32 3.95 0 5.1 0c.75 0 1.48.1 2.17.31v2.31a5.06 5.06 0 0 0-1.57-.28c-1.04 0-1.56.6-1.56 1.8v.66h3.11v2.27H4.18v9.61H1.49V7.07z')
              li.academy-teachers__social
                a(href="#")
                  svg(xmlns='http://www.w3.org/2000/svg', width='14', height='15', viewbox='0 0 14 15')
                    path(fill='#fff', d='M1.79 0h10.34c.98 0 1.78.82 1.78 1.82v10.53c0 1-.8 1.82-1.78 1.82H1.79A1.8 1.8 0 0 1 0 12.35V1.82C0 .82.8 0 1.79 0zm8.35 1.57a.64.64 0 0 0-.63.64v1.53c0 .35.28.64.63.64h1.57c.34 0 .62-.29.62-.64V2.21a.63.63 0 0 0-.62-.64zm2.2 4.42h-1.22a4.29 4.29 0 0 1-4.15 5.48 4.3 4.3 0 0 1-4.15-5.48H1.55v5.98c0 .31.25.57.55.57h9.69c.3 0 .55-.26.55-.57zM6.97 4.3a2.77 2.77 0 0 0-2.79 2.75 2.78 2.78 0 0 0 2.79 2.76 2.78 2.78 0 0 0 2.79-2.76A2.77 2.77 0 0 0 6.97 4.3z')
          div.academy-teacher__photo
            div.academy-teacher__photo-bg
            img(src="/img/client/academy/academy-teacher-1.jpg")
          div.academy-teacher__info
            h1.academy-teacher__name Юлия Федорова
            h2.academy-teacher__position топ-стилист<br> салона
        div.academy-teacher
          div.academy-teachers__socials-layout
            ul.academy-teachers__socials
              li.academy-teachers__social
                a(href="#")
                  svg(xmlns='http://www.w3.org/2000/svg', width='8', height='17', viewbox='0 0 8 17')
                    path(fill='#fff', d='M0 7.07V4.78h1.49v-.86c0-1.33.32-2.32.96-2.97C3.07.32 3.95 0 5.1 0c.75 0 1.48.1 2.17.31v2.31a5.06 5.06 0 0 0-1.57-.28c-1.04 0-1.56.6-1.56 1.8v.66h3.11v2.27H4.18v9.61H1.49V7.07z')
              li.academy-teachers__social
                a(href="#")
                  svg(xmlns='http://www.w3.org/2000/svg', width='14', height='15', viewbox='0 0 14 15')
                    path(fill='#fff', d='M1.79 0h10.34c.98 0 1.78.82 1.78 1.82v10.53c0 1-.8 1.82-1.78 1.82H1.79A1.8 1.8 0 0 1 0 12.35V1.82C0 .82.8 0 1.79 0zm8.35 1.57a.64.64 0 0 0-.63.64v1.53c0 .35.28.64.63.64h1.57c.34 0 .62-.29.62-.64V2.21a.63.63 0 0 0-.62-.64zm2.2 4.42h-1.22a4.29 4.29 0 0 1-4.15 5.48 4.3 4.3 0 0 1-4.15-5.48H1.55v5.98c0 .31.25.57.55.57h9.69c.3 0 .55-.26.55-.57zM6.97 4.3a2.77 2.77 0 0 0-2.79 2.75 2.78 2.78 0 0 0 2.79 2.76 2.78 2.78 0 0 0 2.79-2.76A2.77 2.77 0 0 0 6.97 4.3z')
          div.academy-teacher__photo
            div.academy-teacher__photo-bg
            img(src="/img/client/academy/academy-teacher-1.jpg")
          div.academy-teacher__info
            h1.academy-teacher__name Юлия Федорова
            h2.academy-teacher__position топ-стилист<br> салона
        div.academy-teacher
          div.academy-teachers__socials-layout
            ul.academy-teachers__socials
              li.academy-teachers__social
                a(href="#")
                  svg(xmlns='http://www.w3.org/2000/svg', width='8', height='17', viewbox='0 0 8 17')
                    path(fill='#fff', d='M0 7.07V4.78h1.49v-.86c0-1.33.32-2.32.96-2.97C3.07.32 3.95 0 5.1 0c.75 0 1.48.1 2.17.31v2.31a5.06 5.06 0 0 0-1.57-.28c-1.04 0-1.56.6-1.56 1.8v.66h3.11v2.27H4.18v9.61H1.49V7.07z')
              li.academy-teachers__social
                a(href="#")
                  svg(xmlns='http://www.w3.org/2000/svg', width='14', height='15', viewbox='0 0 14 15')
                    path(fill='#fff', d='M1.79 0h10.34c.98 0 1.78.82 1.78 1.82v10.53c0 1-.8 1.82-1.78 1.82H1.79A1.8 1.8 0 0 1 0 12.35V1.82C0 .82.8 0 1.79 0zm8.35 1.57a.64.64 0 0 0-.63.64v1.53c0 .35.28.64.63.64h1.57c.34 0 .62-.29.62-.64V2.21a.63.63 0 0 0-.62-.64zm2.2 4.42h-1.22a4.29 4.29 0 0 1-4.15 5.48 4.3 4.3 0 0 1-4.15-5.48H1.55v5.98c0 .31.25.57.55.57h9.69c.3 0 .55-.26.55-.57zM6.97 4.3a2.77 2.77 0 0 0-2.79 2.75 2.78 2.78 0 0 0 2.79 2.76 2.78 2.78 0 0 0 2.79-2.76A2.77 2.77 0 0 0 6.97 4.3z')
          div.academy-teacher__photo
            div.academy-teacher__photo-bg
            img(src="/img/client/academy/academy-teacher-1.jpg")
          div.academy-teacher__info
            h1.academy-teacher__name Юлия Федорова
            h2.academy-teacher__position топ-стилист<br> салона
        div.academy-teacher
          div.academy-teachers__socials-layout
            ul.academy-teachers__socials
              li.academy-teachers__social
                a(href="#")
                  svg(xmlns='http://www.w3.org/2000/svg', width='8', height='17', viewbox='0 0 8 17')
                    path(fill='#fff', d='M0 7.07V4.78h1.49v-.86c0-1.33.32-2.32.96-2.97C3.07.32 3.95 0 5.1 0c.75 0 1.48.1 2.17.31v2.31a5.06 5.06 0 0 0-1.57-.28c-1.04 0-1.56.6-1.56 1.8v.66h3.11v2.27H4.18v9.61H1.49V7.07z')
              li.academy-teachers__social
                a(href="#")
                  svg(xmlns='http://www.w3.org/2000/svg', width='14', height='15', viewbox='0 0 14 15')
                    path(fill='#fff', d='M1.79 0h10.34c.98 0 1.78.82 1.78 1.82v10.53c0 1-.8 1.82-1.78 1.82H1.79A1.8 1.8 0 0 1 0 12.35V1.82C0 .82.8 0 1.79 0zm8.35 1.57a.64.64 0 0 0-.63.64v1.53c0 .35.28.64.63.64h1.57c.34 0 .62-.29.62-.64V2.21a.63.63 0 0 0-.62-.64zm2.2 4.42h-1.22a4.29 4.29 0 0 1-4.15 5.48 4.3 4.3 0 0 1-4.15-5.48H1.55v5.98c0 .31.25.57.55.57h9.69c.3 0 .55-.26.55-.57zM6.97 4.3a2.77 2.77 0 0 0-2.79 2.75 2.78 2.78 0 0 0 2.79 2.76 2.78 2.78 0 0 0 2.79-2.76A2.77 2.77 0 0 0 6.97 4.3z')
          div.academy-teacher__photo
            div.academy-teacher__photo-bg
            img(src="/img/client/academy/academy-teacher-1.jpg")
          div.academy-teacher__info
            h1.academy-teacher__name Юлия Федорова
            h2.academy-teacher__position топ-стилист<br> салона
        div.academy-teacher
          div.academy-teachers__socials-layout
            ul.academy-teachers__socials
              li.academy-teachers__social
                a(href="#")
                  svg(xmlns='http://www.w3.org/2000/svg', width='8', height='17', viewbox='0 0 8 17')
                    path(fill='#fff', d='M0 7.07V4.78h1.49v-.86c0-1.33.32-2.32.96-2.97C3.07.32 3.95 0 5.1 0c.75 0 1.48.1 2.17.31v2.31a5.06 5.06 0 0 0-1.57-.28c-1.04 0-1.56.6-1.56 1.8v.66h3.11v2.27H4.18v9.61H1.49V7.07z')
              li.academy-teachers__social
                a(href="#")
                  svg(xmlns='http://www.w3.org/2000/svg', width='14', height='15', viewbox='0 0 14 15')
                    path(fill='#fff', d='M1.79 0h10.34c.98 0 1.78.82 1.78 1.82v10.53c0 1-.8 1.82-1.78 1.82H1.79A1.8 1.8 0 0 1 0 12.35V1.82C0 .82.8 0 1.79 0zm8.35 1.57a.64.64 0 0 0-.63.64v1.53c0 .35.28.64.63.64h1.57c.34 0 .62-.29.62-.64V2.21a.63.63 0 0 0-.62-.64zm2.2 4.42h-1.22a4.29 4.29 0 0 1-4.15 5.48 4.3 4.3 0 0 1-4.15-5.48H1.55v5.98c0 .31.25.57.55.57h9.69c.3 0 .55-.26.55-.57zM6.97 4.3a2.77 2.77 0 0 0-2.79 2.75 2.78 2.78 0 0 0 2.79 2.76 2.78 2.78 0 0 0 2.79-2.76A2.77 2.77 0 0 0 6.97 4.3z')
          div.academy-teacher__photo
            div.academy-teacher__photo-bg
            img(src="/img/client/academy/academy-teacher-1.jpg")
          div.academy-teacher__info
            h1.academy-teacher__name Юлия Федорова
            h2.academy-teacher__position топ-стилист<br> салона
      li.academy-teachers-slide
        div.academy-teacher
          div.academy-teachers__socials-layout
            ul.academy-teachers__socials
              li.academy-teachers__social
                a(href="#")
                  svg(xmlns='http://www.w3.org/2000/svg', width='8', height='17', viewbox='0 0 8 17')
                    path(fill='#fff', d='M0 7.07V4.78h1.49v-.86c0-1.33.32-2.32.96-2.97C3.07.32 3.95 0 5.1 0c.75 0 1.48.1 2.17.31v2.31a5.06 5.06 0 0 0-1.57-.28c-1.04 0-1.56.6-1.56 1.8v.66h3.11v2.27H4.18v9.61H1.49V7.07z')
              li.academy-teachers__social
                a(href="#")
                  svg(xmlns='http://www.w3.org/2000/svg', width='14', height='15', viewbox='0 0 14 15')
                    path(fill='#fff', d='M1.79 0h10.34c.98 0 1.78.82 1.78 1.82v10.53c0 1-.8 1.82-1.78 1.82H1.79A1.8 1.8 0 0 1 0 12.35V1.82C0 .82.8 0 1.79 0zm8.35 1.57a.64.64 0 0 0-.63.64v1.53c0 .35.28.64.63.64h1.57c.34 0 .62-.29.62-.64V2.21a.63.63 0 0 0-.62-.64zm2.2 4.42h-1.22a4.29 4.29 0 0 1-4.15 5.48 4.3 4.3 0 0 1-4.15-5.48H1.55v5.98c0 .31.25.57.55.57h9.69c.3 0 .55-.26.55-.57zM6.97 4.3a2.77 2.77 0 0 0-2.79 2.75 2.78 2.78 0 0 0 2.79 2.76 2.78 2.78 0 0 0 2.79-2.76A2.77 2.77 0 0 0 6.97 4.3z')
          div.academy-teacher__photo
            div.academy-teacher__photo-bg
            img(src="/img/client/academy/academy-teacher-1.jpg")
          div.academy-teacher__info
            h1.academy-teacher__name Юлия Федорова
            h2.academy-teacher__position топ-стилист<br> салона
        div.academy-teacher
          div.academy-teachers__socials-layout
            ul.academy-teachers__socials
              li.academy-teachers__social
                a(href="#")
                  svg(xmlns='http://www.w3.org/2000/svg', width='8', height='17', viewbox='0 0 8 17')
                    path(fill='#fff', d='M0 7.07V4.78h1.49v-.86c0-1.33.32-2.32.96-2.97C3.07.32 3.95 0 5.1 0c.75 0 1.48.1 2.17.31v2.31a5.06 5.06 0 0 0-1.57-.28c-1.04 0-1.56.6-1.56 1.8v.66h3.11v2.27H4.18v9.61H1.49V7.07z')
              li.academy-teachers__social
                a(href="#")
                  svg(xmlns='http://www.w3.org/2000/svg', width='14', height='15', viewbox='0 0 14 15')
                    path(fill='#fff', d='M1.79 0h10.34c.98 0 1.78.82 1.78 1.82v10.53c0 1-.8 1.82-1.78 1.82H1.79A1.8 1.8 0 0 1 0 12.35V1.82C0 .82.8 0 1.79 0zm8.35 1.57a.64.64 0 0 0-.63.64v1.53c0 .35.28.64.63.64h1.57c.34 0 .62-.29.62-.64V2.21a.63.63 0 0 0-.62-.64zm2.2 4.42h-1.22a4.29 4.29 0 0 1-4.15 5.48 4.3 4.3 0 0 1-4.15-5.48H1.55v5.98c0 .31.25.57.55.57h9.69c.3 0 .55-.26.55-.57zM6.97 4.3a2.77 2.77 0 0 0-2.79 2.75 2.78 2.78 0 0 0 2.79 2.76 2.78 2.78 0 0 0 2.79-2.76A2.77 2.77 0 0 0 6.97 4.3z')
          div.academy-teacher__photo
            div.academy-teacher__photo-bg
            img(src="/img/client/academy/academy-teacher-1.jpg")
          div.academy-teacher__info
            h1.academy-teacher__name Юлия Федорова
            h2.academy-teacher__position топ-стилист<br> салона
        div.academy-teacher
          div.academy-teachers__socials-layout
            ul.academy-teachers__socials
              li.academy-teachers__social
                a(href="#")
                  svg(xmlns='http://www.w3.org/2000/svg', width='8', height='17', viewbox='0 0 8 17')
                    path(fill='#fff', d='M0 7.07V4.78h1.49v-.86c0-1.33.32-2.32.96-2.97C3.07.32 3.95 0 5.1 0c.75 0 1.48.1 2.17.31v2.31a5.06 5.06 0 0 0-1.57-.28c-1.04 0-1.56.6-1.56 1.8v.66h3.11v2.27H4.18v9.61H1.49V7.07z')
              li.academy-teachers__social
                a(href="#")
                  svg(xmlns='http://www.w3.org/2000/svg', width='14', height='15', viewbox='0 0 14 15')
                    path(fill='#fff', d='M1.79 0h10.34c.98 0 1.78.82 1.78 1.82v10.53c0 1-.8 1.82-1.78 1.82H1.79A1.8 1.8 0 0 1 0 12.35V1.82C0 .82.8 0 1.79 0zm8.35 1.57a.64.64 0 0 0-.63.64v1.53c0 .35.28.64.63.64h1.57c.34 0 .62-.29.62-.64V2.21a.63.63 0 0 0-.62-.64zm2.2 4.42h-1.22a4.29 4.29 0 0 1-4.15 5.48 4.3 4.3 0 0 1-4.15-5.48H1.55v5.98c0 .31.25.57.55.57h9.69c.3 0 .55-.26.55-.57zM6.97 4.3a2.77 2.77 0 0 0-2.79 2.75 2.78 2.78 0 0 0 2.79 2.76 2.78 2.78 0 0 0 2.79-2.76A2.77 2.77 0 0 0 6.97 4.3z')
          div.academy-teacher__photo
            div.academy-teacher__photo-bg
            img(src="/img/client/academy/academy-teacher-1.jpg")
          div.academy-teacher__info
            h1.academy-teacher__name Юлия Федорова
            h2.academy-teacher__position топ-стилист<br> салона
        div.academy-teacher
          div.academy-teachers__socials-layout
            ul.academy-teachers__socials
              li.academy-teachers__social
                a(href="#")
                  svg(xmlns='http://www.w3.org/2000/svg', width='8', height='17', viewbox='0 0 8 17')
                    path(fill='#fff', d='M0 7.07V4.78h1.49v-.86c0-1.33.32-2.32.96-2.97C3.07.32 3.95 0 5.1 0c.75 0 1.48.1 2.17.31v2.31a5.06 5.06 0 0 0-1.57-.28c-1.04 0-1.56.6-1.56 1.8v.66h3.11v2.27H4.18v9.61H1.49V7.07z')
              li.academy-teachers__social
                a(href="#")
                  svg(xmlns='http://www.w3.org/2000/svg', width='14', height='15', viewbox='0 0 14 15')
                    path(fill='#fff', d='M1.79 0h10.34c.98 0 1.78.82 1.78 1.82v10.53c0 1-.8 1.82-1.78 1.82H1.79A1.8 1.8 0 0 1 0 12.35V1.82C0 .82.8 0 1.79 0zm8.35 1.57a.64.64 0 0 0-.63.64v1.53c0 .35.28.64.63.64h1.57c.34 0 .62-.29.62-.64V2.21a.63.63 0 0 0-.62-.64zm2.2 4.42h-1.22a4.29 4.29 0 0 1-4.15 5.48 4.3 4.3 0 0 1-4.15-5.48H1.55v5.98c0 .31.25.57.55.57h9.69c.3 0 .55-.26.55-.57zM6.97 4.3a2.77 2.77 0 0 0-2.79 2.75 2.78 2.78 0 0 0 2.79 2.76 2.78 2.78 0 0 0 2.79-2.76A2.77 2.77 0 0 0 6.97 4.3z')
          div.academy-teacher__photo
            div.academy-teacher__photo-bg
            img(src="/img/client/academy/academy-teacher-1.jpg")
          div.academy-teacher__info
            h1.academy-teacher__name Юлия Федорова
            h2.academy-teacher__position топ-стилист<br> салона
        div.academy-teacher
          div.academy-teachers__socials-layout
            ul.academy-teachers__socials
              li.academy-teachers__social
                a(href="#")
                  svg(xmlns='http://www.w3.org/2000/svg', width='8', height='17', viewbox='0 0 8 17')
                    path(fill='#fff', d='M0 7.07V4.78h1.49v-.86c0-1.33.32-2.32.96-2.97C3.07.32 3.95 0 5.1 0c.75 0 1.48.1 2.17.31v2.31a5.06 5.06 0 0 0-1.57-.28c-1.04 0-1.56.6-1.56 1.8v.66h3.11v2.27H4.18v9.61H1.49V7.07z')
              li.academy-teachers__social
                a(href="#")
                  svg(xmlns='http://www.w3.org/2000/svg', width='14', height='15', viewbox='0 0 14 15')
                    path(fill='#fff', d='M1.79 0h10.34c.98 0 1.78.82 1.78 1.82v10.53c0 1-.8 1.82-1.78 1.82H1.79A1.8 1.8 0 0 1 0 12.35V1.82C0 .82.8 0 1.79 0zm8.35 1.57a.64.64 0 0 0-.63.64v1.53c0 .35.28.64.63.64h1.57c.34 0 .62-.29.62-.64V2.21a.63.63 0 0 0-.62-.64zm2.2 4.42h-1.22a4.29 4.29 0 0 1-4.15 5.48 4.3 4.3 0 0 1-4.15-5.48H1.55v5.98c0 .31.25.57.55.57h9.69c.3 0 .55-.26.55-.57zM6.97 4.3a2.77 2.77 0 0 0-2.79 2.75 2.78 2.78 0 0 0 2.79 2.76 2.78 2.78 0 0 0 2.79-2.76A2.77 2.77 0 0 0 6.97 4.3z')
          div.academy-teacher__photo
            div.academy-teacher__photo-bg
            img(src="/img/client/academy/academy-teacher-1.jpg")
          div.academy-teacher__info
            h1.academy-teacher__name Юлия Федорова
            h2.academy-teacher__position топ-стилист<br> салона
    ul.academy-teachers-slider.academy-teachers-slider--mobile.academy-teachers-slider--desctop.slider-arrows-long.slider-arrows-long--standard.slick-dots-horizontal
      div.academy-teacher
        div.academy-teachers__socials-layout
          ul.academy-teachers__socials
            li.academy-teachers__social
              a(href="#")
                svg(xmlns='http://www.w3.org/2000/svg', width='8', height='17', viewbox='0 0 8 17')
                  path(fill='#fff', d='M0 7.07V4.78h1.49v-.86c0-1.33.32-2.32.96-2.97C3.07.32 3.95 0 5.1 0c.75 0 1.48.1 2.17.31v2.31a5.06 5.06 0 0 0-1.57-.28c-1.04 0-1.56.6-1.56 1.8v.66h3.11v2.27H4.18v9.61H1.49V7.07z')
            li.academy-teachers__social
              a(href="#")
                svg(xmlns='http://www.w3.org/2000/svg', width='14', height='15', viewbox='0 0 14 15')
                  path(fill='#fff', d='M1.79 0h10.34c.98 0 1.78.82 1.78 1.82v10.53c0 1-.8 1.82-1.78 1.82H1.79A1.8 1.8 0 0 1 0 12.35V1.82C0 .82.8 0 1.79 0zm8.35 1.57a.64.64 0 0 0-.63.64v1.53c0 .35.28.64.63.64h1.57c.34 0 .62-.29.62-.64V2.21a.63.63 0 0 0-.62-.64zm2.2 4.42h-1.22a4.29 4.29 0 0 1-4.15 5.48 4.3 4.3 0 0 1-4.15-5.48H1.55v5.98c0 .31.25.57.55.57h9.69c.3 0 .55-.26.55-.57zM6.97 4.3a2.77 2.77 0 0 0-2.79 2.75 2.78 2.78 0 0 0 2.79 2.76 2.78 2.78 0 0 0 2.79-2.76A2.77 2.77 0 0 0 6.97 4.3z')
        div.academy-teacher__photo
          div.academy-teacher__photo-bg
          img(src="/img/client/academy/academy-teacher-1.jpg")
        div.academy-teacher__info
          h1.academy-teacher__name Юлия Федорова
          h2.academy-teacher__position топ-стилист<br> салона
      div.academy-teacher
        div.academy-teachers__socials-layout
          ul.academy-teachers__socials
            li.academy-teachers__social
              a(href="#")
                svg(xmlns='http://www.w3.org/2000/svg', width='8', height='17', viewbox='0 0 8 17')
                  path(fill='#fff', d='M0 7.07V4.78h1.49v-.86c0-1.33.32-2.32.96-2.97C3.07.32 3.95 0 5.1 0c.75 0 1.48.1 2.17.31v2.31a5.06 5.06 0 0 0-1.57-.28c-1.04 0-1.56.6-1.56 1.8v.66h3.11v2.27H4.18v9.61H1.49V7.07z')
            li.academy-teachers__social
              a(href="#")
                svg(xmlns='http://www.w3.org/2000/svg', width='14', height='15', viewbox='0 0 14 15')
                  path(fill='#fff', d='M1.79 0h10.34c.98 0 1.78.82 1.78 1.82v10.53c0 1-.8 1.82-1.78 1.82H1.79A1.8 1.8 0 0 1 0 12.35V1.82C0 .82.8 0 1.79 0zm8.35 1.57a.64.64 0 0 0-.63.64v1.53c0 .35.28.64.63.64h1.57c.34 0 .62-.29.62-.64V2.21a.63.63 0 0 0-.62-.64zm2.2 4.42h-1.22a4.29 4.29 0 0 1-4.15 5.48 4.3 4.3 0 0 1-4.15-5.48H1.55v5.98c0 .31.25.57.55.57h9.69c.3 0 .55-.26.55-.57zM6.97 4.3a2.77 2.77 0 0 0-2.79 2.75 2.78 2.78 0 0 0 2.79 2.76 2.78 2.78 0 0 0 2.79-2.76A2.77 2.77 0 0 0 6.97 4.3z')
        div.academy-teacher__photo
          div.academy-teacher__photo-bg
          img(src="/img/client/academy/academy-teacher-1.jpg")
        div.academy-teacher__info
          h1.academy-teacher__name Юлия Федорова
          h2.academy-teacher__position топ-стилист<br> салона
      div.academy-teacher
        div.academy-teachers__socials-layout
          ul.academy-teachers__socials
            li.academy-teachers__social
              a(href="#")
                svg(xmlns='http://www.w3.org/2000/svg', width='8', height='17', viewbox='0 0 8 17')
                  path(fill='#fff', d='M0 7.07V4.78h1.49v-.86c0-1.33.32-2.32.96-2.97C3.07.32 3.95 0 5.1 0c.75 0 1.48.1 2.17.31v2.31a5.06 5.06 0 0 0-1.57-.28c-1.04 0-1.56.6-1.56 1.8v.66h3.11v2.27H4.18v9.61H1.49V7.07z')
            li.academy-teachers__social
              a(href="#")
                svg(xmlns='http://www.w3.org/2000/svg', width='14', height='15', viewbox='0 0 14 15')
                  path(fill='#fff', d='M1.79 0h10.34c.98 0 1.78.82 1.78 1.82v10.53c0 1-.8 1.82-1.78 1.82H1.79A1.8 1.8 0 0 1 0 12.35V1.82C0 .82.8 0 1.79 0zm8.35 1.57a.64.64 0 0 0-.63.64v1.53c0 .35.28.64.63.64h1.57c.34 0 .62-.29.62-.64V2.21a.63.63 0 0 0-.62-.64zm2.2 4.42h-1.22a4.29 4.29 0 0 1-4.15 5.48 4.3 4.3 0 0 1-4.15-5.48H1.55v5.98c0 .31.25.57.55.57h9.69c.3 0 .55-.26.55-.57zM6.97 4.3a2.77 2.77 0 0 0-2.79 2.75 2.78 2.78 0 0 0 2.79 2.76 2.78 2.78 0 0 0 2.79-2.76A2.77 2.77 0 0 0 6.97 4.3z')
        div.academy-teacher__photo
          div.academy-teacher__photo-bg
          img(src="/img/client/academy/academy-teacher-1.jpg")
        div.academy-teacher__info
          h1.academy-teacher__name Юлия Федорова
          h2.academy-teacher__position топ-стилист<br> салона
      div.academy-teacher
        div.academy-teachers__socials-layout
          ul.academy-teachers__socials
            li.academy-teachers__social
              a(href="#")
                svg(xmlns='http://www.w3.org/2000/svg', width='8', height='17', viewbox='0 0 8 17')
                  path(fill='#fff', d='M0 7.07V4.78h1.49v-.86c0-1.33.32-2.32.96-2.97C3.07.32 3.95 0 5.1 0c.75 0 1.48.1 2.17.31v2.31a5.06 5.06 0 0 0-1.57-.28c-1.04 0-1.56.6-1.56 1.8v.66h3.11v2.27H4.18v9.61H1.49V7.07z')
            li.academy-teachers__social
              a(href="#")
                svg(xmlns='http://www.w3.org/2000/svg', width='14', height='15', viewbox='0 0 14 15')
                  path(fill='#fff', d='M1.79 0h10.34c.98 0 1.78.82 1.78 1.82v10.53c0 1-.8 1.82-1.78 1.82H1.79A1.8 1.8 0 0 1 0 12.35V1.82C0 .82.8 0 1.79 0zm8.35 1.57a.64.64 0 0 0-.63.64v1.53c0 .35.28.64.63.64h1.57c.34 0 .62-.29.62-.64V2.21a.63.63 0 0 0-.62-.64zm2.2 4.42h-1.22a4.29 4.29 0 0 1-4.15 5.48 4.3 4.3 0 0 1-4.15-5.48H1.55v5.98c0 .31.25.57.55.57h9.69c.3 0 .55-.26.55-.57zM6.97 4.3a2.77 2.77 0 0 0-2.79 2.75 2.78 2.78 0 0 0 2.79 2.76 2.78 2.78 0 0 0 2.79-2.76A2.77 2.77 0 0 0 6.97 4.3z')
        div.academy-teacher__photo
          div.academy-teacher__photo-bg
          img(src="/img/client/academy/academy-teacher-1.jpg")
        div.academy-teacher__info
          h1.academy-teacher__name Юлия Федорова
          h2.academy-teacher__position топ-стилист<br> салона
      div.academy-teacher
        div.academy-teachers__socials-layout
          ul.academy-teachers__socials
            li.academy-teachers__social
              a(href="#")
                svg(xmlns='http://www.w3.org/2000/svg', width='8', height='17', viewbox='0 0 8 17')
                  path(fill='#fff', d='M0 7.07V4.78h1.49v-.86c0-1.33.32-2.32.96-2.97C3.07.32 3.95 0 5.1 0c.75 0 1.48.1 2.17.31v2.31a5.06 5.06 0 0 0-1.57-.28c-1.04 0-1.56.6-1.56 1.8v.66h3.11v2.27H4.18v9.61H1.49V7.07z')
            li.academy-teachers__social
              a(href="#")
                svg(xmlns='http://www.w3.org/2000/svg', width='14', height='15', viewbox='0 0 14 15')
                  path(fill='#fff', d='M1.79 0h10.34c.98 0 1.78.82 1.78 1.82v10.53c0 1-.8 1.82-1.78 1.82H1.79A1.8 1.8 0 0 1 0 12.35V1.82C0 .82.8 0 1.79 0zm8.35 1.57a.64.64 0 0 0-.63.64v1.53c0 .35.28.64.63.64h1.57c.34 0 .62-.29.62-.64V2.21a.63.63 0 0 0-.62-.64zm2.2 4.42h-1.22a4.29 4.29 0 0 1-4.15 5.48 4.3 4.3 0 0 1-4.15-5.48H1.55v5.98c0 .31.25.57.55.57h9.69c.3 0 .55-.26.55-.57zM6.97 4.3a2.77 2.77 0 0 0-2.79 2.75 2.78 2.78 0 0 0 2.79 2.76 2.78 2.78 0 0 0 2.79-2.76A2.77 2.77 0 0 0 6.97 4.3z')
        div.academy-teacher__photo
          div.academy-teacher__photo-bg
          img(src="/img/client/academy/academy-teacher-1.jpg")
        div.academy-teacher__info
          h1.academy-teacher__name Юлия Федорова
          h2.academy-teacher__position топ-стилист<br> салона


script.
  $(function(){

    // lead teachers hover animation
    $teacher = $('.academy-teacher');
    $teacher.on('mouseover', function () {
      $teacher.not(this).addClass('academy-teacher--disabled');
    });
    $teacher.on('mouseleave', function () {
      $teacher.not(this).removeClass('academy-teacher--disabled');
    });

    var $teachersDesktopSlider = $('.academy-teachers--teachers .academy-teachers-slider--desktop');
    var $teachersMobileSlider = $('.academy-teachers--teachers .academy-teachers-slider--mobile');

    // academy teachers slider
    $teachersDesktopSlider.slick({
      slidesToShow: 1,
      speed: 1000,
      mobileFirst: true,
      arrows: true,
      dots: true,
      draggable: true,
      accessibility: false,
      centerMode: true,
      variableWidth: false,
      adaptiveHeight: true,
      infinite: true,
      swipeToSlide: true
    });
    $teachersMobileSlider.slick({
      slidesToShow: 1,
      speed: 1000,
      mobileFirst: true,
      arrows: true,
      dots: true,
      draggable: true,
      accessibility: false,
      centerMode: true,
      variableWidth: true,
      adaptiveHeight: true,
      infinite: true,
      swipeToSlide: true
    });

    $teachersDesktopSlider.on('beforeChange', function (event, slick, currentSlide, nextSlide) {
      teachersSlideHide();
    });
    $teachersDesktopSlider.on('afterChange', function (event, slick, currentSlide, nextSlide) {
      teachersSlideInit();
    });
    $teachersMobileSlider.on('beforeChange', function (event, slick, currentSlide, nextSlide) {
      teachersSlideHide();
    });
    $teachersMobileSlider.on('afterChange', function (event, slick, currentSlide, nextSlide) {
      teachersSlideInit();
    });
  });

  function teachersSlideInit() {
    TweenMax.staggerTo($('.academy-teachers--teachers .slick-active .academy-teacher__photo-bg'), 0.5, {
      right: 0,
      ease: Power1.easeOut
    }, 0.2);
    TweenMax.staggerTo($('.academy-teachers--teachers .slick-active .academy-teacher__photo img'), 0.5, {
      right: 0,
      ease: Power1.easeOut,
      delay: 0.2
    }, 0.2);
    TweenMax.staggerTo($('.academy-teachers--teachers .slick-active .academy-teachers__socials'), 0.7, {
      top: 0,
      opacity: 1,
      ease: Power1.easeOut,
      delay: 0.7
    }, 0.2);
    TweenMax.staggerTo($('.academy-teachers--teachers .slick-active .academy-teacher__info'), 0.7, {
      top: 0,
      opacity: 1,
      ease: Power1.easeOut,
      delay: 0.7
    }, 0.2);
  }

  function teachersSlideHide() {
    TweenMax.staggerTo($('.academy-teachers--teachers .slick-active .academy-teacher__photo-bg'), 0.5, {
      right: '100%',
      ease: Power1.easeOut
    }, 0.2);
    TweenMax.staggerTo($('.academy-teachers--teachers .slick-active .academy-teacher__photo img'), 0.5, {
      right: '100%',
      ease: Power1.easeOut,
      delay: 0.2
    }, 0.2);
    TweenMax.staggerTo($('.academy-teachers--teachers .slick-active .academy-teachers__socials'), 0.7, {
      top: '30px',
      opacity: 0,
      ease: Power1.easeOut,
      delay: 0.7
    }, 0.2);
    TweenMax.staggerTo($('.academy-teachers--teachers .slick-active .academy-teacher__info'), 0.7, {
      top: '30px',
      opacity: 0,
      ease: Power1.easeOut,
      delay: 0.7
    }, 0.2);
  }