section.section-layout.academy-about
  ul.academy-about__list.slider-arrows-long.slider-arrows-long--standard.slick-dots-horizontal
    li.academy-about__item
      div.academy-about__item-bg(style="background-image: url(/img/client/academy/academy-about.jpg)")
      div.academy-about__item-inner
        .academy-about__item-line
        h1.academy-about__item-title ERTEQOOB ACADEMY<br> создана в 2011 году<br> трёмя одержимыми парикмахерским<br> искусством профессионалами
        p.academy-about__item-subtitle факты
    li.academy-about__item
      div.academy-about__item-bg(style="background-image: url(/img/client/academy/academy-about.jpg)")
      div.academy-about__item-inner
        .academy-about__item-line
        h1.academy-about__item-title ERTEQOOB ACADEMY<br> создана в 2011 году<br> трёмя одержимыми парикмахерским<br> искусством профессионалами
        p.academy-about__item-subtitle факты

script.
  $(function(){

    // academy about slider
    $('.academy-about__list').slick({
      slidesToShow: 1,
      speed: 1000,
      mobileFirst: true,
      arrows: true,
      dots: true,
      draggable: true,
      accessibility: false,
      centerMode: true,
      variableWidth: false,
      adaptiveHeight: true,
      infinite: true,
      swipeToSlide: true
    });
  });