section#teachers.section-layout.section.gbw-base-teachers.br-lg
  div.page-title
    .page-title__logo
    h1 преподаватели

  .gbw-base-teachers-name.gbw-base-teachers-name--1
    .gbw-base-teachers-name__text Андрей<br> Крупчинский
    .gbw-base-teachers-name__star
      svg(width='12px', height='11px', viewbox='0 0 12 11', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
        g#Page-1(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
          g#GBW-Grey(transform='translate(-230.000000, -6058.000000)', fill='#FFFFFF')
            g#block-6(transform='translate(-1.000000, 5399.000000)')
              g#name(transform='translate(231.000000, 489.000000)')
                polygon#Star(points='6 179 2.47328849 180.854102 3.14683045 176.927051 0.293660902 174.145898 4.23664424 173.572949 6 170 7.76335576 173.572949 11.7063391 174.145898 8.85316955 176.927051 9.52671151 180.854102')
    .gbw-base-teachers-name__line

  .gbw-base-teachers-name.gbw-base-teachers-name--2
    .gbw-base-teachers-name__text Павел<br> Марущинец
    .gbw-base-teachers-name__star
      svg(width='12px', height='11px', viewbox='0 0 12 11', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
        g#Page-1(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
          g#GBW-Grey(transform='translate(-230.000000, -6058.000000)', fill='#FFFFFF')
            g#block-6(transform='translate(-1.000000, 5399.000000)')
              g#name(transform='translate(231.000000, 489.000000)')
                polygon#Star(points='6 179 2.47328849 180.854102 3.14683045 176.927051 0.293660902 174.145898 4.23664424 173.572949 6 170 7.76335576 173.572949 11.7063391 174.145898 8.85316955 176.927051 9.52671151 180.854102')
    .gbw-base-teachers-name__line

  .gbw-base-teachers-name.gbw-base-teachers-name--3
    .gbw-base-teachers-name__text Елена<br> Кузьмичева
    .gbw-base-teachers-name__star
      svg(width='12px', height='11px', viewbox='0 0 12 11', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
        g#Page-1(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
          g#GBW-Grey(transform='translate(-230.000000, -6058.000000)', fill='#FFFFFF')
            g#block-6(transform='translate(-1.000000, 5399.000000)')
              g#name(transform='translate(231.000000, 489.000000)')
                polygon#Star(points='6 179 2.47328849 180.854102 3.14683045 176.927051 0.293660902 174.145898 4.23664424 173.572949 6 170 7.76335576 173.572949 11.7063391 174.145898 8.85316955 176.927051 9.52671151 180.854102')
    .gbw-base-teachers-name__line

  .gbw-base-teachers-name.gbw-base-teachers-name--4
    .gbw-base-teachers-name__text Дмитрий<br> Кузьмичев
    .gbw-base-teachers-name__star
      svg(width='12px', height='11px', viewbox='0 0 12 11', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
        g#Page-1(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
          g#GBW-Grey(transform='translate(-230.000000, -6058.000000)', fill='#FFFFFF')
            g#block-6(transform='translate(-1.000000, 5399.000000)')
              g#name(transform='translate(231.000000, 489.000000)')
                polygon#Star(points='6 179 2.47328849 180.854102 3.14683045 176.927051 0.293660902 174.145898 4.23664424 173.572949 6 170 7.76335576 173.572949 11.7063391 174.145898 8.85316955 176.927051 9.52671151 180.854102')
    .gbw-base-teachers-name__line

