section.section-layout.home-founders-layout.br-md-sm
  h1.page-title.home-founders-title преподаватели
  ul.home-founders
    li.home-founder
      div.home-founder__image
      div.home-founder__preview
        div.home-founder__preview-position-layout
          h2.home-founder__preview-position Form<br> Director
        div.home-founder__preview-name-layout
          h1.home-founder__preview-name Елена<br> Кузьмичева
          div.home-founder__preview-name-line
        div.home-founder__preview-star-layout
          div.home-founder__preview-star
      div.home-founder__inner
        div.home-founder__inner-text-layout
          div.home-founder__inner-text-block
            p.home-founder__inner-text «Меня вдохновляют
            p.home-founder__inner-text нарушенные пропорции в дизайне.
            p.home-founder__inner-text В природе нет симметрии.
            p.home-founder__inner-text Истинная красота асимметрична»
        div.home-founder__inner-title-layout
          h1.home-founder__inner-title Елена Кузьмичева
    li.home-founder
      div.home-founder__image
      div.home-founder__preview
        div.home-founder__preview-position-layout
          h2.home-founder__preview-position Compose<br> Director
        div.home-founder__preview-name-layout
          h1.home-founder__preview-name Андрей<br> Крупчинский
          div.home-founder__preview-name-line
        div.home-founder__preview-star-layout
          div.home-founder__preview-star
      div.home-founder__inner
        div.home-founder__inner-text-layout
          div.home-founder__inner-text-block
            p.home-founder__inner-text «Качественный результат
            p.home-founder__inner-text состоит из множества деталей.
            p.home-founder__inner-text Стремитесь стать мастером
            p.home-founder__inner-text в каждой детали»
        div.home-founder__inner-title-layout
          h1.home-founder__inner-title Андрей Крупчинский
    li.home-founder
      div.home-founder__image
      div.home-founder__preview
        div.home-founder__preview-position-layout
          h2.home-founder__preview-position Frame<br> Director
        div.home-founder__preview-name-layout
          h1.home-founder__preview-name Дмитрий<br> Кузьмичев
          div.home-founder__preview-name-line
        div.home-founder__preview-star-layout
          div.home-founder__preview-star
      div.home-founder__inner
        div.home-founder__inner-text-layout
          div.home-founder__inner-text-block
            p.home-founder__inner-text «Понимание пропорций
            p.home-founder__inner-text влияет на создание форм.
            p.home-founder__inner-text В салоне классические формы
            p.home-founder__inner-text адаптируются под клиента
            p.home-founder__inner-text индивидуально»
        div.home-founder__inner-title-layout
          h1.home-founder__inner-title Дмитрий Кузьмичев

script.
  $(function(){
    // founders click animation
    $homeFounder = $('.home-founder');
    $homeFounder.on('click', function () {
      $homeFounder.removeClass('home-founder--disabled home-founder--active');
      $homeFounder.not(this).addClass('home-founder--disabled');
      $(this).addClass('home-founder--active');
    });

    homeFoundersInit();
  })

  function homeFoundersInit() {
    TweenMax.to($(".home-founder .home-founder__image"), 1.2, {
      bottom: '0%',
      opacity: '1',
      ease: Power1.easeInOut,
      delay: 0.2
    });
    TweenMax.staggerTo($(".home-founder__preview-position"), 1, {
      bottom: '0',
      opacity: '1',
      ease: Power1.easeInOut,
      delay: 1
    }, 0.2);
    TweenMax.staggerTo($(".home-founder__preview-name"), 1, {
      bottom: '0',
      opacity: '1',
      ease: Power1.easeInOut,
      delay: 1.2
    }, 0.2);
    TweenMax.staggerTo($(".home-founder__preview-name-line"), 1.4, {
      bottom: '8px',
      opacity: '1',
      ease: Power1.easeInOut,
      delay: 1.6
    }, 0.2);
    TweenMax.staggerTo($(".home-founder__preview-star"), 0.4, {
      bottom: '0',
      opacity: '1',
      ease: Power1.easeInOut,
      delay: 2.4
    }, 0.2);
    TweenMax.to($('.home__circle'), 2, {
      autoAlpha: 0,
      top: '-200%',
      left: '-200%',
      width: '500%',
      height: '500%',
      ease: Power4.easeOut,
      delay: 0.4
    });
    TweenMax.to($('.home__circle-layout'), 0, {
      autoAlpha: 0,
      delay: 1.5
    });

    homeFoundersReinit = false;
  }