#salon-gallery-popup.popup-layout.popup-layout--black
  .photo-popup
    .popup__close

    ul.photo-popup-slider.academy-inspiration-popup__slider.academy-inspiration-popup__slider--active.slider-arrows-long.slider-arrows-long--edge.salon-gallery-popup-slider
      li.photo-popup-slide
        .photo-popup-slide-layout
          img(src="/img/client/academy/slider/kiev/big/Erteqoob_034_big.png")
      li.photo-popup-slide
        .photo-popup-slide-layout
          img(src="/img/client/academy/slider/kiev/big/Erteqoob_035_big.png")
      li.photo-popup-slide
        .photo-popup-slide-layout
          img(src="/img/client/academy/slider/kiev/big/Erteqoob_036_big.png")
      li.photo-popup-slide
        .photo-popup-slide-layout
          img(src="/img/client/academy/slider/kiev/big/Erteqoob_037_big.png")
      li.photo-popup-slide
        .photo-popup-slide-layout
          img(src="/img/client/academy/slider/kiev/big/Erteqoob_038_big.png")
      li.photo-popup-slide
        .photo-popup-slide-layout
          img(src="/img/client/academy/slider/kiev/big/Erteqoob_039_big.png")
      li.photo-popup-slide
        .photo-popup-slide-layout
          img(src="/img/client/academy/slider/kiev/big/Erteqoob_040_big.png")
      li.photo-popup-slide
        .photo-popup-slide-layout
          img(src="/img/client/academy/slider/kiev/big/Erteqoob_041_big.png")
      li.photo-popup-slide
        .photo-popup-slide-layout
          img(src="/img/client/academy/slider/kiev/big/Erteqoob_042_big.png")
      li.photo-popup-slide
        .photo-popup-slide-layout
          img(src="/img/client/academy/slider/kiev/big/Erteqoob_044_big.png")
      li.photo-popup-slide
        .photo-popup-slide-layout
          img(src="/img/client/academy/slider/kiev/big/Erteqoob_045_big.png")
      li.photo-popup-slide
        .photo-popup-slide-layout
          img(src="/img/client/academy/slider/kiev/big/Erteqoob_046_big.png")
      li.photo-popup-slide
        .photo-popup-slide-layout
          img(src="/img/client/academy/slider/kiev/big/Erteqoob_047_big.png")
      li.photo-popup-slide
        .photo-popup-slide-layout
          img(src="/img/client/academy/slider/kiev/big/Erteqoob_051_big.png")
      li.photo-popup-slide
        .photo-popup-slide-layout
          img(src="/img/client/academy/slider/kiev/big/Erteqoob_053_big.png")
      li.photo-popup-slide
        .photo-popup-slide-layout
          img(src="/img/client/academy/slider/kiev/big/Erteqoob_054_big.png")
      li.photo-popup-slide
        .photo-popup-slide-layout
          img(src="/img/client/academy/slider/kiev/big/Erteqoob_056_big.png")
      li.photo-popup-slide
        .photo-popup-slide-layout
          img(src="/img/client/academy/slider/kiev/big/Erteqoob_057_big.png")
      li.photo-popup-slide
        .photo-popup-slide-layout
          img(src="/img/client/academy/slider/kiev/big/Erteqoob_059_big.png")
      li.photo-popup-slide
        .photo-popup-slide-layout
          img(src="/img/client/academy/slider/kiev/big/Erteqoob_060_big.png")
      li.photo-popup-slide
        .photo-popup-slide-layout
          img(src="/img/client/academy/slider/kiev/big/Erteqoob_061_big.png")
      li.photo-popup-slide
        .photo-popup-slide-layout
          img(src="/img/client/academy/slider/kiev/big/Erteqoob_062_big.png")


    script.
      $(function () {
        $('.salon-gallery-popup-slider').slick({
          slidesToShow: 1,
          speed: 800,
          arrows: true,
          dots: false,
          draggable: true,
          accessibility: false,
          centerMode: true,
          variableWidth: true,
          infinite: true,
          asNavFor: '.salon-gallery-slider',
          swipeToSlide: true
        });
      });
