div.section-layout.popup#city-switcher
  div.city-switcher

    .logo
    .city-switcher__bracelet-1
    .city-switcher__bracelet-2
    .city-switcher__holder-1
    .city-switcher__holder-2
    .city-switcher__brush-1
    .city-switcher__shears-1
    .city-switcher__logo
      .city-switcher__logo-image
      .circle.city-switcher__logo-circle-1
      .circle.city-switcher__logo-circle-2
      .circle.city-switcher__logo-circle-3

    h1.city-switcher__title курс<br> «Базовый»
    h3.city-switcher__subtitle Выберите,<br class="br-md-sm"> пожалуйста,<br class="br-lg"> город<br class="br-md-sm"> для обучения:
    ul.city-switcher__btns
      li.city-switcher__btn.btn.btn--clean киев
      li.city-switcher__btn.btn.btn--clean харьков
    a(href="#").line-link.city-switcher__link Я пока не знаю