.sp-masters {
 height: 580px;
 min-height: 580px;
 background-image: url(../../../img/lp/sp/masters/sp-masters.jpg);
 @include tablet {
  height: 700px;
  background-image: url(../../../img/lp/sp/masters/sp-masters-tablet.jpg);
 }
 @include mobile {
  height: 485px;
  min-height: 485px;
  background-image: url(../../../img/lp/sp/masters/sp-masters-mobile.jpg);
 }

 .page-title {
  height: 170px;
  padding-top: 10px;
  @include tablet {
   margin-top: 58px;
  }
  @include mobile {
   height: 90px;
   margin-top: 32px;
   padding-top: 0;
  }

  .page-title__logo {
   width: 170px;
   height: 170px;
   left: calc(50% - 85px);
   @include mobile {
    width: 90px;
    height: 90px;
    left: calc(50% - 45px);
   }
  }

  > h1 {
   line-height: 40px;
   @include mobile {
    line-height: 22px;
   }
  }
  > h2 {
   font-size: 10px;
   line-height: 15px;
   margin-bottom: 8px;
   @include mobile {
    font-size: 12px;
    line-height: 17px;
    margin-bottom: 2px;
    text-transform: none;
   }
  }
 }

 &.sp-masters--qualification {

  .page-title {
   margin-top: 70px;
   @include laptop-tablet {
    margin-top: 58px;
   }
   @include mobile {
    margin-top: 32px;
   }
  }

  .sp-masters-list {
   padding-top: 67px;
   @include laptop-tablet {
    padding-top: 64px;
   }
   @include tablet {
    width: 570px;
    height: 260px;
    position: relative;
   }
   @include mobile {
    padding-top: 47px;
   }

   .sp-masters-list__item {
    @include tablet {
     margin: 0;
     position: absolute;

     &:nth-child(1){
      width: 250px;
      top: 64px;
      left: 0;
     }
     &:nth-child(2){
      width: 225px;
      top: 212px;
      left: 111px;
     }
     &:nth-child(3){
      width: 170px;
      top: 161px;
      right: 0;
     }
    }
    @include mobile {
     margin-bottom: 60px;
    }
   }
  }
 }

 &.sp-masters--adaptation {
  @include mobile {
   height: 580px;
  }

  .sp-masters-list {
   @include mobile {
    padding-left: 90px;
   }
   @include tablet {
    width: 650px;
    height: 370px;
    padding-top: 78px;
    position: relative;
   }

   .sp-masters-list__item {
    @include tablet {
     position: absolute;
     margin: 0;
    }
    @include mobile {
     margin-bottom: 60px;
    }
    &:nth-child(1){
     @include tablet {
      top: 60px;
      left: 0;
     }
    }
    &:nth-child(2){
     @include tablet {
      width: auto;
      top: 99px;
      right: 0;
     }
    }
    &:nth-child(3){
     @include tablet {
      bottom: 0;
      left: 138px;
     }
    }

    .sp-masters-list__item-text {

     span {
      margin-bottom: 10px;
     }
    }
   }
  }
 }
 &.sp-masters--bg-2 {
  background-image: url(../../../img/lp/sp/masters/sp-masters-2.jpg);
  @include mobile {
   background-image: url(../../../img/lp/sp/masters/sp-masters-mobile.jpg);
  }
 }
 &.sp-masters--man-innovations {
  height: 612px;
  background-image: url(../../../img/lp/sp/masters/sp-masters-man-innovations.jpg);
  &:before {
   content: '';
   width: 100%;
   height: 100%;
   background: $color-black-04;
   position: absolute;
   top: 0;
   left: 0;
  }
  @include tablet {
   height: 700px;
  }
  @include mobile {
   height: 485px;
   min-height: 485px;
  }

  .page-title {
   @include mobile {
    margin-top: 48px;
   }
  }

  .sp-masters-list {
   padding-top: 73px;
   @include tablet {
    padding-top: 54px;
   }
  }
 }
}

.sp-masters-list {
 width: 970px;
 display: flex;
 justify-content: space-between;
 align-items: flex-start;
 padding-top: 107px;
 @include tablet {
  width: 500px;
  flex-wrap: wrap;
  padding-top: 82px;
 }
 @include mobile {
  width: 320px;
  flex-direction: column;
  padding: 17px 0 5px 117px;
 }

 .sp-masters-list__item {
  @include tablet {
   width: 50%;
   margin-bottom: 128px;
  }
  @include mobile {
   width: 100%;
   margin-bottom: 40px;
   position: relative;
  }

  .sp-masters-list__item-text {
   font-weight: 700;
   letter-spacing: 2px;
   line-height: 24px;
   text-transform: uppercase;
   color: $color-silver-chalice-2;
   font-size: 12px;
   position: relative;
   z-index: 3;
   @include mobile {
    line-height: 20px;
    letter-spacing: 0;
   }
   &:before {
    content: '';
    width: 25px;
    height: 3px;
    background-color: $color-dove-gray;
    position: absolute;
    top: -14px;
    left: 0;
    @include mobile {
     display: none;
    }
   }

   span {
    display: block;
    color: $color-white;
    font-size: 16px;
    @include mobile {
     font-size: 12px;
    }
   }
  }

  .sp-masters-list__item-dot {
   display: none;
   width: 6px;
   height: 6px;
   border-radius: 50%;
   background-color: $color-dove-gray;
   position: absolute;
   top: 15px;
   left: -24px;
   @include mobile {
    display: block;
   }
   &:before, &:after {
    content: '';
    border: 1px solid $color-tundora;
    border-radius: 50%;
    position: absolute;
   }
   &:before {
    width: 24px;
    height: 24px;
    opacity: 0.8;
    top: calc(50% - 12px);
    left: calc(50% - 12px);
   }
   &:after {
    width: 52px;
    height: 52px;
    opacity: 0.5;
    top: calc(50% - 26px);
    left: calc(50% - 26px);
   }
  }

  &:nth-child(even) {
   padding-top: 50px;
   @include tablet-mobile {
    padding-top: 0;
   }
   @include tablet {
    width: 190px;
    padding-bottom: 18px;
   }

   .sp-masters-list__item-text {
    &:before {
     top: auto;
     bottom: -14px;
    }
   }
  }
  &:nth-child(odd) {
   @include tablet {
    width: 310px;
    padding-top: 18px;
   }
  }
 }

 &.sp-masters-list--big-items {
  @include tablet {
   flex-direction: column;
  }
  @include mobile {
   padding: 17px 0 5px 76px;
  }

  .sp-masters-list__item {
   padding: 0;
   @include tablet {
    width: auto;
    margin-bottom: 72px;
   }
   @include mobile {
    margin-bottom: 49px;
   }
   &:nth-child(1) {

    .sp-masters-list__item-text {
     &:before {
      display: block;
      width: 160px;
      height: 236px;
      background: url(../../../img/lp/sp/masters/item-dots-1.svg) no-repeat center / contain;
      top: -48px;
      left: -80px;
      @include mobile {
       display: none;
      }
     }
    }
   }
   &:nth-child(2) {
    @include tablet {
     align-self: flex-end;
    }

    .sp-masters-list__item-text {
     &:before {
      display: block;
      width: 160px;
      height: 153px;
      background: url(../../../img/lp/sp/masters/item-dots-2.svg) no-repeat center / contain;
      top: -20px;
      left: -80px;
      @include mobile {
       display: none;
      }
     }
    }
   }
   &:last-child {
    margin-bottom: 0;
   }

   .sp-masters-list__item-text {
    color: $color-white;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 2.33px;
    margin-bottom: 17px;
    @include tablet {
     margin: 0;
    }
    @include mobile {
     color: $color-silver-chalice-2;
     font-size: 10px;
     line-height: 20px;
     letter-spacing: 0;
    }
    &:before {
     display: none;
    }

    span {
     font-size: 36px;
     line-height: 46.8px;
     @include tablet {
      font-size: 30px;
      margin-bottom: 15px;
     }
     @include mobile {
      font-size: 12px;
      line-height: 20px;
     }
    }
   }
  }
 }
}

.sp-masters-disclaimer {
 color: $color-nobel-07;
 font-size: 14px;
 line-height: 20px;
 text-align: center;
 margin-top: 118px;
 @include laptop-tablet {
  margin-top: 128px;
 }
 @include mobile {
  display: none;
 }
}