section#cinema-about-4.section-layout.philosophy-about.philosophy-about--2.philosophy-about--cinema.philosophy-about--cinema-4.black-overlay.black-overlay--04(style="background-image: url(#{cinemas.imageBg7})")
  div.section-bg.philosophy-about__bg
  div.philosophy-about__main
    .philosophy-about__line-layout
      .philosophy-about__line
    .philosophy-about__title-line
    div.philosophy-about__title-layout
      h1.philosophy-about__title В 2018 команда Erteqoob вдохновилась синтетическими материалами и неоновыми оттенками, возникла идея - Plastic Fantastic.
      h1.philosophy-about__title #{cinemas.title7}
    div.philosophy-about__text-layout
      div.philosophy-about__text
        p #{cinemas.subtitle7}
        //p Около 1000 зрителей сумели увидеть фантастические образы 30 моделей. Дизайн нестандартных костюмов из пластика и винила, смелые решения в цвете волос и стрижках создавались командой. Так идейные вдохновители Cinema продемонстрировали видение будущего через креативную призму из ощущения пространственного времени.