section#cinema-about-5.section-layout.philosophy-pros.philosophy-pros--1.philosophy-pros--cinema-about-5.sp-about.sp-about--cinema.black-overlay.black-overlay--04
  div.section-bg.philosophy-pros__bg
  div.philosophy-pros__main
    div.page-title-big-layout.home-pros__title-layout
      h1.page-title-big.home-pros__title.home-pros__title--1.philosophy-title Глобальная цель проекта Cinema:<br class="br-lg-md"> поиск и объединение идейных творческих<br class="br-lg-md"> людей, вовлеченных в свое дело.
    div.philosophy-pros-list-layout
      ul.philosophy-pros-list
        li.philosophy-pros-list__item
          div.philosophy-pros-list__item-inner
            div.philosophy-pros-list__item-line-left-layout
              div.philosophy-pros-list__item-line-left
            div.philosophy-pros-list__item-line-top
            p.philosophy-pros-list__item-text Эта коллаборация будет способствовать созданию и развитию субкультуры и прогрессивного будущего.<br>
        li.philosophy-pros-list__item
          div.philosophy-pros-list__item-inner
            div.philosophy-pros-list__item-line-left-layout
              div.philosophy-pros-list__item-line-left
            div.philosophy-pros-list__item-line-top
            p.philosophy-pros-list__item-text Команда ERTEQOOB создает резонанс, не следуя требованиям конъюнктуры, вызывает эмоцию, делая приверженцев и антагонистов бренда неравнодушными.
    div.sp-about-block
      p.sp-about-block__duration
        | Цена:<br>
        span.sp-about-block__duration--passed Март - 700 грн.<br>
        span.sp-about-block__duration--passed Апрель - 800 грн.<br>
        span.sp-about-block__duration--passed Май - 900 грн.<br>
        | Июнь - 1000 грн.
      div.sp-about-block__main
        button(onclick="registerStep1Cinema()").btn.sp-about-block__main-link Купить билет
      div.sp-about-block__info
        p.sp-about-block__info-date
          | 15.06.2018 <br>
          | 20:00
        a(href="https://goo.gl/maps/tzbamWZnLzj" target="_blank").sp-about-block__info-place Платформа культурных инициатив iZone (Киев, ул. Набережно-Луговая, 8)
        p.sp-about-block__info-seats <span>Места: 920</span> из 1000