section#cinema-about-4.section-layout.philosophy-about.philosophy-about--2.philosophy-about--cinema.philosophy-about--cinema-4.black-overlay.black-overlay--04
  div.section-bg.philosophy-about__bg
  div.philosophy-about__main
    .philosophy-about__line-layout
      .philosophy-about__line
    .philosophy-about__title-line
    div.philosophy-about__title-layout
      h1.philosophy-about__title Идея Cinema "Plastic-fantastic"-2018 возникла<br class="br-lg-md"> из ощущения<br class="br-lg-md"> пространственного времени
    div.philosophy-about__text-layout
      div.philosophy-about__text
        p В этом году команда ERTEQOOB черпает вдохновение в искусственных материалах и формах: пластике, виниле, пластмассе, синтетике, их пластичности. Колористика будет заметно отличаться от предыдущих тематик: кислотные оттенки желтого, зеленого, оранжевого. Локация - IZONE будет двухзонной : атмосферная внутри помещения и на улице - лаунж-зона, которая позволит следить за происходящим действием с помощью экранов. Также для гостей предусмотрены drink-corner и  food-corner. Размещение сцены в центре помещения будет максимально комфортным для обзора внутри. Дополнением будут экраны, как и в FUTURE-2017, на которых дублируется изображение происходящего на сцене.