section#cinema-about-3.section-layout.philosophy-about.philosophy-about--1.philosophy-about--cinema.philosophy-about--cinema-3.black-overlay.black-overlay--04
  div.section-bg.philosophy-about__bg
  div.philosophy-about__main
    .philosophy-about__line-layout
      .philosophy-about__line
    .philosophy-about__title-line
    div.philosophy-about__title-layout
      h1.philosophy-about__title Имея определенный опыт проведения мероприятия, Cinema "FUTURE"-2017 проходила на новой локации IZONE, территории бывшего завода, площадью 800 кв м,<br class="br-lg-md"> которая размещает более 400 гостей.
    div.philosophy-about__text-layout
      div.philosophy-about__text
        p Ивент стали посещать не только представители парикмахерского искусства, но и других сфер деятельности: дизайнеры одежды, фотографы, визажисты, nail -артисты, художники, beauty-блоггеры, представители бизнес-структур, собственники beauty-салонов и представители косметических брендов, музыканты, хореографы. Cinema объединяет талантливых в своем направлении мыслящих людей, которые хотят глобальных положительных изменений, ищут вдохновения и идей для развития будущего.
