section#cinema-about-2.section-layout.philosophy-about.philosophy-about--2.philosophy-about--cinema.philosophy-about--cinema-2.black-overlay.black-overlay--04
  div.section-bg.philosophy-about__bg
  div.philosophy-about__main
    .philosophy-about__line-layout
      .philosophy-about__line
    .philosophy-about__title-line
    div.philosophy-about__title-layout
      h1.philosophy-about__title Второй ивент Cinema "PUNK" состоялся в Киеве
    div.philosophy-about__text-layout
      div.philosophy-about__text
        p Аудитория выросла до 60 человек. После успешного проведения было принято решение создания концепта Cinema. Полагаясь на собственные ощущения и силы, доверяя внутренним чувствам и видению, творческая команда занялась совершенствованием идеи развития.