section#cinema-about-6.section-layout.philosophy-about.philosophy-about--1.philosophy-about--cinema.philosophy-about--cinema-6.black-overlay.black-overlay--04(style="background-image: url(#{cinemas.imageBg8})")
  div.section-bg.philosophy-about__bg
  div.philosophy-about__main
    .philosophy-about__line-layout
      .philosophy-about__line
    .philosophy-about__title-line
    div.philosophy-about__title-layout
      h1.philosophy-about__title #{cinemas.title8}
      //h1.philosophy-about__title В 2019 Cinema ждет<br class="br-lg-md"> Homeland.
    div.philosophy-about__text-layout
      div.philosophy-about__text
        p #{cinemas.subtitle8}
        //p
        //  | Возвращение домой построено на лучшем опыте предыдущих лет, расскажет и покажет лучшее за все время.
        //  br
        //  br
        //  | Смелые решения, лайв формат, специальный аудио- и видео контент создают экстатическую атмосферу ивента. Нишевый перформанс для мыслящих людей — CINEMA :
        //  br
        //  | * выражает креативные фантазии
        //  br
        //  | * открывает направления в искусстве
        //  br
        //  | * вызывает живые эмоции.
        //  br
        //  br
        //  | Если вам нравятся ивенты, на которых чувствуете себя не зрителем , а участником происходящего - отмечайте в календаре 14 июня 2019 как день CINEMA 2019 Homeland.