section#cinema-about-1.section-layout.philosophy-about.philosophy-about--1.philosophy-about--cinema.philosophy-about--cinema-1.black-overlay.black-overlay--04
  div.section-bg.philosophy-about__bg
  div.philosophy-about__main
    .philosophy-about__line-layout
      .philosophy-about__line
    .philosophy-about__title-line
    div.philosophy-about__title-layout
      h1.philosophy-about__title Премьера Cinema состоялась<br class="br-lg-md"> в 2015 году в академии<br class="br-lg-md"> ERTEQOOB в Харькове.
    div.philosophy-about__text-layout
      div.philosophy-about__text
        p Аудитория ивента - 16 практикующих мастеров-парикмахеров
