section#about.section-layout.section.sp-about.sp-about--intro.sp-about--cinema.black-overlay
  //include ../../partials/main-nav-links-1.jade
  //include ../../partials/link-home.jade
  //include ../../partials/main-nav-socials.jade
  //include ../../partials/main-nav-lang.jade
  //include ../../partials/main-nav-toggle.jade
  //include ../../partials/courses-link.jade

  .logo

  .sp-about-logo
    .sp-about-logo__image
    .circle.sp-about-logo__circle-1
    .circle.sp-about-logo__circle-2
    .circle.sp-about-logo__circle-3
    .circle.sp-about-logo__circle-4

  div.sp-about-block
    p.sp-about-block__duration
      | Цена:<br>
      span.sp-about-block__duration--passed Декабрь - 800 грн.<br>
      span.sp-about-block__duration--passed Январь - 900 грн.<br>
      span.sp-about-block__duration--passed Март - 1000 грн.<br>
      | Апрель - 1200 грн.
    div.sp-about-block__main
      .logo.sp-about-block__logo
      h1#cinema-logo.sp-about-block__main-title
        //span Творческий проект
        //| Cinema
      .gbw-video__link.gbw-video__link--center
        .gbw-video__link-icon
          svg(width='49px', height='49px', viewbox='0 0 49 49', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
            g#Page-1(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
              g#GBW-general-1920x1080(transform='translate(-995.000000, -5855.000000)')
                g#block-6(transform='translate(0.000000, 5572.000000)')
                  g#video(transform='translate(995.702479, 282.761062)')
                    g(id='Icons/video', transform='translate(0.000000, 0.637168)')
                      rect#Rectangle(fill='#FFFFFF', fill-rule='evenodd', transform='translate(43.000000, 42.000000) scale(-1, 1) rotate(45.000000) translate(-43.000000, -42.000000) ', x='41.3333333', y='37.3333333', width='3.33333333', height='9.33333333')
                      circle#Oval-2(stroke='#FFFFFF', stroke-width='2.5', cx='24', cy='24', r='22.75')
                      polygon#Path-4(fill='#FFFFFF', fill-rule='evenodd', points='20.1836552 17.3333333 20 31.0468861 31.7501461 24.2819373')
        p.gbw-video__link-text Заглянуть<br class="br-sm"> за кулисы<br> Cinema
      h2.sp-about-block__main-subtitle Стань частью главного события<br> в парикмахерском искусстве страны
      button(onclick="registerStep1Cinema()").btn.sp-about-block__main-link.popup-link Купить билет
    div.sp-about-block__info
      p.sp-about-block__info-date
        | 14.06.2019 <br>
        | TBA
      .sp-about-block__info-place Secret Space
      p.sp-about-block__info-seats <span>Места: <span class="cinema-seats">1000</span></span> из 1000

  .scroll-down.link-smooth(href="#sp-foundation")
    p.scroll-down__text вниз
    .scroll-down__btn
    .scroll-down__dot.scroll-down__dot--1
    .scroll-down__dot.scroll-down__dot--2
    .scroll-down__dot.scroll-down__dot--3

script.
  $(function () {

    // video popup
    $('.gbw-video__link').click(function () {
      showPopup('#gbw-video-popup');
      $('#gbw-video').get(0).play();
    });

    // bg toggle
    $('#cinema-logo').click(function(){
      $('#about.sp-about--cinema').toggleClass('sp-about--cinema-white');
    });
  });