#salon-gallery-popup.popup-layout.popup-layout--black
  .photo-popup
    .popup__close

    ul.photo-popup-slider.academy-inspiration-popup__slider.academy-inspiration-popup__slider--active.slider-arrows-long.slider-arrows-long--edge.salon-gallery-popup-slider
      li.photo-popup-slide
        .photo-popup-slide-layout
          img(src="/img/client/salons/gallery/kost/Erteqoob_092.jpg")
      li.photo-popup-slide
        .photo-popup-slide-layout
          img(src="/img/client/salons/gallery/kost/Erteqoob_093.jpg")
      li.photo-popup-slide
        .photo-popup-slide-layout
          img(src="/img/client/salons/gallery/kost/Erteqoob_094.jpg")
      li.photo-popup-slide
        .photo-popup-slide-layout
          img(src="/img/client/salons/gallery/kost/Erteqoob_095.jpg")
      li.photo-popup-slide
        .photo-popup-slide-layout
          img(src="/img/client/salons/gallery/kost/Erteqoob_096.jpg")
      li.photo-popup-slide
        .photo-popup-slide-layout
          img(src="/img/client/salons/gallery/kost/Erteqoob_097.jpg")
      li.photo-popup-slide
        .photo-popup-slide-layout
          img(src="/img/client/salons/gallery/kost/Erteqoob_098.jpg")
      li.photo-popup-slide
        .photo-popup-slide-layout
          img(src="/img/client/salons/gallery/kost/Erteqoob_099.jpg")
      li.photo-popup-slide
        .photo-popup-slide-layout
          img(src="/img/client/salons/gallery/kost/Erteqoob_100.jpg")
      li.photo-popup-slide
        .photo-popup-slide-layout
          img(src="/img/client/salons/gallery/kost/Erteqoob_101.jpg")
      li.photo-popup-slide
        .photo-popup-slide-layout
          img(src="/img/client/salons/gallery/kost/Erteqoob_102.jpg")
      li.photo-popup-slide
        .photo-popup-slide-layout
          img(src="/img/client/salons/gallery/kost/Erteqoob_103.jpg")
      li.photo-popup-slide
        .photo-popup-slide-layout
          img(src="/img/client/salons/gallery/kost/Erteqoob_104.jpg")
      li.photo-popup-slide
        .photo-popup-slide-layout
          img(src="/img/client/salons/gallery/kost/Erteqoob_106.jpg")
      li.photo-popup-slide
        .photo-popup-slide-layout
          img(src="/img/client/salons/gallery/kost/Erteqoob_108.jpg")
      li.photo-popup-slide
        .photo-popup-slide-layout
          img(src="/img/client/salons/gallery/kost/Erteqoob_109.jpg")
      li.photo-popup-slide
        .photo-popup-slide-layout
          img(src="/img/client/salons/gallery/kost/Erteqoob_111.jpg")
      li.photo-popup-slide
        .photo-popup-slide-layout
          img(src="/img/client/salons/gallery/kost/Erteqoob_112.jpg")
      li.photo-popup-slide
        .photo-popup-slide-layout
          img(src="/img/client/salons/gallery/kost/Erteqoob_113.jpg")
      li.photo-popup-slide
        .photo-popup-slide-layout
          img(src="/img/client/salons/gallery/kost/Erteqoob_114.jpg")
      li.photo-popup-slide
        .photo-popup-slide-layout
          img(src="/img/client/salons/gallery/kost/Erteqoob_115.jpg")
      li.photo-popup-slide
        .photo-popup-slide-layout
          img(src="/img/client/salons/gallery/kost/Erteqoob_116.jpg")
      li.photo-popup-slide
        .photo-popup-slide-layout
          img(src="/img/client/salons/gallery/kost/Erteqoob_117.jpg")


    script.
      $(function () {
        $('.salon-gallery-popup-slider').slick({
          slidesToShow: 1,
          speed: 800,
          arrows: true,
          dots: false,
          draggable: true,
          accessibility: false,
          centerMode: true,
          variableWidth: true,
          infinite: true,
          asNavFor: '.salon-gallery-slider',
          swipeToSlide: true
        });
      });
