section.section-layout.salon-gallery
  h1.page-title галерея
  .salon-gallery-circles
    .circle.salon-gallery-circle.salon-gallery-circle--1
    .circle.salon-gallery-circle.salon-gallery-circle--2
    .circle.salon-gallery-circle.salon-gallery-circle--3
  ul.slider-arrows-long.contacts-slider.contacts-slider--active.salon-gallery-slider
    li(onclick="showPopup('#salon-gallery-popup')").contacts-slide.popup-link
      .contacts-slide-inner
        .contacts-slide-inner__img
          p.contacts-slide-inner__number 1
          img(src="/img/client/salons/gallery/kost/Erteqoob_092.jpg")
    li(onclick="showPopup('#salon-gallery-popup')").contacts-slide.popup-link
      .contacts-slide-inner
        .contacts-slide-inner__img
          p.contacts-slide-inner__number 1
          img(src="/img/client/salons/gallery/kost/Erteqoob_093.jpg")
    li(onclick="showPopup('#salon-gallery-popup')").contacts-slide.popup-link
      .contacts-slide-inner
        .contacts-slide-inner__img
          p.contacts-slide-inner__number 1
          img(src="/img/client/salons/gallery/kost/Erteqoob_094.jpg")
    li(onclick="showPopup('#salon-gallery-popup')").contacts-slide.popup-link
      .contacts-slide-inner
        .contacts-slide-inner__img
          p.contacts-slide-inner__number 1
          img(src="/img/client/salons/gallery/kost/Erteqoob_095.jpg")
    li(onclick="showPopup('#salon-gallery-popup')").contacts-slide.popup-link
      .contacts-slide-inner
        .contacts-slide-inner__img
          p.contacts-slide-inner__number 1
          img(src="/img/client/salons/gallery/kost/Erteqoob_096.jpg")
    li(onclick="showPopup('#salon-gallery-popup')").contacts-slide.popup-link
      .contacts-slide-inner
        .contacts-slide-inner__img
          p.contacts-slide-inner__number 1
          img(src="/img/client/salons/gallery/kost/Erteqoob_097.jpg")
    li(onclick="showPopup('#salon-gallery-popup')").contacts-slide.popup-link
      .contacts-slide-inner
        .contacts-slide-inner__img
          p.contacts-slide-inner__number 1
          img(src="/img/client/salons/gallery/kost/Erteqoob_098.jpg")
    li(onclick="showPopup('#salon-gallery-popup')").contacts-slide.popup-link
      .contacts-slide-inner
        .contacts-slide-inner__img
          p.contacts-slide-inner__number 1
          img(src="/img/client/salons/gallery/kost/Erteqoob_099.jpg")
    li(onclick="showPopup('#salon-gallery-popup')").contacts-slide.popup-link
      .contacts-slide-inner
        .contacts-slide-inner__img
          p.contacts-slide-inner__number 1
          img(src="/img/client/salons/gallery/kost/Erteqoob_100.jpg")
    li(onclick="showPopup('#salon-gallery-popup')").contacts-slide.popup-link
      .contacts-slide-inner
        .contacts-slide-inner__img
          p.contacts-slide-inner__number 1
          img(src="/img/client/salons/gallery/kost/Erteqoob_101.jpg")
    li(onclick="showPopup('#salon-gallery-popup')").contacts-slide.popup-link
      .contacts-slide-inner
        .contacts-slide-inner__img
          p.contacts-slide-inner__number 1
          img(src="/img/client/salons/gallery/kost/Erteqoob_102.jpg")
    li(onclick="showPopup('#salon-gallery-popup')").contacts-slide.popup-link
      .contacts-slide-inner
        .contacts-slide-inner__img
          p.contacts-slide-inner__number 1
          img(src="/img/client/salons/gallery/kost/Erteqoob_103.jpg")
    li(onclick="showPopup('#salon-gallery-popup')").contacts-slide.popup-link
      .contacts-slide-inner
        .contacts-slide-inner__img
          p.contacts-slide-inner__number 1
          img(src="/img/client/salons/gallery/kost/Erteqoob_104.jpg")
    li(onclick="showPopup('#salon-gallery-popup')").contacts-slide.popup-link
      .contacts-slide-inner
        .contacts-slide-inner__img
          p.contacts-slide-inner__number 1
          img(src="/img/client/salons/gallery/kost/Erteqoob_106.jpg")
    li(onclick="showPopup('#salon-gallery-popup')").contacts-slide.popup-link
      .contacts-slide-inner
        .contacts-slide-inner__img
          p.contacts-slide-inner__number 1
          img(src="/img/client/salons/gallery/kost/Erteqoob_108.jpg")
    li(onclick="showPopup('#salon-gallery-popup')").contacts-slide.popup-link
      .contacts-slide-inner
        .contacts-slide-inner__img
          p.contacts-slide-inner__number 1
          img(src="/img/client/salons/gallery/kost/Erteqoob_109.jpg")
    li(onclick="showPopup('#salon-gallery-popup')").contacts-slide.popup-link
      .contacts-slide-inner
        .contacts-slide-inner__img
          p.contacts-slide-inner__number 1
          img(src="/img/client/salons/gallery/kost/Erteqoob_111.jpg")
    li(onclick="showPopup('#salon-gallery-popup')").contacts-slide.popup-link
      .contacts-slide-inner
        .contacts-slide-inner__img
          p.contacts-slide-inner__number 1
          img(src="/img/client/salons/gallery/kost/Erteqoob_112.jpg")
    li(onclick="showPopup('#salon-gallery-popup')").contacts-slide.popup-link
      .contacts-slide-inner
        .contacts-slide-inner__img
          p.contacts-slide-inner__number 1
          img(src="/img/client/salons/gallery/kost/Erteqoob_113.jpg")
    li(onclick="showPopup('#salon-gallery-popup')").contacts-slide.popup-link
      .contacts-slide-inner
        .contacts-slide-inner__img
          p.contacts-slide-inner__number 1
          img(src="/img/client/salons/gallery/kost/Erteqoob_114.jpg")
    li(onclick="showPopup('#salon-gallery-popup')").contacts-slide.popup-link
      .contacts-slide-inner
        .contacts-slide-inner__img
          p.contacts-slide-inner__number 1
          img(src="/img/client/salons/gallery/kost/Erteqoob_115.jpg")
    li(onclick="showPopup('#salon-gallery-popup')").contacts-slide.popup-link
      .contacts-slide-inner
        .contacts-slide-inner__img
          p.contacts-slide-inner__number 1
          img(src="/img/client/salons/gallery/kost/Erteqoob_116.jpg")
    li(onclick="showPopup('#salon-gallery-popup')").contacts-slide.popup-link
      .contacts-slide-inner
        .contacts-slide-inner__img
          p.contacts-slide-inner__number 1
          img(src="/img/client/salons/gallery/kost/Erteqoob_117.jpg")

