section.section-layout.salon-gallery
  h1.page-title галерея
  .salon-gallery-circles
    .circle.salon-gallery-circle.salon-gallery-circle--1
    .circle.salon-gallery-circle.salon-gallery-circle--2
    .circle.salon-gallery-circle.salon-gallery-circle--3
  ul.slider-arrows-long.contacts-slider.contacts-slider--active.salon-gallery-slider
    li(onclick="showPopup('#salon-gallery-popup')").contacts-slide.popup-link
      .contacts-slide-inner
        .contacts-slide-inner__img
          p.contacts-slide-inner__number 1
          img(src="/img/client/academy/slider/kiev/big/Erteqoob_034_big.png")
    li(onclick="showPopup('#salon-gallery-popup')").contacts-slide.popup-link
      .contacts-slide-inner
        .contacts-slide-inner__img
          p.contacts-slide-inner__number 1
          img(src="/img/client/academy/slider/kiev/big/Erteqoob_035_big.png")
    li(onclick="showPopup('#salon-gallery-popup')").contacts-slide.popup-link
      .contacts-slide-inner
        .contacts-slide-inner__img
          p.contacts-slide-inner__number 1
          img(src="/img/client/academy/slider/kiev/big/Erteqoob_036_big.png")
    li(onclick="showPopup('#salon-gallery-popup')").contacts-slide.popup-link
      .contacts-slide-inner
        .contacts-slide-inner__img
          p.contacts-slide-inner__number 1
          img(src="/img/client/academy/slider/kiev/big/Erteqoob_037_big.png")
    li(onclick="showPopup('#salon-gallery-popup')").contacts-slide.popup-link
      .contacts-slide-inner
        .contacts-slide-inner__img
          p.contacts-slide-inner__number 1
          img(src="/img/client/academy/slider/kiev/big/Erteqoob_038_big.png")
    li(onclick="showPopup('#salon-gallery-popup')").contacts-slide.popup-link
      .contacts-slide-inner
        .contacts-slide-inner__img
          p.contacts-slide-inner__number 1
          img(src="/img/client/academy/slider/kiev/big/Erteqoob_039_big.png")
    li(onclick="showPopup('#salon-gallery-popup')").contacts-slide.popup-link
      .contacts-slide-inner
        .contacts-slide-inner__img
          p.contacts-slide-inner__number 1
          img(src="/img/client/academy/slider/kiev/big/Erteqoob_040_big.png")
    li(onclick="showPopup('#salon-gallery-popup')").contacts-slide.popup-link
      .contacts-slide-inner
        .contacts-slide-inner__img
          p.contacts-slide-inner__number 1
          img(src="/img/client/academy/slider/kiev/big/Erteqoob_041_big.png")
    li(onclick="showPopup('#salon-gallery-popup')").contacts-slide.popup-link
      .contacts-slide-inner
        .contacts-slide-inner__img
          p.contacts-slide-inner__number 1
          img(src="/img/client/academy/slider/kiev/big/Erteqoob_042_big.png")
    li(onclick="showPopup('#salon-gallery-popup')").contacts-slide.popup-link
      .contacts-slide-inner
        .contacts-slide-inner__img
          p.contacts-slide-inner__number 1
          img(src="/img/client/academy/slider/kiev/big/Erteqoob_044_big.png")
    li(onclick="showPopup('#salon-gallery-popup')").contacts-slide.popup-link
      .contacts-slide-inner
        .contacts-slide-inner__img
          p.contacts-slide-inner__number 1
          img(src="/img/client/academy/slider/kiev/big/Erteqoob_045_big.png")
    li(onclick="showPopup('#salon-gallery-popup')").contacts-slide.popup-link
      .contacts-slide-inner
        .contacts-slide-inner__img
          p.contacts-slide-inner__number 1
          img(src="/img/client/academy/slider/kiev/big/Erteqoob_046_big.png")
    li(onclick="showPopup('#salon-gallery-popup')").contacts-slide.popup-link
      .contacts-slide-inner
        .contacts-slide-inner__img
          p.contacts-slide-inner__number 1
          img(src="/img/client/academy/slider/kiev/big/Erteqoob_047_big.png")
    li(onclick="showPopup('#salon-gallery-popup')").contacts-slide.popup-link
      .contacts-slide-inner
        .contacts-slide-inner__img
          p.contacts-slide-inner__number 1
          img(src="/img/client/academy/slider/kiev/big/Erteqoob_051_big.png")
    li(onclick="showPopup('#salon-gallery-popup')").contacts-slide.popup-link
      .contacts-slide-inner
        .contacts-slide-inner__img
          p.contacts-slide-inner__number 1
          img(src="/img/client/academy/slider/kiev/big/Erteqoob_053_big.png")
    li(onclick="showPopup('#salon-gallery-popup')").contacts-slide.popup-link
      .contacts-slide-inner
        .contacts-slide-inner__img
          p.contacts-slide-inner__number 1
          img(src="/img/client/academy/slider/kiev/big/Erteqoob_054_big.png")
    li(onclick="showPopup('#salon-gallery-popup')").contacts-slide.popup-link
      .contacts-slide-inner
        .contacts-slide-inner__img
          p.contacts-slide-inner__number 1
          img(src="/img/client/academy/slider/kiev/big/Erteqoob_056_big.png")
    li(onclick="showPopup('#salon-gallery-popup')").contacts-slide.popup-link
      .contacts-slide-inner
        .contacts-slide-inner__img
          p.contacts-slide-inner__number 1
          img(src="/img/client/academy/slider/kiev/big/Erteqoob_057_big.png")
    li(onclick="showPopup('#salon-gallery-popup')").contacts-slide.popup-link
      .contacts-slide-inner
        .contacts-slide-inner__img
          p.contacts-slide-inner__number 1
          img(src="/img/client/academy/slider/kiev/big/Erteqoob_059_big.png")
    li(onclick="showPopup('#salon-gallery-popup')").contacts-slide.popup-link
      .contacts-slide-inner
        .contacts-slide-inner__img
          p.contacts-slide-inner__number 1
          img(src="/img/client/academy/slider/kiev/big/Erteqoob_060_big.png")
    li(onclick="showPopup('#salon-gallery-popup')").contacts-slide.popup-link
      .contacts-slide-inner
        .contacts-slide-inner__img
          p.contacts-slide-inner__number 1
          img(src="/img/client/academy/slider/kiev/big/Erteqoob_061_big.png")
    li(onclick="showPopup('#salon-gallery-popup')").contacts-slide.popup-link
      .contacts-slide-inner
        .contacts-slide-inner__img
          p.contacts-slide-inner__number 1
          img(src="/img/client/academy/slider/kiev/big/Erteqoob_062_big.png")

