section.section-layout.sp-about
  include ../../../partials/main-nav-links-1.jade
  include ../../../partials/main-nav-socials.jade
  include ../../../partials/main-nav-lang.jade
  include ../../../partials/main-nav-toggle.jade
  include ../../../partials/courses-link.jade

  .logo

  .sp-about-logo
    .sp-about-logo__image
    .circle.sp-about-logo__circle-1
    .circle.sp-about-logo__circle-2
    .circle.sp-about-logo__circle-3
    .circle.sp-about-logo__circle-4

  div.sp-about-block
    p.sp-about-block__duration 7 месяцев<br class="br-lg-md"> 5 дней в неделю
    div.sp-about-block__main
      .logo.sp-about-block__logo
      h1.sp-about-block__main-title
        span курс
        | Базовый. харьков
      h2.sp-about-block__main-subtitle Все необходимые теоретические знания<br> и практические навыки для успешного<br> мастера-парикмахера, начинающего карьеру
      a(href="#format").link-smooth.btn.sp-about-block__main-link Принять участие
    div.sp-about-block__info
      ul.switcher
        li.switcher__btn
          a(href="/courses/beginner/kiev") киев
        li.switcher__btn.switcher__btn--active
          a(href="/courses/beginner/kharkiv") харьков
      p.sp-about-block__info-date 29.11.2017
      p.sp-about-block__info-seats <span>Места: 3</span> из 15

  include ../../../partials/lp/scroll-down.jade