section.section-layout.sp-foundation.sp-foundation--kharkiv
  div.page-title
    .page-title__logo
    h2 полгода обучения
    h1 делу всей жизни

  ul.sp-foundation-list
    li.sp-foundation-list__item
      div.sp-foundation-list__item-title Фундамент
        .sp-foundation-list__item-dots
      p.sp-foundation-list__item-text будущей профессии<br> в индустрии красоты
    li.sp-foundation-list__item
      div.sp-foundation-list__item-title Мужские и женские<br> стрижки:
         .sp-foundation-list__item-dots
      p.sp-foundation-list__item-text линии,<br> градации, слои
    li.sp-foundation-list__item
      div.sp-foundation-list__item-title Колористика,
        .sp-foundation-list__item-dots
      p.sp-foundation-list__item-text укладка волос,<br> причёски, биозавивки
    li.sp-foundation-list__item
      div.sp-foundation-list__item-title Правила<br> коммуникации
        .sp-foundation-list__item-dots
      p.sp-foundation-list__item-text  с клиентами<br> и их анализ

