section.section-layout.section.sp-format#format
  div.page-title
    .page-title__logo
    h1 формат обучения
    h2 на курсе «Базовый. Харьков»

  .sp-format-block-layout
    div.sp-format-block
      div.sp-format-block__left
        div.sp-format-block__title-block
          .sp-format-block__title-number 7
          h1.sp-format-block__title месяцев<br> практики с экспертами
        div.sp-format-block__left-lists
          ul.sp-format-block__list
            li.sp-format-block__list-item
              h3 90
              p занятий
            li.sp-format-block__list-item
              h3 5
              p дней в неделю
            li.sp-format-block__list-item
              h3 275
              p часов теории
            li.sp-format-block__list-item
              h3 444
              p часа практики
            p.sp-format-block__list-disclaimer
              | После каждой<br class="br-sm"> темы -<br class="br-lg--sm"> экзамен
              br
              br
              | *Занятия проходят<br> неделя через неделю
          ul.sp-format-block__list
            li.sp-format-block__list-item
              h3 208
              p часов женские<br class="br-lg"> стрижки
            li.sp-format-block__list-item
              h3 104
              p часа колористика
            li.sp-format-block__list-item
              h3 108
              p часов укладки<br class="br-lg"> и прически
            li.sp-format-block__list-item
              h3 64
              p часа мужские стрижки
            li.sp-format-block__list-item
              h3 64
              p часа салонная практика

      div.sp-format-block__right
        div.sp-format-block__title-block
          h1.sp-format-block__title занятия проходят<br> с 10:00 до 18:00
        .sp-format-block__right-lists
          ul.sp-format-block__info-list
            li.sp-format-block__info-list-item
              h3
                span 10:00 - 12:00<br>
                | теория с демонстрацией:
            li.sp-format-block__info-list-item
              p зарисовываем схему<br class="br-lg"> на флипчарте
            li.sp-format-block__info-list-item
              p стрижем пошаговую<br class="br-lg"> работу с пояснением
          ul.sp-format-block__info-list
            li.sp-format-block__info-list-item
              h3
                span 13:00 - 18:00<br>
                | отработка, практика:
            li.sp-format-block__info-list-item
              p первая половина курса -<br class="br-lg"> с манекеном
            li.sp-format-block__info-list-item
              p вторая половина курса -<br class="br-lg"> с моделями
        p.sp-format-block__right-disclaimer Преподаватель следит за качественным выполнением работы,<br class="br-lg-md"> помогает при необходимости

  .sp-format-register
    .sp-format-register__price
      | стоимость курса:<br>
      //span.sp-format-register__price-old 6 600
      | 49 000 грн
    p.sp-format-register__prepay
      | Для чтого, чтобы забронировать своё место,<br>
      | необходимо внести <span>предоплату 1000 грн</span>
    p.sp-format-register__discount
      | При оплате курса целиком<br>
      | Вы получите дополнительную <span>скидку 10%</span>
    button(onclick="registerStep1('baseKharkiv','курс Базовый / трек Gray', 'Курс «Базовый»', 'kharkiv', '29.11.2017')").btn.sp-format-register__link записаться на курс