section.section-layout.sp-intro.sp-intro--kharkiv
  .logo
  div.sp-intro-main
    h1.sp-intro-main__title <span>Ваши особые условия обучения</span><br> на курсе «Базовый»
    h2.sp-intro-main__subtitle курсе, который запустит<br> развитие Вашей карьеры и рост<br class="br-lg"> гонораров
    ul.switcher.sp-intro-main__btns
      li.switcher__btn.sp-intro-main__btn
        a(href="/sp/kiev") киев
      li.switcher__btn.switcher__btn--active.sp-intro-main__btn.sp-intro-main__btn--active
        a(href="/sp/kharkiv") харьков

  div.webinar-video
    div.webinar-video-dummy
      h1.webinar-video-dummy__title Как построить<br class="br-lg-md"> успешную<br class="br-sm"> карьеру<br class="br-lg-md"> мастера-<br class="br-lg-md">парикмахера
      .webinar-video-dummy__btn
      .webinar-video-dummy__line