section.section-layout.section.webinar-main
  .logo

  div.webinar-video
    div.webinar-video-dummy
      h1.webinar-video-dummy__title Как построить<br class="br-lg-md"> успешную<br class="br-sm"> карьеру<br class="br-lg-md"> мастера-<br class="br-lg-md">парикмахера
      .webinar-video-dummy__btn
      .webinar-video-dummy__line
