div.splash-center
  div.splash-center__circle.splash-center__circle--1
  div.splash-center__circle.splash-center__circle--2
  p.splash-center__text выберите<br> свой уровень<br> сложности
  .splash-center__arrow.splash-center__arrow--left
    svg#SvgjsSvg1011(version='1.1', xmlns:svgjs='http://svgjs.com/svgjs', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='-296 395 19 4', enable-background='new -296 395 19 4', xml:space='preserve')
      path(fill='#FFFFFF', d='M-277.5,396l0,2l-16,0l0,1l-2.5-2l2.5-2l0,1.6l0-0.6L-277.5,396z')
  .splash-center__arrow.splash-center__arrow--right
    svg#SvgjsSvg1011(xmlns='http://www.w3.org/2000/svg', version='1.1', xmlns:xlink='http://www.w3.org/1999/xlink', xmlns:svgjs='http://svgjs.com/svgjs', width='19', height='4', viewbox='0 0 19 4')
      defs#SvgjsDefs1012
      path#SvgjsPath1013(d='M1717 53L1717 51L1732.9825 51L1732.97 50L1735.47 51.98L1733.02 54L1733 52.4L1733 53Z ', fill='#ffffff', fill-opacity='1', transform='matrix(1,0,0,1,-1717,-50)')
