div.splash-hint
  p.splash-hint__text выбери свой уровень<br> или спроси у нас, какая программа<br class="br-md"> будет тебе наиболее полезна
  .arrow-link.arrow-link--left.arrow-link--top.arrow-link--gray.splash-hint__link
    a.arrow-link__text(href='#')
      span.br-lg-md получить подсказку
      span.br-sm подсказка
