div.splash-hint
  p.splash-hint__text выберите свой уровень<br> или спросите у нас, какая программа<br class="br-md"> будет Вам наиболее полезна
  .arrow-link.arrow-link--left.arrow-link--top.arrow-link--gray.splash-hint__link.popup-link(onclick="showPopup('#popup-help')")
    .arrow-link__text
      span.br-lg-md получить подсказку
      span.br-sm подсказка
