section#about.section-layout.section.sp-about.sp-about--curly
  include ../../../partials/main-nav-links-1.jade
  include ../../../partials/main-nav-socials.jade
  include ../../../partials/main-nav-lang.jade
  include ../../../partials/main-nav-toggle.jade
  include ../../../partials/courses-link.jade

  .logo

  .sp-about-logo
    .sp-about-logo__image
    .circle.sp-about-logo__circle-1
    .circle.sp-about-logo__circle-2
    .circle.sp-about-logo__circle-3
    .circle.sp-about-logo__circle-4

  div.sp-about-block
    p.sp-about-block__duration 3 дня<br class="br-lg-md"> 11:00 - 18:00
    div.sp-about-block__main
      .logo.sp-about-block__logo
      h1.sp-about-block__main-title
        span трек
        | Curly hair
      h2.sp-about-block__main-subtitle Интенсив по дизайну и технологиям<br class="br-sm"> работы<br class="br-lg-md"> с кудрявыми волосами
      button(onclick="registerStep1('curlyKharkiv','Curly hair', 'трек «Curly hair»', 'kharkiv', '14.03.2017')").btn.sp-about-block__main-link записаться на трек
    div.sp-about-block__info
      ul.switcher
        li.switcher__btn
          a(href="/courses/pro/curly/kiev") киев
        li.switcher__btn.switcher__btn--active
          a(href="/courses/pro/curly/kharkiv") харьков
      p.sp-about-block__info-date 14.03.2017
      p.sp-about-block__info-seats <span>Места: 7</span> из 10

  .scroll-down.link-smooth(href="#sp-foundation")
    p.scroll-down__text вниз
    .scroll-down__btn
    .scroll-down__dot.scroll-down__dot--1
    .scroll-down__dot.scroll-down__dot--2
    .scroll-down__dot.scroll-down__dot--3