li.sp-program-info__item.sp-program-info__item--1.sp-program-info__item--active
  .vertical-line.sp-program-info__item-line
  p.sp-program-info__item-month
    span 01
    | день
  h1.sp-program-info__item-title адаптивная комбинация:
  p.sp-program-info__item-text слои с перемещением<br> (3 длина)
li.sp-program-info__item.sp-program-info__item--2
  .vertical-line.sp-program-info__item-line
  p.sp-program-info__item-month
    span 02
    | день
  h1.sp-program-info__item-title адаптивная комбинация:
  p.sp-program-info__item-text слои с перемещением<br> (3 длина)
li.sp-program-info__item.sp-program-info__item--3
  .vertical-line.sp-program-info__item-line
  p.sp-program-info__item-month
    span 03
    | день
  h1.sp-program-info__item-title адаптивная комбинация:
  p.sp-program-info__item-text слои с перемещением<br> (3 длина)
li.sp-program-info__item.sp-program-info__item--4
  .vertical-line.sp-program-info__item-line
  p.sp-program-info__item-month
    span 04
    | день
  h1.sp-program-info__item-title адаптивная комбинация:
  p.sp-program-info__item-text слои с перемещением<br> (3 длина)
li.sp-program-info__item.sp-program-info__item--5
  .vertical-line.sp-program-info__item-line
  p.sp-program-info__item-month
    span 05
    | день
  h1.sp-program-info__item-title адаптивная комбинация:
  p.sp-program-info__item-text слои с перемещением<br> (3 длина)
