section.section-layout.courses-list.courses-list--beginner
  include ../../../partials/main-nav-toggle.jade
  include ../../../partials/courses-link.jade
  include ../../../partials/link-back.jade

  .courses-list-title
    .courses-list-title__logo
    h1 beginner
    h2 набор курсов и треков для начинающих<br> мастеров-парикмахеров

  ul.courses-list__filter
    li(data-grid='row').courses-list__filter-item.courses-list__filter-item--active
      svg(xmlns='http://www.w3.org/2000/svg')
        path(d='M0 0h6v6H0zm0 8h6v6H0zm8-8h6v6H8zm0 8h6v6H8z')
    li(data-grid='column').courses-list__filter-item
      svg(xmlns='http://www.w3.org/2000/svg')
        path(d='M5 0h12v2H5zm0 6h12v2H5zm0 6h12v2H5zM0 0h2v2H0zm0 6h2v2H0zm0 6h2v2H0z')

  .courses-lists-layout
    .courses-list-grid
      a(href="/courses/beginner/kiev").courses-list-grid-item
        .courses-list-grid-item__header
          p.courses-list-grid-item__header-item киев<br> 06/12/2017
          p.courses-list-grid-item__header-item харьков<br> 23/10/2017
        .courses-list-grid-item__main
          h2.courses-list-grid-item__subtitle
            span.courses-list-grid-item__subtitle-course курс
            span.courses-list-grid-item__subtitle-duration 9 месяцев/ 110 занятий
          h1.courses-list-grid-item__title Базовый Киев
          h2.courses-list-grid-item__subtitle.courses-list-grid-item__subtitle--column
            span.courses-list-grid-item__subtitle-duration 9 месяцев/ 110 занятий
        .courses-list-grid-item__more узнать больше
      a(href="/courses/beginner/kharkiv").courses-list-grid-item
        .courses-list-grid-item__header
          p.courses-list-grid-item__header-item киев<br> 06/12/2017
          p.courses-list-grid-item__header-item харьков<br> 23/10/2017
        .courses-list-grid-item__main
          h2.courses-list-grid-item__subtitle
            span.courses-list-grid-item__subtitle-course курс
            span.courses-list-grid-item__subtitle-duration 7 месяцев / 90 занятий
          h1.courses-list-grid-item__title Базовый<br> Харьков
          h2.courses-list-grid-item__subtitle.courses-list-grid-item__subtitle--column
            span.courses-list-grid-item__subtitle-duration 7 месяцев / 90 занятий
        .courses-list-grid-item__more узнать больше
      a(href="/courses/beginner/qualification").courses-list-grid-item
        .courses-list-grid-item__header
        .courses-list-grid-item__main
          h2.courses-list-grid-item__subtitle
            span.courses-list-grid-item__subtitle-course курс
            span.courses-list-grid-item__subtitle-duration 1 месяц / 12 занятий
          h1.courses-list-grid-item__title повышение<br> квалификации
          h2.courses-list-grid-item__subtitle.courses-list-grid-item__subtitle--column
            span.courses-list-grid-item__subtitle-duration 7 месяцев / 9 занятий
        .courses-list-grid-item__more узнать больше
      .courses-list-grid-item.courses-list-grid-item--progress
        p.courses-list-grid-item__progress-text.courses-list-grid-item__progress-text--1 &nbsp;&nbsp;трек
        p.courses-list-grid-item__progress-text.courses-list-grid-item__progress-text--2
          span колористика:<br class="br-list"> classic
        .courses-list-grid-item__progress-layout
          .courses-list-grid-item__progress
            .courses-list-grid-item__progress-center
            .circle.courses-list-grid-item__progress-circle
        p.courses-list-grid-item__progress-text.courses-list-grid-item__progress-text--3 в разработке



  script.
    $(function(){
      heightAsWidth($('.courses-list-grid-item'));

      // courses list filter
      $('.courses-list__filter-item').click(function () {
        if (!$(this).hasClass('courses-list__filter-item--active')) {
          $('.courses-list__filter-item--active').removeClass('courses-list__filter-item--active');
          $(this).addClass('courses-list__filter-item--active');
          if($(this).data('grid') === 'column') {
            $('.courses-list-grid').addClass('courses-list-grid--column');
          } else {
            $('.courses-list-grid').removeClass('courses-list-grid--column');
          }
          setTimeout(function(){
            var cw = $('.courses-list-grid-item').outerWidth();
            $('.courses-list-grid-item').css({'height': cw + 'px'});
          }, 500);
        }
      });
    })