section#sp-foundation.section-layout.section.sp-foundation.sp-foundation--adaptation.sp-foundation--blond
  div.page-title
    .page-title__logo
    h1 Приобретение мастерства<br> в наиболее популярном<br class="br-sm"> сегменте<br class="br-lg-md"> колористики

  ul.sp-foundation-list
    li.sp-foundation-list__item
      div.sp-foundation-list__item-title правильная<br> адаптация,
        .sp-foundation-list__item-dots
      p.sp-foundation-list__item-text глубокие знания<br> и практические навыки
    li.sp-foundation-list__item
      div.sp-foundation-list__item-title достижение
        .sp-foundation-list__item-dots
      p.sp-foundation-list__item-text идеального цвета, подбор<br class="br-sm"> препарата<br class="br-lg-md"> и техники окрашивания
    li.sp-foundation-list__item
      div.sp-foundation-list__item-title защита
        .sp-foundation-list__item-dots
      p.sp-foundation-list__item-text волос от необратимых<br> повреждений
    li.sp-foundation-list__item
      div.sp-foundation-list__item-title понимание<br> работы
        .sp-foundation-list__item-dots
      p.sp-foundation-list__item-text красителя, фона осветления<br> и цветового круга
