extends ../layouts/main-client.jade

block contents
  div.main-layout#collections
    include ../partials/main-nav-socials.jade
    include ../partials/main-nav-lang.jade
    include ../partials/main-nav-toggle.jade
    include ../partials/register-link.jade
    include ../partials/link-back.jade
    div.intro-logo.intro-logo__collections
      div.intro-logo__circle.intro-logo__circle--1
      div.intro-logo__circle.intro-logo__circle--2
      div.intro-logo__circle.intro-logo__circle--3
      div.intro-logo__img
    div.collections-page-title коллекции
    div#collections-circle.circle-slider
      div.circle-slider__dot.circle-slider__dot--1.circle-slider__dot--active
        .circle-slider__dot-inner
        .circle-slider__dot-inner-circle.circle-slider__dot-inner-circle--1
        .circle-slider__dot-inner-circle.circle-slider__dot-inner-circle--2
      div.circle-slider__dot.circle-slider__dot--2
        .circle-slider__dot-inner
        .circle-slider__dot-inner-circle.circle-slider__dot-inner-circle--1
        .circle-slider__dot-inner-circle.circle-slider__dot-inner-circle--2
      div.circle-slider__dot.circle-slider__dot--3
        .circle-slider__dot-inner
        .circle-slider__dot-inner-circle.circle-slider__dot-inner-circle--1
        .circle-slider__dot-inner-circle.circle-slider__dot-inner-circle--2
      div.circle-slider__dot.circle-slider__dot--4
        .circle-slider__dot-inner
        .circle-slider__dot-inner-circle.circle-slider__dot-inner-circle--1
        .circle-slider__dot-inner-circle.circle-slider__dot-inner-circle--2
      div.circle-slider__dot.circle-slider__dot--5
        .circle-slider__dot-inner
        .circle-slider__dot-inner-circle.circle-slider__dot-inner-circle--1
        .circle-slider__dot-inner-circle.circle-slider__dot-inner-circle--2
      div.circle-slider__dot.circle-slider__dot--6
        .circle-slider__dot-inner
        .circle-slider__dot-inner-circle.circle-slider__dot-inner-circle--1
        .circle-slider__dot-inner-circle.circle-slider__dot-inner-circle--2
      div.circle-slider__dot.circle-slider__dot--7
        .circle-slider__dot-inner
        .circle-slider__dot-inner-circle.circle-slider__dot-inner-circle--1
        .circle-slider__dot-inner-circle.circle-slider__dot-inner-circle--2
      div.circle-slider__dot.circle-slider__dot--8
        .circle-slider__dot-inner
        .circle-slider__dot-inner-circle.circle-slider__dot-inner-circle--1
        .circle-slider__dot-inner-circle.circle-slider__dot-inner-circle--2
      div.circle-slider__dot.circle-slider__dot--9
        .circle-slider__dot-inner
        .circle-slider__dot-inner-circle.circle-slider__dot-inner-circle--1
        .circle-slider__dot-inner-circle.circle-slider__dot-inner-circle--2
      div.circle-slider__dot.circle-slider__dot--10
        .circle-slider__dot-inner
        .circle-slider__dot-inner-circle.circle-slider__dot-inner-circle--1
        .circle-slider__dot-inner-circle.circle-slider__dot-inner-circle--2
      div.circle-slider__dot.circle-slider__dot--11
        .circle-slider__dot-inner
        .circle-slider__dot-inner-circle.circle-slider__dot-inner-circle--1
        .circle-slider__dot-inner-circle.circle-slider__dot-inner-circle--2
      div.circle-slider__dot.circle-slider__dot--12
        .circle-slider__dot-inner
        .circle-slider__dot-inner-circle.circle-slider__dot-inner-circle--1
        .circle-slider__dot-inner-circle.circle-slider__dot-inner-circle--2
    div.collections-layout
      div.collections-layout__bg.collections-layout__bg--1.collections-layout__bg--active
      div.collections-layout__bg.collections-layout__bg--2
      div.collections-layout__bg.collections-layout__bg--3
      div.collections-layout__bg.collections-layout__bg--4
      div.collections-layout__bg.collections-layout__bg--5
      div.collections-layout__bg.collections-layout__bg--6
      div.collections-layout__bg.collections-layout__bg--7
      div.collections-layout__bg.collections-layout__bg--8
      div.collections-layout__bg.collections-layout__bg--9
      div.collections-layout__bg.collections-layout__bg--10
      div.collections-layout__bg.collections-layout__bg--11
      div.collections-layout__bg.collections-layout__bg--12

      div.collections-right.collections-right--1.collections-right--active
        div.collections-info
          .collections-info__dots
          header.collections-info__header
            p.collections-info__number 01.
            h1.collections-info__title Reportage Backstage
          p.collections-info__text Живые эмоции за<br class="br-lp-md"> кулисами<br class="br-lp-md"> рок-концерта
          p.collections-info__date 31 Mar 2015
          div.collections-info__text-line-layout
            div.collections-info__text-line
        a(href="#").collections-info__more
          span(data-popup="#collections-popup-1").collections-info__more-text подробнее
          div.collections-info__more-icon
            svg#SvgjsSvg1011(xmlns='http://www.w3.org/2000/svg', version='1.1', xmlns:xlink='http://www.w3.org/1999/xlink', xmlns:svgjs='http://svgjs.com/svgjs', width='19', height='4', viewbox='0 0 19 4')
              defs#SvgjsDefs1012
              path#SvgjsPath1013(d='M1717 53L1717 51L1732.9825 51L1732.97 50L1735.47 51.98L1733.02 54L1733 52.4L1733 53Z ', fill='#ffffff', fill-opacity='1', transform='matrix(1,0,0,1,-1717,-50)')
      div.collections-right.collections-right--2
        div.collections-info
          .collections-info__dots
          header.collections-info__header
            p.collections-info__number 01.
            h1.collections-info__title Reportage Backstage
          p.collections-info__text Живые эмоции за<br class="br-lp-md"> кулисами<br class="br-lp-md"> рок-концерта
          p.collections-info__date 31 Mar 2015
          div.collections-info__text-line-layout
            div.collections-info__text-line
        a(href="#").collections-info__more
          span(data-popup="#collections-popup-2").collections-info__more-text подробнее
          div.collections-info__more-icon
            svg#SvgjsSvg1011(xmlns='http://www.w3.org/2000/svg', version='1.1', xmlns:xlink='http://www.w3.org/1999/xlink', xmlns:svgjs='http://svgjs.com/svgjs', width='19', height='4', viewbox='0 0 19 4')
              defs#SvgjsDefs1012
              path#SvgjsPath1013(d='M1717 53L1717 51L1732.9825 51L1732.97 50L1735.47 51.98L1733.02 54L1733 52.4L1733 53Z ', fill='#ffffff', fill-opacity='1', transform='matrix(1,0,0,1,-1717,-50)')
      div.collections-right.collections-right--3
        div.collections-info
          .collections-info__dots
          header.collections-info__header
            p.collections-info__number 01.
            h1.collections-info__title Reportage Backstage
          p.collections-info__text Живые эмоции за<br class="br-lp-md"> кулисами<br class="br-lp-md"> рок-концерта
          p.collections-info__date 31 Mar 2015
          div.collections-info__text-line-layout
            div.collections-info__text-line
        a(href="#").collections-info__more
          span(data-popup="#collections-popup-3").collections-info__more-text подробнее
          div.collections-info__more-icon
            svg#SvgjsSvg1011(xmlns='http://www.w3.org/2000/svg', version='1.1', xmlns:xlink='http://www.w3.org/1999/xlink', xmlns:svgjs='http://svgjs.com/svgjs', width='19', height='4', viewbox='0 0 19 4')
              defs#SvgjsDefs1012
              path#SvgjsPath1013(d='M1717 53L1717 51L1732.9825 51L1732.97 50L1735.47 51.98L1733.02 54L1733 52.4L1733 53Z ', fill='#ffffff', fill-opacity='1', transform='matrix(1,0,0,1,-1717,-50)')
      div.collections-right.collections-right--4
        div.collections-info
          .collections-info__dots
          header.collections-info__header
            p.collections-info__number 01.
            h1.collections-info__title Reportage Backstage
          p.collections-info__text Живые эмоции за<br class="br-lp-md"> кулисами<br class="br-lp-md"> рок-концерта
          p.collections-info__date 31 Mar 2015
          div.collections-info__text-line-layout
            div.collections-info__text-line
        a(href="#").collections-info__more
          span(data-popup="#collections-popup-4").collections-info__more-text подробнее
          div.collections-info__more-icon
            svg#SvgjsSvg1011(xmlns='http://www.w3.org/2000/svg', version='1.1', xmlns:xlink='http://www.w3.org/1999/xlink', xmlns:svgjs='http://svgjs.com/svgjs', width='19', height='4', viewbox='0 0 19 4')
              defs#SvgjsDefs1012
              path#SvgjsPath1013(d='M1717 53L1717 51L1732.9825 51L1732.97 50L1735.47 51.98L1733.02 54L1733 52.4L1733 53Z ', fill='#ffffff', fill-opacity='1', transform='matrix(1,0,0,1,-1717,-50)')
      div.collections-right.collections-right--5
        div.collections-info
          .collections-info__dots
          header.collections-info__header
            p.collections-info__number 01.
            h1.collections-info__title Reportage Backstage
          p.collections-info__text Живые эмоции за<br class="br-lp-md"> кулисами<br class="br-lp-md"> рок-концерта
          p.collections-info__date 31 Mar 2015
          div.collections-info__text-line-layout
            div.collections-info__text-line
        a(href="#").collections-info__more
          span(data-popup="#collections-popup-5").collections-info__more-text подробнее
          div.collections-info__more-icon
            svg#SvgjsSvg1011(xmlns='http://www.w3.org/2000/svg', version='1.1', xmlns:xlink='http://www.w3.org/1999/xlink', xmlns:svgjs='http://svgjs.com/svgjs', width='19', height='4', viewbox='0 0 19 4')
              defs#SvgjsDefs1012
              path#SvgjsPath1013(d='M1717 53L1717 51L1732.9825 51L1732.97 50L1735.47 51.98L1733.02 54L1733 52.4L1733 53Z ', fill='#ffffff', fill-opacity='1', transform='matrix(1,0,0,1,-1717,-50)')
      div.collections-right.collections-right--6
        div.collections-info
          .collections-info__dots
          header.collections-info__header
            p.collections-info__number 01.
            h1.collections-info__title Reportage Backstage
          p.collections-info__text Живые эмоции за<br class="br-lp-md"> кулисами<br class="br-lp-md"> рок-концерта
          p.collections-info__date 31 Mar 2015
          div.collections-info__text-line-layout
            div.collections-info__text-line
        a(href="#").collections-info__more
          span(data-popup="#collections-popup-6").collections-info__more-text подробнее
          div.collections-info__more-icon
            svg#SvgjsSvg1011(xmlns='http://www.w3.org/2000/svg', version='1.1', xmlns:xlink='http://www.w3.org/1999/xlink', xmlns:svgjs='http://svgjs.com/svgjs', width='19', height='4', viewbox='0 0 19 4')
              defs#SvgjsDefs1012
              path#SvgjsPath1013(d='M1717 53L1717 51L1732.9825 51L1732.97 50L1735.47 51.98L1733.02 54L1733 52.4L1733 53Z ', fill='#ffffff', fill-opacity='1', transform='matrix(1,0,0,1,-1717,-50)')
      div.collections-right.collections-right--7
        div.collections-info
          .collections-info__dots
          header.collections-info__header
            p.collections-info__number 01.
            h1.collections-info__title Reportage Backstage
          p.collections-info__text Живые эмоции за<br class="br-lp-md"> кулисами<br class="br-lp-md"> рок-концерта
          p.collections-info__date 31 Mar 2015
          div.collections-info__text-line-layout
            div.collections-info__text-line
        a(href="#").collections-info__more
          span(data-popup="#collections-popup-7").collections-info__more-text подробнее
          div.collections-info__more-icon
            svg#SvgjsSvg1011(xmlns='http://www.w3.org/2000/svg', version='1.1', xmlns:xlink='http://www.w3.org/1999/xlink', xmlns:svgjs='http://svgjs.com/svgjs', width='19', height='4', viewbox='0 0 19 4')
              defs#SvgjsDefs1012
              path#SvgjsPath1013(d='M1717 53L1717 51L1732.9825 51L1732.97 50L1735.47 51.98L1733.02 54L1733 52.4L1733 53Z ', fill='#ffffff', fill-opacity='1', transform='matrix(1,0,0,1,-1717,-50)')
      div.collections-right.collections-right--8
        div.collections-info
          .collections-info__dots
          header.collections-info__header
            p.collections-info__number 01.
            h1.collections-info__title Reportage Backstage
          p.collections-info__text Живые эмоции за<br class="br-lp-md"> кулисами<br class="br-lp-md"> рок-концерта
          p.collections-info__date 31 Mar 2015
          div.collections-info__text-line-layout
            div.collections-info__text-line
        a(href="#").collections-info__more
          span(data-popup="#collections-popup-8").collections-info__more-text подробнее
          div.collections-info__more-icon
            svg#SvgjsSvg1011(xmlns='http://www.w3.org/2000/svg', version='1.1', xmlns:xlink='http://www.w3.org/1999/xlink', xmlns:svgjs='http://svgjs.com/svgjs', width='19', height='4', viewbox='0 0 19 4')
              defs#SvgjsDefs1012
              path#SvgjsPath1013(d='M1717 53L1717 51L1732.9825 51L1732.97 50L1735.47 51.98L1733.02 54L1733 52.4L1733 53Z ', fill='#ffffff', fill-opacity='1', transform='matrix(1,0,0,1,-1717,-50)')
      div.collections-right.collections-right--9
        div.collections-info
          .collections-info__dots
          header.collections-info__header
            p.collections-info__number 01.
            h1.collections-info__title Reportage Backstage
          p.collections-info__text Живые эмоции за<br class="br-lp-md"> кулисами<br class="br-lp-md"> рок-концерта
          p.collections-info__date 31 Mar 2015
          div.collections-info__text-line-layout
            div.collections-info__text-line
        a(href="#").collections-info__more
          span(data-popup="#collections-popup-9").collections-info__more-text подробнее
          div.collections-info__more-icon
            svg#SvgjsSvg1011(xmlns='http://www.w3.org/2000/svg', version='1.1', xmlns:xlink='http://www.w3.org/1999/xlink', xmlns:svgjs='http://svgjs.com/svgjs', width='19', height='4', viewbox='0 0 19 4')
              defs#SvgjsDefs1012
              path#SvgjsPath1013(d='M1717 53L1717 51L1732.9825 51L1732.97 50L1735.47 51.98L1733.02 54L1733 52.4L1733 53Z ', fill='#ffffff', fill-opacity='1', transform='matrix(1,0,0,1,-1717,-50)')
      div.collections-right.collections-right--10
        div.collections-info
          .collections-info__dots
          header.collections-info__header
            p.collections-info__number 01.
            h1.collections-info__title Reportage Backstage
          p.collections-info__text Живые эмоции за<br class="br-lp-md"> кулисами<br class="br-lp-md"> рок-концерта
          p.collections-info__date 31 Mar 2015
          div.collections-info__text-line-layout
            div.collections-info__text-line
        a(href="#").collections-info__more
          span(data-popup="#collections-popup-10").collections-info__more-text подробнее
          div.collections-info__more-icon
            svg#SvgjsSvg1011(xmlns='http://www.w3.org/2000/svg', version='1.1', xmlns:xlink='http://www.w3.org/1999/xlink', xmlns:svgjs='http://svgjs.com/svgjs', width='19', height='4', viewbox='0 0 19 4')
              defs#SvgjsDefs1012
              path#SvgjsPath1013(d='M1717 53L1717 51L1732.9825 51L1732.97 50L1735.47 51.98L1733.02 54L1733 52.4L1733 53Z ', fill='#ffffff', fill-opacity='1', transform='matrix(1,0,0,1,-1717,-50)')
      div.collections-right.collections-right--11
        div.collections-info
          .collections-info__dots
          header.collections-info__header
            p.collections-info__number 01.
            h1.collections-info__title Reportage Backstage
          p.collections-info__text Живые эмоции за<br class="br-lp-md"> кулисами<br class="br-lp-md"> рок-концерта
          p.collections-info__date 31 Mar 2015
          div.collections-info__text-line-layout
            div.collections-info__text-line
        a(href="#").collections-info__more
          span(data-popup="#collections-popup-11").collections-info__more-text подробнее
          div.collections-info__more-icon
            svg#SvgjsSvg1011(xmlns='http://www.w3.org/2000/svg', version='1.1', xmlns:xlink='http://www.w3.org/1999/xlink', xmlns:svgjs='http://svgjs.com/svgjs', width='19', height='4', viewbox='0 0 19 4')
              defs#SvgjsDefs1012
              path#SvgjsPath1013(d='M1717 53L1717 51L1732.9825 51L1732.97 50L1735.47 51.98L1733.02 54L1733 52.4L1733 53Z ', fill='#ffffff', fill-opacity='1', transform='matrix(1,0,0,1,-1717,-50)')
      div.collections-right.collections-right--12
        div.collections-info
          .collections-info__dots
          header.collections-info__header
            p.collections-info__number 01.
            h1.collections-info__title Reportage Backstage
          p.collections-info__text Живые эмоции за<br class="br-lp-md"> кулисами<br class="br-lp-md"> рок-концерта
          p.collections-info__date 31 Mar 2015
          div.collections-info__text-line-layout
            div.collections-info__text-line
        a(href="#").collections-info__more
          span(data-popup="#collections-popup-12").collections-info__more-text подробнее
          div.collections-info__more-icon
            svg#SvgjsSvg1011(xmlns='http://www.w3.org/2000/svg', version='1.1', xmlns:xlink='http://www.w3.org/1999/xlink', xmlns:svgjs='http://svgjs.com/svgjs', width='19', height='4', viewbox='0 0 19 4')
              defs#SvgjsDefs1012
              path#SvgjsPath1013(d='M1717 53L1717 51L1732.9825 51L1732.97 50L1735.47 51.98L1733.02 54L1733 52.4L1733 53Z ', fill='#ffffff', fill-opacity='1', transform='matrix(1,0,0,1,-1717,-50)')




    include ../partials/collections/collections-popup.jade
    include ../partials/scripts.jade

  script(src='/js/circle-progress.min.js' type='text/javascript')
  script.
    $(function () {

      // Page init animations
      collectionsInit();

      changeRotatedTextWidth('.collections-info__more', '.collections-layout');


      // circle slider
      circleSliderArc(3*Math.PI/2);

      circleSliderDotClick(1, 3*Math.PI/2);
      circleSliderDotClick(2, 5*Math.PI/3);
      circleSliderDotClick(3, 11*Math.PI/6);
      circleSliderDotClick(4, 2*Math.PI);
      circleSliderDotClick(5, Math.PI/6);
      circleSliderDotClick(6, Math.PI/3);
      circleSliderDotClick(7, Math.PI/2);
      circleSliderDotClick(8, 2*Math.PI/3);
      circleSliderDotClick(9, 5*Math.PI/6);
      circleSliderDotClick(10, Math.PI);
      circleSliderDotClick(11, 7*Math.PI/6);
      circleSliderDotClick(12, 4*Math.PI/3);

      $('.circle-slider__dot--1').trigger('click');

      // show collections popup
      $('.collections-info__more-text').click(function(){
        showPopup($(this).data('popup'));
        collectionsPopupInit();
      });

      // close collections popup
      $('.popup__close').click(function () {
        collectionsPopupHide();
      });

    });

    function collectionsInit() {
      //fixedMenusInitAnimation();
      //TweenMax.to($('.main-layout > .link-back'), 1, {opacity: 1, ease: Power1.easeOut, delay: 0.7});
      //TweenMax.to($('.intro-logo'), 0, {autoAlpha: 1, ease: Power4.easeOut});
      //TweenMax.to($('.intro-logo__circle--3'), 0.7, {autoAlpha: 1, ease: Power4.easeOut});
      //TweenMax.to($('.intro-logo__circle--2'), 0.7, {
      //  autoAlpha: 1,
      //  top: '9.5%',
      //  left: '9.5%',
      //  width: '81%',
      //  height: '81%',
      //  ease: Power4.easeOut,
      //  delay: 0.5
      //});
      //TweenMax.to($('.intro-logo__circle--1'), 0.7, {
      //  autoAlpha: 1,
      //  top: 0,
      //  left: 0,
      //  width: '100%',
      //  height: '100%',
      //  ease: Power4.easeOut,
      //  delay: 1
      //});
      //TweenMax.to($('.intro-logo__img'), 2, {opacity: 1, delay: 0.5, ease: Power4.easeOut});
      //TweenMax.to($('.collections-page-title'), 2, {opacity: 1, delay: 0.5, ease: Power4.easeOut});
      //TweenMax.to($('.collections-info__more'), 1, {opacity: 1, ease: Power1.easeOut, delay: 0.3});

      TweenMax.to($('.collections-layout__bg--active'), 3, {scaleX: 1, scaleY: 1, opacity: 1, ease: Power4.easeOut});
      TweenMax.to($('.collections-right--active .collections-info__number'), 0.5, {opacity: 1, right: 0, ease: Power4.easeOut});
      TweenMax.to($('.collections-right--active .collections-info__title'), 0.7, {scaleX: 1, scaleY: 1, opacity: 1, right: 0, ease: Power4.easeOut});
      TweenMax.to($('.collections-right--active .collections-info__text'), 1, {scaleX: 1, scaleY: 1, opacity: 1, right: 0, ease: Power4.easeOut, delay: 0.3});
      TweenMax.to($('.collections-right--active .collections-info__dots'), 0.4, {scaleX: 1, scaleY: 1, opacity: 1, ease: Power4.easeOut, delay: 0.6});
      TweenMax.to($('.collections-right--active .collections-info__date'), 0.6, {opacity: 1, top: 0, ease: Power4.easeOut, delay: 0.6});
      TweenMax.to($('.collections-right--active .collections-info__text-line'), 0.6, {right: 0, ease: Power4.easeOut, delay: 0.6});
      TweenMax.to($('.collections-right--active .collections-info__more'), 0.6, {backgroundPosition: '100% 50%', ease: Power1.easeOut, delay: 0.5});
      TweenMax.to($('.collections-right--active .collections-info__more .collections-info__more-text'), 0.6, {scaleX: 1, scaleY: 1,opacity: 1, top: 0, ease: Power1.easeOut, delay: 0.1});
      TweenMax.to($('.collections-right--active .collections-info__more .collections-info__more-icon svg'), 0.6, {right: 0, ease: Power1.easeOut, delay: 0.9});
    }

    function collectionsHide() {
      TweenMax.to($('.collections-layout__bg--active'), 0.2, {scaleX: 1.5, scaleY: 1.5, opacity: 0, ease: Power4.easeOut});
      TweenMax.to($('.collections-right--active .collections-info__number'), 0.2, {
        opacity: 0,
        right: '-30px',
        ease: Power4.easeOut
      });
      TweenMax.to($('.collections-right--active .collections-info__title'), 0.2, {
        scaleX: 0.85,
        scaleY: 0.85,
        opacity: 0,
        right: '-50px',
        ease: Power4.easeOut
      });
      TweenMax.to($('.collections-right--active .collections-info__text'), 0.2, {
        scaleX: 0.85,
        scaleY: 0.85,
        opacity: 0,
        right: '-50px',
        ease: Power4.easeOut
      });
      TweenMax.to($('.collections-right--active .collections-info__dots'), 0.4, {scaleX: 0.5, scaleY: 0.5, opacity: 0, ease: Power4.easeOut, delay: 0.6});
      TweenMax.to($('.collections-right--active .collections-info__date'), 0.2, {
        opacity: 0,
        top: '40px',
        ease: Power4.easeOut
      });
      TweenMax.to($('.collections-right--active .collections-info__text-line'), 0.2, {
        right: '100%',
        ease: Power4.easeOut
      });
      TweenMax.to($('.collections-right--active .collections-info__more'), 0.2, {
        backgroundPosition: '200% 50%',
        ease: Power1.easeOut
      });
      TweenMax.to($('.collections-right--active .collections-info__more .collections-info__more-text'), 0.2, {
        scaleX: 0.6,
        scaleY: 0.6,
        opacity: 0,
        top: '80px',
        ease: Power1.easeOut
      });
      TweenMax.to($('.collections-right--active .collections-info__more .collections-info__more-icon svg'), 0.2, {
        right: '100%',
        ease: Power1.easeOut
      });
    }

    function collectionsPopupInit(){
      setTimeout(function () {
        $('.popup-collections-slider--active').slick("setPosition");
        changeRotatedTextWidth('.main-footer__aside-link', '.main-footer__middle');
      }, 400);

      TweenMax.to($('.popup-collections .main-nav-toggle--white'), 1, {
        opacity: 1,
        top: '0px',
        ease: Power4.easeOut,
        delay: 0.5
      });
      TweenMax.to($('.popup-collections__title-layout h1'), 0.8, {
        opacity: 1,
        top: '0px',
        ease: Power4.easeOut,
        delay: 0.6
      });
      TweenMax.to($('.popup-collections__title-layout h2'), 0.8, {
        opacity: 1,
        top: '0px',
        ease: Power4.easeOut,
        delay: 0.8
      });
      TweenMax.to($('.popup-collections__title-logo'), 0.8, {opacity: 1, top: '0px', ease: Power4.easeOut, delay: 0.8});
      TweenMax.to($('.popup-collections__description'), 0.8, {opacity: 1, top: '0px', ease: Power4.easeOut, delay: 1});
      TweenMax.to($('.popup-collections__description-dots'), 0.8, {opacity: 1, ease: Power4.easeOut, delay: 1});
      TweenMax.to($('.popup-collections__description-underline'), 0.8, {opacity: 1, ease: Power4.easeOut, delay: 1.2});
      TweenMax.to($('.popup-collections__filter'), 0.8, {opacity: 1, top: '0px', ease: Power4.easeOut, delay: 1.3});
      TweenMax.to($('.popup-collections-slider'), 1, {opacity: 1, ease: Power4.easeOut, delay: 1.4});
      TweenMax.to($('.popup-collections-grid-slide__item--1'), 1, {
        opacity: 1,
        scaleX: 1,
        scaleY: 1,
        ease: Power4.easeOut,
        delay: 2
      });
      TweenMax.to($('.popup-collections-grid-slide__item--2'), 1, {
        opacity: 1,
        scaleX: 1,
        scaleY: 1,
        ease: Power4.easeOut,
        delay: 1.6
      });
      TweenMax.to($('.popup-collections-grid-slide__item--3'), 1, {
        opacity: 1,
        scaleX: 1,
        scaleY: 1,
        ease: Power4.easeOut,
        delay: 1.8
      });
      TweenMax.to($('.popup-collections-grid-slide__item--4'), 1, {
        opacity: 1,
        scaleX: 1,
        scaleY: 1,
        ease: Power4.easeOut,
        delay: 2.6
      });
      TweenMax.to($('.popup-collections-grid-slide__item--5'), 1, {
        opacity: 1,
        scaleX: 1,
        scaleY: 1,
        ease: Power4.easeOut,
        delay: 2.2
      });
      TweenMax.to($('.popup-collections-grid-slide__item--6'), 1, {
        opacity: 1,
        scaleX: 1,
        scaleY: 1,
        ease: Power4.easeOut,
        delay: 2.4
      });
      TweenMax.to($('.popup-collections-list-slide__item'), 1, {
        opacity: 1,
        scaleX: 1,
        scaleY: 1,
        ease: Power4.easeOut,
        delay: 1.6
      });
    }

    function collectionsPopupHide() {
      TweenMax.to($('.popup-collections .main-nav-toggle--white'), 1, {
        opacity: 0,
        top: '100px',
        ease: Power4.easeOut,
        delay: 0.5
      });
      TweenMax.to($('.popup-collections__title-layout h1'), 0.8, {
        opacity: 0,
        top: '100px',
        ease: Power4.easeOut,
        delay: 0.6
      });
      TweenMax.to($('.popup-collections__title-layout h2'), 0.8, {
        opacity: 0,
        top: '100px',
        ease: Power4.easeOut,
        delay: 0.8
      });
      TweenMax.to($('.popup-collections__title-logo'), 0.8, {opacity: 0, top: '100px', ease: Power4.easeOut, delay: 0.8});
      TweenMax.to($('.popup-collections__description'), 0.8, {opacity: 0, top: '100px', ease: Power4.easeOut, delay: 1});
      TweenMax.to($('.popup-collections__description-dots'), 0.8, {opacity: 0, ease: Power4.easeOut, delay: 1});
      TweenMax.to($('.popup-collections__description-underline'), 0.8, {opacity: 0, ease: Power4.easeOut, delay: 1.2});
      TweenMax.to($('.popup-collections__filter'), 0.8, {opacity: 0, top: '100px', ease: Power4.easeOut, delay: 1.3});
      TweenMax.to($('.popup-collections-slider'), 1, {opacity: 0, ease: Power4.easeOut, delay: 1.4});
      TweenMax.to($('.popup-collections-grid-slide__item--1'), 1, {
        opacity: 0,
        scaleX: 0.7,
        scaleY: 0.7,
        ease: Power4.easeOut,
        delay: 2
      });
      TweenMax.to($('.popup-collections-grid-slide__item--2'), 1, {
        opacity: 0,
        scaleX: 0.7,
        scaleY: 0.7,
        ease: Power4.easeOut,
        delay: 1.6
      });
      TweenMax.to($('.popup-collections-grid-slide__item--3'), 1, {
        opacity: 0,
        scaleX: 0.7,
        scaleY: 0.7,
        ease: Power4.easeOut,
        delay: 1.8
      });
      TweenMax.to($('.popup-collections-grid-slide__item--4'), 1, {
        opacity: 0,
        scaleX: 0.7,
        scaleY: 0.7,
        ease: Power4.easeOut,
        delay: 2.6
      });
      TweenMax.to($('.popup-collections-grid-slide__item--5'), 1, {
        opacity: 0,
        scaleX: 0.7,
        scaleY: 0.7,
        ease: Power4.easeOut,
        delay: 2.2
      });
      TweenMax.to($('.popup-collections-grid-slide__item--6'), 1, {
        opacity: 0,
        scaleX: 0.7,
        scaleY: 0.7,
        ease: Power4.easeOut,
        delay: 2.4
      });
      TweenMax.to($('.popup-collections-list-slide__item'), 1, {
        opacity: 0,
        scaleX: 0.7,
        scaleY: 0.7,
        ease: Power4.easeOut,
        delay: 1.6
      });
    }

    function circleSliderDotClick(dotNumber, startAngle) {
      var newStepValue = startAngle;

      $('.circle-slider__dot--' + dotNumber).click(function () {
        $('.circle-slider__dot--active').removeClass('circle-slider__dot--active');
        $(this).addClass('circle-slider__dot--active');
        $('#collections-circle').circleProgress({
          startAngle: newStepValue
        }).on('circle-animation-progress', function (event, animationProgress, stepValue) {
          if (animationProgress == 1) {
            newStepValue += Math.PI / 6;
            $('#collections-circle').circleProgress({
              startAngle: newStepValue
            })
          }
          if (animationProgress == 0) {
            circleSliderCheckCurrentDot();
          }
        });
      })
    }

    function circleSliderArc(startAngle) {
      var newStepValue = startAngle;

      $('#collections-circle').circleProgress({
        value: 0.0833,
        size: 738,
        thickness: 3,
        startAngle: newStepValue,
        fill: "#ffffff",
        animationStartValue: 0,
        animation: {
          duration: 5000,
          easing: "linear"
        }
      }).on('circle-animation-progress', function (event, animationProgress, stepValue) {
        if (animationProgress == 1) {
          newStepValue += Math.PI/6;
          if ($('.circle-slider__dot--active').next('.circle-slider__dot').length > 0) {
            $('.circle-slider__dot--active').removeClass('circle-slider__dot--active').next('.circle-slider__dot').addClass('circle-slider__dot--active');
          } else {
            $('.circle-slider__dot--active').removeClass('circle-slider__dot--active');
            $('.circle-slider__dot:first').addClass('circle-slider__dot--active');
          }

          circleSliderCheckCurrentDot();

          $('#collections-circle').circleProgress({
            value: 0.0833,
            size: 738,
            thickness: 3,
            startAngle: newStepValue,
            fill: "#ffffff",
            animationStartValue: 0,
            animation: {
              duration: 5000,
              easing: "linear"
            }
          })
        }
      });
    }

    function circleSliderCheckCurrentDot(){
      var $activeDot = $('.circle-slider__dot--active');
      if($activeDot.hasClass('circle-slider__dot--1')){
        circleSliderChangeSlide('1');
      } else if ($activeDot.hasClass('circle-slider__dot--2')) {
        circleSliderChangeSlide('2')
      } else if ($activeDot.hasClass('circle-slider__dot--3')) {
        circleSliderChangeSlide('3')
      } else if ($activeDot.hasClass('circle-slider__dot--4')) {
        circleSliderChangeSlide('4')
      } else if ($activeDot.hasClass('circle-slider__dot--5')) {
        circleSliderChangeSlide('5')
      } else if ($activeDot.hasClass('circle-slider__dot--6')) {
        circleSliderChangeSlide('6')
      } else if ($activeDot.hasClass('circle-slider__dot--7')) {
        circleSliderChangeSlide('7')
      } else if ($activeDot.hasClass('circle-slider__dot--8')) {
        circleSliderChangeSlide('8')
      } else if ($activeDot.hasClass('circle-slider__dot--9')) {
        circleSliderChangeSlide('9')
      } else if ($activeDot.hasClass('circle-slider__dot--10')) {
        circleSliderChangeSlide('10')
      } else if ($activeDot.hasClass('circle-slider__dot--11')) {
        circleSliderChangeSlide('11')
      } else if ($activeDot.hasClass('circle-slider__dot--12')) {
        circleSliderChangeSlide('12')
      }
    }

    function circleSliderChangeSlide(slideNumber) {
      collectionsHide();
      $('.collections-right--active').removeClass('collections-right--active');
      $('.collections-layout__bg--active').removeClass('collections-layout__bg--active');
      $('.collections-right--' + slideNumber).addClass('collections-right--active');
      $('.collections-layout__bg--' + slideNumber).addClass('collections-layout__bg--active');
      collectionsInit();
    }