extends ../layouts/main-lp

block contents
  // mixins
  include ../pages-partials/courses-single/about
  include ../pages-partials/courses-single/foundation
  include ../pages-partials/courses-single/masters
  include ../pages-partials/courses-single/masters-2
  include ../pages-partials/courses-single/skills
  include ../pages-partials/courses-single/format
  include ../pages-partials/courses-single/program
  include ../pages-partials/courses-single/program-2
  include ../pages-partials/courses-single/study
  include ../pages-partials/courses-single/philosophy
  include ../pages-partials/courses-single/teachers
  include ../pages-partials/courses-single/action

  if (city == 'kiev' && courses.courses_id == 1) || (city == 'kiev' && courses.courses_id == 3) || (city == 'kiev' && courses.courses_id == 10)
    // Facebook Pixel Code
    script.
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '738826093577069');
      fbq('track', 'PageView');
    noscript
      img(height='1', width='1', style='display:none', src='https://www.facebook.com/tr?id=738826093577069&ev=PageView&noscript=1')
    // End Facebook Pixel Code

  div.main-layout#course
    include ../partials/lp/page-scroll

    div.scroll-layout
      - var blocks = []
      if city == 'kiev'
        - blocks = courses.pages[0].blocks
      else if city == 'kharkiv'
        - blocks = courses.pages[1].blocks

      each item, index in blocks
        case item.block_type
          when 'block_intro'
            +block_intro(index, city, item, courses)
          when 'block_foundation'
            +block_foundation(index, city, item)
          when 'block_masters'
            +block_masters(index, city, item)
          when 'block_masters_2'
            +block_masters_2(index, city, item)
          when 'block_skills'
            +block_skills(index, city, item)
          when 'block_format'
            +block_format(index, city, item)
          when 'block_program'
            +block_program(index, city, item)
          when 'block_program_2'
            +block_program_2(index, city, item)
          when 'block_study'
            +block_study(index, city, item)
          when 'block_philosophy'
            +block_philosophy(index, city, item)
          when 'block_teachers'
            +block_teachers(index, city, item)
          when 'block_action'
            +block_action(index, city, item)


      if city == 'kiev'
        include ../partials/lp/footer-kiev
      else if city == 'kharkiv'
        include ../partials/lp/footer-kharkiv


      include ../partials/popups/popup-register-step-1
      include ../partials/popups/popup-register-step-2
      include ../partials/popups/popup-register-step-3