extends ../layouts/main-client.jade

block contents
  div.main-layout#home
    include ../partials/main-nav-cities.jade
    include ../partials/main-nav-socials.jade
    include ../partials/main-nav-toggle.jade
    include ../partials/register-link.jade
    include ../partials/link-beginner.jade
    include ../partials/link-pro.jade
    include ../partials/scroll-down.jade
    div.scroll-layout
      include ../partials/home/home-intro.jade
      include ../partials/home/home-nav.jade
      include ../partials/home/home-think.jade
      include ../partials/home/home-video.jade
      include ../partials/home/home-about.jade
      include ../partials/home/home-founders.jade
      include ../partials/home/home-system.jade
      include ../partials/home/home-events.jade
      include ../partials/home/home-collections.jade
      include ../partials/home/home-blog.jade
      include ../partials/home/home-action.jade
      include ../partials/footer.jade



  script.
    $(function () {
      // Onepage scroll init
      $(".scroll-layout").onepage_scroll({
        sectionContainer: "section",     // sectionContainer accepts any kind of selector in case you don't want to use section
        easing: "ease",                  // Easing options accepts the CSS3 easing animation such "ease", "linear", "ease-in",
        animationTime: 1000,             // AnimationTime let you define how long each section takes to animate
        pagination: true,                // You can either show or hide the pagination. Toggle true for show, false for hide.
        updateURL: false,                // Toggle this true if you want the URL to be updated automatically when the user scroll to each page.
        beforeMove: function (index) {
        },  // This option accepts a callback function. The function will be called before the page moves.
        afterMove: function (index) {
        },   // This option accepts a callback function. The function will be called after the page moves.
        loop: false,                     // You can have the page loop back to the top/bottom when the user navigates at up/down on the first/last page.
        keyboard: true,                  // You can activate the keyboard controls
        responsiveFallback: false,        // You can fallback to normal page scroll by defining the width of the browser in which
        // you want the responsive fallback to be triggered. For example, set this to 600 and whenever
        // the browser's width is less than 600, the fallback will kick in.
        direction: "vertical"            // You can now define the direction of the One Page Scroll animation. Options available are "vertical" and "horizontal". The default value is "vertical".
      });
    })