extends ../layouts/main-client.jade

block contents
  div.main-layout#splash
    include ../partials/link-back.jade
    include ../partials/main-nav-toggle.jade
    include ../partials/register-link.jade
    include ../partials/splash/splash-hint
    include ../partials/link-calendar.jade
    include ../partials/splash/splash-center.jade

    div.splash-layout
      div.splash.splash--beginner
        div.splash__background
        div.splash__preview-layout
          h1.br-lg.splash__preview begi<br> nn<br> er &ndash;
          h1.br-md-sm.splash__preview begin<br> &nbsp;&ndash; ner
        div.splash__inner
          p.splash__inner-text Получи престижную профессию,<br> обрети уверенность в своём мастерстве,<br> воспитай безукоризненное чувство стиля.
          h1.br-lg.splash__inner-title begi<br> nn<br> er &ndash;
          h1.br-md-sm.splash__inner-title begin<br> &nbsp;&ndash; ner
      div.splash.splash--pro
        div.splash__background
        div.splash__preview-layout
          h1.splash__preview prof &ndash;<br> essio<br> nal
        div.splash__inner
          p.splash__inner-text Освежи и пополни спектр своих техник,<br> начни реализовывать свои творческие идеи<br> в работе, выходи на новый уровень профессии.
          h1.splash__inner-title prof &ndash;<br> essio<br> nal

    include ../partials/scripts.jade

  script.
    $(function(){
      fixedMenusInitAnimation();
      TweenMax.to($('.main-layout > .link-back'), 1, {opacity: 1, ease: Power1.easeOut, delay: 0.7});
    });