div#register-step-3.popup-layout
  div.popup-white.register-step-3
    .popup__close
    .register-step-3__circles
      .circle.register-step-3__circle.register-step-3__circle--1
      .circle.register-step-3__circle.register-step-3__circle--2
      .circle.register-step-3__circle.register-step-3__circle--3
    h1.popup-title.register-step-3__title Спасибо,<br class="br-md-sm"> <span id="register-step-3-name">Вадим Гурко</span>!
    h2.popup-text.register-step-3__subtitle Вы забронировали свое<br class="br-sm"> место.
    p.popup-text.register-step-3__text
      | Ваши билеты будут у вас на почте в течении 24 часов.
      br
      br.br-lg-md
      br.br-lg-md
      b Рады приветствовать Вас в мире<br class="br-sm"> ERTEQOOB!
      br.br-lg-md
      br.br-lg-md


