div#gbw-video-popup.popup-layout
  div.popup-white.popup-white--video-fullscreen
    .popup__close.popup__close--white
    .popup__video.popup__video--fullscreen
      video#gbw-video(loop)
        source(src='/videos/cinema-presentation-2019.webm', type='video/webm')

script.
  $(function(){
    // video stop
    $('#gbw-video-popup .popup__close').click(function () {
      $('#gbw-video').get(0).pause();
    });
    $('.popup__video').on('click touchstart', function(){
      hidePopup('#gbw-video-popup');
      $('#gbw-video').get(0).pause();
    });
  });