div#register-step-2.popup-layout
  div.popup-white.register-step-2
    .popup__close
    .fondy-checkout
      #checkout

//script(src='https://api.fondy.eu/static_common/v1/checkout/ipsp.js')
script(src='https://rawgit.com/cloudipsp/checkout-vue/latest/dist/checkout.js')
link(rel='stylesheet' href='https://rawgit.com/cloudipsp/checkout-vue/latest/dist/checkout.css')
script.

  var Options = {
    options: {
      title: "Cinema",
      fullScreen: true,
      locales: ["ru"],
      fee: true,
      css: 'bootstrap4'
    },
    params: {
      merchant_id: 1402220,
      currency: 'UAH',
      order_id: new Date().getTime(),
      amount: 70000,
      order_desc: 'Cinema payment',
      response_url: 'https://erteqoob.com/cinema#register-step-3',
      lang: 'ru'
    }
  }
  fondy('#checkout', Options)
