section#action.section-layout.section.sp-action.sp-action--man-innovations
  .sp-action-logo-mobile
  h1.sp-action__title <br>Мы умеем вдохновлять

  .sp-action-info
    p.sp-action-info__text и клиентов,  и себя самих
    //.sp-action-info__video-link
    //  .sp-action-info__video-link-icon
    //  p.sp-action-info__video-link-text смотри, как проходит<br> обучение

  .sp-action-box
    .sp-action-box__inner
      .sp-action-box__text приходите.
        .dots
      .sp-action-box__text учитесь.
        .dots
      .sp-action-box__text создавайте.
        .dots
    .vertical-line.sp-action-box__line.sp-action-box__line--1
    .vertical-line.sp-action-box__line.sp-action-box__line--2

  button(onclick="registerStep1('salonInnovationsKharkiv','Salon Innovations', 'трек «Salon Innovations»', 'kharkiv', '20.05.2019', '43sm1')").btn.sp-action__link записаться на трек