section#about.section-layout.section.sp-about.sp-about--salon-innovations
  //include ../../../partials/main-nav-links-1.jade
  include ../../../partials/link-back.jade
  include ../../../partials/main-nav-socials.jade
  include ../../../partials/main-nav-lang.jade
  include ../../../partials/main-nav-toggle.jade
  include ../../../partials/courses-link.jade

  .logo

  .sp-about-logo
    .sp-about-logo__image
    .circle.sp-about-logo__circle-1
    .circle.sp-about-logo__circle-2
    .circle.sp-about-logo__circle-3
    .circle.sp-about-logo__circle-4

  div.sp-about-block
    p.sp-about-block__duration 3 дня<br class="br-lg-md"> 11:00 - 18:00
    div.sp-about-block__main
      .logo.sp-about-block__logo
      h1.sp-about-block__main-title
        span трек
        | Salon innovations
      h2.sp-about-block__main-subtitle Обучение современным и востребованным<br> технологиям стрижек, которые мы используем<br> в салонах
      button(onclick="registerStep1('salonInnovationsKharkiv','Salon Innovations', 'трек «Salon Innovations»', 'kharkiv', '19-21.09.2018', '43sm1')").btn.sp-about-block__main-link записаться на трек
    div.sp-about-block__info
      ul.switcher
        li.switcher__btn
          a(href="/courses/pro/salon-innovations/kiev") киев
        li.switcher__btn.switcher__btn--active
          a(href="/courses/pro/salon-innovations/kharkiv") харьков
      p.sp-about-block__info-date 19-21.09.2018
      p.sp-about-block__info-seats <span>Места: 7</span> из 10

  .scroll-down.link-smooth(href="#sp-foundation")
    p.scroll-down__text вниз
    .scroll-down__btn
    .scroll-down__dot.scroll-down__dot--1
    .scroll-down__dot.scroll-down__dot--2
    .scroll-down__dot.scroll-down__dot--3