footer.main-footer-lp
  .main-footer-lp__circles
    .circle.main-footer-lp__circle.main-footer-lp__circle--1
    .circle.main-footer-lp__circle.main-footer-lp__circle--2
    .vertical-line.main-footer-lp__circle-line
  p.main-footer-lp__phone-sm
    | (095) 577 88 38 — <span>Обучение</span><br>
    | (063) 616 02 78 — <span>Обучение</span><br>
    | (067) 535 52 52 — <span>Модели</span><br>
    | (066) 248 52 52 — <span>Модели</span>
  .main-footer-lp__logo
    svg(width='83px', height='46px', viewbox='0 0 83 46', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
      defs
      g#Page-1(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
        g#logo(transform='translate(42.000000, 23.500000) scale(1, -1) translate(-42.000000, -23.500000) ', fill-rule='nonzero')
          g#ERTEQOOB(transform='translate(0.581527, 11.764638)', fill='#B7B7B7')
            path#path22(d='M12.6560283,5.21739117 L12.6560283,8.21681139 L16.6694609,8.21681139 C17.7531701,8.21681139 18.335936,7.6168114 18.335936,6.69739114 C18.335936,5.76289841 17.7531701,5.21739117 16.6188368,5.21739117 L12.6560283,5.21739117 Z M19.5026452,6.73101432 C19.5026452,8.27304327 18.4542551,9.23362296 16.6882977,9.23362296 L11.5381773,9.23362296 L11.5381773,0.151304344 L12.6560283,0.151304344 L12.6560283,4.18260859 L16.137319,4.18260859 L18.503702,0.151304344 L19.7369289,0.151304344 L17.3693686,4.19942018 C18.6855956,4.4289854 19.5026452,5.48405783 19.5026452,6.73101432 L19.5026452,6.73101432 Z')
            polygon#path26(points='20.4441948 8.21669545 24.2262869 8.21669545 24.2262869 0.174956517 25.3429606 0.174956517 25.3429606 8.21669545 29.1232868 8.21669545 29.1232868 9.23350702 20.4441948 9.23350702')
            path#path30(d='M79.466965,1.18771012 L74.7495041,1.18771012 L74.7495041,4.61031873 L79.5105252,4.60742017 L79.5105252,4.60568104 C80.4511919,4.58655061 81.2099649,3.83176802 81.2099649,2.90075355 C81.2099649,1.95814488 80.4247025,1.18771012 79.466965,1.18771012 L79.466965,1.18771012 Z M74.7495041,8.21205777 L79.2680004,8.21205777 C79.9955749,8.21205777 80.5854047,7.6358259 80.5854047,6.91930417 C80.5854047,6.22191289 80.0267735,5.65495638 79.3256884,5.62481145 L74.7495041,5.62481145 L74.7495041,8.21205777 Z M80.9026883,5.25785494 C80.9020997,5.25727523 80.9020997,5.25727523 80.9009224,5.25611581 C81.343589,5.67640566 81.6649933,6.26597086 81.6649933,6.91930417 C81.6649933,8.1969853 80.5671564,9.23350702 79.2680004,9.23350702 L73.633419,9.23350702 L73.633419,0.161043474 L79.1437948,0.161043474 L79.466965,0.161043474 C81.0074685,0.161043474 82.3101564,1.38365214 82.3101564,2.90075355 C82.3101564,3.90307237 81.7167947,4.77785495 80.9026883,5.25785494 L80.9026883,5.25785494 Z')
            path#path34(d='M56.0795081,1.20695649 C54.1293025,1.20695649 52.5475933,2.76521732 52.5475933,4.68521727 C52.5475933,6.60695636 54.1293025,8.16347806 56.0795081,8.16347806 C58.030891,8.16347806 59.6114229,6.60695636 59.6114229,4.68521727 C59.6114229,2.76521732 58.030891,1.20695649 56.0795081,1.20695649 M56.0795081,9.23362296 C53.5294656,9.23362296 51.4621181,7.19652156 51.4621181,4.68521727 C51.4621181,2.17391299 53.5294656,0.137391301 56.0795081,0.137391301 C58.6295506,0.137391301 60.6968981,2.17391299 60.6968981,4.68521727 C60.6968981,7.19652156 58.6295506,9.23362296 56.0795081,9.23362296')
            path#path38(d='M66.8822227,1.20695649 C64.9320171,1.20695649 63.3503079,2.76521732 63.3503079,4.68521727 C63.3503079,6.60695636 64.9320171,8.16347806 66.8822227,8.16347806 C68.833017,8.16347806 70.4141375,6.60695636 70.4141375,4.68521727 C70.4141375,2.76521732 68.833017,1.20695649 66.8822227,1.20695649 M66.8822227,9.23362296 C64.3321802,9.23362296 62.2636555,7.19652156 62.2636555,4.68521727 C62.2636555,2.17391299 64.3321802,0.137391301 66.8822227,0.137391301 C69.4322652,0.137391301 71.50079,2.17391299 71.50079,4.68521727 C71.50079,7.19652156 69.4322652,9.23362296 66.8822227,9.23362296')
            path#path42(d='M42.7647191,2.22713038 C41.3849177,3.58423179 41.3849177,5.78597087 42.7647191,7.14481142 C44.1445205,8.50307225 46.3802225,8.50307225 47.7588466,7.14481142 C49.138648,5.78597087 49.138648,3.58423179 47.7588466,2.22713038 C46.3802225,0.867710123 44.1445205,0.867710123 42.7647191,2.22713038 M48.5270381,7.90133314 C46.7234069,9.67756498 43.8007474,9.67756498 41.9947616,7.90133314 C40.1923078,6.12568101 40.1911305,3.24568108 41.9947616,1.46944924 C43.665946,-0.174608691 46.2942793,-0.293449268 48.1049743,1.10597099 L49.0903785,0.137855069 L49.8803501,0.914666644 L48.8949459,1.88394198 C50.3171302,3.66828976 50.1964565,6.25727521 48.5270381,7.90133314')
            path#path46(d='M4.7782101,1.20695649 C3.00872078,1.20695649 1.54533074,2.49217385 1.29103288,4.16753613 L8.26656462,4.16753613 C8.01108945,2.49217385 6.55005402,1.20695649 4.7782101,1.20695649 M4.7782101,8.16347806 C6.55770651,8.16347806 8.02521711,6.86724621 8.27009653,5.18202886 L1.28808962,5.18202886 C1.53238039,6.86724621 2.99989099,8.16347806 4.7782101,8.16347806 M4.7782101,9.23362296 C2.22875626,9.23362296 0.159642836,7.19652156 0.159642836,4.68521727 C0.159642836,2.17391299 2.22875626,0.137391301 4.7782101,0.137391301 C7.32942989,0.137391301 9.39677736,2.17391299 9.39677736,4.68521727 C9.39677736,7.19652156 7.32942989,9.23362296 4.7782101,9.23362296')
            path#path50(d='M34.471842,1.20695649 C32.7011754,1.20695649 31.2389626,2.49217385 30.9834875,4.16753613 L37.9607852,4.16753613 C37.7047213,2.49217385 36.2436859,1.20695649 34.471842,1.20695649 M34.471842,8.16347806 C36.2507497,8.16347806 37.7176717,6.86724621 37.9625511,5.18202886 L30.9799555,5.18202886 C31.2254236,6.86724621 32.6941115,8.16347806 34.471842,8.16347806 M34.471842,9.23362296 C31.9217995,9.23362296 29.8532747,7.19652156 29.8532747,4.68521727 C29.8532747,2.17391299 31.9217995,0.137391301 34.471842,0.137391301 C37.0230618,0.137391301 39.0898206,2.17391299 39.0898206,4.68521727 C39.0898206,7.19652156 37.0230618,9.23362296 34.471842,9.23362296')
          //g#ACADEMY(transform='translate(21.581527, 0.764638)', fill='#B7B7B7')
          //  path#path54(d='M2.73101953,2.27197305 L2.00769142,4.34760234 L1.28006419,2.27197305 L2.73101953,2.27197305 Z M2.34624767,4.73393823 L3.87136294,0.777435291 L3.28775646,0.777435291 L2.90405939,1.82318834 L1.11024868,1.82318834 L0.723327258,0.777435291 L0.142945124,0.777435291 L1.67020996,4.73393823 L2.34624767,4.73393823 Z')
          //  path#path58(d='M9.94226754,3.7180336 L9.32964196,3.7180336 C9.16627514,4.13400622 8.80084935,4.34358021 8.23121503,4.34358021 C7.78733018,4.34358021 7.44125046,4.20068885 7.19297588,3.91702305 C6.9447013,3.63229878 6.82002662,3.2364368 6.82002662,2.72837864 C6.82002662,2.21608666 6.94685086,1.8149324 7.19834979,1.52597432 C7.44984871,1.23595778 7.79807799,1.09094952 8.24196285,1.09094952 C8.79655022,1.09094952 9.16412557,1.30793269 9.3446889,1.73978213 L9.99493185,1.73978213 C9.76062943,0.996747065 9.16949948,0.626287988 8.22261678,0.626287988 C7.60891641,0.626287988 7.12418985,0.817868253 6.76521275,1.19997033 C6.40623565,1.58313086 6.22782189,2.10071511 6.22782189,2.75166464 C6.22782189,3.38567888 6.41053478,3.88844478 6.77596057,4.25890385 C7.14353592,4.62724602 7.6390103,4.81247556 8.26560805,4.81247556 C8.71594159,4.81247556 9.0921152,4.71298084 9.3919793,4.51928366 C9.6918434,4.32241112 9.87670586,4.05568059 9.94226754,3.7180336')
          //  path#path62(d='M14.8947543,2.27197305 L14.1703514,4.34760234 L13.4427242,2.27197305 L14.8947543,2.27197305 Z M14.5099824,4.73393823 L16.0350977,0.777435291 L15.452566,0.777435291 L15.0667194,1.82318834 L13.2750582,1.82318834 L12.8881368,0.777435291 L12.3066799,0.777435291 L13.8339447,4.73393823 L14.5099824,4.73393823 Z')
          //  path#path66(d='M19.1760398,4.23582954 L19.1760398,1.26474775 L20.0562861,1.26474775 C21.105273,1.26474775 21.6308413,1.77174745 21.6308413,2.78680533 C21.6308413,3.30544803 21.4997179,3.67802402 21.2363964,3.90135792 C20.9730749,4.12469182 20.5334891,4.23582954 19.9208636,4.23582954 L19.1760398,4.23582954 Z M18.6461724,4.72589398 L20.0659591,4.72589398 C20.5324144,4.72589398 20.8967654,4.67826353 21.1579373,4.58723644 C21.4212589,4.49409244 21.6415891,4.33320736 21.8210777,4.10563964 C22.0919227,3.7669342 22.2273451,3.33085094 22.2273451,2.79950678 C22.2273451,2.2289998 22.0715018,1.76010445 21.7619647,1.38964538 C21.4244832,0.981081938 20.8795689,0.776800218 20.1293712,0.776800218 L18.6461724,0.776800218 L18.6461724,4.72589398 Z')
          //  polygon#path70(points='27.191762 4.72578813 27.191762 4.2357237 25.5065042 4.2357237 25.5065042 3.06507301 27.1541446 3.06507301 27.1541446 2.57395012 25.5065042 2.57395012 25.5065042 1.28581099 27.2379776 1.28581099 27.2379776 0.777752827 24.9777116 0.777752827 24.9777116 4.72578813')
          //  polygon#path74(points='34.5095208 4.72578813 34.8663484 0.777752827 34.3225088 0.777752827 34.075309 4.15951497 32.7060371 0.777752827 32.1202811 0.777752827 30.7477848 4.15951497 30.5016598 0.777752827 29.9567454 0.777752827 30.3157225 4.72578813 31.0562471 4.72578813 32.4126217 1.35143517 33.7689962 4.72578813')
          //  path#path78(d='M40.8049473,4.72578813 L39.4743676,2.42470804 L39.4152546,2.32521332 C39.3926842,2.28181668 39.3819363,2.21195868 39.3819363,2.11246396 L39.3819363,0.777752827 L38.8531437,0.777752827 L38.8531437,2.12728232 C38.8531437,2.22042632 38.8187507,2.32733022 38.7478151,2.44905249 L37.4312075,4.72578813 L38.0653287,4.72578813 L39.1239887,2.76553039 L40.1837235,4.72578813 L40.8049473,4.72578813 Z')
          g(id='Logo/Q/bottom-small', transform='translate(34.581527, 29.764638)', fill='#FFFFFF')
            path(d='M1.95821124,8.00345698 L14.042935,8.00345698 C13.8551755,6.76306147 13.2870939,5.56905614 12.3260274,4.6139386 C9.93798889,2.24196941 6.06272067,2.24196941 3.6751188,4.6139386 C2.71317898,5.56905614 2.14597071,6.76306147 1.95821124,8.00345698 Z M12.3260274,13.2039268 C13.2975735,12.2392711 13.866965,11.0300914 14.0486114,9.77625573 L1.95253479,9.77625573 C2.13330786,11.0300914 2.70269939,12.2392711 3.6751188,13.2039268 C6.06272067,15.5763295 9.93798889,15.5763295 12.3260274,13.2039268 Z M2.34333649,14.5258303 C-0.780893833,11.4237576 -0.781330483,6.3936742 2.34333649,3.2920351 C5.23483239,0.420179153 9.78865461,0.213374309 12.9272944,2.65774687 L14.6319757,0.966022546 L16,2.32477806 L14.2970652,4.01693593 C16.7580243,7.1337494 16.5493056,11.6544079 13.6573731,14.5258303 C10.5335794,17.6283365 5.46713015,17.6283365 2.34333649,14.5258303 Z', id='Logo/Q/title-large')

  ul.main-footer-lp__info
    li.main-footer-lp__info-item
      p
        | (095) 577 88 38 — <span>Обучение</span><br>
        | (063) 616 02 78 — <span>Обучение</span><br>
        | (067) 535 52 52 — <span>Модели</span><br>
        | (066) 248 52 52 — <span>Модели</span>
    li.main-footer-lp__info-item
      p ХАРЬКОВ, Московский проспект 19/23
      //p
      //  span БИЗНЕС-ЦЕНТР СИТИ ХОЛЛ, 1Й ЭТАЖ,<br> МЕТРО ДВОРЕЦ СПОРТА
    li.main-footer-lp__info-item
      a(href="mailto:erteqoob.education@gmail.com") erteqoob.education@gmail.com
      //a(href="mailto:academy@erteqoob.com") academy@erteqoob.com
      //a(href="mailto:info@erteqoob.com") info@erteqoob.com
  p.main-footer-lp__copy Copyright 2018 ERTEQOOB
  ul.main-footer-lp__socials
    li.main-footer-lp__social.main-footer-lp__social--fb
      a(href="https://www.facebook.com/erteqoob/" target="_blank")
    li.main-footer-lp__social.main-footer-lp__social--in
      a(href="https://www.instagram.com/erteqoob/" target="_blank")

include ./scripts.jade