header.main-header
  div.main-header__logo
  ul.main-header-nav
    li.main-header-nav__item
      a(href="#home-program").link-smooth.main-header-nav__link программа
    li.main-header-nav__item
      a(href="#home-skills").link-smooth.main-header-nav__link для кого
  ul.main-header-nav
    li.main-header-nav__item
      a(href="#home-teachers").link-smooth.main-header-nav__link о нас
    li.main-header-nav__item
      a(href="#home-action").link-smooth.main-header-nav__link Принять участие
