.page-slider-dots-layout
  .page-slider-dots
    a(href="#about").link-smooth.page-slider-dots__item
    a(href="#sp-foundation").link-smooth.page-slider-dots__item
    a(href="#masters").link-smooth.page-slider-dots__item
    a(href="#format").link-smooth.page-slider-dots__item
    a(href="#program").link-smooth.page-slider-dots__item
    a(href="#philosophy").link-smooth.page-slider-dots__item
    a(href="#teachers").link-smooth.page-slider-dots__item
    a(href="#action").link-smooth.page-slider-dots__item

script.
  $(function(){
    $('.page-slider-dots__item').click(function(){
      $('.page-slider-dots__item--active').removeClass('page-slider-dots__item--active');
      $(this).addClass('page-slider-dots__item--active');
    });

    updateActiveSectionPaginator(['#about', '#sp-foundation', '#masters', '#format', '#program', '#philosophy', '#teachers', '#action']);
  });