script(src='/js/slick.min.js' type='text/javascript')
script(src='/js/TweenMax.min.js' type='text/javascript')
script(src='/js/TimelineMax.min.js' type='text/javascript')
script(src='/js/jquery.gsap.min.js' type='text/javascript')

script.
  $(function(){
    // popup close
    $('.popup__close').click(function () {
      TweenMax.to($(this).closest('.popup-layout'), 0.5, {
        display: 'none',
        autoAlpha: 0,
        scaleX: 0.7,
        scaleY: 0.7,
        ease: Power4.easeOut
      });
      TweenMax.to($(this).closest('.popup__close'), 0.5, {
        display: 'none',
        autoAlpha: 0,
        scaleX: 0.7,
        scaleY: 0.7,
        ease: Power4.easeOut,
        delay: 0.5
      });
    });

    // input material focus event
    inputMaterial = '.input-material';
    inputMaterialInput = '.input-material input';
    inputMaterialLabel = '.input-material label';
    $(inputMaterialInput).focus(function () {
      $(this).closest(inputMaterial).addClass('input-material--active');
    });
    $(inputMaterialInput).blur(function () {
      if(!$(this).val()) {
        $(this).closest(inputMaterial).removeClass('input-material--active');
      }
    });

    // smooth scroll on anchors
    $(document).on('click', '.link-smooth', function (event) {
      event.preventDefault();
      $('html, body').animate({
        scrollTop: $($(this).attr('href')).offset().top
      }, 2000);
    });

    // remove all :hover stylesheets on toucscreens
    if (hasTouch()) {
      try { // prevent exception on browsers not supporting DOM styleSheets properly
        for (var si in document.styleSheets) {
          var styleSheet = document.styleSheets[si];
          if (!styleSheet.rules) continue;

          for (var ri = styleSheet.rules.length - 1; ri >= 0; ri--) {
            if (!styleSheet.rules[ri].selectorText) continue;

            if (styleSheet.rules[ri].selectorText.match(':hover')) {
              styleSheet.deleteRule(ri);
            }
          }
        }
      } catch (ex) {
      }
    }
  });

  function heightAsWidth($element) {
    var cw = $element.outerWidth();
    $element.css({'height': cw + 'px'});
    $(window).on('resize', function () {
      var cw = $element.outerWidth();
      $element.css({'height': cw + 'px'});
    });
  }

  function showPopup(popupId) {
    TweenMax.to($(popupId), 0.5, {display: 'block', autoAlpha: 1, scaleX: 1, scaleY: 1, ease: Power4.easeOut});
    TweenMax.to($('.popup__close'), 1, {
      display: 'block',
      autoAlpha: 1,
      scaleX: 1,
      scaleY: 1,
      ease: Power4.easeOut,
      delay: 0.5
    });
  }

  function hasTouch() {
    return 'ontouchstart' in document.documentElement
            || navigator.maxTouchPoints > 0
            || navigator.msMaxTouchPoints > 0;
  }