script(src='/js/slick.min.js' type='text/javascript')
script(src='/js/TweenMax.min.js' type='text/javascript')
script(src='/js/TimelineMax.min.js' type='text/javascript')
script(src='/js/jquery.gsap.min.js' type='text/javascript')


script.
  $(function(){
    // popup close
    $('.popup__close').click(function () {
      TweenMax.to($(this).closest('.popup-layout'), 0.5, {
        display: 'none',
        autoAlpha: 0,
        scaleX: 0.7,
        scaleY: 0.7,
        ease: Power4.easeOut
      });
      TweenMax.to($(this).closest('.popup__close'), 0.5, {
        display: 'none',
        autoAlpha: 0,
        scaleX: 0.7,
        scaleY: 0.7,
        ease: Power4.easeOut,
        delay: 0.5
      });
    });

    // input material focus event
    inputMaterial = '.input-material';
    inputMaterialInput = '.input-material input';
    inputMaterialLabel = '.input-material label';
    $(inputMaterialInput).focus(function () {
      $(this).closest(inputMaterial).addClass('input-material--active');
    });
    $(inputMaterialInput).blur(function () {
      if(!$(this).val()) {
        $(this).closest(inputMaterial).removeClass('input-material--active');
      }
    });

    // smooth scroll on anchors
    $(document).on('click', '.link-smooth', function (event) {
      event.preventDefault();
      $('html, body').animate({
        scrollTop: $($(this).attr('href')).offset().top
      }, 2000);
    });

    // remove all :hover stylesheets on toucscreens
    if (hasTouch()) {
      try { // prevent exception on browsers not supporting DOM styleSheets properly
        for (var si in document.styleSheets) {
          var styleSheet = document.styleSheets[si];
          if (!styleSheet.rules) continue;

          for (var ri = styleSheet.rules.length - 1; ri >= 0; ri--) {
            if (!styleSheet.rules[ri].selectorText) continue;

            if (styleSheet.rules[ri].selectorText.match(':hover')) {
              styleSheet.deleteRule(ri);
            }
            if (styleSheet.rules[ri].selectorText.match(':active')) {
              styleSheet.deleteRule(ri);
            }
            if (styleSheet.rules[ri].selectorText.match(':focus')) {
              styleSheet.deleteRule(ri);
            }
          }
        }
      } catch (ex) {
      }
    }

    registerStep2();

    // get register form cookie
    if ($.cookie("name")) {
      $('#register-name').val($.cookie("name"));
    }
    if ($.cookie("phone")) {
      $('#register-phone').val($.cookie("phone"));
    }
    if ($.cookie("email")) {
      $('#register-email').val($.cookie("email"));
    }
  });

  function heightAsWidth($element) {
    var cw = $element.outerWidth();
    $element.css({'height': cw + 'px'});
    $(window).on('resize', function () {
      var cw = $element.outerWidth();
      $element.css({'height': cw + 'px'});
    });
  }

  function showPopup(popupId) {
    TweenMax.to($(popupId), 0.5, {display: 'block', autoAlpha: 1, scaleX: 1, scaleY: 1, ease: Power4.easeOut});
    TweenMax.to($('.popup__close'), 1, {
      display: 'block',
      autoAlpha: 1,
      scaleX: 1,
      scaleY: 1,
      ease: Power4.easeOut,
      delay: 0.5
    });
  }

  function hidePopup(popupId) {
    TweenMax.to($(popupId + '.popup-layout'), 0.5, {
      display: 'none',
      autoAlpha: 0,
      scaleX: 0.7,
      scaleY: 0.7,
      ease: Power4.easeOut
    });
    TweenMax.to($(popupId + '.popup__close'), 0.5, {
      display: 'none',
      autoAlpha: 0,
      scaleX: 0.7,
      scaleY: 0.7,
      ease: Power4.easeOut,
      delay: 0.5
    });
  }

  function hasTouch() {
    return 'ontouchstart' in document.documentElement
            || navigator.maxTouchPoints > 0
            || navigator.msMaxTouchPoints > 0;
  }

  function gbwDicesFloating(){
    var $dice = $('.gbw-base-intro-dice');
    $dice.on('mouseover', function () {
      $(this).addClass('gbw-base-intro-dice--active');
    });
    $dice.on('mouseleave', function () {
      $(this).removeClass('gbw-base-intro-dice--active');
    });

    var $dice1 = $('.gbw-base-intro-dice--1');
    var $dice2 = $('.gbw-base-intro-dice--2');
    var $dice3 = $('.gbw-base-intro-dice--3');
    var $window = $(window);
    //var dice1X = parseFloat($dice1.css('right').replace('px', ''));
    //var dice1Y = parseFloat($dice1.css('top').replace('px', ''));
    //var dice2X = parseFloat($dice2.css('left').replace('px', ''));
    //var dice2Y = parseFloat($dice2.css('top').replace('px', ''));
    //var dice3X = parseFloat($dice3.css('right').replace('px', ''));
    //var dice3Y = parseFloat($dice3.css('bottom').replace('px', ''));

    if ($window.width() >= 640) {
      $(document).on('mousemove', function (e) {
        if (e.pageY < $window.height()) {
          $dice1.find('.gbw-base-intro-dice__image').css({
            left: e.pageX / $window.width() * 150,
            top: -e.pageY / $window.height() * 75
          });
          $dice2.find('.gbw-base-intro-dice__image').css({
            left: -e.pageX / $window.width() * 150,
            top: e.pageY / $window.height() * 75
          });
          $dice3.find('.gbw-base-intro-dice__image').css({
            left: -e.pageX / $window.width() * 150,
            top: -e.pageY / $window.height() * 75
          });
        }
      });
    }
  }

  function registerStep1(courseId, step1Title, step3Title, city, courseDate){
    showPopup('#register-step-1');
    $('#register-step-1-title').text(step1Title);
    $('#register-step-3-title, #register-step-2-title').text(step3Title);
    $('#register-step-2-date').text(courseDate);
    $('#register-city').val(city).attr('selected','selected');
    $('#register-course-id').val(courseId);
  }
  function registerStep2() {
    $("#register-form").submit(function (e) {

      e.preventDefault();

      $.ajax({
        //type: "POST",
        //url: '',
        data: $("#register-form").serialize(),
        success: function (data) {
          console.log($("#register-form").serialize());
          $.cookie('name', $('#register-name').val(), 30);
          $.cookie('phone', $('#register-phone').val(), 30);
          $.cookie('email', $('#register-email').val(), 30);

          $('#register-step-2-city').text($('#register-city option:selected').text());
          $('#register-step-2-name').text($('#register-name').val());
          $('#register-step-3-name').text($('#register-name').val());
          $('#register-step-2-phone').text($('#register-phone').val());
          $('#register-step-2-email').text($('#register-email').val());

          hidePopup('#register-step-1');
          showPopup('#register-step-2');
        }
      });
    });
  }
  function registerStep3() {
    hidePopup('#register-step-2');
    showPopup('#register-step-3');
  }