a(href="#sp-foundation").scroll-down.link-smooth
  p.scroll-down__text вниз
  .scroll-down__btn
  .scroll-down__dot.scroll-down__dot--1
  .scroll-down__dot.scroll-down__dot--2
  .scroll-down__dot.scroll-down__dot--3