extends ../../layouts/main-admin

block contents
  // Preloader
  .preloader
    .cssload-speeding-wheel

  #wrapper
    include ./../../partials/admin/header.jade
    include ./../../partials/admin/aside-menu.jade

    // Page Content
    #page-wrapper
      .container-fluid
        .row.bg-title
          .col-lg-4.col-md-5.col-sm-5.col-xs-12
            h4.page-title Добавить нового администратора
          .col-lg-8.col-sm-7.col-md-7.col-xs-12
            ol.breadcrumb
              li
                a(href='/admin') Главная
              li
                a(href='/admin/admins') Список администраторов
              li.active Добавить нового администратора
        if (message)
          .row
            p(style='color:red;') #{message}
        .row
          form(method='post', action='/admin/admins/new')
            .form-group
              label Email:
              input.form-control(type='email', name='email', required='')
            .form-group
              label Имя:
              input.form-control(type='text', name='name', required='')
            .form-group
              label Фамилия:
              input.form-control(type='text', name='lastName', required='')
            .form-group
              label Пароль:
              input.form-control(type='password', name='password', required='')
            .clear
            button.btn(type='submit' style="float:left") Сохранить

    include ./../../partials/admin/footer.jade