extends ../../layouts/main-admin

block contents
  // Preloader
  .preloader
    .cssload-speeding-wheel

  section#wrapper.login-register
    .login-box
      .white-box
        form#loginform.form-horizontal.form-material(action="/login", method="post")
          h1.text-center.m-b-30 Авторизация
          if (message.length > 0)
            h2 Ошибка
            h4= message
          .form-group
            .col-xs-12
              input.form-control(type='email', name="email" required='', placeholder='Email')
          .form-group
            .col-xs-12
              input.form-control(type='password', name="password" required='', placeholder='Пароль')
          .form-group.text-center.m-t-20
            .col-xs-12
              button.btn.btn-info.btn-lg.btn-block.text-uppercase.waves-effect.waves-light(type='submit') Подтвердить
        form#recoverform.form-horizontal(action='index.html')
          .form-group
            .col-xs-12
              h3 Восстановить пароль
              p.text-muted Введите ваш Email
          .form-group
            .col-xs-12
              input.form-control(type='email', required='', placeholder='Email')
          .form-group.text-center.m-t-20
            .col-xs-12
              button.btn.btn-primary.btn-lg.btn-block.text-uppercase.waves-effect.waves-light(type='submit') Восстановить

  // jQuery
  script(src='/plugins/bower_components/jquery/dist/jquery.min.js')
  // Bootstrap Core JavaScript
  script(src='/bootstrap/dist/js/bootstrap.min.js')
  // Menu Plugin JavaScript
  script(src='/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js')
  // slimscroll JavaScript
  script(src='/js/pages/admin-material/jquery.slimscroll.js')
  // Wave Effects
  script(src='/js/pages/admin-material/waves.js')
  // Custom Theme JavaScript
  script(src='/js/pages/admin-material/custom.min.js')
  // Style Switcher
  script(src='/plugins/bower_components/styleswitcher/jQuery.style.switcher.js')
