section.section-layout.section.courses-list.courses-list--beginner
  include ../../../partials/main-nav-toggle.jade
  include ../../../partials/courses-link.jade
  include ../../../partials/link-back.jade

  .courses-list-title
    .courses-list-title__logo
    h1 pro
    h2 набор треков для оттачивания мастерства<br> и чувства стиля

  ul.courses-list__filter
    li(data-grid='row').courses-list__filter-item.courses-list__filter-item--active
      svg(xmlns='http://www.w3.org/2000/svg')
        path(d='M0 0h6v6H0zm0 8h6v6H0zm8-8h6v6H8zm0 8h6v6H8z')
    li(data-grid='column').courses-list__filter-item
      svg(xmlns='http://www.w3.org/2000/svg')
        path(d='M5 0h12v2H5zm0 6h12v2H5zm0 6h12v2H5zM0 0h2v2H0zm0 6h2v2H0zm0 6h2v2H0z')

  .courses-lists-layout
    .courses-list-grid
      a(href="#").courses-list-grid-item
        .courses-list-grid-item__header
          p.courses-list-grid-item__header-item киев<br> 21/01/2017
          p.courses-list-grid-item__header-item харьков<br> 12/02/2018
        .courses-list-grid-item__main
          h2.courses-list-grid-item__subtitle
            span.courses-list-grid-item__subtitle-course трек
            span.courses-list-grid-item__subtitle-duration 7 месяцев / 9 занятий
          h1.courses-list-grid-item__title Salon<br> Innovations
          h2.courses-list-grid-item__subtitle.courses-list-grid-item__subtitle--column
            span.courses-list-grid-item__subtitle-duration 7 месяцев / 9 занятий
        .courses-list-grid-item__more узнать больше
      a(href="#").courses-list-grid-item
        .courses-list-grid-item__header
          p.courses-list-grid-item__header-item киев<br> 21/01/2017
          p.courses-list-grid-item__header-item харьков<br> 12/02/2018
        .courses-list-grid-item__main
          h2.courses-list-grid-item__subtitle
            span.courses-list-grid-item__subtitle-course трек
            span.courses-list-grid-item__subtitle-duration 7 месяцев / 9 занятий
          h1.courses-list-grid-item__title Men<br> Innovations
          h2.courses-list-grid-item__subtitle.courses-list-grid-item__subtitle--column
            span.courses-list-grid-item__subtitle-duration 7 месяцев / 9 занятий
        .courses-list-grid-item__more узнать больше
      a(href="#").courses-list-grid-item
        .courses-list-grid-item__header
          p.courses-list-grid-item__header-item киев<br> 21/01/2017
          p.courses-list-grid-item__header-item харьков<br> 12/02/2018
        .courses-list-grid-item__main
          h2.courses-list-grid-item__subtitle
            span.courses-list-grid-item__subtitle-course трек
            span.courses-list-grid-item__subtitle-duration 7 месяцев / 9 занятий
          h1.courses-list-grid-item__title GBW
          h2.courses-list-grid-item__subtitle.courses-list-grid-item__subtitle--column
            span.courses-list-grid-item__subtitle-duration 7 месяцев / 9 занятий
        .courses-list-grid-item__more узнать больше
      a(href="#").courses-list-grid-item
        .courses-list-grid-item__header
          p.courses-list-grid-item__header-item киев<br> 21/01/2017
          p.courses-list-grid-item__header-item харьков<br> 12/02/2018
        .courses-list-grid-item__main
          h2.courses-list-grid-item__subtitle
            span.courses-list-grid-item__subtitle-course трек
            span.courses-list-grid-item__subtitle-duration 7 месяцев / 9 занятий
          h1.courses-list-grid-item__title Blond
          h2.courses-list-grid-item__subtitle.courses-list-grid-item__subtitle--column
            span.courses-list-grid-item__subtitle-duration 7 месяцев / 9 занятий
        .courses-list-grid-item__more узнать больше
      a(href="#").courses-list-grid-item
        .courses-list-grid-item__header
          p.courses-list-grid-item__header-item киев<br> 21/01/2017
          p.courses-list-grid-item__header-item харьков<br> 12/02/2018
        .courses-list-grid-item__main
          h2.courses-list-grid-item__subtitle
            span.courses-list-grid-item__subtitle-course трек
            span.courses-list-grid-item__subtitle-duration 7 месяцев / 9 занятий
          h1.courses-list-grid-item__title System Blond
          h2.courses-list-grid-item__subtitle.courses-list-grid-item__subtitle--column
            span.courses-list-grid-item__subtitle-duration 7 месяцев / 9 занятий
        .courses-list-grid-item__more узнать больше
      a(href="#").courses-list-grid-item
        .courses-list-grid-item__header
          p.courses-list-grid-item__header-item киев<br> 21/01/2017
          p.courses-list-grid-item__header-item харьков<br> 12/02/2018
        .courses-list-grid-item__main
          h2.courses-list-grid-item__subtitle
            span.courses-list-grid-item__subtitle-course трек
            span.courses-list-grid-item__subtitle-duration 7 месяцев / 9 занятий
          h1.courses-list-grid-item__title Адаптация:<br> подбор стрижек
          h2.courses-list-grid-item__subtitle.courses-list-grid-item__subtitle--column
            span.courses-list-grid-item__subtitle-duration 7 месяцев / 9 занятий
        .courses-list-grid-item__more узнать больше
      a(href="#").courses-list-grid-item
        .courses-list-grid-item__header
          p.courses-list-grid-item__header-item киев<br> 21/01/2017
          p.courses-list-grid-item__header-item харьков<br> 12/02/2018
        .courses-list-grid-item__main
          h2.courses-list-grid-item__subtitle
            span.courses-list-grid-item__subtitle-course трек
            span.courses-list-grid-item__subtitle-duration 7 месяцев / 9 занятий
          h1.courses-list-grid-item__title Curly
          h2.courses-list-grid-item__subtitle.courses-list-grid-item__subtitle--column
            span.courses-list-grid-item__subtitle-duration 7 месяцев / 9 занятий
        .courses-list-grid-item__more узнать больше
      a(href="#").courses-list-grid-item
        .courses-list-grid-item__header
          p.courses-list-grid-item__header-item киев<br> 21/01/2017
          p.courses-list-grid-item__header-item харьков<br> 12/02/2018
        .courses-list-grid-item__main
          h2.courses-list-grid-item__subtitle
            span.courses-list-grid-item__subtitle-course трек
            span.courses-list-grid-item__subtitle-duration 7 месяцев / 9 занятий
          h1.courses-list-grid-item__title Long
          h2.courses-list-grid-item__subtitle.courses-list-grid-item__subtitle--column
            span.courses-list-grid-item__subtitle-duration 7 месяцев / 9 занятий
        .courses-list-grid-item__more узнать больше




  script.
    $(function(){
      heightAsWidth($('.courses-list-grid-item'));

      // courses list filter
      $('.courses-list__filter-item').click(function () {
        if (!$(this).hasClass('courses-list__filter-item--active')) {
          $('.courses-list__filter-item--active').removeClass('courses-list__filter-item--active');
          $(this).addClass('courses-list__filter-item--active');
          if($(this).data('grid') === 'column') {
            $('.courses-list-grid').addClass('courses-list-grid--column');
          } else {
            $('.courses-list-grid').removeClass('courses-list-grid--column');
          }
          setTimeout(function(){
            var cw = $('.courses-list-grid-item').outerWidth();
            $('.courses-list-grid-item').css({'height': cw + 'px'});
          }, 500);
        }
      });
    })