section.section-layout.section.courses-list.courses-list--pro
  include ../../../partials/main-nav-toggle.jade
  include ../../../partials/courses-link.jade
  include ../../../partials/link-back.jade

  .courses-list-title
    .courses-list-title__logo
    h1 #{coursespages.title}
    h2 #{coursespages.subtitle}

  ul.courses-list__filter
    li(data-grid='row').courses-list__filter-item.courses-list__filter-item--active
      svg(xmlns='http://www.w3.org/2000/svg')
        path(d='M0 0h6v6H0zm0 8h6v6H0zm8-8h6v6H8zm0 8h6v6H8z')
    li(data-grid='column').courses-list__filter-item
      svg(xmlns='http://www.w3.org/2000/svg')
        path(d='M5 0h12v2H5zm0 6h12v2H5zm0 6h12v2H5zM0 0h2v2H0zm0 6h2v2H0zm0 6h2v2H0z')

  .courses-lists-layout
    .courses-list-grid.courses-list-grid--pro
      a(href="/courses/pro/salon-innovations/kiev").courses-list-grid-item
        .courses-list-grid-item__header
          p.courses-list-grid-item__header-item киев<br> 08-10/07/2019
          p.courses-list-grid-item__header-item харьков<br> 20/05/2019
        .courses-list-grid-item__main
          h2.courses-list-grid-item__subtitle
            span.courses-list-grid-item__subtitle-course трек
            span.courses-list-grid-item__subtitle-duration 3 дня / 3 занятия
          h1.courses-list-grid-item__title Salon<br> Innovations
          h2.courses-list-grid-item__subtitle.courses-list-grid-item__subtitle--column
            span.courses-list-grid-item__subtitle-duration 3 дня / 3 занятия
        .courses-list-grid-item__more узнать больше
      a(href="/courses/pro/man-innovations/kiev").courses-list-grid-item
        .courses-list-grid-item__header
          p.courses-list-grid-item__header-item киев<br> 28-30/08/2019
          p.courses-list-grid-item__header-item харьков<br> 01/04/2019
        .courses-list-grid-item__main
          h2.courses-list-grid-item__subtitle
            span.courses-list-grid-item__subtitle-course трек
            span.courses-list-grid-item__subtitle-duration 3 дня / 3 занятия
          h1.courses-list-grid-item__title Man<br> Innovations
          h2.courses-list-grid-item__subtitle.courses-list-grid-item__subtitle--column
            span.courses-list-grid-item__subtitle-duration 3 дня / 3 занятия
        .courses-list-grid-item__more узнать больше
      a(href="/courses/pro/gbw").courses-list-grid-item
        .courses-list-grid-item__header
          p.courses-list-grid-item__header-item киев<br> 16/07/2019
          p.courses-list-grid-item__header-item харьков<br> 22/04/2019
        .courses-list-grid-item__main
          h2.courses-list-grid-item__subtitle
            span.courses-list-grid-item__subtitle-course трек
            span.courses-list-grid-item__subtitle-duration 5 дней / 5 занятий
          h1.courses-list-grid-item__title GBW
          h2.courses-list-grid-item__subtitle.courses-list-grid-item__subtitle--column
            span.courses-list-grid-item__subtitle-duration 3 дня / 3 занятия
        .courses-list-grid-item__more узнать больше
      a(href="/courses/pro/adaptation/kiev").courses-list-grid-item
        .courses-list-grid-item__header
          p.courses-list-grid-item__header-item киев<br> 26/09/2019
          p.courses-list-grid-item__header-item харьков<br> 02/04/2019
        .courses-list-grid-item__main
          h2.courses-list-grid-item__subtitle
            span.courses-list-grid-item__subtitle-course трек
            span.courses-list-grid-item__subtitle-duration 3 дня / 3 занятия
          h1.courses-list-grid-item__title Адаптация:<br> подбор стрижек
          h2.courses-list-grid-item__subtitle.courses-list-grid-item__subtitle--column
            span.courses-list-grid-item__subtitle-duration 3 дня / 3 занятия
        .courses-list-grid-item__more узнать больше
      //a(href="#").courses-list-grid-item
      //  .courses-list-grid-item__header
      //    p.courses-list-grid-item__header-item киев<br> 14/03/2017
      //    p.courses-list-grid-item__header-item харьков<br> 14/03/2017
      //  .courses-list-grid-item__main
      //    h2.courses-list-grid-item__subtitle
      //      span.courses-list-grid-item__subtitle-course трек
      //      span.courses-list-grid-item__subtitle-duration 3 дня / 3 занятия
      //    h1.courses-list-grid-item__title System Blond
      //    h2.courses-list-grid-item__subtitle.courses-list-grid-item__subtitle--column
      //      span.courses-list-grid-item__subtitle-duration 3 дня / 3 занятия
      //  .courses-list-grid-item__more узнать больше
      .courses-list-grid-item.courses-list-grid-item--progress
        p.courses-list-grid-item__progress-text.courses-list-grid-item__progress-text--1 <span class="br-lg-md">&nbsp;&nbsp;</span>Курс
        p.courses-list-grid-item__progress-text.courses-list-grid-item__progress-text--2
          span System<br class="br-list"> Blond
        .courses-list-grid-item__progress-layout
          .courses-list-grid-item__progress
            //.courses-list-grid-item__progress-center
            //.circle.courses-list-grid-item__progress-circle
        p.courses-list-grid-item__progress-text.courses-list-grid-item__progress-text--3 в разработке
      //.courses-list-grid-item.courses-list-grid-item--progress
      //  p.courses-list-grid-item__progress-text.courses-list-grid-item__progress-text--1 <span class="br-lg-md">&nbsp;&nbsp;</span>Курс
      //  p.courses-list-grid-item__progress-text.courses-list-grid-item__progress-text--2
      //    span Blond
      //  .courses-list-grid-item__progress-layout
      //    .courses-list-grid-item__progress
      //      //.courses-list-grid-item__progress-center
      //      //.circle.courses-list-grid-item__progress-circle
      //  p.courses-list-grid-item__progress-text.courses-list-grid-item__progress-text--3 в разработке
      //.courses-list-grid-item.courses-list-grid-item--progress
      //  p.courses-list-grid-item__progress-text.courses-list-grid-item__progress-text--1 <span class="br-lg-md">&nbsp;&nbsp;</span>Курс
      //  p.courses-list-grid-item__progress-text.courses-list-grid-item__progress-text--2
      //    span Curly
      //  .courses-list-grid-item__progress-layout
      //    .courses-list-grid-item__progress
      //      //.courses-list-grid-item__progress-center
      //      //.circle.courses-list-grid-item__progress-circle
      //  p.courses-list-grid-item__progress-text.courses-list-grid-item__progress-text--3 в разработке
      //.courses-list-grid-item.courses-list-grid-item--progress
      //  p.courses-list-grid-item__progress-text.courses-list-grid-item__progress-text--1 <span class="br-lg-md">&nbsp;&nbsp;</span>Курс
      //  p.courses-list-grid-item__progress-text.courses-list-grid-item__progress-text--2
      //    span Long
      //  .courses-list-grid-item__progress-layout
      //    .courses-list-grid-item__progress
      //      //.courses-list-grid-item__progress-center
      //      //.circle.courses-list-grid-item__progress-circle
      //  p.courses-list-grid-item__progress-text.courses-list-grid-item__progress-text--3 в разработке
      a(href="/courses/pro/blond/kiev").courses-list-grid-item
        .courses-list-grid-item__header
          p.courses-list-grid-item__header-item киев<br> 11-12/07/2019
          p.courses-list-grid-item__header-item харьков<br> 18/06/2018
        .courses-list-grid-item__main
          h2.courses-list-grid-item__subtitle
            span.courses-list-grid-item__subtitle-course трек
            span.courses-list-grid-item__subtitle-duration 3 дня / 3 занятия
          h1.courses-list-grid-item__title Blond
          h2.courses-list-grid-item__subtitle.courses-list-grid-item__subtitle--column
            span.courses-list-grid-item__subtitle-duration 3 дня / 3 занятия
        .courses-list-grid-item__more узнать больше
      a(href="/courses/pro/curly/kiev").courses-list-grid-item
        .courses-list-grid-item__header
          p.courses-list-grid-item__header-item киев<br> 22-23/10/2018
          p.courses-list-grid-item__header-item харьков<br> 09/07/2018
        .courses-list-grid-item__main
          h2.courses-list-grid-item__subtitle
            span.courses-list-grid-item__subtitle-course трек
            span.courses-list-grid-item__subtitle-duration 3 дня / 3 занятия
          h1.courses-list-grid-item__title Curly
          h2.courses-list-grid-item__subtitle.courses-list-grid-item__subtitle--column
            span.courses-list-grid-item__subtitle-duration 3 дня / 3 занятия
        .courses-list-grid-item__more узнать больше
      a(href="/courses/pro/long/kiev").courses-list-grid-item
        .courses-list-grid-item__header
          p.courses-list-grid-item__header-item киев<br> 20/09/2018
          p.courses-list-grid-item__header-item харьков<br> 14/05/2018
        .courses-list-grid-item__main
          h2.courses-list-grid-item__subtitle
            span.courses-list-grid-item__subtitle-course трек
            span.courses-list-grid-item__subtitle-duration 3 дня / 3 занятия
          h1.courses-list-grid-item__title Long
          h2.courses-list-grid-item__subtitle.courses-list-grid-item__subtitle--column
            span.courses-list-grid-item__subtitle-duration 3 дня / 3 занятия
        .courses-list-grid-item__more узнать больше

  .courses-list-loading
    .courses-list-loading__icon
    .courses-list-loading__text
      span Мы активно работаем
      | над новыми<br class="br-sm"> программами обучения


  script.
    $(function(){
      heightAsWidth($('.courses-list-grid-item'));

      // courses list filter
      $('.courses-list__filter-item').click(function () {
        if (!$(this).hasClass('courses-list__filter-item--active')) {
          $('.courses-list__filter-item--active').removeClass('courses-list__filter-item--active');
          $(this).addClass('courses-list__filter-item--active');
          if($(this).data('grid') === 'column') {
            $('.courses-list-grid').addClass('courses-list-grid--column');
          } else {
            $('.courses-list-grid').removeClass('courses-list-grid--column');
          }
          setTimeout(function(){
            var cw = $('.courses-list-grid-item').outerWidth();
            $('.courses-list-grid-item').css({'height': cw + 'px'});
          }, 500);
        }
      });

      // courses list mobile
      $(window).on('resize', function () {
        var window = $(this);
        if (window.width() < 640) {
          $('.courses-list-grid').addClass('courses-list-grid--column');
          $('.courses-list__filter-item--active').removeClass('courses-list__filter-item--active');
          $('.courses-list__filter-item[data-grid="column"]').addClass('courses-list__filter-item--active');
        }
      });
      if ($(window).width() < 640) {
        $('.courses-list-grid').addClass('courses-list-grid--column');
        $('.courses-list__filter-item--active').removeClass('courses-list__filter-item--active');
        $('.courses-list__filter-item[data-grid="column"]').addClass('courses-list__filter-item--active');
      }
    })