.popup-white {
 height: 100%;
 min-height: 100vh;
 background-color: $color-white;
 color: $color-black;
 overflow-y: auto;
 position: relative;
 @include mobile {
  padding: 20px 0;
 }

 &.popup-white--video-fullscreen {

  .popup__close {
   width: 32px;
   height: 32px;
   @include mobile {
    width: 20px;
    height: 20px;
    top: 20px;
    right: 20px;
   }
  }
 }
}

.popup-black {
 height: 100vh;
 min-height: 100vh;
 background-color: $color-black;
 color: $color-black;
 position: relative;
 overflow: auto;
 @include mobile {
  padding: 20px 0;
 }

 .popup__close {
  background: url(../../img/popups/popup-close-white.svg) no-repeat center;
 }
}

.popup__close {
 width: 16px;
 height: 16px;
 background: url(../../img/popups/popup-close.svg) no-repeat center;
 position: absolute;
 top: 67px;
 right: 67px;
 opacity: 0;
 transform: scale(0.7) translateZ(0);
 cursor: pointer;
 z-index: 5;
 @include mobile {
  width: 12px;
  height: 12px;
  top: 20px;
  right: 20px;
 }

 &.popup__close--white {
  background: url(../../img/popups/popup-close-white.svg) no-repeat center;
 }
}

.popup-scrollarea {
 width: 100%;
 height: 100%;
 position: relative;
 overflow: auto;
 z-index: 1000;
}

.popup__video {
 width: 100%;
 height: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
 padding: 100px;
 position: absolute;
 top: 0;
 left: 0;
 @include mobile {
  padding: 20px;
 }

 iframe, video {
  width: 100%;
  height: 100%;
 }

 &.popup__video--fullscreen {
  padding: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  overflow: hidden;

  video, iframe {
   position: absolute;
   top: 50%;
   left: 50%;
   -webkit-transform: translateX(-50%) translateY(-50%);
   transform: translateX(-50%) translateY(-50%);
   min-width: 100%;
   min-height: 100%;
   width: auto;
   height: auto;
   overflow: hidden;
  }
 }
}

.popup-title {
 color: $color-black;
 font-size: 24px;
 font-weight: 700;
 line-height: 40.8px;
 text-transform: uppercase;
 letter-spacing: 6px;
 text-align: center;
 @include tablet {
  font-size: 30px;
  line-height: 48px;
 }
 @include mobile {
  font-size: 22px;
  line-height: 28.8px;
  letter-spacing: 2.44px;
 }
}
.popup-text {
 color: $color-black;
 font-size: 14px;
 font-weight: 700;
 line-height: 24.5px;
 text-transform: uppercase;
 letter-spacing: 1px;
 text-align: center;
 @include tablet {
  font-size: 15px;
 }
 @include mobile {
  font-size: 10px;
  line-height: 15px;
 }
}
.popup-disclaimer {
 color: $color-nobel-07;
 font-size: 14px;
 line-height: 20px;
 text-align: center;
 margin-top: 30px;
 @include mobile {
  margin-top: 10px;
  font-size: 10px;
  line-height: 15px;
 }
}

.popup-exit {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 @include mobile {
  padding: 37px 0;
 }

 .popup-exit__title {
  text-align: center;
  position: relative;
  z-index: 2;

  h1 {
   color: $color-black;
   font-size: 36px;
   font-weight: 700;
   line-height: 51px;
   text-transform: uppercase;
   letter-spacing: 2.4px;
   @include mobile {
    font-size: 22px;
    line-height: 37px;
   }
  }
  h3 {
   color: $color-gray-2;
   font-size: 16px;
   line-height: 23px;
   margin-top: 12px;
   @include laptop-mobile {
    margin-top: 0;
   }
   @include mobile {
    font-size: 12px;
    line-height: 17px;
   }
  }
 }

 .popup-exit__info {
  width: 560px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 132px 0 0 465px;
  padding: 0 0 90px 122px;
  position: relative;
  z-index: 2;
  @include laptop {
   width: 475px;
   margin: 63px 0 0 475px;
   padding: 5px 0 18px 94px;
  }
  @include tablet {
   width: 375px;
   margin: 527px 0 0 0;
   padding: 0;
  }
  @include mobile {
   width: 250px;
   margin: 253px 0 0 0;
   padding: 0;
  }
  &:before {
   content: '';
   width: 927px;
   height: 733px;
   background: url(../../img/popups/popup-exit-book.jpg) no-repeat center / contain;
   position: absolute;
   top: -125px;
   left: -842px;
   z-index: 1;
   @include laptop-tablet {
    width: 728px;
    height: 576px;
   }
   @include laptop {
    top: -66px;
    left: -639px;
   }
   @include tablet {
    top: -565px;
    left: -200px;
   }
   @include mobile {
    width: 320px;
    height: 257px;
    background: url(../../img/popups/popup-exit-book-mobile.jpg) no-repeat center / contain;
    top: -253px;
    left: -35px;
   }
  }

  .popup-exit__info-line {
   height: 100%;
   width: 1px;
   background: $color-dust-gray-02;
   position: absolute;
   top: 0;
   left: 0;
   z-index: 2;
   @include tablet-mobile {
    display: none;
   }
  }

  .popup-exit__info-title {
   color: $color-black;
   font-size: 30px;
   font-weight: 700;
   line-height: 51px;
   text-transform: uppercase;
   letter-spacing: 4.29px;
   text-align: center;
   position: relative;
   z-index: 2;
   @include laptop-tablet {
    font-size: 26px;
    line-height: 39px;
    letter-spacing: 3.71px;
   }
   @include mobile {
    font-size: 16px;
    letter-spacing: 2.29px;
    line-height: 23px;
   }
  }
  .popup-exit__info-text {
   color: $color-black;
   font-size: 16px;
   line-height: 33px;
   margin-top: 50px;
   @include laptop-tablet {
    font-size: 14px;
    line-height: 19.6px;
   }
   @include mobile {
    font-size: 11px;
    line-height: 14.85px;
    text-align: justify;
    margin-top: 27px;
    br {display: none;}
   }
  }
  .popup-exit__info-subtitle {
   color: $color-black;
   font-size: 16px;
   font-weight: 700;
   line-height: 20px;
   text-transform: uppercase;
   letter-spacing: 2px;
   text-align: center;
   margin-top: 64px;
   @include laptop-tablet {
    font-size: 14px;
    letter-spacing: 1.75px;
    margin-top: 50px;
   }
   @include mobile {
    font-size: 11px;
    line-height: 16.5px;
    letter-spacing: 1.38px;
    margin-top: 31px;
   }
  }

  .popup-exit__info-form {
   width: 304px;
   margin-top: 26px;
   @include laptop {
    margin-top: 35px;
   }
   @include tablet {
    margin-top: 50px;
   }
   @include mobile {
    width: 250px;
    margin-top: 14px;
   }
  }
  .popup-exit__info-input {
   width: 100%;
  }
  .popup-exit__info-submit {
   width: 100%;
   margin-top: 40px;
   @include laptop-tablet {
    margin-top: 30px;
   }
   @include mobile {
    margin-top: 20px;
   }
  }
 }

 .popup-exit__footer {
  width: 1232px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 80px;
  position: relative;
  z-index: 2;
  @include laptop {
   width: 1020px;
   margin-top: 102px;
  }
  @include tablet {
   width: 650px;
   align-items: flex-end;
  }
  @include mobile {
   width: 250px;
   flex-wrap: wrap;
   margin-top: 55px;
  }

  .popup-exit__footer-text {
   color: $color-black;
   font-size: 14px;
   font-weight: 700;
   line-height: 20px;
   text-transform: uppercase;
   letter-spacing: 2.8px;
   padding-top: 2px;
   @include laptop-tablet {
    font-size: 12px;
    letter-spacing: 2.4px;
   }
   @include mobile {
    font-size: 10px;
    letter-spacing: 0.83px;
   }
  }
  .popup-exit__footer-text-sm {
   color: $color-gray-2;
   font-size: 14px;
   line-height: 24px;
  }

  .popup-exit__footer-text-1{}
  .popup-exit__footer-text-2{
   display: flex;
   @include tablet {
    flex-direction: column;
   }

   .popup-exit__footer-text-sm {
    margin-left: 20px;
    @include tablet {
     margin: 0;
    }
   }
  }
  .popup-exit__footer-text-3{
   @include tablet {
    display: none;
   }
  }

  .popup-exit__footer-socials {
   display: flex;
   align-items: center;
   @include tablet {
    margin-bottom: 10px;
   }
   @include mobile {
    width: 100%;
    justify-content: center;
    margin-top: 26px;
   }

   .popup-exit__footer-social {
    background: no-repeat center / contain;
    margin-right: 45px;
    &:last-child {
     margin-right: 0;
    }
    &.popup-exit__footer-social--fb {
     width: 8px;
     height: 18px;
     background-image: url(../../img/icons/icon-fb-black.png);
    }
    &.popup-exit__footer-social--in {
     width: 16px;
     height: 16px;
     background-image: url(../../img/icons/icon-in-black.png);
    }

    > a {
     display: block;
     height: 100%;
    }
   }
  }
 }
}


.register-step-1 {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;

 .register-step-1__title {
  @include mobile {
   width: 300px;
  }

  .register-step-1__title-subtitle {
   @include mobile{
    font-size: 12px;
    line-height: 17px;
    letter-spacing: normal;
   }
  }
 }

 .register-step-1__select {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 49px;
  @include laptop {
   margin-top: 30px;
  }
  @include tablet {
   margin-top: 38px;
  }
  @include mobile {
   display: none;
  }

  p {
   color: $color-black;
   font-size: 14px;
   font-weight: 700;
   line-height: 20px;
   text-transform: uppercase;
   letter-spacing: 2px;
  }
  select {
   height: 20px;
   width: 120px;
   background: transparent;
   border: none;
   color: $color-silver-chalice-2;
   font-size: 14px;
   font-weight: 700;
   line-height: 16px;
   text-transform: uppercase;
   letter-spacing: 2px;
   padding: 0 22px 4px 0;
  }
 }

 .register-step-1__groups {
  margin-top: 121px;
  @include laptop {
   margin-top: 92px;
  }
  @include tablet {
   margin-top: 150px;
  }
  @include mobile {
   width: 270px;
   margin-top: 56px;
  }
 }

 .register-step-1__subtitle {
  display: none;
  color: $color-black;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  margin-bottom: 50px;
  @include tablet-mobile {
   display: block;
  }
  @include mobile {
   font-size: 10px;
   line-height: 15px;
   letter-spacing: 1px;
  }
 }

 .register-step-1__input {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 45px;
  @include mobile {
   justify-content: flex-end;
  }
  &:last-child {
   margin-bottom: 0;
  }

  label, p {
   color: $color-black;
   font-size: 14px;
   font-weight: 700;
   line-height: 20px;
   text-transform: uppercase;
   letter-spacing: 2px;
   padding-bottom: 3px;
   @include mobile {
    font-size: 10px;
    line-height: 15px;
    letter-spacing: 1px;
    padding: 1px 0 4px;
   }

   span {
    @include tablet-mobile {
     display: none;
    }
   }
  }
  input, textarea {
   height: auto;
   border: none;
   border-bottom: 2px solid $color-black;
   font-family: Circe, sans-serif;
   outline: none;
   color: $color-black;
   font-size: 15px;
   line-height: 15px;
   text-align: center;
   margin: 0 11px 0 22px;
   padding: 3px 0 2px;
   @include mobile {
    font-size: 12px;
    line-height: 12px;
    padding: 4px 0 4px;
    margin: 0 9px 0 11px;
   }
  }
  textarea {
   width: 100%;
   //min-height: 96px;
   resize: none;
   text-align: left;
   margin: 0;
   @include mobile {
    height: 28px;
    text-align: center;
   }
  }
  &.register-step-1__input--name {

   input {
    width: 375px;
    @include mobile {
     width: 170px;
    }
   }
  }
  &.register-step-1__input--phone {

   label {
    @include mobile {
     width: 100%;
     margin-bottom: 13px;
    }
   }

   input {
    width: 255px;
    @include tablet {
     width: 190px;
    }
    @include mobile {
     width: 170px;
    }
   }
  }
  &.register-step-1__input--email {

   label {
    @include tablet-mobile {
     width: 100%;
    }
    @include tablet {
     text-align: center;
     margin-bottom: 40px;
    }
    @include mobile {
     margin-bottom: 13px;
    }
   }

   input {
    width: 210px;
    @include tablet {
     width: 270px;
    }
    @include mobile {
     width: 170px;
    }
   }
  }
 }

 .register-step-1__submit {
  margin: 120px auto 0;
  @include laptop {
   margin-top: 91px;
  }
  @include tablet {
   margin-top: 150px;
  }
  @include mobile {
   background: $color-black;
   color: $color-white;
   margin-top: 45px;

   svg path {
    fill: $color-white;
   }
  }
 }
}

.register-step-2 {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 background: url(../../img/popups/register-step-2.png) no-repeat center , $color-white;
 @include tablet-mobile {
  background: url(../../img/popups/register-step-2-tablet.png) no-repeat right bottom , $color-white;
 }

 .register-step-2__title {

 }

 .register-step-2__info {
  width: 525px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 80px;
  @include tablet-mobile {
   flex-direction: column;
   justify-content: flex-start;
  }
  @include tablet {
   width: 375px;
   margin-top: 100px;
  }
  @include mobile {
   width: 200px;
   margin-top: 46px;
  }

  .register-step-2__info-title {
   color: $color-nobel;
   font-size: 13px;
   line-height: 22px;
   @include tablet {
    font-size: 17px;
    line-height: 22px;
   }
   @include mobile {
    font-size: 12px;
    line-height: 17px;
   }
  }
  .register-step-2__info-list {
   @include tablet {
    margin-top: 22px;
   }
   @include mobile {
    margin-top: 18px;
   }

   li {
    color: $color-mine-shaft;
    font-size: 13px;
    font-weight: 700;
    line-height: 22px;
    @include tablet {
     font-size: 17px;
     line-height: 25.5px;
    }
    @include mobile {
     font-size: 12px;
     line-height: 17px;
    }
   }
  }
 }

 .register-step-2__subtitle {
  margin-top: 90px;
  @include tablet {
   margin-top: 100px;
  }
  @include mobile {
   margin-top: 55px;
  }
 }

 .register-step-2__btn {
  margin-top: 30px;
  @include tablet {
   margin-top: 50px;
  }
  @include mobile {
   margin-top: 22px;
  }
 }

 .register-step-2__disclaimer {
  color: $color-nobel;
  font-size: 13px;
  line-height: 22px;
  text-align: center;
  margin-top: 30px;
  @include tablet {
   font-size: 15px;
   margin-top: 50px;
  }
  @include mobile {
   margin-top: 22px;
  }
 }
}

.register-step-3 {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 background: url(../../img/popups/register-step-3-curve.svg) no-repeat center top 55%, $color-white;
 @include tablet-mobile {
  background: url(../../img/popups/register-step-3-curve-tablet.svg) no-repeat center top 55%, $color-white;
 }

 .register-step-3__circles {
  width: 720px;
  height: 720px;
  position: absolute;
  top: calc(50% - 360px);
  left: calc(50% - 360px);
  @include tablet {
   width: 1144px;
   height: 1144px;
   top: calc(50% - 572px);
   left: calc(50% - 572px);
  }
  @include mobile {
   width: 432px;
   height: 432px;
   top: calc(50% - 216px);
   left: calc(50% - 216px);
  }

  .register-step-3__circle {
   border: 1px solid $color-mine-shaft-5-007;

   &.register-step-3__circle--1 {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
   }
   &.register-step-3__circle--2 {
    width: 580px;
    height: 580px;
    top: calc(50% - 290px);
    left: calc(50% - 290px);
    @include tablet {
     width: 922px;
     height: 922px;
     top: calc(50% - 461px);
     left: calc(50% - 461px);
    }
    @include mobile {
     width: 348px;
     height: 348px;
     top: calc(50% - 174px);
     left: calc(50% - 174px);
    }
   }
   &.register-step-3__circle--3 {
    width: 450px;
    height: 450px;
    top: calc(50% - 225px);
    left: calc(50% - 225px);
    @include tablet {
     width: 714px;
     height: 714px;
     top: calc(50% - 357px);
     left: calc(50% - 357px);
    }
    @include mobile {
     width: 270px;
     height: 270px;
     top: calc(50% - 135px);
     left: calc(50% - 135px);
    }
   }
  }
 }

 .register-step-3__title {

 }
 .register-step-3__subtitle {
  margin-top: 89px;
  @include tablet {
   margin-top: 71px;
  }
  @include mobile {
   font-size: 13px;
   line-height: 20.8px;
   letter-spacing: 1px;
   margin-top: 56px;
  }
 }
 .register-step-3__text {
  font-weight: 400;
  text-transform: none;
  @include tablet-mobile {
   color: $color-silver-chalice-2;
  }
  @include tablet {
   margin-top: 10px;
  }
  @include mobile {
   font-size: 12px;
   line-height: 17px;
   margin-top: 27px;
   letter-spacing: normal;
  }

  b {
   font-weight: 700;
   @include tablet-mobile {
    color: $color-black;
   }
   @include mobile {
    font-size: 15px;
    line-height: 22.5px;
    margin-top: 5px;
   }
  }
 }
}

.register-step-1.help-popup {

 .popup-title {
  @include mobile {
   font-size: 17px;
   line-height: 21px;
   letter-spacing: 1.5px;
  }
 }

 .register-step-1__groups {
  margin-top: 150px;
  @include mobile {
   width: 100%;
   margin-top: 30px;
  }
 }

 .register-step-1__input {
  @include mobile {
   margin-bottom: 30px;
  }

  input {
   @include mobile {
    width: 100%;
    margin: 0;
   }
  }
  label {
   @include mobile {
    width: 100%;
    text-align: center;
   }
  }
  p {
   @include mobile {
    display: none;
   }
  }

  &.register-step-1__input--name input {
   width: 275px;
   @include mobile {
    width: 100%;
   }
  }
  &.register-step-1__input--phone input {
   width: 175px;
   @include mobile {
    width: 100%;
   }
  }
  &.register-step-1__input--email {

   input {
    width: 275px;
    @include mobile {
     width: 100%;
    }
   }
   label {
    @include tablet {
     width: auto;
     margin-bottom: 0;
    }
   }
  }
 }

 .register-step-1__inputs {
  display: flex;
  justify-content: space-between;
  @include tablet-mobile {
   flex-direction: column;
  }

  .register-step-1__input {
   margin: 0;
   @include tablet {
    margin-bottom: 45px;
   }
   @include mobile {
    margin-bottom: 30px;
   }
   &:last-child {
    margin-bottom: 0;
   }
  }
 }

 #help-form {
  width: 1080px;
  @include tablet {
   width: 600px;
  }
  @include mobile {
   width: 300px;
  }
 }
}

.popup-pricelist {

 .popup__close {
  position: fixed;
  @include mobile {
   top: 20px;
   right: 10px;
  }
 }
}