section#sp-foundation.section-layout.section.sp-foundation.sp-foundation--adaptation
  div.page-title
    .page-title__logo
    h2 Расширение спектра услуг
    h1 мастера-парикмахера

  ul.sp-foundation-list
    li.sp-foundation-list__item
      div.sp-foundation-list__item-title обучение<br> тонкостям
        .sp-foundation-list__item-dots
      p.sp-foundation-list__item-text работы со сложной структурой<br> волос
    li.sp-foundation-list__item
      div.sp-foundation-list__item-title предвидение,
        .sp-foundation-list__item-dots
      p.sp-foundation-list__item-text как поведут себя завитки<br> после сушки
    li.sp-foundation-list__item
      div.sp-foundation-list__item-title особенные
        .sp-foundation-list__item-dots
      p.sp-foundation-list__item-text  техники стрижки,<br> комбинированные формы
    li.sp-foundation-list__item
      div.sp-foundation-list__item-title практика<br> работы
        .sp-foundation-list__item-dots
      p.sp-foundation-list__item-text с вьющимися волосами
