section#sp-foundation.section-layout.sp-foundation
  div.page-title
    .page-title__logo
    h1 Фундамент<br> успешной профессии

  ul.sp-foundation-list
    li.sp-foundation-list__item
      div.sp-foundation-list__item-title Все женские
        .sp-foundation-list__item-dots
      p.sp-foundation-list__item-text и мужские<br> базовые стрижки
    li.sp-foundation-list__item
      div.sp-foundation-list__item-title основы<br> колористики
        .sp-foundation-list__item-dots
      p.sp-foundation-list__item-text укладки, вечерние<br> прически и биозавивки
    li.sp-foundation-list__item
      div.sp-foundation-list__item-title педагог<br> сопровождает
        .sp-foundation-list__item-dots
      p.sp-foundation-list__item-text Вас на всех этапах<br> обучения
    li.sp-foundation-list__item
      div.sp-foundation-list__item-title от адаптации<br> модели
        .sp-foundation-list__item-dots
      p.sp-foundation-list__item-text до аналитики<br> проделанной работы
