section#masters.section-layout.section.sp-masters
  div.page-title
    .page-title__logo
    h2 Курс «Базовый. Киев»
    h1 подходит<br> для мастеров:

  ul.sp-masters-list
    li.sp-masters-list__item
      p.sp-masters-list__item-text
        span выбирающих
        | профессию
      .sp-masters-list__item-dot
    li.sp-masters-list__item
      p.sp-masters-list__item-text
        span начинающих,
        | без опыта
      .sp-masters-list__item-dot
    li.sp-masters-list__item
      p.sp-masters-list__item-text
        span практикующих
        | менее 2-х лет
      .sp-masters-list__item-dot
    li.sp-masters-list__item
      p.sp-masters-list__item-text
        span повышающих
        | уверенность<br>
        | в своём мастерстве
      .sp-masters-list__item-dot