li.sp-program-info__item.sp-program-info__item--1.sp-program-info__item--active
  .vertical-line.sp-program-info__item-line
  p.sp-program-info__item-month
    span 01
    | этап
  h1.sp-program-info__item-title Инструменты.<br> Фундаментальные формы.
  p.sp-program-info__item-text Механика парикмахерского<br> искусства.<br> Теория волос.<br> Трихология
li.sp-program-info__item.sp-program-info__item--2
  .vertical-line.sp-program-info__item-line
  p.sp-program-info__item-month
    span 02
    | этап
  h1.sp-program-info__item-title Мужские стрижки
  p.sp-program-info__item-text
    | удлиненная форма<br>
    | градуированная форма<br>
    | равномерная форма<br>
    | борода<br>
    | отработка на манекенах
li.sp-program-info__item.sp-program-info__item--3
  .vertical-line.sp-program-info__item-line
  p.sp-program-info__item-month
    span 03
    | этап
  h1.sp-program-info__item-title Мужские стрижки
  p.sp-program-info__item-text
    | удлиненная форма<br>
    | градуированная форма<br>
    | равномерная форма<br>
    | тушевка<br>
    | работа машинкой
li.sp-program-info__item.sp-program-info__item--4
  .vertical-line.sp-program-info__item-line
  p.sp-program-info__item-month
    span 04
    | этап
  h1.sp-program-info__item-title Женские стрижки
  p.sp-program-info__item-text
    | Массивные формы<br>
    | все виды укладок и трансформации формы<br>
    | умение работать с текстурой<br>
    | отработка на манекенах
li.sp-program-info__item.sp-program-info__item--5
  .vertical-line.sp-program-info__item-line
  p.sp-program-info__item-month
    span 05
    | этап
  h1.sp-program-info__item-title Женские стрижки
  p.sp-program-info__item-text
    | Градуированные формы:<br>
    | фронтальная градация<br>
    | градация на 2 длине<br>
    | круглая градация<br>
    | короткая градуированная форма<br>
    | градуированный боб<br>
    | Работа со слоями:<br>
    | слои с перемещением<br>
    | слои на длинных волосах
li.sp-program-info__item.sp-program-info__item--6
  .vertical-line.sp-program-info__item-line
  p.sp-program-info__item-month
    span 06
    | этап
  h1.sp-program-info__item-title Женские стрижки
  p.sp-program-info__item-text
    | Работа со слоями:<br>
    | слои на средней длине<br>
    | слои на удлинение<br>
    | слои с перемещением<br>
    | Комбинированные формы<br>
    | дисконекция
li.sp-program-info__item.sp-program-info__item--7
  .vertical-line.sp-program-info__item-line
  p.sp-program-info__item-month
    span 07
    | этап
  h1.sp-program-info__item-title Колористика
  p.sp-program-info__item-text
    | Теория: Строение волос<br>
    | виды красителей<br>
    | перманент<br>
    | полуперманент<br>
    | Международный цветовой код<br>
    | Решение задач<br>
    | обесцвечивающие вещества<br>
    | Седина
li.sp-program-info__item.sp-program-info__item--8
  .vertical-line.sp-program-info__item-line
  p.sp-program-info__item-month
    span 08
    | этап
  h1.sp-program-info__item-title Колористика
  p.sp-program-info__item-text
    | теория и практика:<br>
    | первичное окрашивание<br>
    | вторичное окрашивание нейтрализация<br>
    | блондирование и тонирование<br>
    | Техники:<br>
    | растяжки<br>
    | слайсы<br>
    | мелирование<br>
    | комбинированные техники<br>
    | Окрашивание седины
li.sp-program-info__item.sp-program-info__item--9
  .vertical-line.sp-program-info__item-line
  p.sp-program-info__item-month
    span 09
    | этап
  h1.sp-program-info__item-title Салонная практика
  p.sp-program-info__item-text
    | Творческие дни:<br>
    | самостоятельная работа под контролем педагога
