li.sp-program-info__item.sp-program-info__item--1.sp-program-info__item--active
  .vertical-line.sp-program-info__item-line
  p.sp-program-info__item-month
    span 01
    | месяц
  h1.sp-program-info__item-title Инструменты.<br> Фундаментальные формы.
  p.sp-program-info__item-text Механика парикмахерского<br> искусства.<br> Теория волос.<br> Трихология
li.sp-program-info__item.sp-program-info__item--2
  .vertical-line.sp-program-info__item-line
  p.sp-program-info__item-month
    span 02
    | месяц
  h1.sp-program-info__item-title Инструменты.<br> Фундаментальные формы.
  p.sp-program-info__item-text Механика парикмахерского<br> искусства.<br> Теория волос.<br> Трихология
li.sp-program-info__item.sp-program-info__item--3
  .vertical-line.sp-program-info__item-line
  p.sp-program-info__item-month
    span 03
    | месяц
  h1.sp-program-info__item-title Инструменты.<br> Фундаментальные формы.
  p.sp-program-info__item-text Механика парикмахерского<br> искусства.<br> Теория волос.<br> Трихология
li.sp-program-info__item.sp-program-info__item--4
  .vertical-line.sp-program-info__item-line
  p.sp-program-info__item-month
    span 04
    | месяц
  h1.sp-program-info__item-title Инструменты.<br> Фундаментальные формы.
  p.sp-program-info__item-text Механика парикмахерского<br> искусства.<br> Теория волос.<br> Трихология
li.sp-program-info__item.sp-program-info__item--5
  .vertical-line.sp-program-info__item-line
  p.sp-program-info__item-month
    span 05
    | месяц
  h1.sp-program-info__item-title Инструменты.<br> Фундаментальные формы.
  p.sp-program-info__item-text Механика парикмахерского<br> искусства.<br> Теория волос.<br> Трихология
li.sp-program-info__item.sp-program-info__item--6
  .vertical-line.sp-program-info__item-line
  p.sp-program-info__item-month
    span 06
    | месяц
  h1.sp-program-info__item-title Инструменты.<br> Фундаментальные формы.
  p.sp-program-info__item-text Механика парикмахерского<br> искусства.<br> Теория волос.<br> Трихология
li.sp-program-info__item.sp-program-info__item--7
  .vertical-line.sp-program-info__item-line
  p.sp-program-info__item-month
    span 07
    | месяц
  h1.sp-program-info__item-title Инструменты.<br> Фундаментальные формы.
  p.sp-program-info__item-text Механика парикмахерского<br> искусства.<br> Теория волос.<br> Трихология
li.sp-program-info__item.sp-program-info__item--8
  .vertical-line.sp-program-info__item-line
  p.sp-program-info__item-month
    span 08
    | месяц
  h1.sp-program-info__item-title Инструменты.<br> Фундаментальные формы.
  p.sp-program-info__item-text Механика парикмахерского<br> искусства.<br> Теория волос.<br> Трихология
li.sp-program-info__item.sp-program-info__item--9
  .vertical-line.sp-program-info__item-line
  p.sp-program-info__item-month
    span 09
    | месяц
  h1.sp-program-info__item-title Инструменты.<br> Фундаментальные формы.
  p.sp-program-info__item-text Механика парикмахерского<br> искусства.<br> Теория волос.<br> Трихология
