section#format.section-layout.section.sp-format.sp-format--qualification
  div.page-title
    .page-title__logo
    h1 формат обучения
    h2 на курсе  «Повышение квалификации»

  .sp-format-block-layout
    div.sp-format-block
      div.sp-format-block__left
        div.sp-format-block__title-block
          .sp-format-block__title-number 12
          h1.sp-format-block__title занятий<br> практики с экспертами
        ul.sp-format-block__left-list-2
          li.sp-format-block__left-list-2-item
            h3 24
            p часа теории
          li.sp-format-block__left-list-2-item
            h3 72
            p часа практики
        ul.sp-format-block__left-list-3
          li.sp-format-block__left-list-3-item Лекции
          li.sp-format-block__left-list-3-item дискуссии
          li.sp-format-block__left-list-3-item личные консультации от педагогов<br> и основателей Академии

      div.sp-format-block__right
        div.sp-format-block__title-block
          h1.sp-format-block__title занятия проходят<br> с 10:00 до 17:00
        .sp-format-block__right-lists
          ul.sp-format-block__info-list
            li.sp-format-block__info-list-item
              h3
                span 10:00 - 12:00<br>
                | теория с демонстрацией:
            li.sp-format-block__info-list-item
              p Вводная теоретическая лекция.<br> Презентация форм.
            li.sp-format-block__info-list-item
              p Практическая показательная работа.
            li.sp-format-block__info-list-item
              p Разбор итогов показательной работы.
          ul.sp-format-block__info-list
            li.sp-format-block__info-list-item
              h3
                span 13:00 - 17:00<br>
                | отработка, практика:
            li.sp-format-block__info-list-item
              p Адаптация с преподавателями<br> перед практическими занятиями.
            li.sp-format-block__info-list-item
              p Практическая работа учеников.<br> Выполняется на живых моделях.
        p.sp-format-block__right-disclaimer-2 <span>Для обучения мы предоставим: </span> моделей<br> для создания образов

  .sp-format-register
    .sp-format-register__price
      | стоимость курса:<br>
      | 15 000 грн
    button(onclick="registerStep1('qualificationKharkiv','Повышение Квалификации', 'Повышение Квалификации', 'kharkiv', '02.04.2019', '43sP0')").btn.sp-format-register__link записаться на курс