section#format.section-layout.section.sp-format.sp-format--qualification.sp-format--adaptation.sp-format--man-innovations
  div.page-title
    .page-title__logo
    h1 формат обучения
    h2 на треке Long hair

  .sp-format-block-layout
    div.sp-format-block
      div.sp-format-block__left
        div.sp-format-block__title-block
          .sp-format-block__title-number 3
          h1.sp-format-block__title дня<br> интенсивной работы
        div.sp-format-block__left-lists
          ul.sp-format-block__left-list-4
            li.sp-format-block__left-list-4-item Демонстрация
            li.sp-format-block__left-list-4-item дискуссия со студентами
            li.sp-format-block__left-list-4-item отработка в группах

      div.sp-format-block__right
        div.sp-format-block__title-block
          h1.sp-format-block__title занятия проходят<br class="br-lg--sm"> с 11:00 до 18:00
        ul.sp-format-block__right-list-3
          li.sp-format-block__right-list-3-item <span>11:00 - 13:00</span> теория с демонстрацией
          li.sp-format-block__right-list-3-item <span>14:00 - 18:00</span> практика с применением<br> технических и теоретических подходов

    .sp-format-disclaimer
      h5 +
      p Для обучения мы предоставим:
      h3
        | -&nbsp;&nbsp; моделей для создания образов<br>
        | -&nbsp;&nbsp; препараты для ухода и стайлинга


  .sp-format-register
    .sp-format-register__price
      | стоимость трека:<br>
      | 6 500 грн
    button(onclick="registerStep1('longKharkiv','Long hair', 'трек «Long hair»', 'kharkiv', '14.05.2018', '43sNH')").btn.sp-format-register__link записаться на трек