// Left navbar-header
.navbar-default.sidebar(role='navigation')
	.sidebar-nav.navbar-collapse.slimscrollsidebar
		ul#side-menu.nav
			li
				a.waves-effect(href='javascript:void(0)')
					i.ti-book
					span.hide-menu
						| Страницы
						span.fa.arrow
				ul.nav.nav-second-level
					li
						a(href='/admin/pages/homepage') Домашняя страница
					li
						a(href='/admin/pages/philosophy') Философия
					li
						a(href='/admin/pages/academy') Академия
					li
						a(href='/admin/pages/contacts') Контакты
					li
						a(href='/admin/pages/cinema') Cinema

			li
				a.waves-effect(href='javascript:void(0)')
					i.fa.fa-scissors
					span.hide-menu
						| Салоны
						span.fa.arrow
				ul.nav.nav-second-level
					li
						a(href='/admin/salons/page') Общая страница
					li
						a(href='/admin/salons') Список салонов
					li
						a(href='/admin/salons/new') Новый салон

			li
				a.waves-effect(href="javascript:void(0)")
					i.fa.fa-graduation-cap
					span.hide-menu
						| Курсы
						span.fa.arrow
				ul.nav.nav-second-level
					li
						a.waves-effect(href="javascript:void(0)")
							| Общие страницы курсов
							span.fa.arrow
						ul.nav.nav-third-level
							li
								a(href="/admin/courses/page/beginner") Beginner
							li
								a(href="/admin/courses/page/pro") Pro
					li
						a(href="/admin/courses") Страницы курсов
					li
						a(href="/admin/courses/new") Добавить курс


			li
				a.waves-effect(href='javascript:void(0)')
					i.fa.fa-users
					span.hide-menu
						| Администраторы
						span.fa.arrow
				ul.nav.nav-second-level
					li
						a(href='/admin/admins') Все администраторы
					li
						a(href='/admin/admins/new') Добавить

			li
				a.waves-effect(href='/logout')
					i.fa.fa-sign-out(data-icon='g')
					span.hide-menu
						| Выход
// Left navbar-header end
