section#action.section-layout.section.sp-action.sp-action--adaptation
  h1.sp-action__title
    | Технологии<br class="br-md-sm"> без понимания подхода -<br>
    span не результативны

  .sp-action-info
    p.sp-action-info__text Мы учим на личных примерах успеха
    //.sp-action-info__video-link
    //  .sp-action-info__video-link-icon
    //  p.sp-action-info__video-link-text смотри, как проходит<br> обучение

  .sp-action-box
    .sp-action-box__inner
      .sp-action-box__text приходите.
        .dots
      .sp-action-box__text учитесь.
        .dots
      .sp-action-box__text создавайте.
        .dots
    .vertical-line.sp-action-box__line.sp-action-box__line--1
    .vertical-line.sp-action-box__line.sp-action-box__line--2

  button(onclick="registerStep1('adaptationKiev','трек Адаптация', 'трек «Адаптация»', 'kiev', '29-30.05.2018', '43skb')").btn.sp-action__link записаться на трек