section#about.section-layout.section.sp-about.sp-about--adaptation
  //include ../../../partials/main-nav-links-1.jade
  include ../../../partials/link-back.jade
  include ../../../partials/main-nav-socials.jade
  include ../../../partials/main-nav-lang.jade
  include ../../../partials/main-nav-toggle.jade
  include ../../../partials/courses-link.jade

  .logo

  .sp-about-logo
    .sp-about-logo__image
    .circle.sp-about-logo__circle-1
    .circle.sp-about-logo__circle-2
    .circle.sp-about-logo__circle-3
    .circle.sp-about-logo__circle-4

  div.sp-about-block
    p.sp-about-block__duration 2 дня<br class="br-lg-md"> 11:00 - 17:00
    div.sp-about-block__main
      .logo.sp-about-block__logo
      h1.sp-about-block__main-title
        span трек
        | Адаптация
      h2.sp-about-block__main-subtitle Пошаговый план работы с клиентом<br> в салоне: реальный опыт и успех креаторов<br> ERTEQOOB
      button(onclick="registerStep1('adaptationKiev','трек Адаптация', 'трек «Адаптация»', 'kiev', '29-30.05.2018', '43skb')").btn.sp-about-block__main-link записаться на трек
    div.sp-about-block__info
      ul.switcher
        li.switcher__btn.switcher__btn--active
          a(href="/courses/pro/adaptation/kiev") киев
        li.switcher__btn
          a(href="/courses/pro/adaptation/kharkiv") харьков
      p.sp-about-block__info-date 29-30.05.2018
      p.sp-about-block__info-seats <span>Места: 7</span> из 10

  .scroll-down.link-smooth(href="#sp-foundation")
    p.scroll-down__text вниз
    .scroll-down__btn
    .scroll-down__dot.scroll-down__dot--1
    .scroll-down__dot.scroll-down__dot--2
    .scroll-down__dot.scroll-down__dot--3