section#sp-foundation.section-layout.sp-foundation.sp-foundation--adaptation
  div.page-title
    .page-title__logo
    h2 Полное обновление
    h1 работы мастера<br> в салоне


  ul.sp-foundation-list
    li.sp-foundation-list__item
      div.sp-foundation-list__item-title изучение<br> технологий,
        .sp-foundation-list__item-dots
      p.sp-foundation-list__item-text которые легко применять<br> в салонной практике
    li.sp-foundation-list__item
      div.sp-foundation-list__item-title создание
        .sp-foundation-list__item-dots
      p.sp-foundation-list__item-text удобства в ежедневном<br> ношении стрижки
    li.sp-foundation-list__item
      div.sp-foundation-list__item-title умение
        .sp-foundation-list__item-dots
      p.sp-foundation-list__item-text мягко соединять текстуры<br> и линии
    li.sp-foundation-list__item
      div.sp-foundation-list__item-title шанс<br> приобрести
        .sp-foundation-list__item-dots
      p.sp-foundation-list__item-text новых клиентов<br> и вдохновить постоянных

