section.section-layout.section.sp-masters.sp-masters--bg-2.sp-masters--man-innovations
  div.page-title
    .page-title__logo
    h2 трек salon innovations
    h1 подходит для<br> мастеров:

  ul.sp-masters-list.sp-masters-list--big-items
    li.sp-masters-list__item
      p.sp-masters-list__item-text
        span Практикующих
        | не менее 2-х лет
      .sp-masters-list__item-dot
    li.sp-masters-list__item
      p.sp-masters-list__item-text
        span
          | начинающих
        | после прохождения<br>
        | Базового курса
      .sp-masters-list__item-dot