#collections {

 .link-back, .intro-logo, .intro-logo__circle--3, .intro-logo__circle--2, .intro-logo__circle--1, .intro-logo__img, .register-link, .main-nav.main-nav--socials, .main-nav.main-nav--lang, &.main-layout > .main-nav-toggle {
  opacity: 1;
  visibility: visible;
 }
 .intro-logo__circle--1 {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
 }
 .intro-logo__circle--2 {
  width: 81%;
  height: 81%;
  top: 9.5%;
  left: 9.5%;
 }
}

.collections-page-title {
 width: 100%;
 color: $color-white;
 font-size: 46px;
 font-weight: 700;
 letter-spacing: 10.66px;
 line-height: 48px;
 text-transform: uppercase;
 text-align: center;
 position: absolute;
 top: calc(50% - 24px);
 left: 0;
 //opacity: 0;
 z-index: 2;
 @include laptop-tablet {
  font-size: 36px;
  letter-spacing: 8.34px;
 }
 @include mobile {
  font-size: 24px;
  letter-spacing: 3.06px;
  top: calc(50% - 59px);
 }
}

.intro-logo.intro-logo__collections {
 z-index: 2;
 @include laptop-tablet {
  width: 496px;
  height: 496px;
  top: calc(50% - 248px);
  left: calc(50% - 248px);
 }
 @include mobile {
  width: 274px;
  height: 274px;
  top: calc(50% - 172px);
  left: calc(50% - 137px);
 }

 .intro-logo__img {
  width: 170px;
  height: 170px;
  background: url(../../img/logo-transparent.svg) no-repeat center / auto 100%;
  top: calc(50% - 85px);
  left: calc(50% - 85px);
  @include laptop-tablet {
   width: 126px;
   height: 126px;
   top: calc(50% - 63px);
   left: calc(50% - 63px);
  }
  @include mobile {
   width: 100px;
   height: 100px;
   top: calc(50% - 50px);
   left: calc(50% - 50px);
  }
 }
}

.collections-layout {
 height: 100%;
 @extend .diagonal-right-black-bg;

 .collections-layout__bg {
  display: none;
  height: 100%;
  width: 100%;
  background: url(../../img/client/collections/collections-bg.jpg) no-repeat center / cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transform: scale(1.5);
  opacity: 0;

  &.collections-layout__bg--active {
   display: block;
  }
 }
}

.collections-right {
 display: none;
 flex-direction: column;
 height: 100%;
 padding: 21% 8% 0 75%;
 position: relative;
 z-index: 3;
 @include tablet-mobile {
  justify-content: flex-end;
  align-items: center;
  padding: 0 47px 125px;
 }
 @include tablet {
  padding: 0 47px 125px;
 }
 @include mobile {
  padding: 0 20px 35px;
 }

 &.collections-right--active {
  display: flex;
 }

 .collections-info {
  position: relative;

  .collections-info__dots {
   width: 286px;
   height: 125px;
   background: url(../../img/client/collections/collections-dots.png) no-repeat center / auto 100%;
   position: absolute;
   top: -47px;
   left: -20px;
   opacity: 0;
   transform: scale(0.5) translateZ(0);
   @include mobile {
    width: 167px;
    height: 75px;
    top: -34px;
    left: -48px;
   }
  }

  .collections-info__header {
   display: flex;

   .collections-info__number {
    color: $color-dove-gray-2;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 2.66px;
    line-height: 31.19px;
    text-transform: uppercase;
    margin-right: 22px;
    opacity: 0;
    position: relative;
    right: -30px;
    @include tablet {
     margin-right: 9px;
    }
    @include mobile {
     font-size: 9px;
     letter-spacing: 1.6px;
     line-height: 19px;
     margin-right: 5px;
    }
   }
   .collections-info__title {
    color: $color-white;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 7.43px;
    line-height: 48px;
    text-transform: uppercase;
    transform: scale(0.85) translateZ(0);
    opacity: 0;
    position: relative;
    right: -50px;
    @include laptop-tablet {
     font-size: 24px;
     letter-spacing: 5.57px;
     line-height: 40px;
    }
    @include mobile {
     font-size: 14px;
     line-height: 24px;
     letter-spacing: 2px;
    }
   }
  }

  .collections-info__text {
   color: $color-white;
   font-size: 15px;
   font-weight: 700;
   letter-spacing: 2.66px;
   line-height: 24px;
   text-transform: uppercase;
   margin-top: 60px;
   padding-bottom: 40px;
   transform: scale(0.85) translateZ(0);
   position: relative;
   right: -50px;
   opacity: 0;
   @include laptop-tablet {
    font-size: 12px;
    letter-spacing: 2.13px;
    line-height: 22px;
    margin-top: 31px;
    padding-bottom: 35px;
   }
   @include tablet-mobile {
    display: none;
   }
  }

  .collections-info__text-line-layout {
   width: 24px;
   height: 3px;
   position: absolute;
   bottom: 69px;
   left: 0;
   overflow: hidden;
   @include laptop {
    bottom: 62px;
   }
   @include tablet-mobile {
    bottom: 0;
    left: calc(50% - 12px);
   }
   @include mobile {
    width: 14px;
    height: 1px;
    left: calc(50% - 7px);
   }

   .collections-info__text-line {
    width: 100%;
    height: 100%;
    background: $color-white-03;
    position: absolute;
    top: 0;
    right: 100%;
   }
  }

  .collections-info__date {
   color: $color-dove-gray-3;
   font-size: 17px;
   font-weight: 700;
   letter-spacing: 4.9px;
   line-height: 31px;
   text-transform: uppercase;
   padding-left: 47px;
   padding-top: 38px;
   opacity: 0;
   position: relative;
   top: 40px;
   @include laptop-tablet {
    font-size: 15px;
    letter-spacing: 4.32px;
    line-height: 30px;
   }
   @include laptop {
    padding-top: 32px;
    padding-left: 34px;
   }
   @include tablet-mobile {
    text-align: center;
    position: relative;
   }
   @include tablet {
    padding: 12px 0 16px;
   }
   @include mobile {
    font-size: 9px;
    line-height: 18px;
    letter-spacing: 2px;
    padding: 1px 0 7px;
   }
  }
 }

 .collections-info__more {
  display: block;
  width: 100%;
  color: $color-white;
  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
  text-transform: uppercase;
  letter-spacing: 6px;
  text-align: center;
  padding-top: 55px;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -webkit-transform-origin: 100% 0;
  -moz-transform-origin: 100% 0;
  -o-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
  position: absolute;
  top: 0;
  z-index: 3;
  right: 105px;
  @include laptop-tablet {
   font-size: 12px;
   letter-spacing: 5.26px;
   line-height: 12px;
   padding-top: 30px;
   right: 85px;
  }
  @include tablet-mobile {
   width: auto!important;
   background: url(../../img/icons/arrow-right-long.svg) no-repeat center left 200%;
   position: static;
   transform: none;
   -webkit-transform: none;
   -moz-transform: none;
   -ms-transform: none;
   -o-transform: none;
   -webkit-transform-origin: 0;
   -moz-transform-origin: 0;
   -o-transform-origin: 0;
   -ms-transform-origin: 0;
   transform-origin: 0;
  }
  @include tablet {
   margin-top: 21px;
   padding: 0 46px 0 0;
  }
  @include mobile {
   font-size: 9px;
   letter-spacing: 3px;
   background-size: auto 3px;
   padding: 9px 30px 0 0;
  }
  &:hover {

   .collections-info__more-text {
    transform: scale(1.05)!important;
   }

   .collections-info__more-icon {
    top: 7px;
   }
  }

  .collections-info__more-text {
   display: block;
   width: 100%;
   text-align: center;
   position: relative;
   top: 80px;
   opacity: 0;
   transform: scale(0.6) translateZ(0);
   transition: 0.6s;
  }

  .collections-info__more-icon {
   height: 4px;
   width: 19px;
   position: absolute;
   top: 0;
   left: calc(50% - 4px);
   transform: rotate(90deg);
   overflow: hidden;
   transition: 0.6s;
   @include tablet-mobile {
    display: none;
   }

   svg {
    position: absolute;
    right: 100%;
    top: 0;
   }
  }
 }
}

.circle-slider {
 width: 738px;
 height: 738px;
 position: absolute;
 top: calc(50% - 369px);
 left: calc(50% - 369px);
 z-index: 4;
 @include laptop-tablet {
  width: 496px;
  height: 496px;
  top: calc(50% - 248px);
  left: calc(50% - 248px);
 }
 @include mobile {
  width: 274px;
  height: 274px;
  top: calc(50% - 172px);
  left: calc(50% - 137px);
 }

 canvas {
  width: 100% !important;
  height: 100% !important;
 }

 .circle-slider__dot {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  z-index: 5;
  @include laptop-tablet {
   width: 26px;
   height: 26px;
  }
  @include mobile {
   width: 14px;
   height: 14px;
  }

  &:hover, &.circle-slider__dot--active {

   .circle-slider__dot-inner {
    border: 1px solid $color-white;
   }

   .circle-slider__dot-inner-circle {
    opacity: 1;

    &.circle-slider__dot-inner-circle--1 {
     width: 200%;
     height: 200%;
     top: -50%;
     left: -50%;
    }
    &.circle-slider__dot-inner-circle--2 {
     width: 300%;
     height: 300%;
     top: -100%;
     left: -100%;
     transition-delay: 0.2s;
    }
   }
  }

  .circle-slider__dot-inner {
   width: 26px;
   height: 26px;
   border-radius: 50%;
   border: 1px solid $color-white-05;
   position: relative;
   top: 7px;
   left: 7px;
   transition: 0.5s;
   @include laptop-tablet {
    width: 18px;
    height: 18px;
    top: 4px;
    left: 4px;
   }
   @include mobile {
    width: 10px;
    height: 10px;
    top: 2px;
    left: 2px;
   }
  }

  .circle-slider__dot-inner-circle {
   border: 1px solid $color-scorpion-3-06;
   border-radius: 50%;
   position: absolute;
   top: 0;
   left: 0;
   z-index: 5;
   opacity: 0;
   transition: 0.2s;

   &.circle-slider__dot-inner-circle--1 {
    width: 100%;
    height: 100%;
   }
   &.circle-slider__dot-inner-circle--2 {
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
    transition-delay: 0s;
   }
  }

  &.circle-slider__dot--1 {
   top: -20px; left: calc(50% - 20px);
   @include laptop-tablet {top: -13px; left: calc(50% - 13px);}
   @include mobile {top: -7px; left: calc(50% - 7px);}
  }
  &.circle-slider__dot--2 {
   top: 34px; right: 155px;
   @include laptop-tablet {top: 24px; right: 104px;}
   @include mobile {top: 14px; right: 58px;}
  }
  &.circle-slider__dot--3 {
   top: 169px; right: 26px;
   @include laptop-tablet {top: 113px; right: 17px;}
   @include mobile {top: 63px; right: 10px;}
  }
  &.circle-slider__dot--4 {
   right: -20px; top: calc(50% - 20px);
   @include laptop-tablet {right: -13px; top: calc(50% - 13px);}
   @include mobile {right: -7px; top: calc(50% - 7px);}
  }
  &.circle-slider__dot--5 {
   right: 29px; bottom: 165px;
   @include laptop-tablet {right: 20px; bottom: 111px;}
   @include mobile {right: 12px; bottom: 61px;}
  }
  &.circle-slider__dot--6 {
   right: 156px; bottom: 31px;
   @include laptop-tablet {right: 105px; bottom: 22px;}
   @include mobile {right: 61px; bottom: 12px;}
  }
  &.circle-slider__dot--7 {
   bottom: -20px; left: calc(50% - 20px);
   @include laptop-tablet {bottom: -13px; left: calc(50% - 13px);}
   @include mobile {bottom: -7px; left: calc(50% - 7px);}
  }
  &.circle-slider__dot--8 {
   bottom: 27px; left: 167px;
   @include laptop-tablet {bottom: 19px; left: 113px;}
   @include mobile {bottom: 10px; left: 63px;}
  }
  &.circle-slider__dot--9 {
   bottom: 161px; left: 31px;
   @include laptop-tablet {bottom: 109px; left: 22px;}
   @include mobile {bottom: 60px; left: 13px;}
  }
  &.circle-slider__dot--10 {
   left: -20px; top: calc(50% - 20px);
   @include laptop-tablet {left: -13px; top: calc(50% - 13px);}
   @include mobile {left: -7px; top: calc(50% - 7px);}
  }
  &.circle-slider__dot--11 {
   left: 29px; top: 167px;
   @include laptop-tablet {left: 20px; top: 112px;}
   @include mobile {left: 12px; top: 63px;}
  }
  &.circle-slider__dot--12 {
   left: 165px; top: 29px;
   @include laptop-tablet {left: 112px; top: 20px;}
   @include mobile {left: 62px; top: 12px;}
  }

  &.circle-slider__dot--active {

   .circle-slider__dot-inner {
    width: 100%;
    heighT: 100%;
    border: 1px solid $color-white;
    background: $color-white;
    top: 0;
    left: 0;
   }
  }
 }
}


.popup.popup-collections {
 padding: 54px 0 0;

 .main-nav-toggle.main-nav-toggle--white {
  top: 100px;
  position: relative;
  margin-bottom: 31px;
 }

 .popup-collections__title-layout {
  padding: 32px 0 35px;
  text-align: center;
  position: relative;

  .popup-collections__title-logo {
   width: 136px;
   height: 150px;
   background: url(../../img/client/collections/collections-popup-logo.svg) no-repeat center / 100% auto;
   position: absolute;
   top: 100px;
   left: calc(50% - 68px);
   opacity: 0;
  }

  h1 {
   font-size: 32px;
   font-weight: 700;
   letter-spacing: 7.42px;
   line-height: 48px;
   text-transform: uppercase;
   position: relative;
   top: 100px;
   opacity: 0;
  }
  h2 {
   font-size: 15px;
   font-weight: 700;
   letter-spacing: 4.32px;
   line-height: 36px;
   text-transform: uppercase;
   position: relative;
   top: 100px;
   opacity: 0;
  }
 }

 .popup-collections__description-underline {
  width: 1120px;
  height: 1px;
  background-color: $color-scorpion-3-02;
  margin: 0 auto;
  opacity: 0;
 }
 .popup-collections__description {
  width: 1120px;
  margin: 50px auto 0;
  padding-bottom: 50px;
  position: relative;
  top: 100px;
  opacity: 0;
  @include clearfix;

  .popup-collections__description-dots {
   width: 163px;
   height: 198px;
   background: url(../../img/client/collections/collections-popup-dots.svg) no-repeat center / auto 100%;
   position: absolute;
   top: -87px;
   left: 84px;
   opacity: 0;
  }

  .popup-collections__date {
   color: $color-silver-chalice-5;
   font-size: 17px;
   letter-spacing: 4.91px;
   line-height: 31px;
   text-transform: uppercase;
   float: left;
  }

  .popup-collections__text {
   width: 400px;
   color: $color-black;
   font-size: 17px;
   font-weight: 300;
   line-height: 28px;
   margin-left: 65px;
   float: left;
  }

  .popup-collections__info {
   width: 450px;
   float: right;

   .popup-collections__info-item {
    margin-bottom: 12px;
    @include clearfix;
    &:last-child {
     margin-bottom: 0;
    }

    .popup-collections__info-title {
     width: 110px;
     color: $color-black;
     font-size: 15px;
     font-weight: 700;
     letter-spacing: 0.7px;
     line-height: 32px;
     text-transform: uppercase;
     text-align: right;
     padding-right: 13px;
     float: left;
    }

    .popup-collections__info-text {
     width: 340px;
     color: $color-black;
     font-size: 17px;
     font-weight: 300;
     line-height: 28px;
     padding: 2px 0 0 12px;
     float: right;
    }
   }
  }
 }

 .popup-collections__filter {
  display: flex;
  justify-content: center;
  margin: 65px auto 0;
  position: relative;
  top: 100px;
  opacity: 0;

  .popup-collections__filter-item {
   height: 14px;
   margin: 0 10px;
   cursor: pointer;

   svg {
    height: 14px;
    width: 17px;

    path {
     height: 14px;
     width: auto;
     fill: $color-nobel;
     transition: 0.5s;
    }
   }

   &.popup-collections__filter-item--active {

    svg path {
     fill: $color-black;
    }
   }
  }
 }

 .popup-collections__sliders {
  margin: 24px auto 0;
 }
}


.popup-collections-slider {
 display: none;
 margin: 0 auto;
 opacity: 0;

 .slick-track {
  display: flex;
  align-items: center;
  transition: 1s;
 }

 .popup-collections-slide {
  position: relative;
 }

 &.slider-arrows-long  .slick-arrow {
  width: 22px;
  height: 6px;
  background-size: 100% auto;
  top: calc(50% - 3px);

  &.slick-prev {
   background-image: url(../../img/icons/arrow-left-long-black.svg);
   left: 0;
  }
  &.slick-next {
   background-image: url(../../img/icons/arrow-right-long-black.svg);
   right: 0;
  }
 }
 &.slick-dots-horizontal {

  .slick-dots {
   height: auto;
   bottom: 40px;

   > li {
    width: auto;
    height: auto;
    margin-right: 25px;

    a {
     color: $color-silver-chalice-2;
     font-size: 15px;
     letter-spacing: 5.91px;
     line-height: 24px;
     font-weight: 700;
    }

    &.slick-active {

     a {
      color: $color-black;
      font-size: 21px;
      letter-spacing: 8.27px;
     }
    }
   }
  }
 }
 .page-slider-dots__item.page-slider-dots__item--active:before, .page-slider-dots__item:before {
  display: none;
 }

 &.popup-collections-slider--active {
  display: block;
 }
}


.popup-collections-grid-slider {
 width: 1718px;
 height: 1196px;
 background: url(../../img/client/collections/collections-grid-slider-bg.png) no-repeat top left 16px;
 padding: 38px 135px 115px;

 .popup-collections-grid-slide {
  width: 1448px;
  height: 1043px;

  .popup-collections-grid-slide__item {
   background: no-repeat center / cover;
   position: absolute;
   cursor: pointer;
   opacity: 0;
   transform: scale(0.7) translateZ(0);
   //filter: grayscale(1);

   &.popup-collections-grid-slide__item--1 {
    width: 380px;
    height: 381px;
    top: 153px;
    left: 91px;
   }
   &.popup-collections-grid-slide__item--2 {
    width: 447px;
    height: 534px;
    top: 0;
    left: 470px;
   }
   &.popup-collections-grid-slide__item--3 {
    width: 531px;
    height: 425px;
    top: 168px;
    left: 917px;
   }
   &.popup-collections-grid-slide__item--4 {
    width: 398px;
    height: 291px;
    top: 534px;
    left: 0;
   }
   &.popup-collections-grid-slide__item--5 {
    width: 519px;
    height: 509px;
    top: 534px;
    left: 398px;
   }
   &.popup-collections-grid-slide__item--6 {
    width: 355px;
    height: 381px;
    top: 593px;
    left: 917px;
   }
  }
 }

 &.slider-arrows-long  .slick-arrow {

  &.slick-prev {
   left: 0;
  }
  &.slick-next {
   right: 0;
  }
 }

 &.slick-dots-horizontal {

  .slick-dots {
   width: 1448px;
  }
 }
}

.popup-collections-list-slider {
 height: 958px;
 background: url(../../img/client/collections/collections-list-slider-bg.png) no-repeat top center;
 padding: 92px 0 98px;
 position: relative;
 &:before {
  content: '';
  width: 1px;
  height: 955px;
  background-color: $color-black;
  position: absolute;
  top: 0;
  left: calc(50% + 543px);
 }
 &:after {
  content: '';
  width: 247px;
  height: 465px;
  background: url(../../img/client/collections/collections-list-slider-dots.png) no-repeat center;
  position: absolute;
  top: 57px;
  left: calc(50% - 462px);
 }

 .popup-collections-list-slide {
  width: 710px;
  height: 425px;
  transition: 1s;
  margin: 0 80px;

  img {
   width: 100%;
   height: 100%;
   transition: 1s;
   opacity: 0;
   transform: scale(0.7) translateZ(0);
  }

  &.slick-current {
   width: 1280px;
   height: 768px;
  }
 }

 &.slider-arrows-long  .slick-arrow {

  &.slick-prev {
   left: 155px;
  }
  &.slick-next {
   right: 155px;
  }
 }
}