#philosophy {

 .circle-layout {
  z-index: 0;
 }
}

.philosophy-intro {

 .philosophy-intro__bg {
  background-image: url(../../img/client/philosophy/philosophy-intro.jpg);
  opacity: 0.73;
 }
 .philosophy-intro__main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .philosophy-intro__logo {
   width: 7.6%;
   height: 7.8%;
   background: url(../../img/client/philosophy/intro-logo.svg) no-repeat center / contain;
   opacity: 0;
   z-index: 6;
   @include tablet {
    width: 196px;
    height: 109px;
   }
   @include mobile {
    width: 82px;
    height: 46px;
   }
  }

  .philosophy-intro__title {
   margin-top: 45px;
   text-align: center;
   @include mobile {
    margin-top: 22px;
   }

   h1 {
    color: $color-alabaster;
    font-size: 84px;
    line-height: 158px;
    font-size: 7.84vh;
    line-height: 15vh;
    text-transform: uppercase;
    letter-spacing: 9px;
    position: relative;
    top: 50px;
    opacity: 0;
    @include mobile {
     font-size: 30px;
     line-height: 30px;
     letter-spacing: 3.06px;
    }
   }
   h2 {
    color: $color-white;
    font-size: 15px;
    line-height: 30px;
    font-size: 1.38vh;
    line-height: 2.76vh;
    font-weight: 700;
    letter-spacing: 6.74px;
    text-transform: uppercase;
    position: relative;
    top: 50px;
    opacity: 0;
    @include mobile {
     font-size: 11px;
     line-height: 20px;
     letter-spacing: 2.5px;
     margin-top: 13px;
    }
   }
  }

  .philosophy-intro__video-layout {
   opacity: 0!important;
   margin-top: 55px;
   @include mobile {
    margin-top: 31px;
   }
  }

  .philosophy-intro__video {
   cursor: pointer;
   position: relative;
   top: 50px;
   opacity: 0;
   @include mobile {
    display: flex;
    align-items: center;
    justify-content: center;
   }

   .philosophy-intro__video-btn {
    width: 43px;
    height: 43px;
    background: url(../../img/client/philosophy/video-triangle.svg) no-repeat top 8px left 11px / 15px auto;
    border: 5px solid $color-white;
    border-radius: 50%;
    margin: 0 auto;
    @include mobile {
     width: 26px;
     height: 26px;
     background-position: top 5px left 7px;
     background-size: 8px auto;
     border: 3px solid $color-white;
    }
   }
   .philosophy-intro__video-text {
    color: $color-mercury;
    font-size: 14px;
    line-height: 23px;
    font-size: 1.3vh;
    line-height: 2.23vh;
    font-weight: 700;
    letter-spacing: 8.6px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 22px;
    @include mobile {
     font-size: 8px;
     line-height: 13px;
     letter-spacing: 4px;
     margin: 0 0 0 11px;
    }
   }
  }
 }

 .philosophy-intro__link {
  display: none;
  width: 215px;
  margin: 37px auto 0;
  @include mobile {
   display: block;
  }
  &:hover {

   &:before {
    width: 221px;
   }
  }
  &:before {
   width: 215px;
  }
 }
}


.philosophy-about {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: flex-start;

 .philosophy-about__main {
  width: 606px;
  //width: 39%;
  position: relative;
  @include tablet {
   width: 510px;
  }

  .philosophy-about__line-layout {
   //width: 23.4%;
   //height: 1.2%;
   width: 143px;
   height: 7px;
   position: absolute;
   //left: -33%;
   left: -200px;
   top: 72px;
   padding: 0 50%;
   @include tablet {
    width: 62px;
    height: 6px;
    left: -85px;
    top: 60px;
   }
   @include mobile {
    width: 17px;
    height: 6px;
    left: -40px;
    top: 72px;
   }
  }
  .philosophy-about__line {
   width: 100%;
   height: 100%;
   background: $color-white;
   position: relative;
  }
  .philosophy-about__title-line {
   width: 1px;
   height: 245px;
   background: $color-gray-3-025;
   position: absolute;
   left: 0;
   top: -141px;
   @include tablet-mobile {
    height: 164px;
    top: -76px;
   }
  }

  .philosophy-about__number {
   color: $color-dove-gray;
   font-size: 18px;
   line-height: 21px;
   //font-size: 0.9vw;
   //line-height: 1vw;
   font-weight: 700;
   letter-spacing: 7.26px;
   position: relative;
   top: 100px;
   opacity: 0;
   @include mobile {
    font-size: 18px;
    letter-spacing: 7.26px;
    line-height: 21.09px;
   }
  }

  .philosophy-about__title-layout {
   margin-top: 3%;
   position: relative;
   @include mobile {
    margin-top: 34px;
   }
  }
  .philosophy-about__title {
   color: $color-concrete;
   font-size: 49px;
   line-height: 65px;
   //font-size: 2.55vw;
   //line-height: 3.38vw;
   font-weight: 700;
   text-transform: uppercase;
   position: relative;
   top: 100px;
   opacity: 0;
   @include mobile {
    font-size: 20px;
    letter-spacing: 0.39px;
    line-height: 30px;
   }
  }

  .philosophy-about__text-layout {
   margin-top: 2%;
   @include mobile {
    margin-top: 24px;
   }
  }
  .philosophy-about__text {
   position: relative;
   top: 100px;
   opacity: 0;
   @include mobile {
    width: 265px;
   }

   p {
    color: $color-gray-2;
    font-size: 22px;
    line-height: 33px;
    //font-size: 1.15vw;
    //line-height: 1.75vw;
    margin-top: 6.5%;
    @include mobile {
     font-size: 14px;
     line-height: 22px;
    }
   }
  }
 }

 &.philosophy-about--1, &.philosophy-about--3 {
  padding-left: 18.5%;
  @include mobile {
   padding-left: 40px;
  }
 }
 &.philosophy-about--1 {

  .philosophy-about__bg {
   background-image: url(../../img/client/philosophy/philosophy-about-1.jpg);
  }
 }
 &.philosophy-about--2 {
  padding-right: 9.5%;
  align-items: flex-end;
  @include tablet-mobile {
   padding-right: 0;
   align-items: flex-start;
  }
  @include tablet {
   padding-left: 18.5%;
  }
  @include mobile {
   padding-left: 40px;
  }

  .philosophy-about__bg {
   background-image: url(../../img/client/philosophy/philosophy-about-2.jpg);
   //opacity: 0.6;
  }
 }
 &.philosophy-about--3 {
  padding-left: 18.5%;
  @include mobile {
   padding-left: 40px;
  }

  .philosophy-about__bg {
   background-image: url(../../img/client/philosophy/philosophy-about-3.jpg);
   //opacity: 0.6;
  }
 }
}


.onepage-wrapper .section.philosophy-inspiration-layout {
 //background: rgba(255,255,255,0.34);
 @include tablet {
  height: 1660px;
 }
 @include mobile {
  height: auto;
  //height: 1400px;
  overflow: hidden;
 }

 .philosophy-inspiration__bg {
  background-image: url(../../img/client/philosophy/philosophy-inspiration.jpg);
 }
}
.philosophy-inspiration {
 //height: 100%;
 height: 1250px;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 padding-top: 90px;
 @include mobile {
  padding: 80px 0;
  overflow: hidden;
 }

 .inspiration-text {
  color: $color-silver-chalice-2;
  font-size: 17px;
  font-weight: 700;
  line-height: 31px;
  text-transform: uppercase;
  text-align: center;
  @include laptop {
   font-size: 14px;
   line-height: 28px;
  }
  @include tablet {
   font-size: 18px;
   line-height: 32px;
  }
  @include mobile {
   font-size: 10px;
   line-height: 18px;
  }
 }

 .home-inspiration__title-layout {

  .home-inspiration__title {
   position: relative;
   top: 50px;
   opacity: 0;
   @include mobile {
    text-align: center;
   }
  }
 }

 .philosophy-inspiration__subtitle-layout {
  margin-top: 37px;
  position: relative;
  @include mobile {
   margin-top: 27px;
  }

  .philosophy-inspiration__subtitle {
   margin-bottom: 37px;
   position: relative;
   top: 50px;
   opacity: 0;
   @include tablet {
    margin-bottom: 52px;
   }
  }

  .hr-dots {
   position: relative;
   top: 50px;
   opacity: 0;
  }
 }

 .philosophy-inspiration__text-layout {
  margin-bottom: 6%;
  position: relative;
  @include mobile {
   margin-bottom: 0;
  }

  .philosophy-inspiration__text {
   margin-top: 37px;
   position: relative;
   top: -50px;
   opacity: 0;
  }

  .hr-dots {
   position: relative;
   top: -30px;
   opacity: 0;
  }
 }
}

.philosophy-inspiration__list {
 width: 100%;
 flex: 1;
 display: flex;
 align-items: flex-start;
 padding-top: 25px;
 position: relative;
 @include mobile {
  overflow: hidden;
 }

 .philosophy-inspiration__list-line {
  width: 78%;
  height: 1px;
  background: $color-gray-3-03;
  position: absolute;
  top: 105px;
  left: 10%;
  @include tablet-mobile {
   display: none;
  }
 }
}

.inspiration-list {
 width: 100%;
 display: flex;
 justify-content: space-between;
 align-items: flex-start;
 padding: 0 10% 0 8%;
 @include tablet-mobile {
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
 }
 @include mobile {
  padding: 0 15%;
  position: relative;
  &:before {
   content: '';
   width: 100%;
   height: 100%;
   position: absolute;
   z-index: 5;
  }
 }

 .inspiration-list__item {
  position: relative;
  top: -100px;
  opacity: 0;
  padding: 0 3% 2.3% 2.3%;
  cursor: pointer;
  @include tablet-mobile {
   margin-bottom: 40px;
   padding: 0;
  }
  @include tablet {
   width: 56.25%;
  }
  @include mobile {
   width: 100%;
  }
  &:hover, &:focus, &:active {

   .inspiration-list__item-hover {
    top: 100%!important;
    opacity: 1;
    @include mobile {
     display: none;
    }
   }
  }

  .inspiration-list__item-icon {
   height: 40px;
   position: relative;

   svg {
    @include tablet-mobile {
     width: auto;
     height: 71%;
    }
   }
  }

  .inspiration-list__item-title {
   color: $color-white;
   font-size: 50px;
   line-height: 55px;
   font-size: 2.5vw;
   line-height: 2.55vw;
   font-weight: 700;
   letter-spacing: 0.64px;
   text-transform: uppercase;
   margin-top: 20px;
   @include tablet {
    font-size: 48px;
    letter-spacing: 0.61px;
    line-height: 48px;
   }
   @include mobile {
    font-size: 28px;
    letter-spacing: 0.36px;
    line-height: 48px;
   }
  }

  .inspiration-list__item-subtitle {
   color: $color-white;
   font-size: 20px;
   line-height: 31px;
   font-size: 1vw;
   line-height: 1.6vw;
   font-weight: 700;
   letter-spacing: 0.27px;
   text-transform: uppercase;
   margin-top: 4px;
   @include tablet {
    font-size: 18px;
    letter-spacing: 0.24px;
    line-height: 32px;
   }
   @include mobile {
    font-size: 12px;
    letter-spacing: 0.16px;
    line-height: 21px;
   }
  }

  .inspiration-list__item-hover {
   width: 390px;
   background: $color-black;
   padding: 8% 25% 8% 8%;
   position: absolute;
   left: 0;
   top: 0;
   opacity: 0;
   transition: 0.5s;
   z-index: 6;
   @include laptop {
    width: 290px;
   }
   @include tablet-mobile {
    padding: 15px 25px 15px 15px;
   }
   @include tablet-mobile {
    width: 100%;
   }

   .inspiration-list__item-hover-text {
    color: $color-silver-chalice-4;
    font-size: 17px;
    line-height: 27px;
    font-size: 0.9vw;
    line-height: 1.45vw;
    @include tablet-mobile {
     font-size: 17px;
     line-height: 27px;
    }
   }
   .inspiration-list__item-hover-link {
    background: url(../../img/client/philosophy/video-triangle.svg) no-repeat center left;
    color: $color-mercury-2;
    font-size: 14px;
    line-height: 28px;
    font-size: 0.7vw;
    line-height: 1.45vw;
    font-weight: 700;
    letter-spacing: 8.6px;
    text-transform: uppercase;
    margin-top: 20px;
    padding-left: 25px;
    @include tablet-mobile {
     font-size: 14px;
     line-height: 28px;
    }
   }
  }
 }
}

.popup-layout.inspiration-music {
 @include tablet-mobile {
  overflow-y: auto;
 }

 .popup {
  background: url(../../img/client/philosophy/inspiration-music-bg.jpg) no-repeat center / cover, $color-black;
  @include tablet-mobile {
   min-height: 1136px;
   padding: 190px 0 387px;
   overflow-x: hidden;
   overflow-y: auto;
  }

  .popup__close {
   background-image: url(../../img/popups/popup-close-white.svg);
   @include tablet-mobile {
    top: 32px;
    right: 32px;
   }
  }

  .inspiration-music-equalizer {
   width: 724px;
   height: 724px;
   position: absolute;
   top: 2.76%;
   left: calc(50% - 362px);
   @include tablet-mobile {
    width: 560px;
    height: 560px;
    position: absolute;
    top: 190px;
    left: calc(50% - 280px);
   }

   .inspiration-music-equalizer__circle {
    opacity: 1;

    &.inspiration-music-equalizer__circle--1 {
     width: 100%;
     height: 100%;
     top: 0;
     left: 0;
     transition: 0.1s;
    }
    &.inspiration-music-equalizer__circle--2 {
     width: 580px;
     height: 580px;
     top: calc(50% - 290px);
     left: calc(50% - 290px);
     @include tablet-mobile {
      width: 454px;
      height: 454px;
      top: calc(50% - 227px);
      left: calc(50% - 227px);
     }
    }
   }

   .inspiration-music-equalizer__waves {
    width: 110%;
    height: 110%;
    background: url(../../img/client/philosophy/equalizer-waves.svg) no-repeat center / contain;
    position: absolute;
    top: -5%;
    left: -5%;
    opacity: 0;
    transition: 0.1s;
   }

   .inspiration-music-equalizer__image {
    width: 494px;
    height: 494px;
    background: url(../../img/client/philosophy/inspiration-music.jpg) no-repeat center / cover;
    position: absolute;
    top: calc(50% - 247px);
    left: calc(50% - 247px);
    @include tablet-mobile {
     width: 400px;
     height: 400px;
     top: calc(50% - 200px);
     left: calc(50% - 200px);
    }
   }

   &.inspiration-music-equalizer--active {

    .inspiration-music-equalizer__circle {

     &.inspiration-music-equalizer__circle--1 {
      animation-name: circle-pulse;
      animation-duration: 4s;
      animation-iteration-count: infinite;
     }
    }

    .inspiration-music-equalizer__waves {
     animation-name: waves-pulse;
     animation-duration: 4s;
     animation-iteration-count: infinite;
    }
   }
  }

  .inspiration-music__player {
   width: 94%;
   position: absolute;
   bottom: 176px;
   left: 3%;

   .inspiration-music__player-text {
    color: $color-silver-chalice-6;
    font-size: 17px;
    line-height: 26px;
    position: absolute;
    top: -64px;
    left: 0;
    opacity: 0;
    transition: 0.5s;
    @include tablet-mobile {
     font-size: 20px;
    }
   }

   .mejs__controls {
    padding: 0;
   }

   .mejs__container {
    width: 100%;

    * {
     outline: none;
    }

    .mejs__time-buffering, .mejs__time-current, .mejs__time-float, .mejs__time-float-corner, .mejs__time-float-current, .mejs__time-hovered, .mejs__time-loaded, .mejs__time-marker, .mejs__time-total {
     height: 3px;
    }
    .mejs__time-rail {
     margin: 0;
     padding: 0;
    }
    .mejs__time {
     width: 50px;
     color: $color-silver-chalice-6;
     font-family: Circe, sans-serif;
     font-size: 17px;
     line-height: 26px;
     position: absolute;
     top: -24px;
     right: 0;
     padding: 0;
     margin: 0;
     @include tablet-mobile {
      font-size: 20px;
     }
     &.mejs__currenttime-container {
      display: none;
     }
    }

    .mejs__horizontal-volume-total, .mejs__horizontal-volume-slider {
     display: none;
    }

    .mejs__time-float {
     display: none!important;
    }

    .mejs__time-handle {
     display: block;
     width: 24px;
     height: 24px;
     position: absolute;
     top: -7px;
     left: 7px;

     .mejs__time-handle-content {
      width: 100%;
      height: 100%;
      border: 3px solid $color-white;
      background-color: $color-black;
     }
    }

    .mejs__button {
     width: 48px;
     height: 48px;
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 50%;
     background-color: $color-white-015;
     position: absolute;
     bottom: -75px;
     left: calc(50% - 24px);
     padding-top: 2px;

     > button {
      margin: 0;
     }
     &.mejs__mute {
      display: none;
     }
    }
   }
  }
 }
}

@keyframes circle-pulse {
 0%  {width: 100%; height: 100%; top: 0; left: 0;}
 10% {width: 110%; height: 110%; top: -5%; left: -5%;}
 20% {width: 100%; height: 100%; top: 0; left: 0;}
 30% {width: 90%; height: 90%; top: 5%; left: 5%;}
 40% {width: 110%; height: 110%; top: -5%; left: -5%;}
 50% {width: 100%; height: 100%; top: 0; left: 0;}
 60% {width: 90%; height: 90%; top: 5%; left: 5%;}
 65% {width: 100%; height: 100%; top: 0; left: 0;}
 75% {width: 90%; height: 90%; top: 5%; left: 5%;}
 80% {width: 100%; height: 100%; top: 0; left: 0;}
 100%{width: 100%; height: 100%; top: 0; left: 0;}
}
@keyframes waves-pulse {
 0%  {opacity: 0;}
 55% {opacity: 0;}
 60% {opacity: 0;}
 65% {opacity: 1;}
 70% {opacity: 0;}
 75% {opacity: 0;}
 80% {opacity: 1;}
 85% {opacity: 0;}
 100%{opacity: 0;}
}


.onepage-wrapper .section.philosophy-pros {
 @include tablet-mobile {
  height: auto;
 }

 .philosophy-pros__main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
 }

 .home-pros__title-layout {

  .home-pros__title {

   &.home-pros__title--1 {
    position: relative;
    top: -100px;
    opacity: 0;
   }
   &.home-pros__title--2 {
    position: relative;
    top: 50px;
    opacity: 0;
   }
  }
 }

 .philosophy-pros-list-layout {
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
 }
 .philosophy-pros-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  @include tablet-mobile {
   flex-direction: column;
   justify-content: space-around;
  }

  .philosophy-pros-list__item {
   @include tablet-mobile {
    margin-bottom: 60px;
   }

   .philosophy-pros-list__item-inner {
    position: relative;
    margin-bottom: 90px;
    @include tablet {
     margin-bottom: 60px;
    }
    &:last-child {
     margin-bottom: 0;
    }

    .philosophy-pros-list__item-line-left-layout {
     width: 66px;
     height: 6px;
     position: absolute;
     top: 11px;
     left: -100px;
     padding: 0 50%;
     @include tablet-mobile {
      width: 20px;
      height: 4px;
      left: -40px;
     }
    }

    .philosophy-pros-list__item-line-left {
     width: 100%;
     height: 100%;
     background-color: $color-gallery-2;
    }
    .philosophy-pros-list__item-line-top {
     width: 1px;
     height: 72px;
     background-color: $color-gray-3-025;
     position: absolute;
     top: -58px;
     left: 0;
     @include tablet-mobile {
      height: 55px;
      top: -33px;
     }
    }

    .philosophy-pros-list__item-text {
     color: $color-gray-2;
     font-size: 22px;
     line-height: 33px;
     font-size: 1.1vw;
     line-height: 1.75vw;
     position: relative;
     top: -50px;
     opacity: 0;
     @include laptop {
      font-size: 15px;
      line-height: 24px;
      font-size: 1.1vw;
      line-height: 1.75vw;
     }
     @include tablet {
      font-size: 24px;
      line-height: 34px;
     }
     @include mobile {
      font-size: 16px;
      line-height: 26px;
     }

     b {
      color: $color-gallery-3;
      font-weight: 700;
     }
    }
   }
  }
 }

 &.philosophy-pros--1 {

  .philosophy-pros__bg {
   background-image: url(../../img/client/philosophy/philosophy-pros-1.jpg);
  }

  .philosophy-pros__main {
   padding: 7% 0 5%;
   @include tablet {
    padding: 145px 0;
   }
   @include mobile {
    padding: 80px 0;
   }
  }

  .philosophy-pros-list-layout {
   padding: 0 15% 0 18.5%;
   @include tablet {
    padding: 0 15.625% 0 25%;
    margin-top: 90px;
   }
   @include mobile {
    padding: 0 4.5% 0 17%;
    margin-top: 45px;
   }
  }

  .philosophy-pros-list {
   align-items: center;

   .philosophy-pros-list__item {
    width: 40%;
    @include tablet-mobile {
     width: 100%;
    }
   }
  }
 }
 &.philosophy-pros--2 {

  .philosophy-pros__bg {
   background-image: url(../../img/client/philosophy/philosophy-pros-2.jpg);
  }

  .philosophy-pros__main {
   padding: 9% 0 0;
   @include tablet {
    padding: 90px 0 55px;
   }
   @include mobile {
    padding: 80px 0 0;
   }
  }

  .philosophy-pros-list-layout {
   padding: 0 8% 0 10.5%;
   @include tablet {
    padding: 0 16.25% 0 21.25%;
    margin-top: 75px;
   }
   @include mobile {
    padding: 0 4.5% 0 17%;
    margin-top: 100px;
   }
  }

  .philosophy-pros-list {
   align-items: flex-start;

   .philosophy-pros-list__item {
    width: 24.6%;
    @include tablet-mobile {
     width: 100%;
    }
   }
  }
 }
}

.philosophy-action {
 height: 100%;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;

 .philosophy-action__bg {
  background-image: url(../../img/client/philosophy/philosophy-action.jpg);
 }

 .philosophy-action__text-layout {
  position: relative;
 }
 .philosophy-action__text {
  color: $color-wild-sand-2;
  font-size: 38px;
  line-height: 69px;
  font-size: 2vw;
  line-height: 3.7vw;
  font-weight: 700;
  letter-spacing: 1.76px;
  text-transform: uppercase;
  position: relative;
  top: -100px;
  opacity: 0;
  @include laptop {
   font-size: 32px;
   line-height: 52px;
   font-size: 2vw;
   line-height: 3.7vw;
   letter-spacing: 1.48px;
  }
  @include tablet {
   font-size: 31px;
   letter-spacing: 0.61px;
   line-height: 42px;
  }
  @include mobile {
   font-size: 16px;
   letter-spacing: 0.32px;
   line-height: 27px;
  }
 }

 .philosophy-action__link-layout {
  position: relative;

  .philosophy-action__link {
   width: 260px;
   margin: 70px auto 0;
   position: relative;
   top: 50px;
   opacity: 0;
   @include tablet {
    width: 280px;
   }
   @include mobile {
    width: 160px;
   }
   &:before {
    width: 260px;
    @include tablet {
     width: 280px;
    }
    @include mobile {
     width: 160px;
    }
   }
   &:hover {
    &:before {
     width: 266px;
     @include tablet {
      width: 286px;
     }
     @include mobile {
      width: 166px;
     }
    }
   }
  }
 }
}