.link-underline {
 position: relative;
 overflow: hidden;
 &:after {
  content: '';
  display: block;
  height: 2px;
  width: 100%;
  background-color: $color-white;
  position: absolute;
  bottom: 0;
  left: -100%;
  transition: 0.5s;
 }
 &:hover {
  &:after {
   left: 0;
  }
 }
}

.erteqoob-title {
 width: 143px;
 height: 15px;
 opacity: 0.93;
 background: url(../../img/erteqoob-title.svg) no-repeat center / 100%;
 @include laptop {
  width: 115px;
  height: 13px;
 }
 @include tablet-mobile {
  width: 110px;
  height: 11px;
 }
}

.logo {
 width: 142px;
 height: 142px;
 background: url(../../img/logo.png) no-repeat center;
 background-size: 142px;
 position: relative;
 @include laptop {
  width: 108px;
  height: 108px;
  background-size: 108px;
 }
 @include tablet-mobile {
  width: 172px;
  height: 172px;
  background-size: 172px;
 }

 .logo__text {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 6px;
  text-transform: uppercase;
  margin-top: 41px;
  text-align: center;
  @include laptop {
   font-size: 22px;
   letter-spacing: 5.5px;
   margin-top: 25px;
  }
  @include tablet-mobile {
   font-size: 36px;
   letter-spacing: 9px;
   margin-top: 46px;
  }
 }
 .logo__title {
  display: block;
  width: 142px;
  height: auto;
  margin-top: 16px;
  @include laptop {
   width: 136px;
   height: 16px;
   position: absolute;
   top: 64px;
   left: -14px;
   margin: 0;
  }
  @include tablet-mobile {
   width: 222px;
   height: 26px;
   position: absolute;
   top: 100px;
   left: -25px;
   margin: 0;
  }
 }

 &.logo--main {
  position: absolute;
  top: 80px;
  left: calc(50% - 70px);
  z-index: 3;
  @include laptop {
   top: 70px;
   left: calc(50% - 54px);
  }
  @include tablet-mobile {
   top: 112px;
   left: calc(50% - 86px);
  }
 }
}

.scroll-down {
 width: 40px;
 position: absolute;
 bottom: 55px;
 left: calc(50% - 20px);
 cursor: pointer;
 z-index: 5;
 opacity: 0;
 @include laptop {
  bottom: 40px;
 }
 @include tablet-mobile {
  width: auto;
  bottom: 24px;
  left: calc(50% - 3px);
 }

 .scroll-down__text {
  color: $color-white-07;
  font-size: 11px;
  font-weight: 700;
  line-height: 11px;
  text-transform: uppercase;
  text-align: center;
  @include tablet {
   font-size: 9px;
   line-height: 9px;
  }
  @include tablet-mobile {
   display: none;
  }
 }
 .scroll-down__btn {
  width: 14px;
  height: 23px;
  background: url(../../img/icons/scroll-down.png) no-repeat center;
  background-size: 14px 23px;
  margin: 15px auto 0;
  //@include tablet {
  // width: 12px;
  // height: 17px;
  // background-size: 12px 17px;
  // margin-top: 20px;
  //}
  @include tablet-mobile {
   width: 6px;
   height: 18px;
   background: url(../../img/icons/arrow-bottom.svg) no-repeat center;
   background-size: 6px 18px;
   margin: 0;
  }
 }

 .scroll-down__dot {
  width: 2px;
  height: 2px;
  background: $color-white;
  position: absolute;
  left: calc(50% - 1px);
  opacity: 0;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  @include tablet-mobile {
   display: none;
  }

  &.scroll-down__dot--1 {bottom: -12px; animation-name: scroll-down__dot--1;}
  &.scroll-down__dot--2 {bottom: -18px; animation-name: scroll-down__dot--2;}
  &.scroll-down__dot--3 {bottom: -24px; animation-name: scroll-down__dot--3;}
 }
}

@keyframes scroll-down__dot--1 {
 0%   {opacity: 0;}
 33%  {opacity: 1;}
 66%  {opacity: 0;}
 100%  {opacity: 0;}
}
@keyframes scroll-down__dot--2 {
 0%   {opacity: 0;}
 33%  {opacity: 0;}
 66%  {opacity: 1;}
 100%  {opacity: 0;}
}
@keyframes scroll-down__dot--3 {
 0%   {opacity: 0;}
 33%  {opacity: 0;}
 66%  {opacity: 0;}
 100%  {opacity: 1;}
}

.page-title {
 color: $color-alabaster;
 font-size: 24px;
 font-weight: 700;
 line-height: 27px;
 text-transform: uppercase;
 text-align: center;
 letter-spacing: 8px;
 @include laptop {
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 6px;
 }
 @include tablet-mobile {
  font-size: 24px;
  line-height: 48px;
  letter-spacing: 4px;
 }
 @include mobile {
  font-size: 14px;
  line-height: 27px;
  letter-spacing: 4px;
 }
}
.page-title-2 {
 color: $color-wild-sand-2;
 font-size: 32px;
 line-height: 48px;
 font-weight: 700;
 letter-spacing: 12px;
 text-align: center;
 text-transform: uppercase;
 @include laptop-tablet {
  font-size: 28px;
  letter-spacing: 9px;
 }
 @include mobile {
  font-size: 14px;
  line-height: 27px;
  letter-spacing: 2px;
 }
}
.page-subtitle-2 {
 color: $color-silver-chalice-2;
 font-size: 17px;
 font-weight: 700;
 letter-spacing: 1.1px;
 line-height: 24px;
 text-transform: uppercase;
 text-align: center;
 @include mobile {
  font-size: 12px;
  letter-spacing: 0.78px;
  line-height: 21px;
 }
}

.page-title-big-layout {
 text-align: center;
 position: relative;

 .page-title-big {
  display: inline-block;
  color: $color-alabaster;
  font-size: 46px;
  font-weight: 700;
  line-height: 64px;
  text-transform: uppercase;
  text-align: left;
  letter-spacing: 12px;
  @include laptop {
   font-size: 32px;
   line-height: 40px;
   letter-spacing: 8px;
  }
  @include tablet {
   font-size: 24px;
   line-height: 48px;
   letter-spacing: 4px;
  }
  @include mobile {
   font-size: 16px;
   line-height: 27px;
   letter-spacing: 4px;
  }

  &.philosophy-title {
   font-size: 40px;
   font-weight: 700;
   letter-spacing: 0.71px;
   line-height: 62px;
   text-transform: uppercase;
   text-align: left;
   @include laptop {
    font-size: 30px;
    line-height: 48px;
    letter-spacing: 0.53px;
   }
   @include tablet {
    font-size: 31px;
    line-height: 40px;
    letter-spacing: 4px;
   }
   @include mobile {
    font-size: 16px;
    letter-spacing: 2.06px;
    line-height: 27px;
   }
  }
 }
}

.btn-black {
 display: block;
 width: 287px;
 height: 56px;
 background: url(../../img/icons/arrow-right.svg) no-repeat center left 36px / 12px 6px, $color-black;
 border: 2px solid $color-cape-cod;
 color: $color-white;
 font-size: 14px;
 font-weight: 700;
 line-height: 52px;
 text-transform: uppercase;
 letter-spacing: 2px;
 padding-left: 61px;
 position: relative;
 @include tablet {
  width: 332px;
  height: 62px;
  font-size: 16px;
  line-height: 62px;
  letter-spacing: 2.5px;
 }
 @include mobile {
  width: 190px;
  height: 40px;
  padding-left: 40px;
  background: url(../../img/icons/arrow-right.svg) no-repeat center left 20px / 10px 4px, $color-black;
  font-size: 9px;
  letter-spacing: 1.29px;
  line-height: 38px;
 }
 &:hover {

  &:before {
   width: 293px;
   height: 62px;
   border: 5px solid $color-cape-cod;
   top: -5px;
   left: -5px;
   @include tablet {
    width: 337px;
    height: 67px;
   }
   @include mobile {
    width: 196px;
    height: 46px;
   }
  }
 }
 &:before {
  content: '';
  width: 287px;
  height: 56px;
  border: 2px solid $color-cape-cod;
  position: absolute;
  top: -2px;
  left: -2px;
  transition: 0.4s;
  @include tablet {
   width: 332px;
   height: 62px;
  }
  @include mobile {
   width: 190px;
   height: 40px;
  }
 }
}

.btn-white {
 display: flex;
 align-items: center;
 justify-content: center;
 border: 2px solid $color-black;
 background: $color-white;
 color: $color-black;
 font-size: 10px;
 font-weight: 700;
 line-height: 15px;
 text-transform: uppercase;
 letter-spacing: 2px;
 text-align: center;
 padding: 13px 24px 12px 26px;
 &:hover {
  background: $color-black;
  color: $color-white;

  svg path {
   fill: $color-white;
  }
 }

 svg {
  width: 19px;
  height: 4px;
  margin-right: 16px;
 }
}

.rotated-text {
 transform: rotate(-90deg);
 -webkit-transform: rotate(-90deg);
 -moz-transform: rotate(-90deg);
 -ms-transform: rotate(-90deg);
 -o-transform: rotate(-90deg);
 position: absolute;

 &.rotated-text--left {
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
 }
 &.rotated-text--right {
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
 }
}

.link-aside {
 display: block;
 width: 100%;
 color: $color-white-09;
 font-size: 14px;
 font-weight: 700;
 line-height: 14px;
 text-transform: uppercase;
 letter-spacing: 6px;
 text-align: center;
 padding-bottom: 38px;
 position: absolute;
 bottom: -45px;
 z-index: 3;
 opacity: 0;
 transition: 1s;
 @include tablet {
  font-size: 12px;
  letter-spacing: 5.26px;
  line-height: 12px;
  padding-bottom: 25px;
 }
 @include mobile {
  font-size: 8px;
  letter-spacing: 3.51px;
  line-height: 8px;
  padding-bottom: 20px;
  bottom: -25px;
 }
 &:hover {
  font-size: 16px;
  @include tablet {
   font-size: 14px;
  }
  @include mobile {
   font-size: 10px;
  }

  svg {
   bottom: 12px;
   @include mobile {
    bottom: 5px;
   }
  }
 }

 svg {
  position: absolute;
  bottom: 0;
  left: calc(50% - 3px);
  transition: 1s;
 }

 &.link-aside--beginner {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  left: 60px;
  @include laptop {
   left: 45px;
  }
  @include tablet-mobile {
   left: 6.25%;
  }
 }
 &.link-aside--pro {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -webkit-transform-origin: 100% 0;
  -moz-transform-origin: 100% 0;
  -o-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
  right: 60px;
  padding-left: 0.7%;
  @include laptop {
   right: 45px;
  }
  @include tablet-mobile {
   right: 6.25%;
  }
 }
}

.arrow-link {
 position: absolute;
 z-index: 10;
 transition: 0.5s;

 .arrow-link__text {
  display: block;
  color: $color-chablis;
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  text-transform: uppercase;
  padding: 0 0 11px;
  position: relative;
  overflow: hidden;
  transition: 0.5s;
  @include laptop {
   font-size: 10px;
   line-height: 10px;
  }
  @include tablet-mobile {
   font-size: 12px;
   letter-spacing: 1.07px;
   line-height: 16px;
  }
  @include mobile {
   font-size: 8px;
   letter-spacing: 0.71px;
   line-height: 27.32px;
   padding-bottom: 5px;
  }
  &:after {
   content: '';
   display: block;
   height: 2px;
   width: 100%;
   background-color: $color-white;
   position: absolute;
   bottom: 0;
   left: -100%;
   transition: 0.5s;
  }
  &:hover {
   &:after {
    left: 0;
   }
  }
 }

 &.arrow-link--right {
  background-image: url(../../img/icons/arrow-right-long.svg);
  background-repeat: no-repeat;
  background-size: 24px 6px;
  background-position: left top 3px;
  right: 55px;
  padding-left: 44px;
  @include laptop {
   background-position: left top 1px;
   right: 45px;
  }
  @include tablet-mobile {
   right: 6.25%;
  }

  &.arrow-link--gray {
   background-image: url(../../img/icons/arrow-right-long-gray.svg);
   &:hover {
    background-image: url(../../img/icons/arrow-right-long.svg);
   }
  }
 }
 &.arrow-link--left {
  background-image: url(../../img/icons/arrow-left-long.svg);
  background-repeat: no-repeat;
  background-size: 24px 6px;
  background-position: right top 3px;
  left: 55px;
  padding-right: 44px;
  @include laptop {
   background-position: right top 1px;
   left: 45px;
  }
  @include tablet-mobile {
   left: 6.25%;
  }

  &.arrow-link--gray {
   background-image: url(../../img/icons/arrow-left-long-gray.svg);
   &:hover {
    background-image: url(../../img/icons/arrow-left-long.svg);
   }
  }
 }
 &.arrow-link--top {
  top: 60px;
  @include laptop {
   top: 45px;
  }
  @include tablet {
   top: 43px;
  }
 }
 &.arrow-link--bottom {
  bottom: 60px;
  @include laptop {
   bottom: 45px;
  }
  @include tablet-mobile {
   bottom: 43px;
  }
 }
 &.arrow-link--gray {
  &:hover {
   .arrow-link__text {
    color: $color-white;
   }
  }

  .arrow-link__text {
   color: $color-gray-2;
  }
 }
}

.register-link {
 opacity: 0;
 z-index: 10;
 @include mobile {
  display: none;
 }
}
.arrow-link.arrow-link--left.link-back {
 opacity: 0;
 @include mobile {
  width: 20px;
  height: 7px;
  padding: 0;
  background-size: 100% auto;
  top: 28px;
  //left: 16px;
  left: 22px;
 }

 .arrow-link__text {
  @include mobile {
   height: 100%;
   font-size: 0;
   &:after {
    display: none;
   }
  }
 }
}
.arrow-link.arrow-link--right.arrow-link--gray.link-calendar {
 opacity: 0;
 @include mobile {
  right: 22px;
  bottom: 16px;
  background-image: url(../../img/icons/arrow-right-sm-gray.png);
  background-position: top 3px left;
  background-size: 10px 4px;
  padding-left: 18px;
 }

 .arrow-link__text {
  @include mobile {
   font-size: 8px;
   letter-spacing: 0.71px;
   line-height: 12px;
   padding-bottom: 5px;
  }
 }
}

.circle-layout {
 width: 734px;
 height: 734px;
 position: absolute;
 top: calc(50% - 367px);
 left: calc(50% - 367px);
 z-index: 1;
 opacity: 0;
 visibility: hidden;
 @include laptop {
  //width: 450px;
  //height: 450px;
  width: 622px;
  height: 622px;
  top: calc(50% - 311px);
  left: calc(50% - 311px);
  //top: calc(50% - 225px);
  //left: calc(50% - 225px);
 }
 @include tablet {
  width: 544px;
  height: 544px;
  top: calc(50% - 272px);
  left: calc(50% - 272px);
 }
 @include mobile {
  width: 360px;
  height: 360px;
  top: calc(50% - 180px);
  left: calc(50% - 180px);
 }
 &:before{
  content: '';
  display: block;
  padding-top: 100%;
 }

 .circle-line {
  width: 40%;
  height: 1px;
  background: $color-white-022;
  position: absolute;
  top: 50%;
  left: 30%;
 }
}
.circle {
 border-radius: 50%;
 border: 1px solid $color-white-022;
 position: absolute;
 width: 62%;
 height: 62%;
 top: 19%;
 left: 19%;
 opacity: 0;
 z-index: 0;

 &.circle--1 {
  width: 81%;
  height: 81%;
  top: 9.5%;
  left: 9.5%;
 }
}

.hr-dots {
 width: 30px;
 height: 7px;
 display: flex;
 justify-content: space-between;
 align-items: center;
 margin: 0 auto;

 .hr-dots__dot {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: $color-silver-chalice-3;
 }
}

.section-bg {
 width: 100%;
 height: 100%;
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
 position: absolute;
 top: 0;
 left: 0;
 z-index: 0;
}

.diagonal-right-black-bg {
 background-color: $color-black;
 position: relative;

 &:before, &:after {
  content: '';
  width: 50%;
  height: 100%;
  background-color: $color-black;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transform: skewX(-40deg);
  -moz-transform: skewX(-40deg);
  -ms-transform: skewX(-40deg);
  -o-transform: skewX(-40deg);
  transform: skewX(-40deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: initial;
  z-index: 1;
 }
 &:after {
  right: -45%;
 }
}

.dots {
 //width: 114px;
 //height: 112px;
 width: 100px;
 height: 98px;
 background: url(../../img/icons/dots.svg) no-repeat center / contain;
 position: absolute;
}

.pin-block {
 width: 100px;
 height: 100px;
 position: absolute;
 transition: 1s;
 @include mobile {
  width: 56px;
  height: 56px;
 }

 .pin {
  width: 24px;
  height: 44px;
  background: url(../../img/client/contacts/contacts-pin.png) no-repeat center / contain;
  position: absolute;
  top: 14px;
  left: calc(50% - 12px);
  transform: scale(2) translateZ(0);
  transition: 1s;
  z-index: 2;
  opacity: 0;
  @include mobile {
   width: 14px;
   height: 26px;
   top: 8px;
   left: calc(50% - 7px);
  }
 }

 .pin-circle {
  transform: scale(0.5) translateZ(0);
  transition: 1s;

  &.pin-circle--1 {
   width: 100%;
   height: 100%;
   border-color: $color-dust-gray-02;
   top: 0;
   left: 0;
  }
  &.pin-circle--2 {
   width: 46px;
   height: 46px;
   border-color: $color-dust-gray-04;
   top: calc(50% - 23px);
   left: calc(50% - 23px);
   @include mobile {
    width: 24px;
    height: 24px;
    top: calc(50% - 12px);
    left: calc(50% - 12px);
   }
  }
 }
}

.input-underline {
 height: auto;
 border: none;
 border-bottom: 2px solid $color-black;
 font-family: Circe, sans-serif;
 color: $color-black;
 font-size: 16px;
 line-height: 16px;
 text-align: center;
 padding: 4px 0;
 outline: none;
 @include mobile {
  border-bottom: 1px solid $color-black;
  font-size: 12px;
  line-height: 12px;
  padding: 10px 0;
 }
}