.main-footer-layout {
 display: flex;
 flex-direction: column;
 justify-content: space-between;

 &.main-footer-layout--white {
  height: auto;
 }
}

.main-footer {
 @include tablet-mobile {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
 }

 .main-footer__top {
  display: flex;
  justify-content: space-between;
  padding: 52px 65px 0;
  @include laptop {
   padding: 60px 50px 0;
  }
  @include tablet {
   padding: 40px 45px 0;
  }
  @include mobile {
   padding: 17px 24px 0;
  }

  .main-footer__cities {
   display: none;
   position: static;
   opacity: 1;
   @include mobile {
    display: block;
   }
  }

  .main-footer__register {
   display: none;
   position: static;
   opacity: 1;
   @include mobile {
    display: block;
   }
   @include tablet {
    margin-top: 15px;
   }
   @include mobile {
    margin-top: 5px;
    padding-left: 0;
    background: none;
   }
  }
 }

 .main-footer__middle {
  display: flex;
  justify-content: center;
  position: relative;
  @include tablet-mobile {
   flex-direction: column;
   flex: 1;
   padding: 13% 0;
  }
  @include mobile {
   padding: 0 0 13%;
  }

  .main-footer__aside-link {
   display: block;
   width: 240px;
   color: $color-white-09;
   font-size: 10px;
   font-weight: 700;
   line-height: 10px;
   letter-spacing: 3.51px;
   text-transform: uppercase;
   text-align: center;
   padding-bottom: 33px;
   position: absolute;
   bottom: 0;
   transition: 0.7s;
   @include mobile {
    padding-bottom: 20px;
    font-size: 8px;
    line-height: 8px;
   }
   &:hover {
    font-size: 12px;
    @include mobile {
     font-size: 10px;
    }

    svg {
     bottom: 10px;
     @include mobile {
      bottom: 5px;
     }
    }
   }

   svg {
    position: absolute;
    bottom: 0;
    left: calc(50% - 3px);
    transition: 0.7s;
   }

   &.main-footer__aside-link--beginner {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    left: 65px;
    @include laptop {
     left: 50px;
    }
    @include mobile {
     left: 24px;
    }
   }
   &.main-footer__aside-link--pro {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -webkit-transform-origin: 100% 0;
    -moz-transform-origin: 100% 0;
    -o-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0;
    right: 65px;
    padding-left: 9px;
    @include laptop {
     right: 50px;
     padding-left: 8px;
    }
    @include mobile {
     right: 24px;
     padding-left: 5px;
    }
   }
  }

  .main-footer__logo {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 240px;
   height: 240px;
   position: relative;
   @include tablet {
    width: 170px;
    height: 170px;
    margin: 0 auto 15%;
   }
   @include mobile {
    width: 150px;
    height: 150px;
    margin: 0 auto;
   }
   &:before {
    content: '';
    width: 1px;
    height: 194px;
    background-color: $color-white-022;
    position: absolute;
    top: 23px;
    left: 50%;
    @include tablet {
     top: -15px;
    }
    @include mobile {
     height: 112px;
     top: 19px;
    }
   }

   .main-footer__logo-circle {
    border-radius: 50%;
    border: 1px solid $color-white-022;
    position: absolute;

    &.main-footer__logo-circle--1 {
     width: 170px;
     height: 170px;
     top: 35px;
     left: 35px;
     @include tablet-mobile {
      width: 112px;
      height: 112px;
      top: 28px;
      left: 28px;
     }
     @include mobile {
      width: 100px;
      height: 100px;
      top: 25px;
      left: 25px;
     }
    }
    &.main-footer__logo-circle--2 {
     width: 256px;
     height: 256px;
     top: -8px;
     left: -8px;
     @include tablet-mobile {
      top: 0;
      left: 0;
     }
     @include tablet-mobile {
      width: 170px;
      height: 170px;
     }
     @include mobile {
      width: 150px;
      height: 150px;
     }
    }
   }

   .main-footer__logo-image {
    width: 22px;
    height: 22px;
    background: url(../../img/client/common/footer/footer-logo.svg) no-repeat center / 22px;
   }
   .main-footer__logo-title {
    width: 109px;
    height: 24px;
    margin-top: 14px;
    background: url(../../img/client/common/footer/footer-logo-title.svg) no-repeat center / 109px 24px;
   }
  }
 }

 .main-footer__bottom {
  display: flex;
  justify-content: space-between;
  padding: 0 65px;
  position: relative;
  @include laptop {
   padding: 0 50px;
  }
  @include tablet-mobile {
   padding: 0 45px 40px;
  }
  @include mobile {
   padding: 0 24px 24px;
  }

  .main-footer__lang {
   position: static;
   @include tablet-mobile {
    display: block;
   }
  }

  .main-footer__copy {
   width: 240px;
   color: $color-gray;
   font-size: 15px;
   line-height: 24px;
   text-align: center;
   position: absolute;
   top: 0;
   left: calc(50% - 120px);
   @include tablet-mobile {
    display: none;
   }
  }

  .main-footer__socials {
   position: static;
   opacity: 1;
   @include tablet-mobile {
    display: block;
   }
  }
 }


 &.main-footer--white {
  height: 395px;
  color: $color-black;
  border-top: 1px solid $color-black;
  @include tablet-mobile {
   height: auto;
  }

  .main-nav.main-nav--cities {
   opacity: 1;

   .main-nav__item .main-nav__link {
    color: $color-black;
   }
  }

  .arrow-link.arrow-link--right {
   background-image: url(../../img/icons/arrow-right-long-black.svg);
  }

  .main-footer__top {

   .main-footer__cities, .main-footer__register {
    display: block;

    .arrow-link__text {
     color: $color-black;
     &:after {
      background-color: $color-black;
     }
    }
   }
  }

  .main-footer__middle {

   .main-footer__aside-link {
    color: $color-black;
    bottom: -35px;

    svg path {
     fill: $color-black;
    }
   }

   .main-footer__logo {

    &:before {
     background-color: $color-black-02;
    }

    .main-footer__logo-circle {
     border: 1px solid $color-black-02;
    }

    .main-footer__logo-image {
     background: url(../../img/client/common/footer/footer-logo-black.svg) no-repeat center / 22px;
    }
    .main-footer__logo-title {
     background: url(../../img/client/common/footer/footer-logo-title-black.svg) no-repeat center / 109px 24px;
    }
   }
  }
 }
}

.main-footer__menu {
 position: static;
 @include tablet-mobile {
  display: none;
 }

 .main-nav__item {
  margin-right: 50px;

  .main-nav__link {
   color: $color-chablis;
  }
 }

 &.main-footer__menu--mobile {
  opacity: 1;
  display: none;

  @include tablet-mobile {
   display: flex;
   flex: 1;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   margin: 0 20%;
  }

  .main-nav__item {
   margin-right: 0;
  }
 }
}

.footer-disclaimer {
 display: flex;
 justify-content: space-between;
 padding: 0 60px 140px 120px;
 position: relative;
 @include laptop {
  padding: 0 50px 125px 100px;
 }
 @include tablet-mobile {
  display: none;
 }

 .footer-disclaimer__title {
  width: 200px;
  color: $color-white-09;
  font-size: 17px;
  font-weight: 700;
  line-height: 32px;
  text-transform: uppercase;
  @include laptop {
   font-size: 16px;
   line-height: 30px;
  }
 }
 .footer-disclaimer__text {
  width: 585px;
  color: $color-white-04;
  font-size: 16px;
  font-weight: 300;
  line-height: 27px;
  @include laptop {
   font-size: 14px;
   line-height: 24px;
  }

  &.footer-disclaimer__text--1 {
   @include laptop {
    width: 430px;
   }
  }
  &.footer-disclaimer__text--2 {
   @include laptop {
    width: 390px;
   }
  }
 }

 .footer-disclaimer__close {
  margin-top: 50px;
  width: 19px;
  height: 19px;
  background: url(../../img/icons/close-darkgrey.png) no-repeat center / 100%;
  cursor: pointer;
 }

 &.footer-disclaimer--white {
  border-top: 1px solid $color-black;
  padding-top: 100px;
  padding-bottom: 130px;

  .footer-disclaimer__title, .footer-disclaimer__text {
   color: $color-black;
  }

  .footer-disclaimer__close {
   background: url(../../img/popups/popup-close.svg) no-repeat center / 100%;
  }
 }
}