.popup-layout {
 display: none;
 width: 100%;
 height: 100vh;
 position: fixed;
 top: 0;
 left: 0;
 overflow: hidden;
 z-index: 999;
 visibility: hidden;
 opacity: 0;
 transform: scale(0.7) translateZ(0);

 &.popup-layout--black {
  background: $color-black-08;
 }
}

.popup {
 height: 100%;
 min-height: 100%;
 background-color: $color-white;
 color: $color-black;
 overflow-y: scroll;
 //padding-right: 17px;
 position: relative;

 .popup__close {
  width: 16px;
  height: 16px;
  background: url(../../img/popups/popup-close.svg) no-repeat center;
  position: absolute;
  top: 67px;
  right: 67px;
  opacity: 0;
  transform: scale(0.7) translateZ(0);
  cursor: pointer;
 }
}

.popup-action {
 width: 960px;
 padding: 170px 0 270px;
 margin: 0 auto;
 position: relative;

 .popup-action__dots {
  width: 216px;
  height: 326px;
  background: url(../../img/popups/popup-action-dots.png) no-repeat center;
  position: absolute;
  top: 170px;
  left: -60px;
 }

 .popup-action__title {
  color: $color-black;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 32px;
  letter-spacing: 12.7px;
  line-height: 32px;
  text-align: center;
 }
 .popup-action__subtitle {
  color: $color-black;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 17px;
  letter-spacing: 1.1px;
  line-height: 32px;
  margin-top: 32px;
  text-align: center;
 }

 .popup-action__form.action__form.action__form--white {
  margin-top: 75px;

  .action__form-input-layout {

   .action__form-input-line {
    background: $color-gray-4-03;

    &.action__form-input-line--active {
     background: $color-black;
    }
   }
  }

  .action__form-label {
   color: $color-black;
  }
  .action__form-input {
   color: $color-black;
  }
 }
}

.photo-popup {
 position: absolute;
 top: calc(50% - 384px);
 left: calc(50% - 640px);
 @include laptop-tablet {
  top: calc(50% - 240px);
  left: calc(50% - 400px);
 }
 @include mobile {
  display: none;
 }

 .photo-popup-slider {
  width: 1280px;
  height: 768px;
  border: 1px solid $color-tundora;
  position: relative;
  @include laptop-tablet {
   width: 800px;
   height: 480px;
  }
  @include mobile {
   width: 300px;
   height: 180px;
  }

  &.slider-arrows-long--edge .slick-arrow {

   &.slick-next {
    right: -69px;
    @include laptop-tablet {
     right: -44px;
    }
   }
   &.slick-prev {
    left: -69px;
    @include laptop-tablet {
     left: -44px;
    }
   }
  }
 }
 .photo-popup-slide, .photo-popup-slide-layout, .photo-popup-slide-layout img {
  height: 100%;
 }

 .photo-popup-slide-layout {

  img {
   width: 100%;
   display: block;
  }
 }

 &.photo-popup--academy {
  top: 80px;
 }
}